force-app/main/default/flows/Action_Before_Save_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Merchant_to_the_Action</name>
        <label>Add Merchant to the Action</label>
        <locationX>542</locationX>
        <locationY>330</locationY>
        <assignmentItems>
            <assignToReference>$Record.Business_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Alert__r.Business_Name__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Action_with_the_Merchant_Name</name>
        <label>Add Merchant to the action</label>
        <locationX>534</locationX>
        <locationY>192</locationY>
        <assignmentItems>
            <assignToReference>$Record.Business_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.AccountId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>What_is_the_Action_Related_To</name>
        <label>What is the Action Related To</label>
        <locationX>190</locationX>
        <locationY>302</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Action_with_the_Merchant_Name</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>Alert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Alert__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Merchant_to_the_Action</targetReference>
            </connector>
            <label>Alert</label>
        </rules>
    </decisions>
    <interviewLabel>Action - Before Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Action - Before Save Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>What_is_the_Action_Related_To</targetReference>
        </connector>
        <object>Actions__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
