force-app/main/default/flows/AgentWork_After_Save_Flow_Trigger_Entitlements_Milestones_on_case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <description>Final Flow</description>
    <formulas>
        <name>Iscahnged</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.Owner:User.Id})</expression>
    </formulas>
    <formulas>
        <name>OwnerIsChangedTrigger</name>
        <dataType>Boolean</dataType>
        <expression>AND(
 BEGINS(PRIORVALUE({!$Record.OwnerId}),&apos;00G&apos;),
 BEGINS(({!$Record.OwnerId}),&apos;005&apos;)
)</expression>
    </formulas>
    <interviewLabel>AgentWork - After Save Flow - Trigger Entitlements/Milestones on case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AgentWork - After Save Flow - Trigger Entitlements/Milestones on case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_realted_case</name>
        <label>Get realted case</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_related_case_accepted_datetime</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_related_case_accepted_datetime</name>
        <label>Update related case accepted datetime</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkItemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Trigger_Milestones_Entitlements__c</field>
            <value>
                <elementReference>$Record.AcceptDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_realted_case</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AcceptDateTime</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>AgentWork</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
