force-app/main/default/flows/Alert_email_to_list_of_contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_EN_email</name>
        <label>Send EN email</label>
        <locationX>1442</locationX>
        <locationY>1358</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Decision_Merchant_Stage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TextTemplate_EN_BodySaved</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_email_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplate_EN_Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_FR_email</name>
        <label>Send FR email</label>
        <locationX>1178</locationX>
        <locationY>1358</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Decision_Merchant_Stage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TextTemplate_FR_BodySaved</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_email_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplate_FR_subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_all_contact_to_email_list</name>
        <label>Assign all contact to email list</label>
        <locationX>958</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>List_of_email_to_contact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_all_contacts.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tech_Count_countacts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>List_of_email_to_contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_limit_reached</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_bizdev_to_email_list</name>
        <label>Assign bizdev to email list</label>
        <locationX>1310</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>List_of_email_to_contact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BizDev_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>List_of_email_to_contact</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>legal-sellers@backmarket.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_on_zone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_quality_contact_to_email_list</name>
        <label>Assign quality contact to email list</label>
        <locationX>1438</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>List_of_email_to_contact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_quality_contacts.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tech_Count_countacts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>List_of_email_to_contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_limit_reached_0</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Null_Number</name>
        <dataType>Number</dataType>
    </constants>
    <decisions>
        <name>Decision_Merchant_Stage</name>
        <label>Decision Merchant Stage</label>
        <locationX>1310</locationX>
        <locationY>1574</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_isn_t_NMO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_current_alert.Business_Name__r.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>N.M.O.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_number_of_on_going_sales_alert</targetReference>
            </connector>
            <label>Stage isn&apos;t NMO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_category</name>
        <label>Decision on category</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_quality_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Category_should_be_bypass</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_current_alert.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MacBook</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_current_alert.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tablets</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_current_alert.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Smartphone</stringValue>
                </rightValue>
            </conditions>
            <label>Category should be bypass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_the_number_of_alert</name>
        <label>Decision on the number of alert</label>
        <locationX>1046</locationX>
        <locationY>1814</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_alert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_number_of_on_going_sales_alert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_current_alert.Business_Name__r.Exit_granted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_merchant</targetReference>
            </connector>
            <label>No alert</label>
        </rules>
        <rules>
            <name>Existing_alert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_number_of_on_going_sales_alert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_current_alert.Business_Name__r.Exit_granted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_smallest_alert</targetReference>
            </connector>
            <label>Existing alert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_zone</name>
        <label>Decision on zone</label>
        <locationX>1310</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>Send_EN_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_current_alert.Business_Name__r.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-fr</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_current_alert.Business_Name__r.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-be</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_FR_email</targetReference>
            </connector>
            <label>FR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_have_quality_contacts</name>
        <label>Do we have quality contacts</label>
        <locationX>890</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Loop_on_quality_contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_quality_contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_contacts</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_limit_reached</name>
        <label>Is limit reached</label>
        <locationX>958</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Assign_bizdev_to_email_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Limit_isn_t_reached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tech_Count_countacts</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_all_contacts</targetReference>
            </connector>
            <label>Limit isn&apos;t reached</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_limit_reached_0</name>
        <label>Is limit reached</label>
        <locationX>1438</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_bizdev_to_email_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Limit_isn_t_reached_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tech_Count_countacts</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_quality_contacts</targetReference>
            </connector>
            <label>Limit isn&apos;t reached</label>
        </rules>
    </decisions>
    <description>SFT-388 - Delete MP sales limitation before LC and split Buyback templates
SFS - 606 - Quality Contact &gt; Main Contact</description>
    <formulas>
        <name>BizDev_Email</name>
        <dataType>String</dataType>
        <expression>if( TEXT({!Get_current_alert.BizDev__r.Team__c})= &apos;Back Watch E.U.&apos;, &apos;backwatch@backmarket.com&apos;, 
if( TEXT({!Get_current_alert.BizDev__r.Team__c})= &apos;Activation E.U.&apos;, &apos;activation-eu@backmarket.com&apos;, 
if( TEXT({!Get_current_alert.BizDev__r.Team__c})= &apos;Back Watch U.S.&apos;, &apos;sam@backmarket.com&apos;,
if( TEXT({!Get_current_alert.BizDev__r.Team__c})= &apos;Selfcare E.U.&apos;, &apos;selfcare@backmarket.com&apos;,
{!Get_current_alert.BizDev__r.Email}))))</expression>
    </formulas>
    <formulas>
        <name>Limitation_Before_Alert</name>
        <dataType>Number</dataType>
        <expression>if({!Get_current_alert.Business_Name__r.Sales_limitation__c} &gt; {!Get_current_alert.Business_Name__r.LimitationBeforeAlert__c}, {!Get_current_alert.Business_Name__r.Sales_limitation__c}, {!Get_current_alert.Business_Name__r.LimitationBeforeAlert__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>New_ReasonForLimitation</name>
        <dataType>String</dataType>
        <expression>if(ISPICKVAL({!Get_current_alert.Business_Name__r.Tech_Reason_Limitation_Before_Alert__c},&quot;No limitation&quot;), &quot;&quot;, TEXT({!Get_current_alert.Business_Name__r.Tech_Reason_Limitation_Before_Alert__c}))</expression>
    </formulas>
    <formulas>
        <name>ReasonForLimitation</name>
        <dataType>String</dataType>
        <expression>if(ISPICKVAL({!Get_smallest_alert.Issue_KPI__c},&quot;Potential Hazardous Charger&quot;),&quot;QUALITY_LEGAL_AND_SAFETY_ISSUE&quot;,
if(ISPICKVAL({!Get_smallest_alert.Issue_KPI__c},&quot;Merchant Debt&quot;),&quot;QUALITY_LEGAL_AND_SAFETY_ISSUE&quot;,
if(ISPICKVAL({!Get_smallest_alert.Issue_KPI__c},&quot;Invoice Compliance Audit&quot;),&quot;QUALITY_LEGAL_AND_SAFETY_ISSUE&quot;,&quot;QUALITY_MONITORING_PERIOD&quot;)))</expression>
    </formulas>
    <formulas>
        <name>Task_subject_with_alert</name>
        <dataType>String</dataType>
        <expression>{!Get_current_alert.Business_Name__r.Name} + &quot; to limit - &quot;+TEXT({!Get_smallest_alert.AlertLimitation__c}) +&quot; sales/day due to Potential Hazardous Charger &quot;</expression>
    </formulas>
    <formulas>
        <name>Task_subject_without_alert</name>
        <dataType>String</dataType>
        <expression>{!Get_current_alert.Business_Name__r.Name} + &quot; has no ongoing alerts - limitation to update at  &quot; + TEXT({!Get_current_alert.Business_Name__r.LimitationBeforeAlert__c})</expression>
    </formulas>
    <formulas>
        <name>TextTemplate_EN_Subject</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_current_alert.P_K__c}) &amp; &quot;Hazardous charger - Approval process successful!&quot;</expression>
    </formulas>
    <formulas>
        <name>TextTemplate_FR_subject</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_current_alert.P_K__c}) &amp; &quot;Hazardous charger - Approval process successful!&quot;</expression>
    </formulas>
    <interviewLabel>Alert - email to list of contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Alert - email to list of contact</label>
    <loops>
        <name>Loop_on_all_contacts</name>
        <label>Loop on all contacts</label>
        <locationX>518</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_all_contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_all_contact_to_email_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_bizdev_to_email_list</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_quality_contacts</name>
        <label>Loop on quality contacts</label>
        <locationX>1262</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_quality_contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_quality_contact_to_email_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_bizdev_to_email_list</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_contacts</name>
        <label>Get all contacts</label>
        <locationX>518</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_all_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_current_alert.Business_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>HasOptedOutOfEmail</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_current_alert</name>
        <label>Get current alert</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_on_category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Alert_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Alert__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_number_of_on_going_sales_alert</name>
        <label>Get number of on going sales alert</label>
        <locationX>1046</locationX>
        <locationY>1694</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_on_the_number_of_alert</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4) AND 5 AND 6</filterLogic>
        <filters>
            <field>Business_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_current_alert.Business_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Monitoring Period</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Last chance</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not compliant</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Monitoring_Period_Buyback__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AlertLimitation__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Alert__c</object>
        <sortField>AlertLimitation__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_quality_contact</name>
        <label>Get quality contact</label>
        <locationX>890</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_we_have_quality_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TECH_Role_contain_quality_business__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Quality</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_current_alert.Business_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>HasOptedOutOfEmail</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Main_Contact__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_smallest_alert</name>
        <label>Get smallest limitation on alert</label>
        <locationX>1046</locationX>
        <locationY>1934</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_merchant_update_limitation</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR (3 AND 7) OR 4) AND 5 AND 6</filterLogic>
        <filters>
            <field>Business_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_current_alert.Business_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not compliant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Monitoring Period</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Last chance</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Monitoring_Period_Buyback__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AlertLimitation__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Monitoring_Period_Sales__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Alert__c</object>
        <sortField>AlertLimitation__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_merchant</name>
        <label>Update merchant - empty all limitation</label>
        <locationX>782</locationX>
        <locationY>1934</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_current_alert.Business_Name__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LimitationBeforeAlert__c</field>
            <value>
                <elementReference>Null_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_last_Sales_limitation__c</field>
            <value>
                <elementReference>New_ReasonForLimitation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_limitation__c</field>
            <value>
                <elementReference>Limitation_Before_Alert</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_Reason_Limitation_Before_Alert__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_merchant_update_limitation</name>
        <label>Update merchant - update limitation</label>
        <locationX>1046</locationX>
        <locationY>2054</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_current_alert.Business_Name__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason_for_last_Sales_limitation__c</field>
            <value>
                <elementReference>ReasonForLimitation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_limitation__c</field>
            <value>
                <elementReference>Get_smallest_alert.AlertLimitation__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_current_alert</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TextTemplate_EN_BodySaved</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear Merchant,

We are pleased to inform you that your documentation to assess the compliance with the International Safety Standards IEC 62368-1 of concerned chargers regarding customer safety has been validated. 

We remind you that, as a seller, you are accountable for buyers&apos; safety regarding the use of products or accessories you sell on our platform.

We therefore rely on you to ensure conformity of products and accessories at all times.


Have a nice day,

The Back Market Team</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_FR_BodySaved</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Bonjour {!Get_current_alert.Business_Name__r.Name},
Nous avons le plaisir de vous informer que vos documents attestant de la conformité aux normes internationales de sécurité IEC 62368-1 des chargeurs identifiés comme défectueux ont été validés.

Nous vous rappelons qu&apos;en tant que vendeur, vous êtes responsable de la sécurité des acheteurs s’agissant des produits ou accessoires que vous vendez sur notre plateforme.

Nous comptons donc sur vous pour assurer la conformité de vos produits et accessoires à tout moment.

Belle journée,

Back Market</text>
    </textTemplates>
    <variables>
        <name>Alert_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>List_of_email_to_contact</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Tech_Count_countacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
