force-app/main/default/flows/Alert_After_save_flow_Creation_only.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Account_BizDev_is_null</name>
        <label>Account BizDev is null</label>
        <locationX>4137</locationX>
        <locationY>1175</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Filter_on_recordtype</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Account BizDev is not populated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Account_BizDev_not_null</name>
        <label>Account BizDev not null</label>
        <locationX>3367</locationX>
        <locationY>1175</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision_on_sales_bizdev</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Account BizDev is populated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Account_has_F_B_Contacts</name>
        <label>Account has F&amp;B Contacts</label>
        <locationX>1586</locationX>
        <locationY>2663</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_on_B_F_contacts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Account has F&amp;B Contacts</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Account_has_no_F_B_Contacts</name>
        <label>Account has no F&amp;B Contacts</label>
        <locationX>842</locationX>
        <locationY>2663</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Account has no F&amp;B Contacts</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Account_is_EU_BackWatch</name>
        <label>Account is EU BackWatch</label>
        <locationX>3345</locationX>
        <locationY>1415</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_users_EU_Team</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Account is EU BackWatch</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Account_is_not_US_or_EU_BackWatch</name>
        <label>Account is not US or EU BackWatch</label>
        <locationX>3741</locationX>
        <locationY>1415</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision_on_Sales_Active_user</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Account is not US or EU BackWatch</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Account_is_US_BackWatch</name>
        <label>Account is US BackWatch</label>
        <locationX>2993</locationX>
        <locationY>1415</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_US_Team</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Account is US BackWatch</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Account_Owner_is_active</name>
        <label>Account Owner is active</label>
        <locationX>3873</locationX>
        <locationY>1655</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_bizdev_to_recipient_ids</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Account owner is active</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Account_Owner_is_inactive</name>
        <label>Account Owner is inactive</label>
        <locationX>3609</locationX>
        <locationY>1655</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Account owner is inactive</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Action_Send_EN_Email</name>
        <label>Action - Send EN Email</label>
        <locationX>1634</locationX>
        <locationY>3623</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TextTemplate_EN_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Var_FinalListForInvoice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplate_EN_Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Action_Send_EN_Email_for_greater_than_10000</name>
        <label>Action - Send EN Email for greater than 10000</label>
        <locationX>4490</locationX>
        <locationY>3743</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_alert_record_with_limitation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TextTemplate_EN_Body_Great_Debt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Var_FinalListForInvoice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplate_EN_Subject_great_debt</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Action_Send_EN_Email_for_less_than_10000</name>
        <label>Action - Send EN Email for less than 10000</label>
        <locationX>5282</locationX>
        <locationY>3623</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_alert_record_with_team</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TextTemplate_EN_Body_minor_debt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Var_FinalListForInvoice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplate_EN_Subject_minor_debt</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Action_Send_FR_Email</name>
        <label>Action - Send FR Email</label>
        <locationX>1106</locationX>
        <locationY>3623</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TextTemplate_FR_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Var_FinalListForInvoice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplate_FR_Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Action_Send_FR_Email_for_greater_than_10000</name>
        <label>Action - Send FR Email for greater than 10000</label>
        <locationX>4226</locationX>
        <locationY>3743</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_alert_record_with_limitation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TextTemplate_FR_Body_great_debt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Var_FinalListForInvoice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplate_FR_Subject_great_debt</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Action_Send_FR_Email_for_less_than_10000</name>
        <label>Action - Send FR Email for less than 10000</label>
        <locationX>5018</locationX>
        <locationY>3623</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_alert_record_with_team</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TextTemplate_FR_Body_minor_debt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Var_FinalListForInvoice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplate_FR_Subject_minor_debt</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Action_Send_US_Email_for_greater_than_10000</name>
        <label>Action - Send US Email for greater than 10000</label>
        <locationX>4754</locationX>
        <locationY>3743</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_alert_record_with_limitation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TextTemplate_US_Body_great_debt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Var_FinalListForInvoice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplate_EN_Subject_great_debt</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Action_Send_US_Email_for_less_than_10000</name>
        <label>Action - Send US Email for less than 10000</label>
        <locationX>5546</locationX>
        <locationY>3623</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_alert_record_with_team</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TextTemplate_US_Body_minor_debt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Var_FinalListForInvoice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplate_EN_Subject_minor_debt</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Alert_is_1st_Case</name>
        <label>Alert is 1st Case</label>
        <locationX>1982</locationX>
        <locationY>2783</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_1st_case_Warning_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Alert is 1st Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Alert_is_not_1st_Case_hand_free</name>
        <label>Alert is not 1st Case + hand free</label>
        <locationX>2510</locationX>
        <locationY>2783</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_2nd_case_or_more_Alert_Hand_Free</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Alert is not 1st Case + hand free</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Alert_is_not_1st_Case_not_hand_free</name>
        <label>Alert is not 1st Case + not hand free</label>
        <locationX>2246</locationX>
        <locationY>2783</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_2nd_case_or_more_Alert_Not_Hand_Free</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Alert is not 1st Case &amp; merchant is not hand free</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Category_not_Macbook_Tablet_Smartphone_and_User_don_t_byPass</name>
        <label>Category not Macbook Tablet Smartphone and User don&apos;t byPass</label>
        <locationX>5153</locationX>
        <locationY>455</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Filter_on_recordtype_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Category is not smartphone Macbook or Tablet and User don&apos;t byPass</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Category_should_byPass</name>
        <label>Category should byPass</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Category is smartphone Macbook or Tablet</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Created_Drafted_EP</name>
        <label>Created Drafted EP</label>
        <locationX>2510</locationX>
        <locationY>3263</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Created Drafted EP</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>EU_not_FR_or_BE_Debt_Greater_than_10k</name>
        <label>EU not FR or BE Debt Greater than 10k</label>
        <locationX>4490</locationX>
        <locationY>3503</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Legal_Email_address_EU_NOT_FR_or_BE</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>UE but Zone is not FR or BE and Debt is Greater than 10k</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>EU_not_FR_or_BE_Debt_Less_than_10k</name>
        <label>EU not FR or BE Debt Less than 10k</label>
        <locationX>5282</locationX>
        <locationY>3503</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Action_Send_EN_Email_for_less_than_10000</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>UE but Zone is not FR or BE and Debt is Less than 10k</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Financial_Issue_F_B_Contacts_found</name>
        <label>Financial Issue F&amp;B Contacts found</label>
        <locationX>5234</locationX>
        <locationY>2663</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_on_B_F_contacts_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Alert is Financial Issue &amp; Account has F&amp;B Contacts</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Financial_Issue_no_F_B_Contacts</name>
        <label>Financial Issue no F&amp;B Contacts</label>
        <locationX>3962</locationX>
        <locationY>2663</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Contacts_for_merchant_debt</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Alert is Financial Issue &amp; Account has no F&amp;B Contacts</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FR_or_BE_Debt_Greater_than_10k</name>
        <label>FR or BE Debt Greater than 10k</label>
        <locationX>4226</locationX>
        <locationY>3503</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Legal_Email_address_FR_Or_BE</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Zone is FR or BE and Debt is Greater than 10k</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FR_or_BE_Debt_Les_than_10k</name>
        <label>FR or BE Debt Les than 10k</label>
        <locationX>5018</locationX>
        <locationY>3503</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Action_Send_FR_Email_for_less_than_10000</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Zone is FR or BE and Debt is Less than 10k</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Hazardous_Charger_email_to_BizDev</name>
        <label>Hazardous Charger email to BizDev</label>
        <locationX>2114</locationX>
        <locationY>4295</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Notif_to_BizDev</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Send Hazardous Charger email to BizDev</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Invoice_Compliance_EN_Email</name>
        <label>Invoice &amp; Compliance EN Email</label>
        <locationX>1634</locationX>
        <locationY>3503</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Action_Send_EN_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Invoice &amp; Compliance EN Email</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Invoice_Compliance_FR_Email</name>
        <label>Invoice &amp; Compliance FR Email</label>
        <locationX>1106</locationX>
        <locationY>3503</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Action_Send_FR_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Invoice &amp; Compliance FR Email</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Launching_Phase</name>
        <label>Launching Phase</label>
        <locationX>2378</locationX>
        <locationY>3719</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision_on_recipient_id_list_empty</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Merchant is in launching phase</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Limited_Sales</name>
        <label>Limited Sales</label>
        <locationX>1850</locationX>
        <locationY>3719</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_merchant_limitation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Merchant is Limited Sales</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Not_Limited_Sales</name>
        <label>Not Limited Sales</label>
        <locationX>2114</locationX>
        <locationY>3719</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Sales_limitation_before_alert_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Merchant is Not Limited Sales</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Record_Type_Financial_Issue</name>
        <label>Record Type Financial Issue</label>
        <locationX>4598</locationX>
        <locationY>2303</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Business_and_Finance_Contacts_for_merchant_debt</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Record Type Financial Issue</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Record_Type_Invoice_Compliance_Audit</name>
        <label>Record Type Invoice Compliance Audit</label>
        <locationX>1214</locationX>
        <locationY>2303</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Business_and_Finance_Contacts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Record Type Invoice Compliance Audit</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Record_Type_is_Business_Alert</name>
        <label>Record Type is Business Alert</label>
        <locationX>6554</locationX>
        <locationY>695</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>The Alert record type is a Business Alert</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Record_Type_MP</name>
        <label>Record Type MP</label>
        <locationX>5762</locationX>
        <locationY>2303</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision_on_record_type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Record Type MP</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Record_Type_MP_BuyBack</name>
        <label>Record Type MP BuyBack</label>
        <locationX>5762</locationX>
        <locationY>2543</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Buyback_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Record Type MP BuyBack</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Record_Type_MP_Sales</name>
        <label>Record Type MP Sales</label>
        <locationX>5498</locationX>
        <locationY>2543</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Sales_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Record Type MP Sales</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Record_Type_not_Business_Alert</name>
        <label>Record Type not Business Alert</label>
        <locationX>3752</locationX>
        <locationY>695</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_notification_id</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>The Alert record type is not a Business Alert</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Record_Type_not_MP_Sales_or_BuyBack</name>
        <label>Record Type not MP Sales or BuyBack</label>
        <locationX>6026</locationX>
        <locationY>2543</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Record Type not MP Sales or BuyBack</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Record_Type_Severe_Issue</name>
        <label>Record Type Severe Issue</label>
        <locationX>2246</locationX>
        <locationY>2303</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_past_alerts_on_Hazardous_chargers</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Record Type Severe Issue</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Notif_to_BizDev</name>
        <label>Send Notif to BizDev</label>
        <locationX>2114</locationX>
        <locationY>4415</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_notification_id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>HazardousChargerBodyNotif</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>HazardousChargerSubjectNotif</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Recipient_Ids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Notif_to_Merchant_Owner_MP_Creation</name>
        <label>Send Notif to Merchant Owner - MP Creation</label>
        <locationX>5762</locationX>
        <locationY>2879</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_notification_id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>MP_Creation_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>MP_Creation_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Recipient_Ids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Updated_alert_as_1st_Case</name>
        <label>Updated alert as 1st Case</label>
        <locationX>1982</locationX>
        <locationY>3023</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Already_limited_because_of_a_Sales_alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Updated alert as 1st Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Updated_alert_as_2nd_Case</name>
        <label>Updated alert as 2nd Case</label>
        <locationX>2246</locationX>
        <locationY>3023</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Already_limited_because_of_a_Sales_alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Updated alert as 2nd Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Updated_alert_as_2nd_Case_Failed</name>
        <label>Updated alert as 2nd Case &amp; Failed</label>
        <locationX>2510</locationX>
        <locationY>3023</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Exit_Process_draft</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Updated alert as 2nd Case &amp; Failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>US_Debt_Greater_than_10k</name>
        <label>US Debt Greater than 10k</label>
        <locationX>4754</locationX>
        <locationY>3503</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Legal_Email_address_US</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Zone is US and Debt is Greater than 10k</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>US_Debt_Less_than_10k</name>
        <label>US Debt Less than 10k</label>
        <locationX>5546</locationX>
        <locationY>3503</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Action_Send_US_Email_for_less_than_10000</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Zone is US and Debt is Less than 10k</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>User_should_byPass</name>
        <label>User should byPass</label>
        <locationX>6818</locationX>
        <locationY>455</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Alert-Afert-Save</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Alert - After save flow (Creation only)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>User should byPass</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_B_F_contacts_to_final_list</name>
        <label>Add B&amp;F contacts to final list</label>
        <locationX>1762</locationX>
        <locationY>2903</locationY>
        <assignmentItems>
            <assignToReference>Var_FinalListForInvoice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_B_F_contacts.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tech_count_contact</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Var_FinalListForInvoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_limit_reached_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_B_F_contacts_to_final_list_0</name>
        <label>Add B&amp;F contacts to final list</label>
        <locationX>1150</locationX>
        <locationY>3023</locationY>
        <assignmentItems>
            <assignToReference>Var_FinalListForInvoice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_contacts.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tech_count_contact</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Var_FinalListForInvoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_limit_reached</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_B_F_contacts_to_final_list_0_0</name>
        <label>Add B&amp;F contacts to final list</label>
        <locationX>5410</locationX>
        <locationY>2903</locationY>
        <assignmentItems>
            <assignToReference>Var_FinalListForInvoice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_B_F_contacts_0.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tech_count_contact</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Var_FinalListForInvoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_limit_reached_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_B_F_contacts_to_final_list_0_0_0</name>
        <label>Add B&amp;F contacts to final list</label>
        <locationX>4534</locationX>
        <locationY>3023</locationY>
        <assignmentItems>
            <assignToReference>Var_FinalListForInvoice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_contacts_0.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tech_count_contact</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Var_FinalListForInvoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_limit_reached_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_BizDev_Email_address</name>
        <label>Add BizDev Email address</label>
        <locationX>1370</locationX>
        <locationY>3263</locationY>
        <assignmentItems>
            <assignToReference>Var_FinalListForInvoice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BizDev_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FinalListForInvoice</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>legal-sellers@backmarket.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Merchant_Zone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_BizDev_Email_address_0</name>
        <label>Add BizDev Email address</label>
        <locationX>5018</locationX>
        <locationY>3263</locationY>
        <assignmentItems>
            <assignToReference>Var_FinalListForInvoice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BizDev_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_FinalListForInvoice</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>legal-sellers@backmarket.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Merchant_Zone_abd_merchant_debt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Legal_Email_address_EU_NOT_FR_or_BE</name>
        <label>Add Legal Email address_EU-NOT FR or BE</label>
        <locationX>4490</locationX>
        <locationY>3623</locationY>
        <assignmentItems>
            <assignToReference>Var_FinalListForInvoice</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>legal-team@backmarket.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Action_Send_EN_Email_for_greater_than_10000</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Legal_Email_address_FR_Or_BE</name>
        <label>Add Legal Email address_FR_Or_BE</label>
        <locationX>4226</locationX>
        <locationY>3623</locationY>
        <assignmentItems>
            <assignToReference>Var_FinalListForInvoice</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>legal-team@backmarket.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Action_Send_FR_Email_for_greater_than_10000</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Legal_Email_address_US</name>
        <label>Add Legal Email address_US</label>
        <locationX>4754</locationX>
        <locationY>3623</locationY>
        <assignmentItems>
            <assignToReference>Var_FinalListForInvoice</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>legal-team@backmarket.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Action_Send_US_Email_for_greater_than_10000</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_bizdev_to_recipient_ids</name>
        <label>Assign bizdev to recipient ids</label>
        <locationX>3873</locationX>
        <locationY>1775</locationY>
        <assignmentItems>
            <assignToReference>Recipient_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Business_Name__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_on_recordtype</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_bizdev_to_recipient_ids_EU_team</name>
        <label>Assign bizdev to recipient ids EU team</label>
        <locationX>3433</locationX>
        <locationY>1775</locationY>
        <assignmentItems>
            <assignToReference>Recipient_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_EU_Team.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_EU_Team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_bizdev_to_recipient_ids_us_team</name>
        <label>Assign bizdev to recipient ids us team</label>
        <locationX>3081</locationX>
        <locationY>1775</locationY>
        <assignmentItems>
            <assignToReference>Recipient_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_US_Team.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_US_Team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_notification_type_id_and_current_record</name>
        <label>Assign notification type id and current record</label>
        <locationX>3752</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Notification_type_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_notification_id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_Alert_to_update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_on_bizdev</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sales_limitation_before_alert_0_0</name>
        <label>Assign Sales limitation before alert</label>
        <locationX>2114</locationX>
        <locationY>3839</locationY>
        <assignmentItems>
            <assignToReference>Limitation_before_alert</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Business_Name__r.Sales_limitation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_merchant_limitation_Archive_info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count</name>
        <label>Count</label>
        <locationX>2246</locationX>
        <locationY>2543</locationY>
        <assignmentItems>
            <assignToReference>VariableCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_past_alerts_on_Hazardous_chargers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_first_alert</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Already_limited_because_of_a_Sales_alert</name>
        <label>Already limited because of a Sales alert</label>
        <locationX>2246</locationX>
        <locationY>3599</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Already_limited</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.LimitationBeforeAlert__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>N.M.O.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Limited_Sales</targetReference>
            </connector>
            <label>Yes - Already limited</label>
        </rules>
        <rules>
            <name>No_Need_to_archive_imitation_info</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.LimitationBeforeAlert__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>N.M.O.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Limited_Sales</targetReference>
            </connector>
            <label>No - Need to archive imitation info</label>
        </rules>
        <rules>
            <name>Is_NMO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N.M.O.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Launching_Phase</targetReference>
            </connector>
            <label>Is NMO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_bizdev</name>
        <label>Decision on bizdev / bizdev buyback</label>
        <locationX>3752</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Account_BizDev_is_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Champion_is_not_null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_BizDev_not_null</targetReference>
            </connector>
            <label>Bizdev is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_bypass_flow</name>
        <label>Decision on bypass flow</label>
        <locationX>3434</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>User_should_byPass</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Category_should_be_bypass</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MacBook</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tablets</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Smartphone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Category_should_byPass</targetReference>
            </connector>
            <label>Category should be bypass</label>
        </rules>
        <rules>
            <name>User_dont_bypass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ByPassFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Category_not_Macbook_Tablet_Smartphone_and_User_don_t_byPass</targetReference>
            </connector>
            <label>User dont bypass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_recipient_id_list_empty</name>
        <label>Decision on recipient id list empty</label>
        <locationX>2246</locationX>
        <locationY>4175</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recipient_Id_List_isn_t_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recipient_Ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hazardous_Charger_email_to_BizDev</targetReference>
            </connector>
            <label>Recipient Id List isn&apos;t empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_record_type</name>
        <label>Decision on record type</label>
        <locationX>5762</locationX>
        <locationY>2423</locationY>
        <defaultConnector>
            <targetReference>Record_Type_not_MP_Sales_or_BuyBack</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MP_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Monitoring_Period_Sales__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type_MP_Sales</targetReference>
            </connector>
            <label>MP Sales</label>
        </rules>
        <rules>
            <name>MP_buyback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Monitoring_Period_Buyback__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type_MP_BuyBack</targetReference>
            </connector>
            <label>MP buyback</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_Sales_Active_user</name>
        <label>Decision on Sales Active user</label>
        <locationX>3741</locationX>
        <locationY>1535</locationY>
        <defaultConnector>
            <targetReference>Account_Owner_is_active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_sales_user_is_Inactive_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Owner_is_inactive</targetReference>
            </connector>
            <label>Yes Sales user is Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_sales_bizdev</name>
        <label>Decision on sales bizdev</label>
        <locationX>3367</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Account_is_not_US_or_EU_BackWatch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BackWatch_US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.UserID__c.Sam__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Merchant_US__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Story__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Hand Free</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_is_US_BackWatch</targetReference>
            </connector>
            <label>BackWatch US</label>
        </rules>
        <rules>
            <name>BackWatch_EU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.UserID__c.PA__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Merchant_EU__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Story__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Hand Free</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_is_EU_BackWatch</targetReference>
            </connector>
            <label>BackWatch EU</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_have_F_B_contacts</name>
        <label>Do we have F&amp;B contacts</label>
        <locationX>1214</locationX>
        <locationY>2543</locationY>
        <defaultConnector>
            <targetReference>Account_has_F_B_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Business_and_Finance_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_has_no_F_B_Contacts</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_have_F_B_contacts_0</name>
        <label>Do we have F&amp;B contacts</label>
        <locationX>4598</locationX>
        <locationY>2543</locationY>
        <defaultConnector>
            <targetReference>Financial_Issue_F_B_Contacts_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Business_and_Finance_Contacts_for_merchant_debt</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Financial_Issue_no_F_B_Contacts</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Filter_on_recordtype</name>
        <label>Filter on recordtype</label>
        <locationX>3752</locationX>
        <locationY>2183</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordType_is_Invoice_Compliance_Audit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Invoice_Compliance_Audit_del__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type_Invoice_Compliance_Audit</targetReference>
            </connector>
            <label>RecordType is Invoice Compliance Audit</label>
        </rules>
        <rules>
            <name>RecordType_is_Severe_Issue_Hazardous_Chargers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Severe_Issue__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Issue_KPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Potential Hazardous Charger</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type_Severe_Issue</targetReference>
            </connector>
            <label>RecordType is Severe Issue - Hazardous Chargers</label>
        </rules>
        <rules>
            <name>Recordtype_is_Financial_Issue_Merchant_Debt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Financial_alerts__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Issue_KPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Merchant Debt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type_Financial_Issue</targetReference>
            </connector>
            <label>Recordtype is Financial Issue- Merchant Debt</label>
        </rules>
        <rules>
            <name>RecordType_is_Monitoring_Period</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Monitoring_Period_Buyback__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Monitoring_Period_Sales__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type_MP</targetReference>
            </connector>
            <label>RecordType is Monitoring Period</label>
        </rules>
    </decisions>
    <decisions>
        <name>Filter_on_recordtype_0</name>
        <label>Filter on recordtype</label>
        <locationX>5153</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Record_Type_is_Business_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordType_isn_t_Business_Alert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Business_Alerts__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type_not_Business_Alert</targetReference>
            </connector>
            <label>RecordType isn&apos;t Business Alert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_first_alert</name>
        <label>Is first alert ?</label>
        <locationX>2246</locationX>
        <locationY>2663</locationY>
        <defaultConnector>
            <targetReference>Alert_is_not_1st_Case_hand_free</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VariableCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_is_1st_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_and_not_Hand_Free</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VariableCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Story__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>hand_free</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_is_not_1st_Case_not_hand_free</targetReference>
            </connector>
            <label>No and not Hand Free</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_limit_reached</name>
        <label>Is limit reached</label>
        <locationX>1150</locationX>
        <locationY>3143</locationY>
        <defaultConnector>
            <targetReference>Add_BizDev_Email_address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Limit_isn_t_reached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tech_count_contact</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_contacts</targetReference>
            </connector>
            <label>Limit isn&apos;t reached</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_limit_reached_0</name>
        <label>Is limit reached</label>
        <locationX>1762</locationX>
        <locationY>3023</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_BizDev_Email_address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Limit_isn_t_reached_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tech_count_contact</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_B_F_contacts</targetReference>
            </connector>
            <label>Limit isn&apos;t reached</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_limit_reached_0_0</name>
        <label>Is limit reached</label>
        <locationX>4534</locationX>
        <locationY>3143</locationY>
        <defaultConnector>
            <targetReference>Add_BizDev_Email_address_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Limit_isn_t_reached_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tech_count_contact</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_contacts_0</targetReference>
            </connector>
            <label>Limit isn&apos;t reached</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_limit_reached_0_0_0</name>
        <label>Is limit reached</label>
        <locationX>5410</locationX>
        <locationY>3023</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_BizDev_Email_address_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Limit_isn_t_reached_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tech_count_contact</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_B_F_contacts_0</targetReference>
            </connector>
            <label>Limit isn&apos;t reached</label>
        </rules>
    </decisions>
    <decisions>
        <name>Merchant_Zone</name>
        <label>Merchant Zone</label>
        <locationX>1370</locationX>
        <locationY>3383</locationY>
        <defaultConnector>
            <targetReference>Invoice_Compliance_EN_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FR_or_BE_Zone</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-fr</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-be</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoice_Compliance_FR_Email</targetReference>
            </connector>
            <label>FR or BE Zone</label>
        </rules>
        <rules>
            <name>US_zone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>en-us</stringValue>
                </rightValue>
            </conditions>
            <label>US zone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Merchant_Zone_abd_merchant_debt</name>
        <label>Merchant Zone abd merchant debt</label>
        <locationX>5018</locationX>
        <locationY>3383</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>FR_or_BE_Zone_and_greater_than_10000</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-fr</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-be</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tech_Debt_Amount_Range__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10K - 20K</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tech_Debt_Amount_Range__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>20K - more</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FR_or_BE_Debt_Greater_than_10k</targetReference>
            </connector>
            <label>FR or BE Zone and greater than 10000</label>
        </rules>
        <rules>
            <name>EU_NOT_FR_or_BE_Zone_and_greater_than_10000</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Merchant_EU__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Zone__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>fr-fr</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Zone__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>fr-be</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tech_Debt_Amount_Range__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10K - 20K</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tech_Debt_Amount_Range__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>20K - more</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EU_not_FR_or_BE_Debt_Greater_than_10k</targetReference>
            </connector>
            <label>EU - NOT FR or BE Zone and greater than 10000</label>
        </rules>
        <rules>
            <name>US_greater_than_10000</name>
            <conditionLogic>1 AND (2 OR 3 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Merchant_US__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tech_Debt_Amount_Range__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10K - 20K</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tech_Debt_Amount_Range__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>20K - more</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>US_Debt_Greater_than_10k</targetReference>
            </connector>
            <label>US - greater than 10000</label>
        </rules>
        <rules>
            <name>FR_or_BE_Zone_and_less_than_10000</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-fr</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-be</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tech_Debt_Amount_Range__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0 - 5K</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tech_Debt_Amount_Range__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5K - 10K</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FR_or_BE_Debt_Les_than_10k</targetReference>
            </connector>
            <label>FR or BE Zone and less than 10000</label>
        </rules>
        <rules>
            <name>EU_NOT_FR_or_BE_Zone_and_less_than_10000</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Zone__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>fr-fr</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Zone__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>fr-be</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Merchant_EU__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tech_Debt_Amount_Range__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0 - 5K</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tech_Debt_Amount_Range__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5K - 10K</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EU_not_FR_or_BE_Debt_Less_than_10k</targetReference>
            </connector>
            <label>EU - NOT FR or BE Zone and less than 10000</label>
        </rules>
        <rules>
            <name>US_Below_10000</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Merchant_US__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tech_Debt_Amount_Range__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0 - 5K</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tech_Debt_Amount_Range__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5K - 10K</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>US_Debt_Less_than_10k</targetReference>
            </connector>
            <label>US - Below 10000</label>
        </rules>
    </decisions>
    <description>SFT-512 Include the email legal-team@backmarket.com in recipients for alert of debt&gt;20k</description>
    <formulas>
        <name>Alert_LastChance_Limitation_Sales_formula</name>
        <dataType>Number</dataType>
        <expression>if(
(({!$Record.Business_Name__r.Cumulated_sales_last_30_days__c} * 0.3)/30)&gt;5,(({!$Record.Business_Name__r.Cumulated_sales_last_30_days__c} * 0.3)/30) , 5)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Alert_limitation_buyback_formula</name>
        <dataType>Number</dataType>
        <expression>if(
(({!$Record.Business_Name__r.Cumulated_buyback_last_30_days__c} * 1.5) / 30)&gt;3,(({!$Record.Business_Name__r.Cumulated_buyback_last_30_days__c} * 1.5)/30) , 3)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Alert_limitation_sales_formula</name>
        <dataType>Number</dataType>
        <expression>if((({!$Record.Business_Name__r.Cumulated_sales_last_30_days__c} * 2)/30)&gt;5,(({!$Record.Business_Name__r.Cumulated_sales_last_30_days__c} * 2)/30) , 5)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>BizDev_Email</name>
        <dataType>String</dataType>
        <expression>if( TEXT({!$Record.Business_Name__r.Owner.Team__c})= &apos;SSM Back Watch E.U.&apos;, &apos;backwatch@backmarket.com&apos;, 
if( TEXT({!$Record.Business_Name__r.Owner.Team__c})= &apos;Activation E.U.&apos;, &apos;activation-eu@backmarket.com&apos;, 
if( TEXT({!$Record.Business_Name__r.Owner.Team__c})= &apos;SSM Back Watch U.S.&apos;, &apos;sam@backmarket.com&apos;,
if( TEXT({!$Record.Business_Name__r.Owner.Team__c})= &apos;SSM Selfcare E.U.&apos;, &apos;selfcare@backmarket.com&apos;,
{!$Record.Business_Name__r.Owner.Email}))))</expression>
    </formulas>
    <formulas>
        <name>HazardousChargerBodyNotif</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Situation__c}) &amp;&quot;for Potential Hazardous Charger &quot;</expression>
    </formulas>
    <formulas>
        <name>HazardousChargerSubjectNotif</name>
        <dataType>String</dataType>
        <expression>{!$Record.Business_Name__r.Name} &amp; &quot;  - Hazardous Charger spotted.&quot;</expression>
    </formulas>
    <formulas>
        <name>Merchant_debt_task_subject</name>
        <dataType>String</dataType>
        <expression>{!$Record.Business_Name__r.Name} + &quot; - Limitation to apply at 1 sale/day due to Debt&quot;</expression>
    </formulas>
    <formulas>
        <name>MP_Creation_Body</name>
        <dataType>String</dataType>
        <expression>&quot;New Monitoring Period created&quot;</expression>
    </formulas>
    <formulas>
        <name>MP_Creation_Subject</name>
        <dataType>String</dataType>
        <expression>{!$Record.Business_Name__r.Name} &amp; &quot;  - New Monitoring Period for &quot; &amp; TEXT({!$Record.Issue_KPI__c})</expression>
    </formulas>
    <formulas>
        <name>Notification_Body</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Issue_KPI__c}) &amp; &quot; is above the limits with &quot; &amp; TEXT({!$Record.Entry_rate__c}) &amp; &quot;% &amp; &quot; &amp; TEXT({!$Record.Entry_number_of_cases__c}) &amp; &quot; cases&quot;</expression>
    </formulas>
    <formulas>
        <name>Notification_subject</name>
        <dataType>String</dataType>
        <expression>{!$Record.Business_Name__r.Name} &amp; &quot; raised an alert on  &quot; &amp; TEXT({!$Record.Issue_KPI__c})</expression>
    </formulas>
    <formulas>
        <name>RecordTypeForExit</name>
        <dataType>String</dataType>
        <expression>if({!$Record.Business_Name__r.RecordTypeId}={!$Setup.Special_Process_Record_Types_Ids__c.Merchant_US__c}, {!$Setup.Special_Process_Record_Types_Ids__c.Exit_US__c}, {!$Setup.Special_Process_Record_Types_Ids__c.Exit__c})</expression>
    </formulas>
    <formulas>
        <name>SalesLimitation_LC</name>
        <dataType>Number</dataType>
        <expression>if({!Alert_LastChance_Limitation_Sales_formula}&gt;{!$Record.Business_Name__r.Sales_limitation__c},{!$Record.Business_Name__r.Sales_limitation__c},{!Alert_LastChance_Limitation_Sales_formula})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SalesLimitation_MP</name>
        <dataType>Number</dataType>
        <expression>if({!Alert_limitation_sales_formula}&gt;{!$Record.Business_Name__r.Sales_limitation__c},{!$Record.Business_Name__r.Sales_limitation__c},{!Alert_limitation_sales_formula})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Task_Subject_MOP_Limitation</name>
        <dataType>String</dataType>
        <expression>{!$Record.Business_Name__r.Name} + &quot; - Limitation to apply at &quot; + TEXT({!$Record.AlertLimitation__c}) + &quot; sale/day due to MOP in Last Chance&quot;</expression>
    </formulas>
    <formulas>
        <name>Tech_ReasonForLimitation</name>
        <dataType>String</dataType>
        <expression>if(ISPICKVAL({!$Record.Business_Name__r.Reason_for_last_Sales_limitation__c},&quot;&quot;), &quot;No limitation&quot;, TEXT({!$Record.Business_Name__r.Reason_for_last_Sales_limitation__c}))</expression>
    </formulas>
    <interviewLabel>Alert - After save flow (Creation only) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Alert - After save flow (Creation only)</label>
    <loops>
        <name>Loop_on_B_F_contacts</name>
        <label>Loop on B&amp;F contacts</label>
        <locationX>1586</locationX>
        <locationY>2783</locationY>
        <collectionReference>Get_Business_and_Finance_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_B_F_contacts_to_final_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_BizDev_Email_address</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_B_F_contacts_0</name>
        <label>Loop on B&amp;F contacts</label>
        <locationX>5234</locationX>
        <locationY>2783</locationY>
        <collectionReference>Get_Business_and_Finance_Contacts_for_merchant_debt</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_B_F_contacts_to_final_list_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_BizDev_Email_address_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_contacts</name>
        <label>Loop on contacts</label>
        <locationX>842</locationX>
        <locationY>2903</locationY>
        <collectionReference>Get_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_B_F_contacts_to_final_list_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_BizDev_Email_address</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_contacts_0</name>
        <label>Loop on contacts</label>
        <locationX>3962</locationX>
        <locationY>2903</locationY>
        <collectionReference>Get_Contacts_for_merchant_debt</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_B_F_contacts_to_final_list_0_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_BizDev_Email_address_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_EU_Team</name>
        <label>Loop on EU Team</label>
        <locationX>3345</locationX>
        <locationY>1655</locationY>
        <collectionReference>Get_users_EU_Team</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_bizdev_to_recipient_ids_EU_team</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Filter_on_recordtype</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_US_Team</name>
        <label>Loop on US Team</label>
        <locationX>2993</locationX>
        <locationY>1655</locationY>
        <collectionReference>Get_US_Team</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_bizdev_to_recipient_ids_us_team</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Filter_on_recordtype</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Exit_Process_draft</name>
        <label>Create Exit Process draft</label>
        <locationX>2510</locationX>
        <locationY>3143</locationY>
        <connector>
            <targetReference>Created_Drafted_EP</targetReference>
        </connector>
        <inputAssignments>
            <field>BizDev_for_Approval__c</field>
            <value>
                <elementReference>$Record.Business_Name__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Champion_Manager__c</field>
            <value>
                <elementReference>$Record.Business_Name__r.Manager_Sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exit_sub_reason__c</field>
            <value>
                <stringValue>Hazardous Charger</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant__c</field>
            <value>
                <elementReference>$Record.Business_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_exit__c</field>
            <value>
                <stringValue>Quality</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeForExit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Pre-Exit Phase</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_stage__c</field>
            <value>
                <stringValue>Draft completion (Merchant Owner)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Triggered_by__c</field>
            <value>
                <stringValue>Process: Hazardous Charger</stringValue>
            </value>
        </inputAssignments>
        <object>Merchant_Special_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Business_and_Finance_Contacts</name>
        <label>Get Business and Finance Contacts</label>
        <locationX>1214</locationX>
        <locationY>2423</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_we_have_F_B_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Business_Name__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>F_B_contacts__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>HasOptedOutOfEmail</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Business_and_Finance_Contacts_for_merchant_debt</name>
        <label>Get Business and Finance Contacts for merchant debt</label>
        <locationX>4598</locationX>
        <locationY>2423</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_we_have_F_B_contacts_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Business_Name__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>F_B_contacts__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>HasOptedOutOfEmail</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>842</locationX>
        <locationY>2783</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Business_Name__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>HasOptedOutOfEmail</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts_for_merchant_debt</name>
        <label>Get Contacts for merchant debt</label>
        <locationX>3962</locationX>
        <locationY>2783</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_contacts_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Business_Name__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>HasOptedOutOfEmail</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_notification_id</name>
        <label>Get notification id</label>
        <locationX>3752</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_notification_type_id_and_current_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All_supported_channels</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_past_alerts_on_Hazardous_chargers</name>
        <label>Get past alerts on Hazardous chargers</label>
        <locationX>2246</locationX>
        <locationY>2423</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Severe_Issue__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Issue_KPI__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Potential Hazardous Charger</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Refused</stringValue>
            </value>
        </filters>
        <filters>
            <field>Business_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Business_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Alert__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_US_Team</name>
        <label>Get US Team</label>
        <locationX>2993</locationX>
        <locationY>1535</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_US_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ManagerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.UserID__c.Richard__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SSM Back Watch U.S.</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_users_EU_Team</name>
        <label>Get users EU Team</label>
        <locationX>3345</locationX>
        <locationY>1535</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_EU_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ManagerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.UserID__c.PA__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SSM Back Watch E.U.</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_1st_case_Warning_Alert</name>
        <label>Update 1st case Warning Alert</label>
        <locationX>1982</locationX>
        <locationY>2903</locationY>
        <connector>
            <targetReference>Updated_alert_as_1st_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AlertLimitation__c</field>
            <value>
                <elementReference>Alert_limitation_sales_formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BizDev__c</field>
            <value>
                <elementReference>$Record.Business_Name__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager__c</field>
            <value>
                <elementReference>$Record.Business_Name__r.Manager_Sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recipient_email_sales__c</field>
            <value>
                <elementReference>$Record.Business_Name__r.Recipient_email_sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Situation__c</field>
            <value>
                <stringValue>1st case - Warning</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Monitoring Period</stringValue>
            </value>
        </inputAssignments>
        <object>Alert__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_2nd_case_or_more_Alert_Hand_Free</name>
        <label>Update 2nd case or more Alert - Hand Free</label>
        <locationX>2510</locationX>
        <locationY>2903</locationY>
        <connector>
            <targetReference>Updated_alert_as_2nd_Case_Failed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BizDev__c</field>
            <value>
                <elementReference>$Record.Business_Name__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager__c</field>
            <value>
                <elementReference>$Record.Business_Name__r.Manager_Sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recipient_email_sales__c</field>
            <value>
                <elementReference>$Record.Business_Name__r.Recipient_email_sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Situation__c</field>
            <value>
                <stringValue>2nd case or more - Investigation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>Alert__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_2nd_case_or_more_Alert_Not_Hand_Free</name>
        <label>Update 2nd case or more Alert - Not Hand Free</label>
        <locationX>2246</locationX>
        <locationY>2903</locationY>
        <connector>
            <targetReference>Updated_alert_as_2nd_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AlertLimitation__c</field>
            <value>
                <elementReference>Alert_limitation_sales_formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BizDev__c</field>
            <value>
                <elementReference>$Record.Business_Name__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager__c</field>
            <value>
                <elementReference>$Record.Business_Name__r.Manager_Sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recipient_email_sales__c</field>
            <value>
                <elementReference>$Record.Business_Name__r.Recipient_email_sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Situation__c</field>
            <value>
                <stringValue>2nd case or more - Investigation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Monitoring Period</stringValue>
            </value>
        </inputAssignments>
        <object>Alert__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_alert_record_with_limitation</name>
        <label>Update alert record with limitation</label>
        <locationX>4754</locationX>
        <locationY>3863</locationY>
        <inputAssignments>
            <field>AlertLimitation__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BizDev__c</field>
            <value>
                <elementReference>$Record.Business_Name__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager__c</field>
            <value>
                <elementReference>$Record.Business_Name__r.Manager_Sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>$Record.Business_Name__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_alert_record_with_team</name>
        <label>Update alert record with team</label>
        <locationX>5018</locationX>
        <locationY>4199</locationY>
        <inputAssignments>
            <field>BizDev__c</field>
            <value>
                <elementReference>$Record.Business_Name__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager__c</field>
            <value>
                <elementReference>$Record.Business_Name__r.Manager_Sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>$Record.Business_Name__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Buyback_Alert</name>
        <label>Update Buyback Alert</label>
        <locationX>5762</locationX>
        <locationY>2663</locationY>
        <connector>
            <targetReference>Send_Notif_to_Merchant_Owner_MP_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AlertLimitation__c</field>
            <value>
                <elementReference>Alert_limitation_buyback_formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BizDev_Buyback__c</field>
            <value>
                <elementReference>$Record.Business_Name__r.BizDev_Buyback__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager__c</field>
            <value>
                <elementReference>$Record.Business_Name__r.Manager_Buyback__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recipient_email_buyback__c</field>
            <value>
                <elementReference>$Record.Business_Name__r.Recipient_email_buyback__c</elementReference>
            </value>
        </inputAssignments>
        <object>Alert__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_merchant_limitation</name>
        <label>Update merchant limitation</label>
        <locationX>1850</locationX>
        <locationY>3839</locationY>
        <connector>
            <targetReference>Decision_on_recipient_id_list_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Business_Name__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason_for_last_Sales_limitation__c</field>
            <value>
                <stringValue>QUALITY_LEGAL_AND_SAFETY_ISSUE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_limitation__c</field>
            <value>
                <elementReference>SalesLimitation_MP</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_merchant_limitation_Archive_info</name>
        <label>Update merchant limitation+ Archive info</label>
        <locationX>2114</locationX>
        <locationY>3959</locationY>
        <connector>
            <targetReference>Decision_on_recipient_id_list_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Business_Name__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LimitationBeforeAlert__c</field>
            <value>
                <elementReference>Limitation_before_alert</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_last_Sales_limitation__c</field>
            <value>
                <stringValue>QUALITY_LEGAL_AND_SAFETY_ISSUE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_limitation__c</field>
            <value>
                <elementReference>SalesLimitation_MP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_Reason_Limitation_Before_Alert__c</field>
            <value>
                <elementReference>Tech_ReasonForLimitation</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sales_Alert</name>
        <label>Update Sales Alert</label>
        <locationX>5498</locationX>
        <locationY>2663</locationY>
        <connector>
            <targetReference>Send_Notif_to_Merchant_Owner_MP_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BizDev__c</field>
            <value>
                <elementReference>$Record.Business_Name__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager__c</field>
            <value>
                <elementReference>$Record.Business_Name__r.Manager_Sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recipient_email_sales__c</field>
            <value>
                <elementReference>$Record.Business_Name__r.Recipient_email_sales__c</elementReference>
            </value>
        </inputAssignments>
        <object>Alert__c</object>
    </recordUpdates>
    <start>
        <locationX>3308</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_on_bypass_flow</targetReference>
        </connector>
        <object>Alert__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TextTemplate_EN_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!$Record.Business_Name__r.Name},

Following an audit on your invoices sent to customers after their purchases on Back Market, we realized that the documents sent by your teams do not comply with the legal requirements in force. In this regard, we would like to provide you with all the necessary elements to bring these invoices into compliance as quickly as possible. 

As a reminder, here are the mentions that must at least appear in each of your invoices:

Seller information
- Social designation or name
- Head office or home
- SIRET N
- Individual VAT identification number

Customer Information 
- Name and surname
- Address

Billing details
- Date
- Invoice No.

Details on service provision
- Operation date (if different from the invoice)
- Quantity and precise designation of the good(s) sent
- Price, taxes not included
- Discounts (if applicable) 
- Delivery charges
- VAT rate in force in the country of delivery
- VAT amount
Total Amount, including VAT

If you are eligible to apply marginal VAT for the product sold, these last three points are not necessary but must be replaced by: 
- Mention &apos;VAT not applicable &quot;Second-hand goods &quot;&apos;.
- Total amount, VAT Included 

During the review of one of your last invoices, we found missing information in the following categories: {!$Record.Missing_elements__c}.

We would like to remind you of the importance of these requirements in order to fulfill our legal obligations to the tax authorities. We therefore ask you to make all the necessary changes within 30 days and to provide proof of your compliance to your Seller Success Manager. 

After this period, we reserve the right to take any action we deem necessary (including suspending your account, limiting sales, or closing your account). 
All information is available in this FAQ article, do not hesitate to keep us informed of any difficulties encountered in updating your invoice templates. 
https://merchant-support.backmarket.com/hc/en-gb/articles/360019750759-How-to-establish-a-B2C-invoice-that-is-compliant-with-the-law-

Thank you for your immediate attention,
The Back Market Team</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_EN_Body_Great_Debt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 10pt; font-family: Arial;&quot;&gt;Hello,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;We are sorry to notice that you have a negative balance in your Back Market wallet superior to {!$Record.Currency__c}10k.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;As a consequence, we hereby notify you, in accordance with article 18.2 of our sellers general terms and conditions, that, unless you regularize your account by paying the invoice available in the&lt;/span&gt; &lt;a href=&quot;https://www.backmarket.com/bo_merchant/invoices&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;invoice tab&lt;/a&gt; &lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;of your Back Office on the&lt;/span&gt; &lt;a href=&quot;https://backmarket--c.documentforce.com/servlet/servlet.ImageServer?id=0153X000006YfFN&amp;amp;oid=00D1t000000xUVO&amp;amp;lastMod=1643885965000&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Back Markets account&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; (please specify your PK number and the invoice number as the reason for payment), we will close your seller account in 30 days as from today and our collaboration shall terminate.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;After this 30-days period, you will therefore not be able to sell nor to buy back products on our websites. Of course, this notice period is subject to your strict respect of our general terms and conditions and of the Charter. As from tomorrow and until you regularize your account, your sale will be limited to 1 per day.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;We remind you that all orders placed on our websites before the closure of your seller account must be executed in accordance with our general terms and conditions and the Charter.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;As regards to after sale services and warranties, as from today, we will process all of the Buyers requests and complaints relating to you in your name and on your behalf, under the conditions set forth under articles 13 and 14 of our general terms and conditions for sellers.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 10pt; font-family: Arial;&quot;&gt;Best regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 10pt; font-family: Arial;&quot;&gt;Back Market&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_EN_Body_minor_debt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We are sorry to see that you have a negative balance in your Back Market wallet. You can find the exact amount in your invoice in the &lt;a href=&quot;https://www.backmarket.fr/bo_merchant/invoices&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;invoice tab&lt;/a&gt; of your Back Office.&lt;/p&gt;&lt;p&gt;Please use &lt;a href=&quot;https://backmarket--c.documentforce.com/servlet/servlet.ImageServer?id=0153X000006YfFN&amp;amp;oid=00D0Q0000000jrb&amp;amp;lastMod=1643885965000&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;the Back Market bank details&lt;/a&gt; to make such payment. Thanks for regularizing your account in the next 10 days.&lt;/p&gt;&lt;p&gt;Please specify your PK number and the invoice number as the reason for payment.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks in advance.&lt;/p&gt;&lt;p&gt;Back Market&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_EN_MOP_LastChance_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!$Record.Business_Name__r.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We are writing to inform you that your recent mystery order results on Back Market were critically lower than the quality standards outlined in the Quality Charter. Mystery orders are a way for us to randomly verify that Sellers are complying with their obligations under the sellers Terms and Conditions and the schedules thereto, in particular the Quality Charter.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please find attached the report link explaining the detail of the mystery order: {!e1f1efd9-45f4-4a5c-9fbb-79d57b7e0f37.Link_to_the_MO__c}&lt;/p&gt;&lt;p&gt;Please find the reason(s) for the failure of your mystery order: {!e1f1efd9-45f4-4a5c-9fbb-79d57b7e0f37.Reason_for_failure__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We thank you to remedy this situation in the best delay, and to meet the expected quality standards within 30 days. During this delay, your sales account will be limited to {!$Record.AlertLimitation__c} sales per day (i.e. approximately 30% of your average daily sales volume made over the last 30 days), provided that you are not already subject to another stricter sales restriction during this period, in accordance with article 17 of our sellers T&amp;amp;Cs.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;After this delay, we will place a new mystery order on your account. In the event that its results are not satisfactory (Inspection score below 80% or a critical quality standard is not met), we will close your account and our business relationship shall terminate, as provided for under Articles 12 and 18.2 of the Terms and Conditions.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;For more information about Mystery order tests and scoring, as well as tools and levers to improve your refurbishing and testing processes, please consult the seller Support Center (find the link at the bottom).&lt;/p&gt;&lt;p&gt;Your Back Market contact is available to work with you to clarify and analyze the situation and jointly build an action plan to address issues.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We value your presence on our platform as an esteemed partner, and we sincerely hope we can resolve the situation and avoid closing your account. Please feel free to reach out if you have additional questions.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sincerely,&amp;nbsp;&lt;/p&gt;&lt;p&gt;Back Market&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://merchant-support.backmarket.com/hc/en-gb/articles/4407217322130&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://merchant-support.backmarket.com/hc/en-gb/articles/4407217322130&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_EN_MOP_LastChance_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Business_Name__r.Back_Office_PK__c} - {!$Record.Business_Name__r.Name} - Feedback Mystery Order - Last chance to meet Back Market quality standards</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_EN_MOP_MP_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!$Record.Business_Name__r.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We are writing to inform you that your recent mystery order on Back Market did not meet the quality standards outlined in the Quality Charter. Mystery orders are a way for us to randomly verify that Sellers are complying with their obligations under the sellers Terms and Conditions and the schedules thereto, in particular the Quality Charter.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please find attached the report link summarizing the details of your mystery order: {!e1f1efd9-45f4-4a5c-9fbb-79d57b7e0f37.Link_to_the_MO__c}&lt;/p&gt;&lt;p&gt;Please find the reason(s) for the failure of your mystery order: {!e1f1efd9-45f4-4a5c-9fbb-79d57b7e0f37.Reason_for_failure__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We invite you to remedy this situation in the best delay, and by 30 days at the latest.&amp;nbsp;&lt;/p&gt;&lt;p&gt;After this delay, we will place a new mystery order on your account. In the event that its results are not satisfactory (Inspection score below 80% or a critical quality standard is not met), your sales capacity will automatically be limited to a stricter percentage of your sales volume, in accordance with articles 12 and 17 of our sellers T&amp;amp;Cs. We hope no limitation will be necessary, as we view you as a valuable partner on our platform.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;For more information about Mystery order tests and scoring, as well as tools and levers to improve your refurbishing and testing processes, please consult the seller Support Center (find the link at the bottom).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your Back Market contact is available to work with you to clarify and analyze the situation and jointly build an action plan to address issues.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sincerely,&amp;nbsp;&lt;/p&gt;&lt;p&gt;Back Market&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://merchant-support.backmarket.com/hc/en-gb/articles/4407217322130&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://merchant-support.backmarket.com/hc/en-gb/articles/4407217322130&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_EN_MOP_MP_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Business_Name__r.Back_Office_PK__c} - {!$Record.Business_Name__r.Name} - Feedback Mystery Order - Monitoring to meet Back Market quality standards</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_EN_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your invoices do not respect your legal requirements.</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_EN_Subject_great_debt</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Business_Name__r.Back_Office_PK__c} - {!$Record.Business_Name__r.Name} - Alert - Negative balance</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_EN_Subject_minor_debt</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Business_Name__r.Back_Office_PK__c} - {!$Record.Business_Name__r.Name} - Alert - Negative balance</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_FR_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Cher {!$Record.Business_Name__r.Name},

Suite  un audit sur les factures envoyes aux clients aprs leurs achats sur Back Market, nous nous sommes aperus que les documents envoys par vos quipes ne sont pas conformes aux exigences lgales en vigueur. Nous souhaitons  ce propos vous fournir tous les lments ncessaires pour mettre ces factures en conformit et ce le plus rapidement possible. 

Pour rappel, voici les mentions qui doivent a minima obligatoirement figurer dans chacune de vos factures :

Informations vendeur
- Dsignation sociale ou nom
- Sige social ou domicile
- N SIRET
- Numro individuel didentification  la TVA

Informations client 
- Nom et prnom
- Adresse

Dtail de facturation
- Date
- N de Facture

Dtail sur la prestation de service
- Date dopration (si diffrente de la facture)
- Quantit et dsignation prcise du/des bien(s) envoy(s)
- Prix, taxes non incluses
- Remises (si applicable) 
- Frais de livraison
- Taux TVA en vigueur dans le pays de livraison
- Montant de la TVA
- Montant Total, TVA incluse

Si vous tes ligible pour le produit vendu  appliquer une TVA sur marge, ces trois derniers points ne sont pas ncessaires mais doivent imprativement tre remplacs par : 
- Mention TVA non applicable  Rgime particulier - Biens d&apos;occasion 
- Montant total, TVA Incluse 

Lors de lexamen de lune de vos dernires factures, nous avons relev des informations manquantes dans les catgories suivantes : {!$Record.Missing_elements__c}.

Nous vous rappelons limportance de ces exigences qui permettent de remplir nos obligations lgales auprs des administrations fiscales. Nous vous demandons donc deffectuer lensemble des modifications ncessaires sous 30 jours et dapporter la preuve de votre mise en conformit  votre Seller Success Manager. 
Pass ce dlai, nous nous rservons le droit de prendre les mesures que nous jugerons ncessaires (pouvant aller jusqu une suspension de votre compte, une limitation des ventes, ou une fermeture de votre compte). 
Toutes les informations sont disponibles dans cet article FAQ, nhsitez pas  nous tenir informs des difficults rencontres dans la mise  jour de vos modles de facture. 
https://merchant-support.backmarket.com/hc/fr/articles/360019750759-Comment-%C3%A9tablir-une-facture-B2C-conforme-%C3%A0-la-r%C3%A8glementation-

Merci pour votre implication,
Lquipe Back Market.</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_FR_Body_great_debt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 10pt; color: rgb(0, 0, 0);&quot;&gt;Bonjour,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Nous avons le regret de constater que votre porte-monnaie virtuel prsente un solde ngatif de plus de 10k.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Par consquent, nous vous notifions par la prsente, conformment  l&apos;article 18.2 de nos conditions gnrales vendeurs, que si vous ne rgularisez pas la situation en payant la facture disponible dans l&apos;onglet&lt;/span&gt; &lt;a href=&quot;https://www.backmarket.fr/bo_merchant/invoices&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;facture&lt;/a&gt; &lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;de votre Back office sur le&lt;/span&gt; &lt;a href=&quot;https://backmarket--c.documentforce.com/servlet/servlet.ImageServer?id=0153X000006YfFN&amp;amp;oid=00D1t000000xUVO&amp;amp;lastMod=1643885965000&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;RIB de Back Market&lt;/a&gt; &lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;(merci de prciser votre numro PK et le numro de la facture comme motif de paiement), nous clturerons votre compte vendeur  lexpiration dune priode de 30 jours, et notre collaboration prendra dfinitivement fin.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Aprs cette priode de 30 jours, vous ne pourrez alors plus ni vendre sur nos Sites, ni procder  la reprise de produits via nos Sites. Bien entendu, ce pravis est accord sous rserve du strict respect,  compter de ce jour, de nos Conditions Gnrales Vendeurs et de la Charte en vigueur. A compter de demain et jusqu la rgularisation de votre situation, vos ventes seront limites  1 vente par jour.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Nous vous rappelons que toute commande ralise sur nos Sites avant la date darrt des ventes doit tre gre selon les rgles dcrites dans nos Conditions Gnrales Vendeurs et notre Charte Qualit.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Par ailleurs, concernant les garanties et SAV en cours, nous nous substituons  vous et traiterons lintgralit des demandes ou rclamations dAcheteurs vous concernant, en votre nom et pour votre compte,  compter de ce jour, dans les conditions des articles 13 et 14 de nos conditions gnrales vendeurs.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 10pt; color: rgb(0, 0, 0);&quot;&gt;Cordialement,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 10pt; color: rgb(0, 0, 0);&quot;&gt;Back Market&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_FR_Body_minor_debt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Bonjour,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Nous avons le regret de constater que votre porte-monnaie virtuel prsente un solde ngatif. Vous pouvez trouver la facture  rgulariser dans l&apos;&lt;a href=&quot;https://www.backmarket.fr/bo_merchant/invoices&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;onglet facture&lt;/a&gt; de votre Back Office.&lt;/p&gt;&lt;p&gt;Vous trouverez sur ce lien &lt;a href=&quot;https://backmarket--c.documentforce.com/servlet/servlet.ImageServer?id=0153X000006YfFN&amp;amp;oid=00D0Q0000000jrb&amp;amp;lastMod=1643885965000&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;le RIB de Back Market &lt;/a&gt;sur lequel raliser votre paiement. Merci de rgulariser votre situation dans les 10 prochains jours.&lt;/p&gt;&lt;p&gt;Nous vous remercions de prciser votre numro PK et le numro de la facture comme motif de paiement.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;En vous en remerciant par avance.&lt;/p&gt;&lt;p&gt;Back Market&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_FR_MOP_LastChance_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Bonjour {!$Record.Business_Name__r.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Cet email a pour but de vous informer que la rcente commande mystre  laquelle vous avez t sujet sur Back Market est significativement en dessous des normes de qualit dcrites dans la Charte Qualit. Les commandes mystres sont un moyen pour nous de contrler alatoirement le respect par les Vendeurs de leurs obligations rsultant de nos conditions gnrales vendeurs et leurs annexes, en particulier la Charte Qualit.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Vous trouverez ci-dessous le dtail de lanalyse de votre commande mystre:&amp;nbsp;&lt;/p&gt;&lt;p&gt;{!e1f1efd9-45f4-4a5c-9fbb-79d57b7e0f37.Link_to_the_MO__c}&lt;/p&gt;&lt;p&gt;ainsi que les raisons de son chec: {!e1f1efd9-45f4-4a5c-9fbb-79d57b7e0f37.Reason_for_failure__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Nous vous remercions de remdier  cette situation et de respecter les&amp;nbsp;normes de qualit attendues dans un dlai de 30 jours. Pendant ce dlai,&amp;nbsp;votre compte vendeur sera, conformment  larticle 17 de nos conditions gnrales vendeurs, limit  {!$Record.AlertLimitation__c} ventes par jour (soit environ 30% de votre volume de ventes quotidien moyen ralis au cours des 30 derniers jours), sous rserve que vous ne soyez pas dj sujet  aucune autre restriction similaire sur cette priode.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A lissue de ce dlai de 30 jours, nous effectuerons une nouvelle commande mystre. Dans le cas o le score final serait en dessous de 80% ou quune norme qualit importante ne serait pas respecte, nous fermerons votre compte vendeur sur notre plateforme et notre relation commerciale prendra fin, comme le prvoient les articles 12 et 18.2 de nos CGV. Nous esprons sincrement que nous n&apos;en arriverons pas l et sommes  votre disposition pour rpondre  toute question.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Pour plus d&apos;informations sur les commandes mystres ainsi que les outils et leviers pour amliorer vos processus de reconditionnement et de test, veuillez consulter notre centre dassistance marchands le seller Support Center (veuillez trouver le lien en fin de mail).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Votre contact Back Market est galement disponible pour travailler avec vous afin d&apos;analyser la situation et d&apos;laborer conjointement un plan d&apos;action pour rsoudre les problmes rencontrs.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sincrement,&amp;nbsp;&lt;/p&gt;&lt;p&gt;Back Market&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://merchant-support.backmarket.com/hc/fr/articles/4407217322130&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://merchant-support.backmarket.com/hc/fr/articles/4407217322130&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_FR_MOP_LastChance_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Business_Name__r.Back_Office_PK__c} - {!$Record.Business_Name__r.Name} - Feedback Mystery Order - Dernire chance pour rpondre aux normes de qualit Back Market</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_FR_MOP_MP_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Bonjour {!$Record.Business_Name__r.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Cet email a pour but de vous informer que la rcente commande mystre  laquelle vous avez t sujet sur Back Market conformment  nos conditions gnrales de vente ne rpond pas aux normes de qualit dcrites dans la Charte Qualit. Les commandes mystres sont un moyen pour nous de contrler alatoirement le respect par les Vendeurs de leurs obligations rsultant de nos conditions gnrales vendeurs et leurs annexes, en particulier la Charte Qualit.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Vous trouverez ci-dessous le dtail de lanalyse de votre commande mystre:&lt;/p&gt;&lt;p&gt;{!e1f1efd9-45f4-4a5c-9fbb-79d57b7e0f37.Link_to_the_MO__c}&lt;/p&gt;&lt;p&gt;ainsi que les raisons de son chec: {!e1f1efd9-45f4-4a5c-9fbb-79d57b7e0f37.Reason_for_failure__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Nous vous invitons  remdier  ces manquements dans les meilleurs dlais, et au plus tard sous trente jours.&amp;nbsp;&lt;/p&gt;&lt;p&gt;Pass ce dlai, nous effectuerons une nouvelle commande mystre. Dans le cas o le score final serait en dessous de 80%, ou quune norme qualit importante ne serait alors pas respecte, votre volume de vente sera automatiquement limit, conformment aux articles 12 et 17 de nos conditions gnrales vendeurs.&amp;nbsp;Nous esprons qu&apos;aucune limitation ne sera ncessaire, car nous considrons votre compte comme un partenaire prcieux sur la plateforme.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Pour plus d&apos;informations sur les commandes mystres ainsi que les outils et leviers pour amliorer vos processus de reconditionnement et de test, veuillez consulter notre centre dassistance marchands le seller Support Center (veuillez trouver le lien en fin de mail).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Votre contact Back Market est galement disponible pour travailler avec vous afin d&apos;analyser la situation et d&apos;laborer conjointement un plan d&apos;action pour rsoudre les problmes rencontrs.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sincrement,&amp;nbsp;&lt;/p&gt;&lt;p&gt;Back Market&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://merchant-support.backmarket.com/hc/fr/articles/4407217322130&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://merchant-support.backmarket.com/hc/fr/articles/4407217322130&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_FR_MOP_MP_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Business_Name__r.Back_Office_PK__c} - {!$Record.Business_Name__r.Name} - Feedback Commande Mystre - Actions pour rpondre aux normes de qualit Back Market</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_FR_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Vos factures de vente ne respectent pas vos obligations lgales.</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_FR_Subject_great_debt</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Business_Name__r.Back_Office_PK__c} - {!$Record.Business_Name__r.Name} - Alerte - Balance ngative</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_FR_Subject_minor_debt</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Business_Name__r.Back_Office_PK__c} - {!$Record.Business_Name__r.Name} - Alerte - Balance ngative</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_US_Body_great_debt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Hello,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;We are sorry to notice that you have a negative balance in your Back Market wallet superior to $10k.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;As a consequence, we hereby notify you, in accordance with article 18.2 of our sellers general terms and conditions, that, unless you regularize your account by paying the invoice available in the&lt;/span&gt; &lt;a href=&quot;https://www.backmarket.com/bo_merchant/invoices&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;invoice tab&lt;/a&gt; &lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;of your Back Office on the&lt;/span&gt; &lt;a href=&quot;https://backmarket--c.documentforce.com/servlet/servlet.ImageServer?id=0153X000006YfFS&amp;amp;oid=00D1t000000xUVO&amp;amp;lastMod=1643886252000&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Back Markets account&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; (please specify your PK number and the invoice number as the reason for payment), we will close your seller account in 30 days as from today and our collaboration shall terminate.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(22, 7, 231);&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;After this 30-days period, you will therefore not be able to sell nor to buy back products on our websites. Of course, this notice period is subject to your strict respect of our general terms and conditions and of the Charter. As from tomorrow and until you regularize your account, your sale will be limited to 1 per day.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;We remind you that all orders placed on our websites before the closure of your seller account must be executed in accordance with our general terms and conditions and the Charter.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;As regards to after sale services and warranties, as from today, we will process all of the Buyers requests and complaints relating to you in your name and on your behalf, under the conditions set forth under articles 13 and 14 of our general terms and conditions for sellers.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Best regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Back Market&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_US_Body_minor_debt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We are sorry to see that you have a negative balance in your Back Market wallet. You can find the exact amount in your invoice in the &lt;a href=&quot;https://www.backmarket.com/bo_merchant/invoices&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;invoice tab&lt;/a&gt; of your Back Office.&lt;/p&gt;&lt;p&gt;Please use &lt;a href=&quot;https://backmarket--c.documentforce.com/servlet/servlet.ImageServer?id=0153X000006YfFS&amp;amp;oid=00D0Q0000000jrb&amp;amp;lastMod=1643886252000&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;the Back Market bank details&lt;/a&gt; to make such payment. Thanks for regularizing your account in the next 10 days.&lt;/p&gt;&lt;p&gt;Please specify your PK number and the invoice number as the reason for payment.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks in advance.&lt;/p&gt;&lt;p&gt;Back Market&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Contact_to_email</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactsForEmailDorotea1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactsForEmailDorotea2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Current_Alert_to_update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>Email_cannot_be_sent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FinalListForInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Limitation_before_alert</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Merchant_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Notification_type_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Recipient_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Tech_count_contact</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var_FinalListForInvoice</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VariableCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
