force-app/main/default/flows/Alert_Befor_save_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_has_been_refused_on</name>
        <label>Assign has been refused on</label>
        <locationX>392</locationX>
        <locationY>489</locationY>
        <assignmentItems>
            <assignToReference>$Record.Has_been_refused_on__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_has_been_saved_on</name>
        <label>Assign has been saved on</label>
        <locationX>391</locationX>
        <locationY>252</locationY>
        <assignmentItems>
            <assignToReference>$Record.Has_been_saved_on__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_has_entered_in_progress_on</name>
        <label>Assign has entered in progress on</label>
        <locationX>394</locationX>
        <locationY>612</locationY>
        <assignmentItems>
            <assignToReference>$Record.Has_entered_in_progress_on__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_has_failed_on</name>
        <label>Assign has failed on</label>
        <locationX>394</locationX>
        <locationY>375</locationY>
        <assignmentItems>
            <assignToReference>$Record.Has_failed_on__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_have_been_validated_on</name>
        <label>Assign have been validated on</label>
        <locationX>391</locationX>
        <locationY>750</locationY>
        <assignmentItems>
            <assignToReference>$Record.HaveBeenValidatedOn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_have_entered_Last_Chance_on</name>
        <label>Assign have entered Last Chance on</label>
        <locationX>388</locationX>
        <locationY>895</locationY>
        <assignmentItems>
            <assignToReference>$Record.Has_entered_Last_chance_on__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decision_what_to_update</name>
        <label>Decision what to update</label>
        <locationX>172</locationX>
        <locationY>286</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_to_saved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_been_saved_on__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_has_been_saved_on</targetReference>
            </connector>
            <label>Stage to saved</label>
        </rules>
        <rules>
            <name>Stage_to_failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_failed_on__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_has_failed_on</targetReference>
            </connector>
            <label>Stage to failed</label>
        </rules>
        <rules>
            <name>stage_to_refused</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refused</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_been_refused_on__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_has_been_refused_on</targetReference>
            </connector>
            <label>stage to refused</label>
        </rules>
        <rules>
            <name>Stage_to_in_progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_entered_in_progress_on__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_has_entered_in_progress_on</targetReference>
            </connector>
            <label>Stage to in progress</label>
        </rules>
        <rules>
            <name>Stage_to_Validated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doc validated pending MO result</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HaveBeenValidatedOn__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_have_been_validated_on</targetReference>
            </connector>
            <label>Stage to Validated</label>
        </rules>
        <rules>
            <name>Stage_to_Last_Chance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Last chance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_entered_Last_chance_on__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_have_entered_Last_Chance_on</targetReference>
            </connector>
            <label>Stage to Last Chance</label>
        </rules>
    </decisions>
    <description>Have entered Last chance on - Update</description>
    <interviewLabel>Alert - Befor save flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Alert - Befor save flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>53</locationX>
        <locationY>30</locationY>
        <connector>
            <targetReference>Decision_what_to_update</targetReference>
        </connector>
        <object>Alert__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
