force-app/main/default/flows/Case_After_Save_Flow_SSC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Action_EN_Send_Email_for_ChargeBack_Paid</name>
        <label>Action - EN - Send Email for ChargeBack Paid</label>
        <locationX>3218</locationX>
        <locationY>1008</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EN_BuybackCasePaid_EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Var_ListEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>legal-sellers@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>US_EN_BuybackCasePaid_EmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Action_FR_Send_Email_for_ChargeBack_Paid</name>
        <label>Action - FR - Send Email for ChargeBack Paid</label>
        <locationX>2690</locationX>
        <locationY>1008</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>FR_BuybackCasePaid_EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Var_ListEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>legal-sellers@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>FR_BuybackCasePaid_EmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Action_US_Send_Email_for_ChargeBack_Paid</name>
        <label>Action - US - Send Email for ChargeBack Paid</label>
        <locationX>2954</locationX>
        <locationY>1008</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>US_BuybackCasePaid_EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Var_ListEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>legal-sellers@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>US_EN_BuybackCasePaid_EmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>EN_FR_Email_for_BuyBack_Bill_Process</name>
        <label>EN-FR Email for BuyBack Bill Process</label>
        <locationX>2426</locationX>
        <locationY>768</locationY>
        <actionName>Case.BuyBack_Bill_Process_V2_New_Case_is_Created</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_The_Team</name>
        <label>Notify The Team</label>
        <locationX>50</locationX>
        <locationY>1008</locationY>
        <actionName>Case.New_Quality_test_corrected</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_about_the_status_change</name>
        <label>Send Email about the status change</label>
        <locationX>1370</locationX>
        <locationY>1224</locationY>
        <actionName>Case.Case_Alert_Status_of_the_case_is_changed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Mathilde</name>
        <label>Send Email to Mathilde</label>
        <locationX>1898</locationX>
        <locationY>1224</locationY>
        <actionName>Case.Case_Alert_Proof_of_Payment_Received</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_the_merchant</name>
        <label>Send Email to the merchant</label>
        <locationX>1634</locationX>
        <locationY>768</locationY>
        <actionName>Case.BuyBack_Bill_Process_New_Case_is_created</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Criteria</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_BizDev_and_contact_Email</name>
        <label>Add BizDev and contact Email</label>
        <locationX>2822</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>Var_ListEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BizDev_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_ListEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_is_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Owner_BackWatch_EU</name>
        <label>Assign Case Owner - BackWatch EU</label>
        <locationX>3746</locationX>
        <locationY>1368</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BackWatch_EU.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CurrentCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Owner_BackWatch_US</name>
        <label>Assign Case Owner - BackWatch US</label>
        <locationX>4010</locationX>
        <locationY>1368</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BackWatch_US.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CurrentCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Owner_MAS_EU</name>
        <label>Assign Case Owner - MAS EU</label>
        <locationX>4538</locationX>
        <locationY>1368</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MAS_EU.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CurrentCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Owner_Merchant_Owner</name>
        <label>Assign Case Owner - Merchant Owner</label>
        <locationX>4802</locationX>
        <locationY>1248</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CurrentCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Owner_Selfcare_EU</name>
        <label>Assign Case Owner - Selfcare EU</label>
        <locationX>4274</locationX>
        <locationY>1368</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selfcare_EU.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CurrentCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_current_case_Contact_and_Business_Name</name>
        <label>Assign current case Contact and Business Name</label>
        <locationX>4274</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_contact.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Start_Round_Robin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Merchant_BizDev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_contact.Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CurrentCase_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Number_of_Open_Cases_to_Previous_User</name>
        <label>Assign Number of Open Cases to Previous User</label>
        <locationX>4142</locationX>
        <locationY>2304</locationY>
        <assignmentItems>
            <assignToReference>NuberOfOpenCasesCurrentOwner</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Open_Cases_for_Previous_Owner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Previous_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Number_of_Open_Cases_to_User</name>
        <label>Assign Number of Open Cases to User</label>
        <locationX>4274</locationX>
        <locationY>1824</locationY>
        <assignmentItems>
            <assignToReference>NuberOfOpenCasesCurrentOwner</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Open_Cases_for_Current_Owner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Current_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Start_Round_Robin_True</name>
        <label>Assign Start Round Robin True</label>
        <locationX>5066</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>$Record.Start_Round_Robin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_CurrentCase_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Test_status_to_Onboarding_0</name>
        <label>Assign - Test status to Onboarding</label>
        <locationX>1106</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>Onboarding_Process.Status_Quality_Test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StatusQualityTest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Onboarding_Process.Date_Quality_Test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Onboarding_Process.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Buyback_Onboarding_Process.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Onboarding_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Test_status_to_SalesOnboarding</name>
        <label>Assign - Test status to SalesOnboarding</label>
        <locationX>578</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>Onboarding_Process.Status_Quality_Test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StatusQualityTest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Onboarding_Process.Date_Quality_Test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Onboarding_Process.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding_Process.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_is_New</name>
        <label>Case is New</label>
        <locationX>2822</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>Criteria_V2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_is_new_Bill_Process_V2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EN_FR_Email_for_BuyBack_Bill_Process</targetReference>
            </connector>
            <label>Case is new - Bill Process V2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_is_New_0</name>
        <label>Case is New</label>
        <locationX>1766</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>Criteria</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_is_new_Bill_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_BB_Case</targetReference>
            </connector>
            <label>Case is new - Bill Process</label>
        </rules>
    </decisions>
    <decisions>
        <name>Criteria</name>
        <label>Criteria</label>
        <locationX>1766</locationX>
        <locationY>984</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bill_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bill_Uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bill_Uploaded_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Bill_Uploaded_Info</targetReference>
            </connector>
            <label>Bill Uploaded</label>
        </rules>
        <rules>
            <name>Bill_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bill_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bill_Sent_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_BuyBack_Bill_Process</targetReference>
            </connector>
            <label>Bill Sent</label>
        </rules>
        <rules>
            <name>Proof_of_Payment_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Proof_of_Payment_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Proof_of_Payment_Received_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Proof_Of_Payment_Received</targetReference>
            </connector>
            <label>Proof of Payment Received</label>
        </rules>
    </decisions>
    <decisions>
        <name>Criteria_V2</name>
        <label>Criteria V2</label>
        <locationX>3218</locationX>
        <locationY>768</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Chargeback_is_Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bill Paid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Bill Paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Zone_Seller_0</targetReference>
            </connector>
            <label>Chargeback is Paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Case_merchant</name>
        <label>Decision - Case merchant</label>
        <locationX>5000</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Start_Round_Robin_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_contact</targetReference>
            </connector>
            <label>Contact is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Changed_owner</name>
        <label>Decision - Changed owner</label>
        <locationX>4274</locationX>
        <locationY>2064</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Owner:User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Open_Cases_for_Previous_Owner</targetReference>
            </connector>
            <label>Owner is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_in_Case_Owner</name>
        <label>Decision in Case Owner</label>
        <locationX>4274</locationX>
        <locationY>1128</locationY>
        <defaultConnector>
            <targetReference>Assign_Case_Owner_Merchant_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_to_case_For_BackWatch_EU</name>
            <conditionLogic>1 AND (2 OR ((3 OR 4) AND 5))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Round_Robin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.UserID__c.PA__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EU email-to-case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BackWatch_EU</targetReference>
            </connector>
            <label>Email-to-case - For BackWatch EU</label>
        </rules>
        <rules>
            <name>Email_to_case_For_BackWatch_US</name>
            <conditionLogic>1 AND (2 OR ((3 OR 4) AND 5))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Round_Robin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.UserID__c.Sam__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US email-to-case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BackWatch_US</targetReference>
            </connector>
            <label>Email-to-case - For BackWatch US</label>
        </rules>
        <rules>
            <name>Email_to_case_For_Selfcare_EU</name>
            <conditionLogic>1 AND (2 OR ((3 OR 4) AND 5))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Round_Robin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.UserID__c.Antoine_T__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Selfcare EU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selfcare_EU</targetReference>
            </connector>
            <label>Email-to-case - For Selfcare EU</label>
        </rules>
        <rules>
            <name>Email_to_case_For_MAS_EU</name>
            <conditionLogic>1 AND 4 AND (3 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Round_Robin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EU - Merchant Activation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MAS_EU</targetReference>
            </connector>
            <label>Email-to-case - For MAS EU</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Is_get_empty</name>
        <label>Decision - Is get empty</label>
        <locationX>380</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>Assign_Test_status_to_SalesOnboarding</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_No_Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Onboarding_Process</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_case</targetReference>
            </connector>
            <label>Yes - No Onboarding</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Is_get_empty_0</name>
        <label>Decision - Is get empty</label>
        <locationX>974</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>Assign_Test_status_to_Onboarding_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_No_Buyback_Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Buyback_Onboarding_Process</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_case</targetReference>
            </connector>
            <label>Yes - No Buyback Onboarding</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_on_user_bypass_flow</name>
        <label>decision on user bypass flow</label>
        <locationX>4422</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>user_dont_bypass_flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ByPassFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Test_Details</targetReference>
            </connector>
            <label>user dont bypass flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Zone_Seller_0</name>
        <label>Decision - Zone Seller</label>
        <locationX>2954</locationX>
        <locationY>888</locationY>
        <defaultConnector>
            <targetReference>Action_EN_Send_Email_for_ChargeBack_Paid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FR_BE_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-fr</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-be</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Action_FR_Send_Email_for_ChargeBack_Paid</targetReference>
            </connector>
            <label>FR - BE</label>
        </rules>
        <rules>
            <name>US_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Merchant_US__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Action_US_Send_Email_for_ChargeBack_Paid</targetReference>
            </connector>
            <label>US</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_contact_found</name>
        <label>Is contact found</label>
        <locationX>4670</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>Assign_Start_Round_Robin_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_contact_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_current_case_Contact_and_Business_Name</targetReference>
            </connector>
            <label>Case contact found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Team_Populated</name>
        <label>Is Team Populated?</label>
        <locationX>182</locationX>
        <locationY>888</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Team_is_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Recipient_email_sales__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_The_Team</targetReference>
            </connector>
            <label>Team is populated</label>
        </rules>
    </decisions>
    <decisions>
        <description>Filter on SSC case record types</description>
        <name>SSC_cases_Deadline</name>
        <label>SSC cases Deadline</label>
        <locationX>6254</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_record_types_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.CaseRecordType__c.After_Sales_Services__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.CaseRecordType__c.Quality_and_Sales_Performance__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.CaseRecordType__c.Finance_and_Legal__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.CaseRecordType__c.Catalog__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.CaseRecordType__c.Back_Market_Services__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.CaseRecordType__c.Buyback_only_available_for_EU_sellers__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.CaseRecordType__c.Back_Office_Integrators_Technic__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.CaseRecordType__c.Generic_Case__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_case_status_to_in_progress</targetReference>
            </connector>
            <label>Case record types</label>
        </rules>
    </decisions>
    <decisions>
        <name>Test_Details</name>
        <label>Test Details</label>
        <locationX>2987</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Quality_Test</name>
            <conditionLogic>( 1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Record_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quality_Test</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quality_Test_US_Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Onboarding_Process</targetReference>
            </connector>
            <label>Sales Quality Test</label>
        </rules>
        <rules>
            <name>BuyBack_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Record_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quality_Test_Buyback</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Buyback_Onboarding_Process</targetReference>
            </connector>
            <label>BuyBack Test</label>
        </rules>
        <rules>
            <name>BuyBack_Bill_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BuyBackBillProcess</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_is_New_0</targetReference>
            </connector>
            <label>BuyBack Bill Process</label>
        </rules>
        <rules>
            <name>BuyBack_Bill_Process_V2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.CaseRecordType__c.BuyBack_Bill_Process_V2__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_BizDev_and_contact_Email</targetReference>
            </connector>
            <label>BuyBack Bill Process V2</label>
        </rules>
        <rules>
            <name>Case_is_Email_to_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.CaseRecordType__c.BackWatch_Merchant_contact__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Start_Round_Robin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Case_merchant</targetReference>
            </connector>
            <label>Case is Email-to-case</label>
        </rules>
    </decisions>
    <description>Bug when multiple onboarding processes : select only the last one created</description>
    <environments>Default</environments>
    <formulas>
        <name>After3BusinessDays</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(CASE(
  MOD( ({!$Record.Has_been_created_on__c} +3) - DATE( 1900, 1, 8 ), 7 ),
  0, {!$Record.Has_been_created_on__c} +3,
  1, {!$Record.Has_been_created_on__c} +3,
  2, {!$Record.Has_been_created_on__c} +3,
  3, {!$Record.Has_been_created_on__c} +3,
  4, {!$Record.Has_been_created_on__c} +3,
  5, {!$Record.Has_been_created_on__c}+5, 
{!$Record.Has_been_created_on__c} +4
))+&quot; &quot;+&apos;10:00:00&apos;)</expression>
    </formulas>
    <formulas>
        <name>After3BusinessDaysDAY</name>
        <dataType>Date</dataType>
        <expression>CASE(
  MOD( ({!$Record.Has_been_created_on__c}+3) - DATE( 1900, 1, 8 ), 7 ),
  0, {!$Record.Has_been_created_on__c}+3,
  1, {!$Record.Has_been_created_on__c}+3,
  2, {!$Record.Has_been_created_on__c}+3,
  3, {!$Record.Has_been_created_on__c}+3,
  4, {!$Record.Has_been_created_on__c}+3,
  5, {!$Record.Has_been_created_on__c}+5, 
{!$Record.Has_been_created_on__c}+4
)</expression>
    </formulas>
    <formulas>
        <name>After_3_days</name>
        <dataType>Date</dataType>
        <expression>NOW()+3</expression>
    </formulas>
    <formulas>
        <name>BizDev_Email</name>
        <dataType>String</dataType>
        <expression>if( {!$Record.Account.BizDev_Team__c}= &apos;SSM Back Watch E.U.&apos;, &apos;backwatch@backmarket.com&apos;, 
if( {!$Record.Account.BizDev_Team__c}= &apos;Activation E.U.&apos;, &apos;backwatch@backmarket.com&apos;, 
if( {!$Record.Account.BizDev_Team__c}= &apos;SSM Back Watch U.S.&apos;, &apos;sam@backmarket.com&apos;,
if( {!$Record.Account.BizDev_Team__c}= &apos;SSM Selfcare E.U.&apos;, &apos;selfcare@backmarket.com&apos;,
{!$Record.Merchant_BizDev__r.Email}
))))</expression>
    </formulas>
    <formulas>
        <name>BuyBackBillProcess</name>
        <dataType>String</dataType>
        <expression>{!$Setup.CaseRecordType__c.Merchant_Refund__c}</expression>
    </formulas>
    <formulas>
        <name>Numberofopencases</name>
        <dataType>Number</dataType>
        <expression>{!NuberOfOpenCasesCurrentOwner}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>StatusQualityTest</name>
        <dataType>String</dataType>
        <expression>if(ISPICKVAL({!$Record.Stage__c},&quot;Accepted&quot;),&quot;All good&quot;, &quot;Intervention needed&quot;)</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Case - After Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - After Save Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_BackWatch_EU</name>
        <label>Get BackWatch EU</label>
        <locationX>3746</locationX>
        <locationY>1248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Owner_BackWatch_EU</targetReference>
        </connector>
        <filterLogic>((1 AND 3) OR 4) AND 2 AND 5</filterLogic>
        <filters>
            <field>Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SSM Back Watch E.U.</stringValue>
            </value>
        </filters>
        <filters>
            <field>User_OOO__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Setup.UserID__c.PA__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.UserID__c.Antoine_T__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Current_Number_of_Open_Cases__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BackWatch_US</name>
        <label>Get BackWatch US</label>
        <locationX>4010</locationX>
        <locationY>1248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Owner_BackWatch_US</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SSM Back Watch U.S.</stringValue>
            </value>
        </filters>
        <filters>
            <field>User_OOO__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Current_Number_of_Open_Cases__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Buyback_Onboarding_Process</name>
        <label>Get Buyback Onboarding Process</label>
        <locationX>974</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Is_get_empty_0</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND (4 OR 5)</filterLogic>
        <filters>
            <field>Merchant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Onboarding_buyback__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Onboarding_Buyback_US__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business &amp; Quality Prerequisites</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Go-Live Prerequisites</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding_Process__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_contact</name>
        <label>Get contact</label>
        <locationX>4670</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_contact_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Email_to_case_Prio_contact__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MAS_EU</name>
        <label>Get MAS EU</label>
        <locationX>4538</locationX>
        <locationY>1248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Owner_MAS_EU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activation E.U.</stringValue>
            </value>
        </filters>
        <filters>
            <field>User_OOO__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Setup.UserID__c.Felix__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Current_Number_of_Open_Cases__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Onboarding_Process</name>
        <label>Get Onboarding Process</label>
        <locationX>380</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Is_get_empty</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Merchant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Onboarding__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Onboarding_US__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding_Process__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Cases_for_Current_Owner</name>
        <label>Get Open Cases for Current Owner</label>
        <locationX>4274</locationX>
        <locationY>1704</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Number_of_Open_Cases_to_User</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 4) AND 3</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.CaseRecordType__c.BackWatch_Merchant_contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Cases_for_Previous_Owner</name>
        <label>Get Open Cases for Previous Owner</label>
        <locationX>4142</locationX>
        <locationY>2184</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Number_of_Open_Cases_to_Previous_User</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 4) AND 3</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.CaseRecordType__c.BackWatch_Merchant_contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selfcare_EU</name>
        <label>Get Selfcare EU</label>
        <locationX>4274</locationX>
        <locationY>1248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Owner_Selfcare_EU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SSM Selfcare E.U.</stringValue>
            </value>
        </filters>
        <filters>
            <field>User_OOO__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Current_Number_of_Open_Cases__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_BB_Case</name>
        <label>Update Case</label>
        <locationX>1634</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Send_Email_to_the_merchant</targetReference>
        </connector>
        <inputAssignments>
            <field>Merchant_Notified_by_Email__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.BizDev_Buyback__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Bill_Uploaded_Info</name>
        <label>Update Bill Uploaded Info</label>
        <locationX>1370</locationX>
        <locationY>1104</locationY>
        <connector>
            <targetReference>Send_Email_about_the_status_change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bill_Uploaded_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BuyBack_Bill_Process</name>
        <label>Update BuyBack Bill Process</label>
        <locationX>1634</locationX>
        <locationY>1104</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bill_Sent_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Merchant Reply</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_case</name>
        <label>Update case</label>
        <locationX>182</locationX>
        <locationY>768</locationY>
        <connector>
            <targetReference>Is_Team_Populated</targetReference>
        </connector>
        <inputAssignments>
            <field>Tech_Test_not_used__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_Owner</name>
        <label>Update Current Owner</label>
        <locationX>4274</locationX>
        <locationY>1944</locationY>
        <connector>
            <targetReference>Decision_Changed_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Current_Number_of_Open_Cases__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>NuberOfOpenCasesCurrentOwner</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Number_of_Open_Cases__c</field>
            <value>
                <elementReference>NuberOfOpenCasesCurrentOwner</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CurrentCase</name>
        <label>Update CurrentCase</label>
        <locationX>4274</locationX>
        <locationY>1584</locationY>
        <connector>
            <targetReference>Get_Open_Cases_for_Current_Owner</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CurrentCase_0</name>
        <label>Update CurrentCase</label>
        <locationX>4274</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>Decision_in_Case_Owner</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Onboarding_0</name>
        <label>Update Onboarding</label>
        <locationX>578</locationX>
        <locationY>888</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_Team_Populated</targetReference>
        </connector>
        <inputReference>Onboarding_Process</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Previous_Owner</name>
        <label>Update Previous Owner</label>
        <locationX>4142</locationX>
        <locationY>2424</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Current_Number_of_Open_Cases__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>NuberOfOpenCasesCurrentOwner</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Number_of_Open_Cases__c</field>
            <value>
                <elementReference>NuberOfOpenCasesCurrentOwner</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Proof_Of_Payment_Received</name>
        <label>Update Proof Of Payment Received</label>
        <locationX>1898</locationX>
        <locationY>1104</locationY>
        <connector>
            <targetReference>Send_Email_to_Mathilde</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Proof_of_Payment_Received_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_case_status_to_in_progress</name>
        <label>Update the case status to in progress</label>
        <locationX>6122</locationX>
        <locationY>408</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>5212</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decision_on_user_bypass_flow</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Case_Deadline</name>
            <connector>
                <targetReference>SSC_cases_Deadline</targetReference>
            </connector>
            <label>Case Deadline</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Case_Deadline__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Body_EN</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;As you have recently contacted the Seller Support Center, we would like to know your rating of our support and what could be improved. Please take 2 minutes to provide us with feedback, by clicking on the following link: &lt;a href=&quot;https://backmarketportal.force.com/ssc/survey/runtimeApp.app?invitationId=0Ki3X000000dp4E&amp;amp;surveyName=ssc_survey_final_en&amp;amp;UUID=0275e912-d1bc-4463-bb4d-24dac9e45e75&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;LINK&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks in advance for your time&lt;/p&gt;&lt;p&gt;The Seller Support Team&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Body_FR</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Bonjour&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Comme vous avez rcemment contact le centre d&apos;assistance aux vendeurs, nous aimerions connatre votre valuation de notre assistance et ce qui pourrait tre amlior. Veuillez prendre 2 minutes pour nous faire part de vos commentaires, en cliquant sur le lien suivant : &lt;a href=&quot;https://backmarketportal.force.com/ssc/survey/runtimeApp.app?invitationId=0Ki3X000000dqFN&amp;amp;surveyName=ssc_survey_final_fr&amp;amp;UUID=d1bf9825-5914-4da4-be8e-5275aa203e2c&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;LINK&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Merci d&apos;avance pour votre temps&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The Seller Support Team&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EN_BuybackCasePaid_EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;As mentioned in a previous email, one or more of your direct debit payments in the amount of {!$Record.Chargeback_Amount__c} were refused by your bank.&amp;nbsp;&lt;/p&gt;&lt;p&gt;Weve since received your transfer covering the overdraft amount as well as the fee of 7,5 per order, so your account has been reactivated.&lt;/p&gt;&lt;p&gt;Thanks for your payment. Youre all set to participate in BuyBack again.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best,&lt;/p&gt;&lt;p&gt;BackBot&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EN_NewCase_Buyback_EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Recently one or more of your direct debit payments for {!$Record.Account.Name} were refused by your bank. See details attached.&lt;/p&gt;&lt;p&gt;Dont worry, we covered the payment of each order for you, but youll be billed for the total amount of the orders plus a fee of 7,5 per order.&amp;nbsp;&lt;/p&gt;&lt;p&gt;Your store has been taken offline temporarily but will be reactivated once you have transferred the money and we have proof of the deposit.&lt;/p&gt;&lt;p&gt;You can find Back Markets invoice and bank details attached to this email. Please note the invoice must be paid as soon as possible.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Feel free to reach out with any questions.&lt;/p&gt;&lt;p&gt;Best,&lt;/p&gt;&lt;p&gt;Back Market&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>FR_BuybackCasePaid_EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Bonjour,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Comme annonc il y a quelques jours, un ou plusieurs de vos paiements effectus par prlvement SEPA ont t refuss ces dernires semaines, pour un montant de {!$Record.Chargeback_Amount__c}. &lt;/p&gt;&lt;p&gt;Vous avez t dbit du montant des paiements et de la pnalit de 7,5 par commande.&lt;/p&gt;&lt;p&gt;Votre Portefeuille Virtuel tant suffisamment crdit, ces montants ont pu tre compenss, conformment  l&apos;article &quot;Paiement compensatoire&quot; de nos CGV, comme indiqu sur la dernire facture. Votre compte de rachat a donc t ractiv. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Bien  vous,&lt;/p&gt;&lt;p&gt;L&apos;quipe Buyback&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>FR_BuybackCasePaid_EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[Reprise] - Votre boutique est de nouveau en ligne - Merci pour votre rgularisation</text>
    </textTemplates>
    <textTemplates>
        <name>FR_NewCase_Buyback_EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Bonjour,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Un ou plusieurs paiements effectus par le magasin {!$Record.Account.Name} (qui est en prlvement SEPA) ont t refuss courant ces dernires semaines. Le dtail des paiements est en pice jointe.&lt;/p&gt;&lt;p&gt;En raison du refus de votre banque, Back Market a pris en charge le paiement de chaque commande plus une pnalit de 7,5 euros par commande. Le montant TTC des commandes et la pnalit vous sont donc refacturs. &lt;/p&gt;&lt;p&gt;Par consquent, votre compte a t mis hors ligne. Il sera ractiv une fois la preuve de virement envoye.&lt;/p&gt;&lt;p&gt;Je vous joins donc la facture et le RIB de Back Market. La facture est  rgler au plus vite.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;N&apos;hsitez pas  nous contacter si vous rencontrez un problme ou pour toute information complmentaire.&lt;/p&gt;&lt;p&gt;Bonne journe,&lt;/p&gt;&lt;p&gt;Back Market&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>FR_NewCase_Buyback_EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>ChargeBacks Back Market Reprise - {!$Record.Account.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>SSC_Case_Subject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Case from Seller Support Centre &lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>US_BuybackCasePaid_EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;As mentioned in a previous email, one or more of your direct debit payments in the amount of {!$Record.Chargeback_Amount__c} were refused by your bank.&amp;nbsp;&lt;/p&gt;&lt;p&gt;Weve since received your transfer covering the overdraft amount as well as the fee of $8 per order, so your account has been reactivated.&lt;/p&gt;&lt;p&gt;Thanks for your payment. Youre all set to participate in BuyBack again.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best,&lt;/p&gt;&lt;p&gt;BackBot&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>US_EN_BuybackCasePaid_EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[BuyBack] Your store is back online  thanks for your payment</text>
    </textTemplates>
    <textTemplates>
        <name>US_EN_NewCase_Buyback_EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[BuyBack] Overdraft alert  the bank account for {!$Record.Account.Name} has been overdrawn</text>
    </textTemplates>
    <textTemplates>
        <name>US_NewCase_Buyback_EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Recently one or more of your direct debit payments for {!$Record.Account.Name} were refused by your bank. See details attached.&lt;/p&gt;&lt;p&gt;Dont worry, we covered the payment of each order for you, but youll be billed for the total amount of the orders plus a fee of $8 per order.&amp;nbsp;&lt;/p&gt;&lt;p&gt;Your store has been taken offline temporarily but will be reactivated once you have transferred the money and we have proof of the deposit.&lt;/p&gt;&lt;p&gt;You can find Back Markets invoice and bank details attached to this email. Please note the invoice must be paid as soon as possible.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Feel free to reach out with any questions.&lt;/p&gt;&lt;p&gt;Best,&lt;/p&gt;&lt;p&gt;Back Market&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CSATSurvey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Contact.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>CurrentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>NuberOfOpenCasesCurrentOwner</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberOfOpenCasesPreviousOwner</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Onboarding_Process</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Process__c</objectType>
    </variables>
    <variables>
        <name>SSCEmailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TECH_Contact_Added</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Var_ListEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
