force-app/main/default/flows/Case_Before_Save_Flow_SSC_Set_ownership_and_skills.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Backrepair_queue</name>
        <label>Assign Backrepair queue</label>
        <locationX>3042</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Backrepair_queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_email_to_case_origin_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_backship_queue</name>
        <label>Assign backship queue</label>
        <locationX>974</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_backship_queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_reason_details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_backship_queue_2</name>
        <label>Assign backship queue</label>
        <locationX>2734</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_backship_queue_2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_origin_skill_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_backship_queue_2_0</name>
        <label>Assign backship queue</label>
        <locationX>3306</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_backship_queue_2_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_carrier_skills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BM4B_queue</name>
        <label>Assign BM4B queue</label>
        <locationX>1546</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BM4B_queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_carrier_skills</name>
        <label>Assign skills</label>
        <locationX>3306</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type_Skill__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Carrier Investigation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Origin_Skill__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BackShip</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_CSC_record_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_contact</name>
        <label>Assign contact</label>
        <locationX>4010</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CSC_record_type</name>
        <label>Assign CSC record type</label>
        <locationX>3306</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.CaseRecordType__c.Customer_Support_Case__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_default_SSA_queue_0</name>
        <label>Assign default SSA queue</label>
        <locationX>1282</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SSA_Queue_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_skills_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_default_SSA_queue_0_0</name>
        <label>Assign default SSA queue</label>
        <locationX>2338</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SSA_Queue_0_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_skills_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_default_SSA_queue_0_0_0_0</name>
        <label>Assign default SSA queue</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SSA_Queue_0_0_0_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_skills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_default_SSA_queue_0_0_0_0_0</name>
        <label>Assign default SSA queue</label>
        <locationX>1810</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SSA_Queue_0_0_0_0_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_origin_skill_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_default_SSA_queue_0_0_0_0_0_0</name>
        <label>Assign default SSA queue</label>
        <locationX>2074</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SSA_Queue_0_0_0_0_0_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_origin_skill_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_default_type_skill</name>
        <label>Assign default type skill</label>
        <locationX>2564</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type_Skill__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Default Type</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_origin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_email_to_case_origin</name>
        <label>Assign email to case origin</label>
        <locationX>2338</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email to case</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_SSC_record_type_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_email_to_case_origin_0</name>
        <label>Assign email to case origin</label>
        <locationX>2734</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email to case</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_on_sujet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_email_to_case_origin_0_0</name>
        <label>Assign email to case origin</label>
        <locationX>3042</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>$Record.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email to case</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_CSC_record_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_EN_language</name>
        <label>Assign EN language</label>
        <locationX>2602</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>$Record.Language_Skill__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>English</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_SSC_record_type_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_lab_queue</name>
        <label>Assign lab queue</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_lab_queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_origin_skill</name>
        <label>Assign origin skill</label>
        <locationX>974</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>$Record.Origin_Skill__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BackShip</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_origin_skill_0</name>
        <label>Assign origin skill</label>
        <locationX>2734</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>$Record.Origin_Skill__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BackShip</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_email_to_case_origin_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_origin_skill_0_0</name>
        <label>Assign origin skill</label>
        <locationX>1810</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>$Record.Origin_Skill__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SSA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_origin_skill_0_0_0</name>
        <label>Assign origin skill</label>
        <locationX>2074</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.Origin_Skill__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SSA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Return_Label_skill</name>
        <label>Assign Return Label skill</label>
        <locationX>842</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type_Skill__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Return Label</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_origin_skill</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_return_label_skill_transport</name>
        <label>Assign return label skill</label>
        <locationX>2602</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type_Skill__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Return Label</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_on_subject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_services_0</name>
        <label>Assign services</label>
        <locationX>2338</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BackPack</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_SSA_Queue_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_services_0_0</name>
        <label>Assign services</label>
        <locationX>3746</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BackParts</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_SSA_Queue_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_services_0_0_0</name>
        <label>Assign services</label>
        <locationX>2734</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BackShip</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_backship_queue_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_services_0_0_0_0</name>
        <label>Assign services</label>
        <locationX>3042</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BackRepair</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Backrepair_queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Services_Subscription_queue</name>
        <label>Assign Services Subscription queue</label>
        <locationX>578</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Services_Subscription_queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_skills</name>
        <label>Assign skills</label>
        <locationX>314</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type_Skill__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Catalog</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Origin_Skill__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SSA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_skills_0</name>
        <label>Assign skills</label>
        <locationX>1282</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type_Skill__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Services</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Origin_Skill__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SSA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_skills_0_0</name>
        <label>Assign skills</label>
        <locationX>2338</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type_Skill__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Services</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Origin_Skill__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SSA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_email_to_case_origin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SSC_record_type_0</name>
        <label>Assign SSC record type</label>
        <locationX>2734</locationX>
        <locationY>1943</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.CaseRecordType__c.Seller_Support_Case__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_case_language_to_english</name>
        <label>Update case language to english</label>
        <locationX>2696</locationX>
        <locationY>2447</locationY>
        <assignmentItems>
            <assignToReference>$Record.Language_Skill__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>English</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_case_language_to_french</name>
        <label>Update case language to french</label>
        <locationX>2432</locationX>
        <locationY>2447</locationY>
        <assignmentItems>
            <assignToReference>$Record.Language_Skill__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>French</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Account_country</name>
        <label>Account country</label>
        <locationX>2564</locationX>
        <locationY>2327</locationY>
        <defaultConnector>
            <targetReference>Update_case_language_to_english</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>French_country</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Belgium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Luxembourg</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Switzerland</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>France</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_case_language_to_french</targetReference>
            </connector>
            <label>French country</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_origin</name>
        <label>Case origin</label>
        <locationX>2564</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Account_country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SSC_form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SSC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_type</targetReference>
            </connector>
            <label>SSC form</label>
        </rules>
        <rules>
            <name>SSC_Packaging_or_Components</name>
            <conditionLogic>(1 OR 2) AND ((3 AND 4) OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SSC - Packaging</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SSC - Components</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.CaseRecordType__c.Generic_Case__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.SUPPORT_CASE_ZENDESK_EMAIL</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.CaseRecordType__c.Generic_Case__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_services_0</targetReference>
            </connector>
            <label>SSC Packaging or Components</label>
        </rules>
        <rules>
            <name>SSC_Transport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SSC - Transport</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_services_0_0_0</targetReference>
            </connector>
            <label>SSC Transport</label>
        </rules>
        <rules>
            <name>SSC_Backrepair</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SSC - BackRepair</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_services_0_0_0_0</targetReference>
            </connector>
            <label>SSC Backrepair</label>
        </rules>
        <rules>
            <name>CCBM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCBM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_reason_CCBM</targetReference>
            </connector>
            <label>CCBM</label>
        </rules>
        <rules>
            <name>SSC_Components</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SSC - Components</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_services_0_0</targetReference>
            </connector>
            <label>SSC Components</label>
        </rules>
        <rules>
            <name>BM4B_Support_Email_to_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email to case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contacts</targetReference>
            </connector>
            <label>BM4B Support Email to Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_reason</name>
        <label>Case reason</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Get_SSA_Queue_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_category</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Apply to sell a restricted product category</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_lab_queue</targetReference>
            </connector>
            <label>Product category</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_reason_2</name>
        <label>Case reason</label>
        <locationX>985</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Case_service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Subscribe_service_or_Unsubscribe_service</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subscribe</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unsubscribe</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Services_Subscription_queue</targetReference>
            </connector>
            <label>Subscribe service or Unsubscribe service</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_reason_CCBM</name>
        <label>Case reason</label>
        <locationX>3438</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Account_country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Carrier_Investigation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Carrier Investigation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_backship_queue_2_0</targetReference>
            </connector>
            <label>Carrier Investigation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_reason_details</name>
        <label>Case reason details</label>
        <locationX>974</locationX>
        <locationY>1391</locationY>
        <defaultConnector>
            <targetReference>Assign_origin_skill</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Issue_with_a_Label</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Reason_Details__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Issue with a label</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Return_Label_skill</targetReference>
            </connector>
            <label>Issue with a Label</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_service</name>
        <label>Case service</label>
        <locationX>1392</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Get_SSA_Queue_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Backship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BackShip</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_backship_queue</targetReference>
            </connector>
            <label>Backship</label>
        </rules>
        <rules>
            <name>BackRepair_or_BackPack_or_BackParts</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BackRepair</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BackPack</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BackParts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SSA_Queue_0</targetReference>
            </connector>
            <label>BackRepair or BackPack or BackParts</label>
        </rules>
        <rules>
            <name>Back_Market_for_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back Market for Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BM4B_queue</targetReference>
            </connector>
            <label>Back Market for Business</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_type</name>
        <label>Case type</label>
        <locationX>855</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Is_service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Listings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Listings</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_reason</targetReference>
            </connector>
            <label>Listings</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_subject</name>
        <label>Decision on subject</label>
        <locationX>2734</locationX>
        <locationY>1607</locationY>
        <defaultConnector>
            <targetReference>Assign_SSC_record_type_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>transportSubjectContainsUS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_EN_language</targetReference>
            </connector>
            <label>US</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_sujet</name>
        <label>Decision on subject</label>
        <locationX>2734</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Decision_on_subject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Return_label</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>transportSubjectContainsReturnLabel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_return_label_skill_transport</targetReference>
            </connector>
            <label>Return label</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_user_bypass_flow</name>
        <label>Does user bypass flow</label>
        <locationX>3507</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_bypass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ByPassFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_default_type_skill</targetReference>
            </connector>
            <label>No bypass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_service</name>
        <label>Is service</label>
        <locationX>1529</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Get_SSA_Queue_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_reason_2</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>BM4B email to case</description>
    <environments>Default</environments>
    <formulas>
        <name>transportSubjectContainsReturnLabel</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS(LOWER({!$Record.Subject}), &apos;return label&apos;)</expression>
    </formulas>
    <formulas>
        <name>transportSubjectContainsUS</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS(LOWER({!$Record.Subject}), &apos;us_&apos;)</expression>
    </formulas>
    <interviewLabel>Case - Before Save Flow - SSC Set ownership and skills {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Before Save Flow - SSC Set ownership and skills</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Backrepair_queue</name>
        <label>Get Backrepair queue</label>
        <locationX>3042</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Backrepair_queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BackRepair</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_backship_queue</name>
        <label>Get backship queue</label>
        <locationX>974</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_backship_queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BackShip</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_backship_queue_2</name>
        <label>Get backship queue</label>
        <locationX>2734</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_backship_queue_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BackShip</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_backship_queue_2_0</name>
        <label>Get backship queue</label>
        <locationX>3306</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_backship_queue_2_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BackShip</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BM4B_queue</name>
        <label>Get BM4B queue</label>
        <locationX>1546</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_BM4B_queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BM4B</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get contacts to update the case record</description>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>4010</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Spotted as duplicate coming from BO (will be deleted)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_lab_queue</name>
        <label>Get lab queue</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_lab_queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lab</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Services_Subscription_queue</name>
        <label>Get Services Subscription queue</label>
        <locationX>578</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Services_Subscription_queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Services_Subscription</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SSA_Queue_0</name>
        <label>Get SSA Queue</label>
        <locationX>1282</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_default_SSA_queue_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Seller_Support_Advisors</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SSA_Queue_0_0</name>
        <label>Get SSA Queue</label>
        <locationX>2338</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_default_SSA_queue_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Seller_Support_Advisors</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SSA_Queue_0_0_0_0</name>
        <label>Get SSA Queue</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_default_SSA_queue_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Seller_Support_Advisors</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SSA_Queue_0_0_0_0_0</name>
        <label>Get SSA Queue</label>
        <locationX>1810</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_default_SSA_queue_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Seller_Support_Advisors</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SSA_Queue_0_0_0_0_0_0</name>
        <label>Get SSA Queue</label>
        <locationX>2074</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_default_SSA_queue_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Seller_Support_Advisors</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>3381</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Does_user_bypass_flow</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
