force-app/main/default/flows/Contact_Before_Deletion_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Add_1_business_contact</name>
        <label>Assign Add 1 business contact</label>
        <locationX>866</locationX>
        <locationY>699</locationY>
        <assignmentItems>
            <assignToReference>Number_of_Business_contacts</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Is_buyback_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Add_1_buyback_contact</name>
        <label>Assign Add 1 buyback contact</label>
        <locationX>1202</locationX>
        <locationY>707</locationY>
        <assignmentItems>
            <assignToReference>Number_of_Buyback_contacts</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Add_1_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Add_1_contact</name>
        <label>Assign Add 1 contact</label>
        <locationX>1201</locationX>
        <locationY>501</locationY>
        <assignmentItems>
            <assignToReference>Number_of_contacts</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_liste_of_contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_liste_of_contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Is_buyback_contact</name>
        <label>Decision Is buyback contact</label>
        <locationX>1026</locationX>
        <locationY>605</locationY>
        <defaultConnector>
            <targetReference>Assign_Add_1_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_buyback_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>current_record_contains_buyback</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyback</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Add_1_buyback_contact</targetReference>
            </connector>
            <label>Add buyback contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Is_contact</name>
        <label>Decision Is Business contact</label>
        <locationX>626</locationX>
        <locationY>597</locationY>
        <defaultConnector>
            <targetReference>Decision_Is_buyback_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Business_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_record_contains_Business</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Add_1_business_contact</targetReference>
            </connector>
            <label>Add Business contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_list_of_contact_is_empty</name>
        <label>Decision current contact should not count</label>
        <locationX>412</locationX>
        <locationY>692</locationY>
        <defaultConnector>
            <targetReference>Decision_Is_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_contact_does_nt_count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_liste_of_contacts.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_liste_of_contacts</targetReference>
            </connector>
            <label>Current contact does&apos;nt count</label>
        </rules>
    </decisions>
    <formulas>
        <name>Current_record_contains_Business</name>
        <dataType>String</dataType>
        <expression>IF(Includes({!TEMP_contact.Roles__c}, &quot;Business&quot;),&quot;Business&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>current_record_contains_buyback</name>
        <dataType>String</dataType>
        <expression>IF(Includes({!TEMP_contact.Roles__c}, &quot;Buyback&quot;),&quot;Buyback&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Has_Business_Contact</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Number_of_Business_contacts}&gt;0,TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>Has_Buyback_Contact</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Number_of_Buyback_contacts}&gt;0,TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>Has_Contact</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Number_of_contacts}&gt;0,TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>Record_Contains_Business_Role</name>
        <dataType>String</dataType>
        <expression>IF(Includes({!$Record.Roles__c}, &quot;Business&quot;),&quot;Business&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Record_Contains_Buyback_Role</name>
        <dataType>String</dataType>
        <expression>IF(Includes({!$Record.Roles__c}, &quot;Buyback&quot;),&quot;Buyback&quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Contact - Before Deletion Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Before Deletion Flow</label>
    <loops>
        <name>Loop_on_liste_of_contacts</name>
        <label>Loop on liste of contacts</label>
        <locationX>177</locationX>
        <locationY>603</locationY>
        <collectionReference>List_of_related_contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_list_of_contact_is_empty</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Merchant_with_contact_information</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_contacts_related_to_merchant</name>
        <label>Get contacts related to merchant</label>
        <locationX>173</locationX>
        <locationY>412</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_liste_of_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>List_of_related_contacts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Roles__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Merchant</name>
        <label>Get Merchant</label>
        <locationX>173</locationX>
        <locationY>272</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_contacts_related_to_merchant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Merchant_with_contact_information</name>
        <label>Update Merchant with contact information</label>
        <locationX>178</locationX>
        <locationY>950</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Has_Business_Contact__c</field>
            <value>
                <elementReference>Has_Business_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Has_Contact__c</field>
            <value>
                <elementReference>Has_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Has_buyback_contact__c</field>
            <value>
                <elementReference>Has_Buyback_Contact</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Merchant</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>List_of_related_contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Number_of_Business_contacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Number_of_Buyback_contacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Number_of_contacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TEMP_contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
