force-app/main/default/flows/Create_Support_Ticket.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Email_alert_to_creator</name>
        <label>Email alert to creator</label>
        <locationX>367</locationX>
        <locationY>1635</locationY>
        <actionName>Case.New_case_submitted</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AssignTRUE</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Create_case</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_the_Team</name>
        <label>Notify the Team</label>
        <locationX>766</locationX>
        <locationY>1643</locationY>
        <actionName>Case.Case_has_been_created</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Decision_Don_t_add_file</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Create_case</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AssignTRUE</name>
        <label>AssignTRUE</label>
        <locationX>632</locationX>
        <locationY>1867</locationY>
        <assignmentItems>
            <assignToReference>Emailtocreatorsent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EmailSent</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ActionplanwithKPIOKona2weekcohort</name>
        <choiceText>&lt;span style=&quot;font-family: Arial; font-size: 10pt; color: rgb(0, 0, 0);&quot;&gt;Action plan with KPI OK on a 2-week cohort&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Action plan with KPI OK on a 2-week cohort</stringValue>
        </value>
    </choices>
    <choices>
        <name>Asia</name>
        <choiceText>Asia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Asia</stringValue>
        </value>
    </choices>
    <choices>
        <name>Autolimitation</name>
        <choiceText>Autolimitation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Autolimitation</stringValue>
        </value>
    </choices>
    <choices>
        <name>BB_CharterBreach</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;BB - Charter Breach &lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BB - Charter Breach </stringValue>
        </value>
    </choices>
    <choices>
        <name>BBCancellationratefunctional</name>
        <choiceText>BB - Cancellation rate (functional)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BB - Cancellation rate (functional)</stringValue>
        </value>
    </choices>
    <choices>
        <name>BBCounterproposalratefunctional</name>
        <choiceText>BB - Counter-Proposal rate (functional)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BB - Counter-Proposal rate (functional)</stringValue>
        </value>
    </choices>
    <choices>
        <name>BBCounterproposalratenonfunctional</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;BB - Counter-Proposal rate (non functional)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BB - Counter-Proposal rate (non functional)</stringValue>
        </value>
    </choices>
    <choices>
        <name>BBLateprocessingrate</name>
        <choiceText>BB - Late processing rate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BB - Late processing rate</stringValue>
        </value>
    </choices>
    <choices>
        <name>BBLateresponse24hrate</name>
        <choiceText>BB - Late response 24H rate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BB - Late response 24H rate</stringValue>
        </value>
    </choices>
    <choices>
        <name>BBPendingorderrate</name>
        <choiceText>BB - Pending order rate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BB - Pending order rate</stringValue>
        </value>
    </choices>
    <choices>
        <name>BMfault</name>
        <choiceText>&lt;span style=&quot;font-family: Arial; font-size: 10pt; color: rgb(0, 0, 0);&quot;&gt;BM fault (e.g. catalog, service, Parcel Lab, ...)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BM fault (e.g. catalog, service, Parcel Lab, ...)</stringValue>
        </value>
    </choices>
    <choices>
        <name>BugError</name>
        <choiceText>Bug / Error</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bug/Error</stringValue>
        </value>
    </choices>
    <choices>
        <description>Business Arbitration</description>
        <name>BusinessArbitration</name>
        <choiceText>Business Arbitration</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Business Arbitration</stringValue>
        </value>
    </choices>
    <choices>
        <name>Charterbreach</name>
        <choiceText>Policy Violation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Policy Violation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Counterfeit</name>
        <choiceText>Counterfeit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Counterfeit</stringValue>
        </value>
    </choices>
    <choices>
        <name>DefectiveOKatthemodelorcategorylevel</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Defective OK at the model or category level (on 100+ orders)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Defective OK at the model or category level (on 100+ orders)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Europe</name>
        <choiceText>Europe</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Europe</stringValue>
        </value>
    </choices>
    <choices>
        <name>EventexternaltoBM_merchant_3rdpartyprovider</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Event external to BM / merchant / 3rd party provider (Storm, Brexit, ...)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Event external to BM / merchant / 3rd party provider (Storm, Brexit, ...)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Exit</name>
        <choiceText>Exit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fieldscreation</name>
        <choiceText>Field(s) Creation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Field(s) creation</stringValue>
        </value>
    </choices>
    <choices>
        <name>GateKeeperbatchCertification</name>
        <choiceText>GateKeeper batch Certification</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GateKeeper batch Certification</stringValue>
        </value>
    </choices>
    <choices>
        <name>HazardousCharger</name>
        <choiceText>Hazardous Charger</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hazardous Charger</stringValue>
        </value>
    </choices>
    <choices>
        <name>Import</name>
        <choiceText>Import</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Import</stringValue>
        </value>
    </choices>
    <choices>
        <name>Invoicenotcompliant</name>
        <choiceText>Invoice not compliant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Invoice not compliant</stringValue>
        </value>
    </choices>
    <choices>
        <name>LastChance</name>
        <choiceText>Last Chance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Last Chance</stringValue>
        </value>
    </choices>
    <choices>
        <name>MerchantpaymentIssue</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Merchant payment Issue&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Merchant payment Issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>MergeDuplicates</name>
        <choiceText>Merge Duplicates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Merge duplicates</stringValue>
        </value>
    </choices>
    <choices>
        <name>MonitoringPeriod</name>
        <choiceText>Monitoring Period</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monitoring Period</stringValue>
        </value>
    </choices>
    <choices>
        <name>NMO</name>
        <choiceText>N.M.O.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N.M.O.</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Process_exception</name>
        <choiceText>Process exception</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Process exception</stringValue>
        </value>
    </choices>
    <choices>
        <name>ProjectProposition</name>
        <choiceText>Project Proposition</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Project Proposition</stringValue>
        </value>
    </choices>
    <choices>
        <name>QualityException</name>
        <choiceText>Quality Exception</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quality Exception</stringValue>
        </value>
    </choices>
    <choices>
        <name>Question</name>
        <choiceText>&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Question</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Question</stringValue>
        </value>
    </choices>
    <choices>
        <name>ReportDashboard</name>
        <choiceText>Report/Dashboard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Report/Dashboard</stringValue>
        </value>
    </choices>
    <choices>
        <name>SafetyandLegalIssue</name>
        <choiceText>Safety and Legal Issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Safety and Legal Issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>SafetyLegalissuealreadyproperlyhandledbymerchant</name>
        <choiceText>Safety / Legal issue already properly handled by Merchant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Safety / Legal issue already properly handled by Merchant</stringValue>
        </value>
    </choices>
    <choices>
        <name>Seatbelt</name>
        <choiceText>SeatBelt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Seatbelt</stringValue>
        </value>
    </choices>
    <choices>
        <name>Servicesubscriptioninallcountrieswheretherateisbelowthethreshold</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Service subscription in all countries where the rate is below the threshold&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Service subscription in all countries where the rate is below the threshold</stringValue>
        </value>
    </choices>
    <choices>
        <name>SSC_Access</name>
        <choiceText>SSC Access</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SSC Access</stringValue>
        </value>
    </choices>
    <choices>
        <name>StrategicpartnershipandBR</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Strategic partnership / Brand and Retailer&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Strategic partnership / Brand and Retailer</stringValue>
        </value>
    </choices>
    <choices>
        <name>TheAccessoriesRate</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;The Accessories Rate&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The Accessories Rate</stringValue>
        </value>
    </choices>
    <choices>
        <name>TheCancellationRate</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;The Cancellation Rate&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The Cancellation Rate</stringValue>
        </value>
    </choices>
    <choices>
        <name>TheCSATRate</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;The CSAT Rate&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The CSAT Rate</stringValue>
        </value>
    </choices>
    <choices>
        <description>The Defective Rate</description>
        <name>TheDefectiveRate</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;The Defective Rate&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The Defective Rate</stringValue>
        </value>
    </choices>
    <choices>
        <name>TheEstheticRate</name>
        <choiceText>&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;The Esthetic Rate&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The Esthetic Rate</stringValue>
        </value>
    </choices>
    <choices>
        <name>TheLateDeliveryRate</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;The Late Delivery Rate&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The Late Delivery Rate</stringValue>
        </value>
    </choices>
    <choices>
        <name>TheLateResponseRate</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;The Late Response Rate&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The Late Response Rate</stringValue>
        </value>
    </choices>
    <choices>
        <name>TheNegativeReviewRate</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;The Negative Review Rate&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The Negative Review Rate</stringValue>
        </value>
    </choices>
    <choices>
        <name>TheWrongProductRate</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;The Wrong Product Rate&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The Wrong Product Rate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Training</name>
        <choiceText>Training</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Training</stringValue>
        </value>
    </choices>
    <choices>
        <name>Untracked</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Untracked&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Untracked</stringValue>
        </value>
    </choices>
    <choices>
        <name>US</name>
        <choiceText>US</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>US</stringValue>
        </value>
    </choices>
    <choices>
        <name>Usercreation</name>
        <choiceText>User Creation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>User creation</stringValue>
        </value>
    </choices>
    <choices>
        <description>Vanishing Deals</description>
        <name>VanishingDeals</name>
        <choiceText>Vanishing Deals</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vanishing Deals</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_Don_t_add_file</name>
        <label>Decision - Don&apos;t add file</label>
        <locationX>950</locationX>
        <locationY>1645</locationY>
        <defaultConnector>
            <targetReference>FileUpload</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Type_is_SSC_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SSC_Access</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Thanks</targetReference>
            </connector>
            <label>Case Type is SSC Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_on_user_bypass</name>
        <label>decision on user bypass</label>
        <locationX>598</locationX>
        <locationY>182</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>user_dont_bypass_flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ByPassFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type</targetReference>
            </connector>
            <label>user dont bypass flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>EmailSent</name>
        <label>EmailSent</label>
        <locationX>595</locationX>
        <locationY>1460</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_to_Creator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Emailtocreatorsent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_alert_to_creator</targetReference>
            </connector>
            <label>Send Email to Creator</label>
        </rules>
        <rules>
            <name>Send_Email_to_Salesforce_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_Email_to_Creator</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_the_Team</targetReference>
            </connector>
            <label>Send Email to Salesforce Team</label>
        </rules>
    </decisions>
    <decisions>
        <name>Redirect_To_Notion</name>
        <label>Redirect To Notion</label>
        <locationX>591</locationX>
        <locationY>476</locationY>
        <defaultConnector>
            <targetReference>Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bug_Error_Question</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bug/error</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Question</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotionProcess</targetReference>
            </connector>
            <label>Bug/Error/Question</label>
        </rules>
        <rules>
            <name>ImportTemplate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Import</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TemplateImport</targetReference>
            </connector>
            <label>ImportTemplate</label>
        </rules>
        <rules>
            <name>Merge_Duplicates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Merge duplicates</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicattes</targetReference>
            </connector>
            <label>Merge Duplicates</label>
        </rules>
        <rules>
            <name>User_creation_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Usercreation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_creation</targetReference>
            </connector>
            <label>User creation type</label>
        </rules>
        <rules>
            <name>Field_s_creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Fieldscreation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Field_s_creation_screen</targetReference>
            </connector>
            <label>Field(s) creation</label>
        </rules>
    </decisions>
    <description>Salesforce Support changed</description>
    <dynamicChoiceSets>
        <name>CaseReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TeamImpacted</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Teams_impacted__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Description_to_assign</name>
        <dataType>String</dataType>
        <expression>if({!CaseType} = {!BusinessArbitration}, {!What_do_you_request},
if({!CaseType} = {!QualityException}, {!What_do_you_request}, {!Tell_us_everything}))</expression>
    </formulas>
    <formulas>
        <name>Problem_to_assign</name>
        <dataType>String</dataType>
        <expression>If( {!CaseType}={!QualityException},{!What_is_your_argument_proof},{!What_is_the_problem})</expression>
    </formulas>
    <formulas>
        <name>Process_to_assign</name>
        <dataType>String</dataType>
        <expression>if({!CaseType} = {!BusinessArbitration}, {!Which_process_BA}, {!Which_process_QE})</expression>
    </formulas>
    <formulas>
        <name>Queue_to_assign</name>
        <dataType>String</dataType>
        <expression>If({!Which_team} = {!Asia}, {!Get_BA_Asia_Queue.Id}, 
If({!Which_team} = {!US}, {!Get_BA_US_Queue.Id},
If({!Which_team} = {!StrategicpartnershipandBR}, {!Get_BA_Strat_and_B_R_Queue.Id},
If({!Which_team} = {!Europe}, {!Get_BA_Europe.Id},
If({!CaseType} = {!QualityException}, {!Get_Quality_Exception_queue.Id}, 
If({!CaseType} = {!SSC_Access}, {!$Setup.UserID__c.SSC_Access_Support_Case__c}, 
{!Get_SF_Queue.Id}))))))</expression>
    </formulas>
    <formulas>
        <name>RecordType_to_assign</name>
        <dataType>String</dataType>
        <expression>if ({!CaseType} = {!QualityException}, {!$Setup.CaseRecordType__c.Quality_Support_Cases__c},
if ({!CaseType} = {!BusinessArbitration}, {!$Setup.CaseRecordType__c.Quality_Support_Cases__c}, {!$Setup.CaseRecordType__c.Support__c}))</expression>
    </formulas>
    <formulas>
        <name>SubjectFormula</name>
        <dataType>String</dataType>
        <expression>{!CaseType}&amp;&quot; / &quot;&amp;{!Give_a_title_to_your_ticket}</expression>
    </formulas>
    <formulas>
        <name>SupportRecordType</name>
        <dataType>String</dataType>
        <expression>{!$Setup.CaseRecordType__c.Support__c}</expression>
    </formulas>
    <interviewLabel>Create Support Ticket {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Support Ticket</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_case</name>
        <label>Create case</label>
        <locationX>602</locationX>
        <locationY>1327</locationY>
        <connector>
            <targetReference>EmailSent</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>BusinessName.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action_plan_details_of_action_and_ETA__c</field>
            <value>
                <elementReference>What_is_the_action_plan_details_of_action_and_ETA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_potential__c</field>
            <value>
                <elementReference>What_is_the_business_potention</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Reason_Details__c</field>
            <value>
                <elementReference>Process_to_assign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description_to_assign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Faulty_KPIs_root_cause_identified__c</field>
            <value>
                <elementReference>What_are_the_faulty_KPIs_root_causes_identified</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_to_existing_report_dashboard__c</field>
            <value>
                <elementReference>LinktoReportDashboard.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue_to_assign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quality_KPIs_concerned__c</field>
            <value>
                <elementReference>Which_KPI_is_in_default</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>CaseType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType_to_assign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_reason_claim__c</field>
            <value>
                <elementReference>What_is_the_reason_for_exception</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Teams_impacted__c</field>
            <value>
                <elementReference>Teams_impacted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_is_the_current_process__c</field>
            <value>
                <elementReference>What_is_the_current_process</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_is_the_goal_of_the_project__c</field>
            <value>
                <elementReference>What_is_the_goal_of_the_project</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_is_the_problem__c</field>
            <value>
                <elementReference>Problem_to_assign</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_BA_Asia_Queue</name>
        <label>Get BA - Asia Queue</label>
        <locationX>698</locationX>
        <locationY>967</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_BA_Europe</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BA_Asia</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BA_Europe</name>
        <label>Get BA - Europe</label>
        <locationX>854</locationX>
        <locationY>967</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_BA_Strat_and_B_R_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BA_Europe</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BA_Strat_and_B_R_Queue</name>
        <label>Get BA - Strat and B&amp;R Queue</label>
        <locationX>1018</locationX>
        <locationY>967</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_BA_US_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BA_Strat_and_B_R</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BA_US_Queue</name>
        <label>Get BA - US Queue</label>
        <locationX>1195</locationX>
        <locationY>967</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SF_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BA_US</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_merchant</name>
        <label>Get merchant</label>
        <locationX>790</locationX>
        <locationY>1173</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_case</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BusinessName.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quality_Exception_queue</name>
        <label>Get Quality Exception queue</label>
        <locationX>1459</locationX>
        <locationY>973</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_merchant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quality_Exception</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SF_Queue</name>
        <label>Get SF Queue</label>
        <locationX>1336</locationX>
        <locationY>967</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quality_Exception_queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Salesforce_Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Details</name>
        <label>Details</label>
        <locationX>547</locationX>
        <locationY>840</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_BA_Asia_Queue</targetReference>
        </connector>
        <fields>
            <name>Give_a_title_to_your_ticket</name>
            <dataType>String</dataType>
            <fieldText>Give a title to your ticket</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Title</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;⬆️&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;This is only for you to be able to easily find the ticket once it&apos;s submitted.&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;i&gt;Salesforce Team won&apos;t use it.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BusinessName</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Business Name - If related to a merchant</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Bug/Error</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Question</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Process exception</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Other</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>QualityException</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>BusinessArbitration</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>SSC_Access</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ErrorMessageBusinessNameMandatory</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(244, 5, 5); background-color: rgb(255, 255, 255);&quot;&gt;Warning - Business Name is mandatory&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>(1 OR 2 OR 4) AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>QualityException</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>BusinessArbitration</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BusinessName.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>SSC_Access</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SSC_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Please give us the &lt;/b&gt;&lt;b style=&quot;color: rgb(234, 6, 6);&quot;&gt;email address of the contact&lt;/b&gt;&lt;b&gt; that should have access to the SSC.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>SSC_Access</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Which_team</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>Asia</choiceReferences>
            <choiceReferences>Europe</choiceReferences>
            <choiceReferences>StrategicpartnershipandBR</choiceReferences>
            <choiceReferences>US</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which team?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>BusinessArbitration</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Which_process_BA</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>MonitoringPeriod</choiceReferences>
            <choiceReferences>LastChance</choiceReferences>
            <choiceReferences>NMO</choiceReferences>
            <choiceReferences>Seatbelt</choiceReferences>
            <choiceReferences>VanishingDeals</choiceReferences>
            <choiceReferences>Exit</choiceReferences>
            <choiceReferences>SafetyandLegalIssue</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which process?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>BusinessArbitration</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>What_is_the_business_potention</name>
            <fieldText>What is the business potention?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>BusinessArbitration</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>What_are_the_faulty_KPIs_root_causes_identified</name>
            <fieldText>What are the faulty KPIs &amp; root causes identified?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>BusinessArbitration</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>What_is_the_action_plan_details_of_action_and_ETA</name>
            <fieldText>What is the action plan? (details of action and ETA)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>BusinessArbitration</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Which_process_QE</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>VanishingDeals</choiceReferences>
            <choiceReferences>MonitoringPeriod</choiceReferences>
            <choiceReferences>LastChance</choiceReferences>
            <choiceReferences>Exit</choiceReferences>
            <choiceReferences>SafetyandLegalIssue</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which process?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>QualityException</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Which_KPI_is_in_default</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>TheWrongProductRate</choiceReferences>
            <choiceReferences>TheEstheticRate</choiceReferences>
            <choiceReferences>TheAccessoriesRate</choiceReferences>
            <choiceReferences>TheCSATRate</choiceReferences>
            <choiceReferences>TheLateResponseRate</choiceReferences>
            <choiceReferences>TheNegativeReviewRate</choiceReferences>
            <choiceReferences>TheLateDeliveryRate</choiceReferences>
            <choiceReferences>MerchantpaymentIssue</choiceReferences>
            <choiceReferences>Untracked</choiceReferences>
            <choiceReferences>Charterbreach</choiceReferences>
            <choiceReferences>TheDefectiveRate</choiceReferences>
            <choiceReferences>TheCancellationRate</choiceReferences>
            <choiceReferences>BBLateprocessingrate</choiceReferences>
            <choiceReferences>BBPendingorderrate</choiceReferences>
            <choiceReferences>BBCounterproposalratefunctional</choiceReferences>
            <choiceReferences>BBCounterproposalratenonfunctional</choiceReferences>
            <choiceReferences>BBCancellationratefunctional</choiceReferences>
            <choiceReferences>BBLateresponse24hrate</choiceReferences>
            <choiceReferences>HazardousCharger</choiceReferences>
            <choiceReferences>Counterfeit</choiceReferences>
            <choiceReferences>Invoicenotcompliant</choiceReferences>
            <choiceReferences>BB_CharterBreach</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Process details</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>QualityException</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>What_is_the_reason_for_exception</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>BMfault</choiceReferences>
            <choiceReferences>EventexternaltoBM_merchant_3rdpartyprovider</choiceReferences>
            <choiceReferences>ActionplanwithKPIOKona2weekcohort</choiceReferences>
            <choiceReferences>DefectiveOKatthemodelorcategorylevel</choiceReferences>
            <choiceReferences>SafetyLegalissuealreadyproperlyhandledbymerchant</choiceReferences>
            <choiceReferences>Servicesubscriptioninallcountrieswheretherateisbelowthethreshold</choiceReferences>
            <choiceReferences>GateKeeperbatchCertification</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is the reason for exception?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>QualityException</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FirstWarning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(238, 8, 8);&quot;&gt;﻿&lt;/span&gt;&lt;b style=&quot;color: rgb(238, 8, 8);&quot;&gt;WARNING&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;-&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;This reason can only be selected for&lt;b&gt; Last Chance&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>QualityException</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Which_process_QE</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>LastChance</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>What_is_the_reason_for_exception</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ActionplanwithKPIOKona2weekcohort</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SecondWarning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(238, 8, 8);&quot;&gt;﻿&lt;/span&gt;&lt;b style=&quot;color: rgb(238, 8, 8);&quot;&gt;WARNING&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;-&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;This reason can only be selected for &lt;b&gt;Vanishing Deals&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>QualityException</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Which_process_QE</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>VanishingDeals</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>What_is_the_reason_for_exception</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>DefectiveOKatthemodelorcategorylevel</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>What_is_the_reason_for_exception</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>GateKeeperbatchCertification</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>What_is_your_argument_proof</name>
            <dataType>String</dataType>
            <fieldText>What is your argument/proof?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>QualityException</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ShareAFile</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;i style=&quot;color: rgb(240, 8, 8);&quot;&gt;You will be able to share files with us in the next screen.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>SSC_Access</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>What_do_you_request</name>
            <fieldText>What do you request?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>QualityException</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>BusinessArbitration</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Tell_us_everything</name>
            <fieldText>Tell us everything!</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>QualityException</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>BusinessArbitration</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>HelpText</name>
            <fieldText>&lt;p&gt;⬆️&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;The more info we have the better we can help you&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Merge duplicates</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Teams_impacted</name>
            <choiceReferences>TeamImpacted</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Teams impacted</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Project Proposition</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>What_is_the_problem</name>
            <fieldText>What is the problem?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Project Proposition</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>What_is_the_current_process</name>
            <fieldText>What is the current process?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Project Proposition</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>What_is_the_goal_of_the_project</name>
            <fieldText>What is the goal of the project?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Project Proposition</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LinktoReportDashboard</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Link to an existing Report or Dashboard</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <stringValue>http://addyoururl.com</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Report/Dashboard</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Merge duplicates</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Duplicattes</name>
        <label>Duplicattes</label>
        <locationX>661</locationX>
        <locationY>654</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Continue</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px; background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); color: var(--lwc-colorTextWeak,rgb(62, 62, 60));&quot;&gt;👮‍♂️&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px; background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); color: var(--lwc-colorTextWeak,rgb(62, 62, 60));&quot;&gt;﻿Stop!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please follow one of those process to merge duplicates.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(251, 109, 114);&quot;&gt;Steps to follow for any type of duplicate:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(89, 4, 115);&quot;&gt;⌾ &lt;/b&gt;&lt;span style=&quot;color: rgb(108, 7, 111);&quot;&gt;Merge one P.K. with other accounts without P.K. (or merge only accounts without P.K.) for the same merchant&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;1. Click on &lt;a href=&quot;https://docs.google.com/spreadsheets/d/1vrtVUgSVgpqxlbqpIMVZV12TrptwC4qeQFh6425YmdQ/edit?usp=sharing&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this spreadsheet&lt;/a&gt; &amp;amp; Copy/Paste the right Lead URLs&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; font-size: 10pt;&quot;&gt;2. Update the kept account (with P.K.) following the process:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 10pt;&quot;&gt;Marketplace Merchant Pseudo #1 (or #2 or #3): paste the original ‘Business Name’ of the merged account(s) (without P.K.)&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;b style=&quot;background-color: transparent; font-size: 10pt;&quot;&gt;3. Update the merged account(s) (without P.K.) selecting these picklist options:&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b style=&quot;background-color: transparent; font-size: 10pt;&quot;&gt;Business Name: same Business Name as the account with P.K.&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;background-color: transparent; font-size: 10pt;&quot;&gt;Stage: ‘Not relevant’&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;background-color: transparent; font-family: Roboto, sans-serif; font-size: 10pt;&quot;&gt;Challenging Point: ‘Duplicate Account’&lt;/b&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(105, 3, 121); background-color: rgb(255, 255, 255);&quot;&gt;⌾ &lt;/b&gt;&lt;span style=&quot;color: rgb(108, 7, 111); background-color: rgb(255, 255, 255);&quot;&gt;Merge at least two P.K.s for the same merchant&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;(Your prospect created several accounts on the Back Office thus generated several PK)&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;1. Select only the account with the last P.K.&lt;/p&gt;&lt;p&gt;&lt;b&gt;2. Update the other account(s) with P.K.s selecting these picklist options:&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b&gt;Parent Merchant: the selected account with the last P.K.	&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;Stage: Not relevant&amp;nbsp;&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;Challenging Point: Duplicate Account&lt;/b&gt;&lt;/li&gt;&lt;li&gt;In General Notes, please indicate the selected account with the last P.K. (with its URL)&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Field_s_creation_screen</name>
        <label>Field(s) creation screen</label>
        <locationX>929</locationX>
        <locationY>644</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Guideline_user_creation_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(244, 5, 5); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-size: 18px; font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;⛑&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(244, 5, 5); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-size: 18px; font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;Red Alert!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60));&quot;&gt;The Salesforce Team does not take cases anymore. Please refer to your manager or follow the new &lt;/b&gt;&lt;a href=&quot;https://backmarket.atlassian.net/servicedesk/customer/portal/42&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: rgb(247, 1, 1);&quot;&gt;&lt;b&gt;JIRA&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt; process to submit your request.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FileUpload</name>
        <label>File Upload</label>
        <locationX>963</locationX>
        <locationY>1798</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Thanks</targetReference>
        </connector>
        <fields>
            <name>FeelFree</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; color: rgb(120, 229, 169);&quot;&gt;Your Support Ticket has been submitted. &lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: 14px; color: rgb(34, 34, 34);&quot;&gt;📩&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: 14px; color: rgb(34, 34, 34);&quot;&gt;You can now upload one or several documents to your case&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Import</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Process exception</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Upload_File</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_case</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Mandatory</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;🚨&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;Please, make sure you used one of our templates to create your import file.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://drive.google.com/drive/u/0/folders/1igmSOKWpjIuVbXMWcIAPteHk9ldgmcQe&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Templates here&lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;i style=&quot;color: rgb(244, 10, 10);&quot;&gt;If not, we won&apos;t be able to do the import.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Import</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Dontworry</name>
            <fieldText>&lt;p&gt;&lt;b&gt;You don&apos;t see the list of files that have been uploaded&lt;/b&gt;. But don&apos;t worry... They are uploaded and accessible on your case directly.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NotionProcess</name>
        <label>NotionProcess</label>
        <locationX>480</locationX>
        <locationY>640</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Details</targetReference>
        </connector>
        <fields>
            <name>ProcessNotion</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-size: 18px; font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;⛑ &lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(244, 5, 5); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-size: 18px; font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;Red Alert!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60));&quot;&gt;The Salesforce Team does not take cases anymore. Please refer to your manager or follow the new &lt;/b&gt;&lt;a href=&quot;https://backmarket.atlassian.net/servicedesk/customer/portal/42&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: rgb(247, 1, 1);&quot;&gt;&lt;b&gt;JIRA&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60));&quot;&gt; process to submit your request.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TemplateImport</name>
        <label>TemplateImport</label>
        <locationX>233</locationX>
        <locationY>605</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Details</targetReference>
        </connector>
        <fields>
            <name>Template</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-size: 18px;&quot;&gt;👮‍♂️&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(234, 2, 2); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-size: 18px;&quot;&gt;﻿Stop!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;﻿Make sure you used one of our templates to create your import file.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://www.notion.so/Templates-to-use-for-imports-9f045f512e9845b1ab48c94fc54984da&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(3, 144, 60);&quot;&gt;&lt;b&gt;&lt;u&gt;Click here!&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;i&gt;You will soon be able to share this file with us.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thanks</name>
        <label>Thanks</label>
        <locationX>1123</locationX>
        <locationY>1798</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ThankYou</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(120, 229, 169); font-size: 14px;&quot;&gt;The documents you have provided have been uploaded. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Type</name>
        <label>Type</label>
        <locationX>599</locationX>
        <locationY>326</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_To_Notion</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(214, 182, 255);&quot;&gt;Need Help?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(214, 182, 255);&quot;&gt;Submit your request to the Salesforce team&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CaseType</name>
            <choiceReferences>BugError</choiceReferences>
            <choiceReferences>BusinessArbitration</choiceReferences>
            <choiceReferences>Fieldscreation</choiceReferences>
            <choiceReferences>Import</choiceReferences>
            <choiceReferences>MergeDuplicates</choiceReferences>
            <choiceReferences>ProjectProposition</choiceReferences>
            <choiceReferences>QualityException</choiceReferences>
            <choiceReferences>Question</choiceReferences>
            <choiceReferences>ReportDashboard</choiceReferences>
            <choiceReferences>Usercreation</choiceReferences>
            <choiceReferences>SSC_Access</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Warning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(8, 1, 1);&quot;&gt;WARNING &lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;👮‍♂️&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: rgb(240, 4, 4); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;Business Arbitration can only be submitted by TL and supply leaders&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>BusinessArbitration</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ShowCaseTypeExplanation</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Click here to see the descriptions for each case type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Hide Descriptions</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Show Descriptions</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Explanation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; color: rgb(214, 182, 255);&quot;&gt;How to choose my case Type? &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Bug/Error -&lt;/b&gt; You are facing an issue in Salesforce (error message, a process that has been created 2 times, a field that shouldn&apos;t be empty...).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Field(s) Creation -&lt;/b&gt; You need the Salesforce team to create a new field to track info. &lt;b&gt;Reminder -&lt;/b&gt; In order for fields to be created, it needs to be useful, up-to-date, and always contain accurate data.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Import -&lt;/b&gt; You need the Salesforce team to create and/or update several records at once.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Merge Duplicates -&lt;/b&gt; You need the Salesforce team to merge 2 accounts together.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Project Proposition -&lt;/b&gt; You discussed with all teams impacted and need a feature creation, upgrade or removal.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Question -&lt;/b&gt; You have a question that isn&apos;t related to a bug.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Report/Dashboard - &lt;/b&gt;You need the Salesforce Team to create report(s) and/or dashboard(s) for you and your team.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;User Creation -&lt;/b&gt; A newcomer is joining our team, and you need a SF access for her/him.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;SSC Access -&lt;/b&gt; You need to give a contact access to the SSC.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Other -&lt;/b&gt; Any other topic not related to the above list.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowCaseTypeExplanation.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>User_creation</name>
        <label>User creation</label>
        <locationX>817</locationX>
        <locationY>637</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Guideline_user_creation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px; background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); color: var(--lwc-colorTextWeak,rgb(62, 62, 60));&quot;&gt;👮‍♂️&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px; background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); color: rgb(234, 8, 8);&quot;&gt;﻿Stop!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;For user creation, please use this &lt;/b&gt;&lt;a href=&quot;https://docs.google.com/spreadsheets/d/1ye2fNJvV37c6yoy-PKrizOrO-9lQY_bvkLach8Wa5_s/edit#gid=0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;Gsheet&lt;/b&gt;&lt;/a&gt;&lt;b&gt;. &lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Salesforce Team will review this document on Fridays and users will be created on Mondays.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Columns in blue are mandatory info, without them, we cannot create a user.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>480</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>decision_on_user_bypass</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Emailtocreatorsent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TicketNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TicketSupNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TicketSupportNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
