force-app/main/default/flows/Merchant_Flow_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assign_alert_to_list</name>
        <label>assign alert to list</label>
        <locationX>1790</locationX>
        <locationY>7127</locationY>
        <assignmentItems>
            <assignToReference>Alerts_to_update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TEMP_alert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_alerts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_alerts_buyback_checked</name>
        <label>Assign alerts buyback checked</label>
        <locationX>1238</locationX>
        <locationY>5699</locationY>
        <assignmentItems>
            <assignToReference>Alerts_buyback_checked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_alerts_buyback</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_alerts_sales_checked</name>
        <label>Assign alerts sales checked</label>
        <locationX>974</locationX>
        <locationY>5699</locationY>
        <assignmentItems>
            <assignToReference>Alerts_sales_checked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_alerts_sales</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Final</name>
        <label>Assign Contact Final</label>
        <locationX>1062</locationX>
        <locationY>2759</locationY>
        <assignmentItems>
            <assignToReference>TEMP_Contact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Same_Email_as_Finance_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Contact.Defined_in_BO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Contact.HasOptedOutOfEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Contact.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Defined_By_BO_True</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_current_role_to_Temp_contact</name>
        <label>Assign current role to Temp contact</label>
        <locationX>1326</locationX>
        <locationY>2759</locationY>
        <assignmentItems>
            <assignToReference>Role_With_Finance</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Same_Email_as_Finance_Contact.Roles__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_info_to_Temp_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_info_to_Temp_contact</name>
        <label>Assign info to Temp contact</label>
        <locationX>1326</locationX>
        <locationY>2879</locationY>
        <assignmentItems>
            <assignToReference>TEMP_Contact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Same_Email_as_Finance_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Contact.Defined_in_BO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Contact.HasOptedOutOfEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Contact.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Contact.Roles__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Role_With_Finance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Defined_By_BO_True</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_merchant_shadow</name>
        <label>Assign merchant shadow</label>
        <locationX>1546</locationX>
        <locationY>4199</locationY>
        <assignmentItems>
            <assignToReference>Current_Merchant.Fatness__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Fatness_Shadow__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_KYCs_to_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_merchant_stage_to_first_contact</name>
        <label>Assign merchant stage to first contact</label>
        <locationX>314</locationX>
        <locationY>3527</locationY>
        <assignmentItems>
            <assignToReference>Current_Merchant.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>First-contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_autofill</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_NMO_to_collection</name>
        <label>Assign NMO to collection</label>
        <locationX>1678</locationX>
        <locationY>6179</locationY>
        <assignmentItems>
            <assignToReference>NMO_To_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_NMO_process</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_NMO_process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Onboarding_values</name>
        <label>Assign Onboarding values</label>
        <locationX>1524</locationX>
        <locationY>5147</locationY>
        <assignmentItems>
            <assignToReference>Inactive_Onboarding_Process.Sub_stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Inactive_Onboarding_Process.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Inactive_Onboarding_process.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Inactive_Onboarding</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_record_to_current_merchant</name>
        <label>Assign record to current merchant</label>
        <locationX>1810</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Current_Merchant</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Merchant_creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_is_Failed</name>
        <label>Assign Stage is Failed</label>
        <locationX>1678</locationX>
        <locationY>6059</locationY>
        <assignmentItems>
            <assignToReference>Loop_on_NMO_process.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_on_NMO_process.Has_failed_NMO_on__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_NMO_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TEMP_Contact_to_the_List</name>
        <label>Assign TEMP Contact to the List</label>
        <locationX>1546</locationX>
        <locationY>1967</locationY>
        <assignmentItems>
            <assignToReference>ListOfContactsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TEMP_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_All_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_each_alert</name>
        <label>Assign to each alert</label>
        <locationX>1790</locationX>
        <locationY>7007</locationY>
        <assignmentItems>
            <assignToReference>TEMP_alert.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_alerts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_alert.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_alert.Has_failed_on__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_alert_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_to_TEMP_Contact</name>
        <label>Assign Value to TEMP Contact</label>
        <locationX>1546</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>TEMP_Contact.Defined_in_BO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Contact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collect_All_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TEMP_Contact_to_the_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Autofill_Product_Cluster_with_divertification_tag</name>
        <label>Autofill Product Cluster with divertification tag</label>
        <locationX>1810</locationX>
        <locationY>4199</locationY>
        <assignmentItems>
            <assignToReference>Current_Merchant.Product_cluster__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Diversification_tag__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_KYCs_to_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Stage_Sub_Stage_and_verify_contacts</name>
        <label>Update Stage, Sub-Stage and verify contacts</label>
        <locationX>1678</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>Current_Merchant.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Negotiation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_Merchant.Sub_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Handover Time</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_Merchant.Date_entry_in_stage_Negotiation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_Merchant.Previous_BizDev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.UserID__c.Lucas_Labarre__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_Merchant.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.UserID__c.Lucas_Labarre__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_Merchant.Onboarder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.UserID__c.Lucas_Labarre__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Financial_Email_Changed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_alerts_list_is_empty</name>
        <label>Decision alerts list is empty</label>
        <locationX>1810</locationX>
        <locationY>6767</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Decision_Should_we_close_Alerts_or_NMO_processes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Alerts_list_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_alerts_selected</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_alerts</targetReference>
            </connector>
            <label>Alerts list is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_autofill</name>
        <label>Decision autofill</label>
        <locationX>1810</locationX>
        <locationY>4079</locationY>
        <defaultConnector>
            <targetReference>Decision_KYCs_to_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fatness_is_empty_and_can_be_autofill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fatness__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fatness_Shadow__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Profile__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountSource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_merchant_shadow</targetReference>
            </connector>
            <label>Fatness is empty and can be autofill</label>
        </rules>
        <rules>
            <name>Product_cluster_autofill</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_cluster__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Diversification_tag__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N.M.O.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Run</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Autofill_Product_Cluster_with_divertification_tag</targetReference>
            </connector>
            <label>Product cluster autofill</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Get_all_contacts_is_null</name>
        <label>Decision - Get all contacts is null</label>
        <locationX>1590</locationX>
        <locationY>1607</locationY>
        <defaultConnector>
            <targetReference>Decision_Is_Financial_email_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_All_Contact</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Inactive_Onboarding_found</name>
        <label>Decision - Inactive Onboarding found</label>
        <locationX>1656</locationX>
        <locationY>5027</locationY>
        <defaultConnector>
            <targetReference>Decision_Should_we_close_Alerts_or_NMO_processes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inactive_Onboarding_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inactive_Onboarding_process</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Onboarding_values</targetReference>
            </connector>
            <label>Inactive Onboarding found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Is_Financial_email_empty</name>
        <label>Decision - Is Financial email empty</label>
        <locationX>1590</locationX>
        <locationY>2399</locationY>
        <defaultConnector>
            <targetReference>Decision_moving_stage_buyback_stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Financial_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Same_Email_as_Finance_Contact</targetReference>
            </connector>
            <label>No - Not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_KYCs_to_check</name>
        <label>Decision KYCs to check</label>
        <locationX>1810</locationX>
        <locationY>4415</locationY>
        <defaultConnector>
            <targetReference>Decision_Last_Breath_changed_Onboarding_Type_S</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Need_to_be_Checked</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4) AND (5 OR 6 OR 7 OR 8) AND 9</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IBAN_uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ID_uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status_uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.KBIS_uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IBAN_uploaded__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.IBAN_uploaded__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ID_uploaded__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ID_uploaded__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status_uploaded__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status_uploaded__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.KBIS_uploaded__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.KBIS_uploaded__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_for_BizDev_KYCs_to_check</targetReference>
            </connector>
            <label>Need to be Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Last_Breath_changed_Onboarding_Type_S</name>
        <label>Decision - Last Breath changed - Onboarding Type S</label>
        <locationX>1810</locationX>
        <locationY>4787</locationY>
        <defaultConnector>
            <targetReference>Decision_Should_we_close_Alerts_or_NMO_processes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Last_Breath_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Merchant_EU__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BackWatch_Onboarding_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Type S</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Inactive_Onboarding_process</targetReference>
            </connector>
            <label>Is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Merchant_creation</name>
        <label>Decision - Merchant creation</label>
        <locationX>1810</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Qualification_form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Merchant_with_P_K_created</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Back_Office_PK__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Merchant_EU__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Merchant_US__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Back_Ship_service</targetReference>
            </connector>
            <label>Merchant with P.K. created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_merchant_need_to_be_updated</name>
        <label>Decision merchant need to be updated</label>
        <locationX>2250</locationX>
        <locationY>5819</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_update_merchant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Merchant_to_update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_merchant</targetReference>
            </connector>
            <label>Yes update merchant</label>
        </rules>
    </decisions>
    <decisions>
        <description>On Onboarding Process Quality Prerequisites Step, update, if necessary, Targeted Country Online Status</description>
        <name>Decision_moving_stage_buyback_stage</name>
        <label>Decision moving stage / buyback stage</label>
        <locationX>1810</locationX>
        <locationY>3407</locationY>
        <defaultConnector>
            <targetReference>Decision_autofill</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>passing_to_buyback_offline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage_Buyback__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyback Offline</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Buyback_live_TC_to_Buyback_Offline</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>passing to buyback offline</label>
        </rules>
        <rules>
            <name>Passing_to_identification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Identification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>User_Arthur_Veron</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entrant leads</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E_U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Back_Office_PK__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_merchant_stage_to_first_contact</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Passing to identification</label>
        </rules>
        <rules>
            <name>passing_to_onboarding_EU</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E_U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_entry_in_stage_Future_partnership__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EntryinFRDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Create_onboarding_EU_Sales</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>passing to onboarding (EU sales)</label>
        </rules>
        <rules>
            <name>passing_to_onboarding_US_sales</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U_S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_entry_in_stage_Future_partnership__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EntryinFRDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_onboarding_US_Sales</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>passing to onboarding (US sales)</label>
        </rules>
        <rules>
            <name>Reopening_Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EntryinFRDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Onboarding_process</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Reopening Onboarding</label>
        </rules>
        <rules>
            <name>passing_to_onboarding_EU_Buyback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage_Buyback__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyback Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E_U</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_onboarding_EU_Buyback</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>passing to onboarding (EU Buyback)</label>
        </rules>
        <rules>
            <name>Passing_to_onboarding_US_Buyback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage_Buyback__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyback Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U_S</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_onboarding_US_Buyback</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Passing to onboarding (US Buyback)</label>
        </rules>
        <rules>
            <name>passing_to_onboarding_JP_sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_JP_Onboarding_Sales</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>passing to onboarding (JP sales)</label>
        </rules>
        <rules>
            <name>Passing_to_Not_Relevant_or_Future_Partnership</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not relevant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Future partnership</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Ongoing_Onboarding_process</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Passing to Not Relevant or Future Partnership</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_NMO_found</name>
        <label>Decision - NMO found</label>
        <locationX>1722</locationX>
        <locationY>5819</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_isn_t_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_NMO_process</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_NMO_process</targetReference>
            </connector>
            <label>List isn&apos;t empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_user_bypass_flow</name>
        <label>Decision on user bypass flow</label>
        <locationX>2778</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_dont_bypass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ByPassFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.BypassMerchantAfterSaveFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Team__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_record_to_current_merchant</targetReference>
            </connector>
            <label>User dont bypass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Onboarding_found</name>
        <label>Decision - Onboarding found</label>
        <locationX>1502</locationX>
        <locationY>3647</locationY>
        <defaultConnector>
            <targetReference>Decision_autofill</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_to_Ongoing_onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Onboarding_process</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reopen_Onboarding</targetReference>
            </connector>
            <label>Update to Ongoing onboarding</label>
        </rules>
        <rules>
            <name>None_EU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Onboarding_process</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Merchant_EU__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_onboarding_EU_Sales</targetReference>
            </connector>
            <label>None EU</label>
        </rules>
        <rules>
            <name>None_US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Onboarding_process</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Merchant_US__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Create_onboarding_US_Sales</targetReference>
            </connector>
            <label>None US</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Onboarding_found_0</name>
        <label>Decision - Onboarding found</label>
        <locationX>3262</locationX>
        <locationY>3647</locationY>
        <defaultConnector>
            <targetReference>Decision_autofill</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_to_Abandonned_Onboarding_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Ongoing_Onboarding_process</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Abandon_Onboarding</targetReference>
            </connector>
            <label>Update to Abandonned Onboarding</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check with get records component if update are necessary</description>
        <name>Decision_Should_we_close_Alerts_or_NMO_processes</name>
        <label>Decision Should we close Alerts or NMO processes</label>
        <locationX>1810</locationX>
        <locationY>5579</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Decision_merchant_need_to_be_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Pass_all_alerts_sales_to_failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Exit_granted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Alerts_sales_checked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rollup_Sales_alerts__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_alerts_sales_checked</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Check - Pass all alerts sales to failed</label>
        </rules>
        <rules>
            <name>Pass_all_buyback_alerts_to_fail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Exit_Buyback_Granted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Alerts_buyback_checked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rollup_Buyback_alerts__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_alerts_buyback_checked</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Pass all buyback alerts to fail</label>
        </rules>
        <rules>
            <name>Check_Pass_NMO_to_failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Exit_granted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Ongoing_NMO_processes__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_NMO_process</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Check - Pass NMO to failed</label>
        </rules>
        <rules>
            <name>Update_list_of_alerts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alerts_to_update</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_alerts</targetReference>
            </connector>
            <label>Update list of alerts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_this_contact_exist</name>
        <label>Does this contact exist?</label>
        <locationX>1326</locationX>
        <locationY>2639</locationY>
        <defaultConnector>
            <targetReference>New_Finance_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_and_Finance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Same_Email_as_Finance_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CONTAINS_FINANCE_ROLE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Final</targetReference>
            </connector>
            <label>Yes and Finance</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Same_Email_as_Finance_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CONTAINS_FINANCE_ROLE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_current_role_to_Temp_contact</targetReference>
            </connector>
            <label>Yes and Other Role</label>
        </rules>
    </decisions>
    <decisions>
        <name>Financial_Email_Changed</name>
        <label>Financial Email Changed?</label>
        <locationX>1810</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>Decision_moving_stage_buyback_stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Financial_Email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Contact</targetReference>
            </connector>
            <label>Yes Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Qualification_form</name>
        <label>Qualification form</label>
        <locationX>1810</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Financial_Email_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Qualification_Form_Type_S_In_First_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Qualification_Form_completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Stage__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>First-contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Back_Office_PK__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BackWatch_Onboarding_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Type S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Merchant_EU__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage_Sub_Stage_and_verify_contacts</targetReference>
            </connector>
            <label>Qualification Form - Type S In First Contact</label>
        </rules>
    </decisions>
    <description>SFT-416 - Merchant bizdev/manager changed - Removing bizdev and manager update</description>
    <environments>Default</environments>
    <formulas>
        <name>Ago_6_Months</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-180</expression>
    </formulas>
    <formulas>
        <name>Alert_NMO_buyback_Record_Type_Id</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Special_Process_Record_Types_Ids__c.NMO_Alert_Buyback__c}</expression>
    </formulas>
    <formulas>
        <name>Alert_NMO_Sales_Record_Type_Id</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Special_Process_Record_Types_Ids__c.NMO_Alert__c}</expression>
    </formulas>
    <formulas>
        <name>CONTAINS_FINANCE_ROLE</name>
        <dataType>Boolean</dataType>
        <expression>If(INCLUDES({!Same_Email_as_Finance_Contact.Roles__c}, &apos;Finance/Accounting&apos;), True, False)</expression>
    </formulas>
    <formulas>
        <name>EntryinFRDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Date_entry_in_stage_Future_partnership__c}+90</expression>
    </formulas>
    <formulas>
        <name>MP_Buyback_record_type_id</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Special_Process_Record_Types_Ids__c.Monitoring_Period_Buyback__c}</expression>
    </formulas>
    <formulas>
        <name>MP_Sales_record_type_id</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Special_Process_Record_Types_Ids__c.Monitoring_Period_Sales__c}</expression>
    </formulas>
    <formulas>
        <name>NMO_alert_buyback_record_type_id</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Special_Process_Record_Types_Ids__c.NMO_Alert_Buyback__c}</expression>
    </formulas>
    <formulas>
        <name>NMO_alert_sales_record_type_id</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Special_Process_Record_Types_Ids__c.NMO_Alert__c}</expression>
    </formulas>
    <formulas>
        <name>Notification_body_debit_note_creation</name>
        <dataType>String</dataType>
        <expression>&quot;Merchant &quot; &amp; {!$Record.Name} &amp; &quot;, has a negative debit note, a Debit Note Special Process is created.&quot;</expression>
    </formulas>
    <formulas>
        <name>Notification_Body_Existing_onboarding</name>
        <dataType>String</dataType>
        <expression>&quot;An ongoing process has been found on  &quot; &amp; {!$Record.Name} &amp; &quot;, please use the existing one to avoid duplicate.&quot;</expression>
    </formulas>
    <formulas>
        <name>Record_type_Debit_Note</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Special_Process_Record_Types_Ids__c.Debit_note__c}</expression>
    </formulas>
    <formulas>
        <name>Record_Type_Onboarding_EU_Buyback</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Special_Process_Record_Types_Ids__c.Onboarding_buyback__c}</expression>
    </formulas>
    <formulas>
        <name>Record_Type_Onboarding_EU_Sales</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Special_Process_Record_Types_Ids__c.Onboarding__c}</expression>
    </formulas>
    <formulas>
        <name>Record_Type_Onboarding_US_Sales</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Special_Process_Record_Types_Ids__c.Onboarding_US__c}</expression>
    </formulas>
    <formulas>
        <name>User_Arthur_Veron</name>
        <dataType>String</dataType>
        <expression>{!$Setup.UserID__c.ArthurVeron__c}</expression>
    </formulas>
    <interviewLabel>Merchant Flow - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Merchant Flow - After Save</label>
    <loops>
        <name>Collect_All_Contact</name>
        <label>Collect All Contact</label>
        <locationX>1458</locationX>
        <locationY>1727</locationY>
        <collectionReference>Get_All_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Value_to_TEMP_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Defined_in_BO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_alerts</name>
        <label>Loop on alerts</label>
        <locationX>1702</locationX>
        <locationY>6887</locationY>
        <collectionReference>Current_alerts_selected</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_each_alert</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Decision_Should_we_close_Alerts_or_NMO_processes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_NMO_process</name>
        <label>Loop on NMO process</label>
        <locationX>1590</locationX>
        <locationY>5939</locationY>
        <collectionReference>Get_NMO_process</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Stage_is_Failed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_NMO_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Back_Care_service</name>
        <label>Create Back Care service</label>
        <locationX>1678</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Qualification_form</targetReference>
        </connector>
        <inputAssignments>
            <field>Business_Name__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.Services__c.BackCareRecordType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service__c</field>
            <value>
                <stringValue>Back Care</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </inputAssignments>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Back_Ship_service</name>
        <label>Create Back Ship service</label>
        <locationX>1678</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Create_Back_Care_service</targetReference>
        </connector>
        <inputAssignments>
            <field>Business_Name__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.Services__c.BackShipRecordType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service__c</field>
            <value>
                <stringValue>Back Ship</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </inputAssignments>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_JP_Onboarding_Sales</name>
        <label>Create JP Onboarding Sales</label>
        <locationX>2866</locationX>
        <locationY>3527</locationY>
        <connector>
            <targetReference>Decision_autofill</targetReference>
        </connector>
        <inputAssignments>
            <field>Merchant_BizDev__c</field>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Onboarding_JP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Business &amp; Quality Prerequisites</stringValue>
            </value>
        </inputAssignments>
        <object>Onboarding_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_onboarding_EU_Buyback</name>
        <label>Create onboarding EU Buyback</label>
        <locationX>2338</locationX>
        <locationY>3527</locationY>
        <connector>
            <targetReference>Decision_autofill</targetReference>
        </connector>
        <inputAssignments>
            <field>Merchant_BizDev__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Record_Type_Onboarding_EU_Buyback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Business &amp; Quality Prerequisites</stringValue>
            </value>
        </inputAssignments>
        <object>Onboarding_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_onboarding_EU_Sales</name>
        <label>Create onboarding EU Sales</label>
        <locationX>1370</locationX>
        <locationY>3767</locationY>
        <connector>
            <targetReference>Decision_autofill</targetReference>
        </connector>
        <inputAssignments>
            <field>Manager_for_Approval__c</field>
            <value>
                <elementReference>$Record.Manager_Sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant_BizDev__c</field>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Record_Type_Onboarding_EU_Sales</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <object>Onboarding_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_onboarding_US_Buyback</name>
        <label>Create onboarding US Buyback</label>
        <locationX>2602</locationX>
        <locationY>3527</locationY>
        <inputAssignments>
            <field>Merchant_BizDev__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Onboarding_Buyback_US__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Business &amp; Quality Prerequisites</stringValue>
            </value>
        </inputAssignments>
        <object>Onboarding_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_onboarding_US_Sales</name>
        <label>Create onboarding US Sales</label>
        <locationX>842</locationX>
        <locationY>3527</locationY>
        <connector>
            <targetReference>Decision_autofill</targetReference>
        </connector>
        <inputAssignments>
            <field>Manager_for_Approval__c</field>
            <value>
                <elementReference>$Record.Manager_Sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant_BizDev__c</field>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Record_Type_Onboarding_US_Sales</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <object>Onboarding_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_Finance_contact</name>
        <label>New Finance contact</label>
        <locationX>1590</locationX>
        <locationY>2759</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Decision_moving_stage_buyback_stage</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Defined_in_BO__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Financial_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasOptedOutOfEmail</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roles__c</field>
            <value>
                <stringValue>Finance/Accounting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_for_BizDev_KYCs_to_check</name>
        <label>Task for BizDev - KYCs to check</label>
        <locationX>1546</locationX>
        <locationY>4535</locationY>
        <connector>
            <targetReference>Decision_Last_Breath_changed_Onboarding_Type_S</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Decision_Last_Breath_changed_Onboarding_Type_S</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>KYCs to check</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <stringValue>KYCs to check</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_alerts_buyback</name>
        <label>Get alerts buyback</label>
        <locationX>1238</locationX>
        <locationY>5819</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_alerts_list_is_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Monitoring_Period_Buyback__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Refused</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Saved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Issue_KPI__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Merchant Debt</stringValue>
            </value>
        </filters>
        <object>Alert__c</object>
        <outputReference>Current_alerts_selected</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_alerts_sales</name>
        <label>Get alerts sales</label>
        <locationX>974</locationX>
        <locationY>5819</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_alerts_list_is_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Monitoring_Period_Buyback__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>NMO_alert_buyback_record_type_id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Refused</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Saved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Issue_KPI__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Merchant Debt</stringValue>
            </value>
        </filters>
        <object>Alert__c</object>
        <outputReference>Current_alerts_selected</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Contact</name>
        <label>Get All Contact</label>
        <locationX>1590</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Get_all_contacts_is_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Defined_in_BO__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inactive_Onboarding_process</name>
        <label>Get Inactive Onboarding process</label>
        <locationX>1656</locationX>
        <locationY>4907</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Inactive_Onboarding_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Merchant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sub_stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Onboarding__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NMO_process</name>
        <label>Get NMO process</label>
        <locationX>1722</locationX>
        <locationY>5699</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_NMO_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.NMO_buyback__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Saved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Merchant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>NMO_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Onboarding_process</name>
        <label>Get Onboarding process</label>
        <locationX>1502</locationX>
        <locationY>3527</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Onboarding_found</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Decision_Onboarding_found</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Merchant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Abandonned</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Onboarding__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Onboarding_US__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding_Process__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ongoing_Onboarding_process</name>
        <label>Get Ongoing Onboarding process</label>
        <locationX>3262</locationX>
        <locationY>3527</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Onboarding_found_0</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Merchant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Onboarding__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Onboarding_US__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Same_Email_as_Finance_Contact</name>
        <label>Same Email as Finance Contact</label>
        <locationX>1326</locationX>
        <locationY>2519</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_this_contact_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Financial_Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Abandon_Onboarding</name>
        <label>Abandon Onboarding</label>
        <locationX>3130</locationX>
        <locationY>3767</locationY>
        <connector>
            <targetReference>Decision_autofill</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Ongoing_Onboarding_process.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Abandonned</stringValue>
            </value>
        </inputAssignments>
        <object>Onboarding_Process__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Defined_By_BO_True</name>
        <label>Defined By BO True</label>
        <locationX>1326</locationX>
        <locationY>3095</locationY>
        <connector>
            <targetReference>Decision_moving_stage_buyback_stage</targetReference>
        </connector>
        <inputReference>TEMP_Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reopen_Onboarding</name>
        <label>Reopen Onboarding</label>
        <locationX>1106</locationX>
        <locationY>3767</locationY>
        <connector>
            <targetReference>Decision_autofill</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Onboarding_process.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Manager_for_Approval__c</field>
            <value>
                <elementReference>$Record.Manager_Sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant_BizDev__c</field>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <object>Onboarding_Process__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_alerts</name>
        <label>Update alerts</label>
        <locationX>2250</locationX>
        <locationY>5699</locationY>
        <connector>
            <targetReference>Decision_merchant_need_to_be_updated</targetReference>
        </connector>
        <inputReference>Alerts_to_update</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Buyback_live_TC_to_Buyback_Offline</name>
        <label>Update Buyback live TC to Buyback Offline</label>
        <locationX>50</locationX>
        <locationY>3527</locationY>
        <connector>
            <targetReference>Decision_autofill</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Merchant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Buyback_Live_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Buyback_Live_Status__c</field>
            <value>
                <stringValue>Offline</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offline_in_Buyback_on__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Targeted_Country__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Defined_in_BO</name>
        <label>Update Defined in BO</label>
        <locationX>1458</locationX>
        <locationY>2183</locationY>
        <connector>
            <targetReference>Decision_Is_Financial_email_empty</targetReference>
        </connector>
        <inputReference>ListOfContactsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Inactive_Onboarding</name>
        <label>Update Inactive Onboarding</label>
        <locationX>1524</locationX>
        <locationY>5267</locationY>
        <connector>
            <targetReference>Decision_Should_we_close_Alerts_or_NMO_processes</targetReference>
        </connector>
        <inputReference>Inactive_Onboarding_Process</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_merchant</name>
        <label>Update merchant</label>
        <locationX>2118</locationX>
        <locationY>5939</locationY>
        <inputReference>Current_Merchant</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NMO_records</name>
        <label>Update NMO records</label>
        <locationX>1590</locationX>
        <locationY>6395</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Decision_Should_we_close_Alerts_or_NMO_processes</targetReference>
        </connector>
        <inputReference>NMO_To_Update</inputReference>
    </recordUpdates>
    <start>
        <locationX>2652</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_on_user_bypass_flow</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Alerts_buyback_checked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Alerts_sales_checked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Alerts_to_update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>Contact_to_update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Current_alerts_selected</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>Current_Merchant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Empty_list</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Inactive_Onboarding_Process</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Process__c</objectType>
    </variables>
    <variables>
        <name>ListOfContactsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Merchant_record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Merchant_to_update</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NMO_buyback_checked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NMO_Process_checked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NMO_sales_checked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NMO_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NMO_Process__c</objectType>
    </variables>
    <variables>
        <name>Notification_body</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Notification_subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Notification_type_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>for notifications</description>
        <name>Recipient_ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Role_With_Finance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Finance/Accounting;</stringValue>
        </value>
    </variables>
    <variables>
        <name>TEMP_alert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>TEMP_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
