force-app/main/default/flows/Merchant_Scheduled_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Decision_Change_sub_stage</name>
        <label>Decision - Change sub-stage</label>
        <locationX>166</locationX>
        <locationY>488</locationY>
        <defaultConnector>
            <targetReference>Decision_Move_to_Future_Partnership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_to_Dispatching_phase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Future partnership</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NB Lead Pool to contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_Breath_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>thirty_days_ago</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Entrant leads</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Sub_stage_to_dispatching_phase</targetReference>
            </connector>
            <label>Change to Dispatching phase</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Check_if_first_contact_and_updated_on_last_7_days</name>
        <label>Decision Check if first contact and updated on last 7 days</label>
        <locationX>167</locationX>
        <locationY>303</locationY>
        <defaultConnector>
            <targetReference>Decision_Change_sub_stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_contact_no_updated_on_last_7_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>First-contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.First_contact_on__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Seven_days_ago</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_task_Find_contact</targetReference>
            </connector>
            <label>First contact no updated on last 7 days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Move_to_Future_Partnership</name>
        <label>Decision - Move to Future Partnership</label>
        <locationX>160</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>Decision_Resale_certificate_soon_expired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_to_FP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Need to fill Qualification Form</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_entry_in_stage_First_Contact__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>three_months_ago</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>First-contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Entrant leads</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Qualification_Form_completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_stage_to_FP</targetReference>
            </connector>
            <label>Change to FP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Resale_certificate_soon_expired</name>
        <label>Decision - Resale certificate soon expired</label>
        <locationX>157</locationX>
        <locationY>818</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_task_for_SSM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Certificate_expiration_date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>In_3_Weeks</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage_Buyback__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyback Run</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Merchant_US__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_for_Merchant_Owner</targetReference>
            </connector>
            <label>Yes - Create task for SSM</label>
        </rules>
    </decisions>
    <description>Buyback in US</description>
    <formulas>
        <name>In_3_Weeks</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+21</expression>
    </formulas>
    <formulas>
        <name>Seven_days_ago</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 7</expression>
    </formulas>
    <formulas>
        <name>Task_Owner</name>
        <dataType>String</dataType>
        <expression>if({!$Record.OwnerId}={!$Setup.UserID__c.PA__c}, {!$Setup.UserID__c.BackWatch_EU__c},
if({!$Record.OwnerId}={!$Setup.UserID__c.Sam__c},{!$Setup.UserID__c.BackWatch_US__c}, {!$Record.OwnerId}))</expression>
    </formulas>
    <formulas>
        <name>thirty_days_ago</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-30</expression>
    </formulas>
    <formulas>
        <name>three_months_ago</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-90</expression>
    </formulas>
    <interviewLabel>Merchant - Scheduled flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Merchant - Scheduled flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_task_Find_contact</name>
        <label>Create task - &quot;Find contact&quot;</label>
        <locationX>426</locationX>
        <locationY>308</locationY>
        <connector>
            <targetReference>Decision_Change_sub_stage</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.BizDev__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Find a Contact!</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_for_Merchant_Owner</name>
        <label>Create Task for Merchant Owner</label>
        <locationX>358</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.Certificate_expiration_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Task_Owner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Request new Resale Certificate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <stringValue>Request new Resale Certificate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Change_stage_to_FP</name>
        <label>Change stage to FP</label>
        <locationX>371</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Decision_Resale_certificate_soon_expired</targetReference>
        </connector>
        <inputAssignments>
            <field>Challenging_Point__c</field>
            <value>
                <stringValue>Not qualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Master_Challenging_Point__c</field>
            <value>
                <stringValue>Contacting &amp; Communication Issues</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Future partnership</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Change_Sub_stage_to_dispatching_phase</name>
        <label>Change Sub-stage to dispatching phase</label>
        <locationX>361</locationX>
        <locationY>483</locationY>
        <connector>
            <targetReference>Decision_Move_to_Future_Partnership</targetReference>
        </connector>
        <inputAssignments>
            <field>Sub_Stage__c</field>
            <value>
                <stringValue>Dispatching phase</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Decision_Check_if_first_contact_and_updated_on_last_7_days</targetReference>
        </connector>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-11-24</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
