force-app/main/default/flows/Merchant_special_process_After_save_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Antartica</name>
        <label>Assign Antartica</label>
        <locationX>2519</locationX>
        <locationY>55</locationY>
        <assignmentItems>
            <assignToReference>Seller_to_update.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Antarctica</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Seller_Billing_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Central_America</name>
        <label>Assign Central America</label>
        <locationX>2635</locationX>
        <locationY>54</locationY>
        <assignmentItems>
            <assignToReference>Seller_to_update.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Central America</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Seller_Billing_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Central_Asia</name>
        <label>Assign Central Asia</label>
        <locationX>2754</locationX>
        <locationY>56</locationY>
        <assignmentItems>
            <assignToReference>Seller_to_update.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Central Asia</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Seller_Billing_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Eastern_Asia</name>
        <label>Assign Eastern Asia</label>
        <locationX>2883</locationX>
        <locationY>56</locationY>
        <assignmentItems>
            <assignToReference>Seller_to_update.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Eastern Asia</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Seller_Billing_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Eastern_Europe</name>
        <label>Assign Eastern Europe</label>
        <locationX>3009</locationX>
        <locationY>53</locationY>
        <assignmentItems>
            <assignToReference>Seller_to_update.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Eastern Europe</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Seller_Billing_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Latin_America_and_the_Carrib</name>
        <label>Assign Latin America and the Caribbean</label>
        <locationX>3119</locationX>
        <locationY>52</locationY>
        <assignmentItems>
            <assignToReference>Seller_to_update.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Latin America and the Caribbean</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Seller_Billing_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Merchant_Stage</name>
        <label>Assign - Merchant Stage</label>
        <locationX>2810</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Seller_to_update.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>First-contact</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Seller</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Northern_Africa</name>
        <label>Assign Northern Africa</label>
        <locationX>3256</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>Seller_to_update.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Northern Africa</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Seller_Billing_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Northern_America</name>
        <label>Assign Northern America</label>
        <locationX>3373</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>Seller_to_update.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Northern America</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Seller_Billing_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Northern_Europe</name>
        <label>Assign Northern Europe</label>
        <locationX>2501</locationX>
        <locationY>224</locationY>
        <assignmentItems>
            <assignToReference>Seller_to_update.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Northern Europe</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Seller_Billing_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Oceania</name>
        <label>Assign Oceania</label>
        <locationX>2617</locationX>
        <locationY>223</locationY>
        <assignmentItems>
            <assignToReference>Seller_to_update.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Oceania</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Seller_Billing_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_record_value_to_Connection</name>
        <label>Assign record value to Connection</label>
        <locationX>864</locationX>
        <locationY>630</locationY>
        <assignmentItems>
            <assignToReference>Seller_to_update.Connection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Connection__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Type_of_Company</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_record_value_to_Language</name>
        <label>Assign record value to Language</label>
        <locationX>1353</locationX>
        <locationY>634</locationY>
        <assignmentItems>
            <assignToReference>Seller_to_update.Onboarding_language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Prefered_Language__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_SKU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_record_value_to_Onboarding_Type_S</name>
        <label>Assign record value to Onboarding Type S</label>
        <locationX>2349</locationX>
        <locationY>635</locationY>
        <assignmentItems>
            <assignToReference>Seller_to_update.BackWatch_Onboarding_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Type S</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Change_Stage_to_First_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_record_value_to_Qualification_Form_Completed</name>
        <label>Assign record value to Qualification Form Completed</label>
        <locationX>2100</locationX>
        <locationY>651</locationY>
        <assignmentItems>
            <assignToReference>Seller_to_update.Qualification_Form_completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Seller_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_record_value_to_SKU</name>
        <label>Assign record value to # SKU</label>
        <locationX>1591</locationX>
        <locationY>646</locationY>
        <assignmentItems>
            <assignToReference>Seller_to_update.Number_of_SKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Number_of_SKU__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Stock_available</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_record_value_to_Stock_Available</name>
        <label>Assign record value to Stock Available</label>
        <locationX>1857</locationX>
        <locationY>654</locationY>
        <assignmentItems>
            <assignToReference>Seller_to_update.Volumes_sold_week__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Stocks_Available__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Qualification_form_completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_record_value_to_Type_of_Company</name>
        <label>Assign record value to Type of Company</label>
        <locationX>1113</locationX>
        <locationY>630</locationY>
        <assignmentItems>
            <assignToReference>Seller_to_update.Profile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type_of_company__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Language</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_record_value_to_Type_of_Products</name>
        <label>Assign record value to Type of Products</label>
        <locationX>596</locationX>
        <locationY>624</locationY>
        <assignmentItems>
            <assignToReference>Seller_to_update.Type_of_product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type_of_Products__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Connection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Seller_Billing_Country</name>
        <label>Assign - Seller Billing Country</label>
        <locationX>2581</locationX>
        <locationY>680</locationY>
        <assignmentItems>
            <assignToReference>Seller_to_update.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Merchant_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Seller_Id</name>
        <label>Assign Seller Id</label>
        <locationX>340</locationX>
        <locationY>729</locationY>
        <assignmentItems>
            <assignToReference>Seller_to_update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Type_of_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_seller_value_to_Connection</name>
        <label>Assign seller value to Connection</label>
        <locationX>865</locationX>
        <locationY>826</locationY>
        <assignmentItems>
            <assignToReference>Seller_to_update.Connection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Connection__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Type_of_Company</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_seller_value_to_Language</name>
        <label>Assign seller value to Language</label>
        <locationX>1354</locationX>
        <locationY>830</locationY>
        <assignmentItems>
            <assignToReference>Seller_to_update.Onboarding_language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Onboarding_language__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_SKU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_seller_value_to_SKU</name>
        <label>Assign seller value to # SKU</label>
        <locationX>1592</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>Seller_to_update.Number_of_SKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Number_of_SKU__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Stock_available</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_seller_value_to_Stock_Available</name>
        <label>Assign seller value to Stock Available</label>
        <locationX>1850</locationX>
        <locationY>855</locationY>
        <assignmentItems>
            <assignToReference>Seller_to_update.Volumes_sold_week__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Volumes_sold_week__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Qualification_form_completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_seller_value_to_Type_of_Company</name>
        <label>Assign seller value to Type of Company</label>
        <locationX>1116</locationX>
        <locationY>830</locationY>
        <assignmentItems>
            <assignToReference>Seller_to_update.Profile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Profile__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Language</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_seller_value_to_Type_of_Products</name>
        <label>Assign seller value to Type of Products</label>
        <locationX>621</locationX>
        <locationY>798</locationY>
        <assignmentItems>
            <assignToReference>Seller_to_update.Type_of_product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Type_of_product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Connection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_South_America</name>
        <label>Assign South America</label>
        <locationX>2736</locationX>
        <locationY>225</locationY>
        <assignmentItems>
            <assignToReference>Seller_to_update.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>South America</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Seller_Billing_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_South_eastern_Asia</name>
        <label>Assign South-eastern Asia</label>
        <locationX>2865</locationX>
        <locationY>225</locationY>
        <assignmentItems>
            <assignToReference>Seller_to_update.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>South-eastern Asia</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Seller_Billing_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Southern_Europe</name>
        <label>Assign Southern Europe</label>
        <locationX>2991</locationX>
        <locationY>222</locationY>
        <assignmentItems>
            <assignToReference>Seller_to_update.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Southern Europe</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Seller_Billing_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sub_Saharan_Africa</name>
        <label>Assign Sub-Saharan Africa</label>
        <locationX>3101</locationX>
        <locationY>221</locationY>
        <assignmentItems>
            <assignToReference>Seller_to_update.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sub-Saharan Africa</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Seller_Billing_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Western_Asia</name>
        <label>Assign Western Asia</label>
        <locationX>3238</locationX>
        <locationY>220</locationY>
        <assignmentItems>
            <assignToReference>Seller_to_update.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Western Asia</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Seller_Billing_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Western_Europe</name>
        <label>Assign Western Europe</label>
        <locationX>3355</locationX>
        <locationY>219</locationY>
        <assignmentItems>
            <assignToReference>Seller_to_update.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Western Europe</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Seller_Billing_Country</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Change_Stage_to_First_Contact</name>
        <label>Decision - Change Stage to First-Contact</label>
        <locationX>2333</locationX>
        <locationY>532</locationY>
        <defaultConnector>
            <targetReference>Assign_Seller_Billing_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Move_to_First_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.Back_Office_PK__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Identification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.AccountSource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Country_is_null</targetReference>
            </connector>
            <label>Yes - Move to First contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Connection</name>
        <label>Decision - Connection</label>
        <locationX>745</locationX>
        <locationY>737</locationY>
        <defaultConnector>
            <targetReference>Assign_seller_value_to_Connection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Connection_is_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Connection__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_record_value_to_Connection</targetReference>
            </connector>
            <label>Connection is not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Country_is_null</name>
        <label>Decision - Country is null</label>
        <locationX>2339</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_Merchant_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Country_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Region_to_assign</targetReference>
            </connector>
            <label>Country is empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Language</name>
        <label>Decision - Language</label>
        <locationX>1234</locationX>
        <locationY>741</locationY>
        <defaultConnector>
            <targetReference>Assign_seller_value_to_Language</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Language_is_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Prefered_Language__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_record_value_to_Language</targetReference>
            </connector>
            <label>Language is not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_sub_stage</name>
        <label>Decision on sub-stage</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sub_Stage_is_Merchant_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft completion (Merchant Owner)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Exit Phase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_task_for_Merchant_Owner</targetReference>
            </connector>
            <label>Sub-Stage is (Merchant Owner)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_user_bypass_flow</name>
        <label>Decision on user bypass flow</label>
        <locationX>169</locationX>
        <locationY>570</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>USer_dont_bypass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ByPassFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Qualification_Form</targetReference>
            </connector>
            <label>USer dont bypass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Qualification_Form</name>
        <label>Decision - Qualification Form</label>
        <locationX>176</locationX>
        <locationY>728</locationY>
        <defaultConnector>
            <targetReference>Decision_on_sub_stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Qualification_Form_is_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Lead_Seller_Qualification_Form__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Seller_Id</targetReference>
            </connector>
            <label>Qualification Form is created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Qualification_form_completed</name>
        <label>Decision - Qualification form completed</label>
        <locationX>1977</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>Assign_record_value_to_Qualification_Form_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Qualification_Form_Completed_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.Qualification_Form_completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Seller_Stage</targetReference>
            </connector>
            <label>Qualification Form Completed not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Region_to_assign</name>
        <label>Decision - Region to assign</label>
        <locationX>2330</locationX>
        <locationY>191</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Antartica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Antarctica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Antartica</targetReference>
            </connector>
            <label>Antartica</label>
        </rules>
        <rules>
            <name>Central_America</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Costa Rica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>El Salvador</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guatemala</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Honduras</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mexico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nicaragua</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Panama</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Central_America</targetReference>
            </connector>
            <label>Central America</label>
        </rules>
        <rules>
            <name>Central_Asia</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kazakhstan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kyrgyzstan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tajikistan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Turkmenistan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Uzbekistan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Central_Asia</targetReference>
            </connector>
            <label>Central Asia</label>
        </rules>
        <rules>
            <name>Eastern_Asia</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>China</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chinese Taipei</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hong Kong</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Japan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Korea, Democratic People&apos;s Republic of</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Korea, Republic of</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Macao</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mongolia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Eastern_Asia</targetReference>
            </connector>
            <label>Eastern Asia</label>
        </rules>
        <rules>
            <name>Eastern_Europe</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Belarus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bulgaria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Czech Republic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hungary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Moldova, Republic of</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Poland</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Romania</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Russian Federation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Slovakia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ukraine</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Eastern_Europe</targetReference>
            </connector>
            <label>Eastern Europe</label>
        </rules>
        <rules>
            <name>Latin_America_and_the_Caribbean</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Anguilla</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Antigua and Barbuda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aruba</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bahamas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Barbados</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bonaire, Sint Eustatius and Saba</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cayman Islands</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cuba</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Curaçao</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dominica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dominican Republic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grenada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guadeloupe</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Haiti</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jamaica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Martinique</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Montserrat</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saint Barthélemy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saint Kitts and Nevis</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saint Lucia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saint Martin (French part)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saint Vincent and the Grenadines</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sint Maarten (Dutch part)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trinidad and Tobago</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Turks and Caicos Islands</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Virgin Islands, British</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Latin_America_and_the_Carrib</targetReference>
            </connector>
            <label>Latin America and the Caribbean</label>
        </rules>
        <rules>
            <name>Northern_Africa</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Algeria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Egypt</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Libyan Arab Jamahiriya</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Morocco</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Palestinian Territory, Occupied</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sudan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tunisia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Western Sahara</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Northern_Africa</targetReference>
            </connector>
            <label>Northern Africa</label>
        </rules>
        <rules>
            <name>Northern_America</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bermuda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Greenland</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saint Pierre and Miquelon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Northern_America</targetReference>
            </connector>
            <label>Northern America</label>
        </rules>
        <rules>
            <name>Northern_Europe</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aland Islands</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denmark</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estonia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Faroe Islands</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finland</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guernsey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Iceland</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ireland</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Isle of Man</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jersey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Latvia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lithuania</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Norway</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Svalbard and Jan Mayen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sweden</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Kingdom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Northern_Europe</targetReference>
            </connector>
            <label>Northern Europe</label>
        </rules>
        <rules>
            <name>Oceania</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Christmas Island</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cocos (Keeling) Islands</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cook Islands</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fiji</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French Polynesia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Heard Island and McDonald Islands</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kiribati</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nauru</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Caledonia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Zealand</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Niue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Norfolk Island</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Papua New Guinea</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pitcairn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Samoa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solomon Islands</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tokelau</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tonga</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tuvalu</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vanuatu</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wallis and Futuna</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Oceania</targetReference>
            </connector>
            <label>Oceania</label>
        </rules>
        <rules>
            <name>South_America</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Argentina</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bolivia, Plurinational State of</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bouvet Island</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brazil</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Colombia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ecuador</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Falkland Islands (Malvinas)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French Guiana</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guyana</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paraguay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Peru</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>South Georgia and the South Sandwich Islands</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suriname</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Uruguay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Venezuela, Bolivarian Republic of</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_South_America</targetReference>
            </connector>
            <label>South America</label>
        </rules>
        <rules>
            <name>South_eastern_Asia</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Afghanistan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bangladesh</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bhutan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brunei Darussalam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cambodia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>India</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Indonesia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Iran, Islamic Republic of</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lao People&apos;s Democratic Republic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Malaysia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Maldives</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Myanmar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nepal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pakistan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Philippines</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Singapore</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sri Lanka</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Thailand</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Timor-Leste</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Viet Nam</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_South_eastern_Asia</targetReference>
            </connector>
            <label>South-eastern Asia</label>
        </rules>
        <rules>
            <name>Southern_Europe</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Albania</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Andorra</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bosnia and Herzegovina</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Croatia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gibraltar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Greece</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Holy See (Vatican City State)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Italy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Macedonia, the former Yugoslav Republic of</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Malta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Montenegro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portugal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Republic of Kosovo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>San Marino</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Serbia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Slovenia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spain</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Southern_Europe</targetReference>
            </connector>
            <label>Southern Europe</label>
        </rules>
        <rules>
            <name>Sub_Saharan_Africa</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Angola</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Botswana</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>British Indian Ocean Territory</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Burkina Faso</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Burundi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cameroon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cape Verde</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Central African Republic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chad</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comoros</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Congo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Congo, the Democratic Republic of the</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cote d&apos;Ivoire</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Djibouti</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equatorial Guinea</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Eritrea</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ethiopia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French Southern Territories</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gabon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gambia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ghana</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Papua New Guinea</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guinea-Bissau</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kenya</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lesotho</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liberia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Madagascar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Malawi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mali</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mauritania</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mauritius</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mayotte</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mozambique</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Namibia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Niger</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nigeria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reunion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rwanda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saint Helena, Ascension and Tristan da Cunha</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sao Tome and Principe</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Senegal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seychelles</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sierra Leone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Somalia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>South Africa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>South Sudan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Swaziland</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tanzania, United Republic of</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Togo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Uganda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zambia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zimbabwe</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sub_Saharan_Africa</targetReference>
            </connector>
            <label>Sub-Saharan Africa</label>
        </rules>
        <rules>
            <name>Western_Asia</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Armenia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Azerbaijan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bahrain</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cyprus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Georgia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Iraq</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Israel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jordan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kuwait</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lebanon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oman</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qatar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saudi Arabia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Syrian Arab Republic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Turkey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Arab Emirates</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yemen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Western_Asia</targetReference>
            </connector>
            <label>Western Asia</label>
        </rules>
        <rules>
            <name>Western_Europe</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Austria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Belgium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>France</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liechtenstein</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Luxembourg</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monaco</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Netherlands</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Switzerland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Western_Europe</targetReference>
            </connector>
            <label>Western Europe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Seller_Stage</name>
        <label>Decision - Seller Stage</label>
        <locationX>2226</locationX>
        <locationY>770</locationY>
        <defaultConnector>
            <targetReference>Update_Seller</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Live_and_Type_S</name>
            <conditionLogic>1 AND 2 AND ((3 OR 4 OR 5) OR (6 OR 7 OR 8 OR 10)) AND 9 AND 11</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>N.M.O.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Run</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_SKU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>50-99</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_SKU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10-49</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_SKU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1-9</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stocks_Available__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stocks_Available__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1-9</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stocks_Available__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10-49</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Merchant_EU__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stocks_Available__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>50-99</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Prefered_Language__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Chinese</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_record_value_to_Onboarding_Type_S</targetReference>
            </connector>
            <label>Not Live and Type S</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_SKU</name>
        <label>Decision - # SKU</label>
        <locationX>1472</locationX>
        <locationY>753</locationY>
        <defaultConnector>
            <targetReference>Assign_seller_value_to_SKU</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SKU_is_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_SKU__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_record_value_to_SKU</targetReference>
            </connector>
            <label># SKU is not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Stock_available</name>
        <label>Decision - Stock available</label>
        <locationX>1728</locationX>
        <locationY>750</locationY>
        <defaultConnector>
            <targetReference>Assign_seller_value_to_Stock_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stock_available_is_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stocks_Available__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_record_value_to_Stock_Available</targetReference>
            </connector>
            <label>Stock available is not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Type_of_Company</name>
        <label>Decision - Type of Company</label>
        <locationX>994</locationX>
        <locationY>737</locationY>
        <defaultConnector>
            <targetReference>Assign_seller_value_to_Type_of_Company</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Type_of_Company_is_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_of_company__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_record_value_to_Type_of_Company</targetReference>
            </connector>
            <label>Type of Company is not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Type_of_products</name>
        <label>Decision - Type of products</label>
        <locationX>477</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Assign_seller_value_to_Type_of_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Type_of_products_is_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_of_Products__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_record_value_to_Type_of_Products</targetReference>
            </connector>
            <label>Type of products is not empty</label>
        </rules>
    </decisions>
    <description>Fix =&gt; Kill Onboarding automation on Chinese Prefered Language</description>
    <environments>Default</environments>
    <formulas>
        <name>BizDev_Buyback_Email</name>
        <dataType>String</dataType>
        <expression>if( TEXT({!$Record.Merchant__r.BizDev_Buyback__r.Team__c})= &apos;Back Watch E.U.&apos;, &apos;backwatch@backmarket.com&apos;, if( TEXT({!$Record.Merchant__r.BizDev_Buyback__r.Team__c})= &apos;Back Watch U.S.&apos;, &apos;sam@backmarket.com&apos;,
if( TEXT({!$Record.Merchant__r.BizDev_Buyback__r.Team__c})= &apos;Selfcare E.U.&apos;, &apos;selfcare@backmarket.com&apos;,
{!$Record.Merchant__r.BizDev_Buyback__r.Email})))</expression>
    </formulas>
    <formulas>
        <name>BizDev_Email</name>
        <dataType>String</dataType>
        <expression>if( TEXT({!$Record.Merchant__r.Owner.Team__c})= &apos;SSM Back Watch E.U.&apos;, &apos;backwatch@backmarket.com&apos;,
if( TEXT({!$Record.Merchant__r.Owner.Team__c})= &apos;SSM Back Watch U.S.&apos;, &apos;sam@backmarket.com&apos;,
 if( TEXT({!$Record.Merchant__r.Owner.Team__c})= &apos;SSM Selfcare E.U.&apos;, &apos;selfcare@backmarket.com&apos;,
{!$Record.Merchant__r.Owner.Email})))</expression>
    </formulas>
    <formulas>
        <name>TaskOwnerId</name>
        <dataType>String</dataType>
        <expression>if({!$Record.Merchant__r.OwnerId}={!$Setup.UserID__c.PA__c},{!$Setup.UserID__c.BackWatch_EU__c} ,if({!$Record.Merchant__r.OwnerId}={!$Setup.UserID__c.Sam__c}, {!$Setup.UserID__c.BackWatch_US__c} , {!$Record.Merchant__r.OwnerId}))</expression>
    </formulas>
    <formulas>
        <name>TaskSubject_Owner</name>
        <dataType>String</dataType>
        <expression>{!$Record.Merchant__r.Name} +&apos; - Exit created (draft completion for merch. owner)&apos;</expression>
    </formulas>
    <formulas>
        <name>TypeOfExit</name>
        <dataType>String</dataType>
        <expression>if({!$Record.RecordTypeId}={!$Setup.Special_Process_Record_Types_Ids__c.Exit_buyback__c}, &quot;Buyback&quot;, &quot;Sales&quot;)</expression>
    </formulas>
    <interviewLabel>Merchant special process - After save flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Merchant special process - After save flow (Creation)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_task_for_Merchant_Owner</name>
        <label>Create task for Merchant Owner</label>
        <locationX>438</locationX>
        <locationY>949</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>TaskOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubject_Owner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Seller</name>
        <label>Update Seller</label>
        <locationX>2810</locationX>
        <locationY>938</locationY>
        <inputReference>Seller_to_update</inputReference>
    </recordUpdates>
    <start>
        <locationX>49</locationX>
        <locationY>304</locationY>
        <connector>
            <targetReference>Decision_on_user_bypass_flow</targetReference>
        </connector>
        <object>Merchant_Special_Process__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BodyEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>An exit draft has been created for {!$Record.Merchant__r.Name} .
Exit on {!TypeOfExit}
Created date: {!$Flow.CurrentDate}</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>An exit draft has been created for {!$Record.Merchant__r.Name}</text>
    </textTemplates>
    <variables>
        <name>AddressesForEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Current_SMP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Merchant_Special_Process__c</objectType>
    </variables>
    <variables>
        <name>Seller_to_update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Update_current_merchant</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Update_current_record</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
