force-app/main/default/flows/Merchant_Special_Process_After_Save_Flow_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Exit_Buyback_only_EN</name>
        <label>Email - Exit Buyback only - EN</label>
        <locationX>2248</locationX>
        <locationY>1224</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Get_open_exit_processes</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Template_NoticePeriod_Body_Buyback_EN</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>ContactsForEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>legal-sellers@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Template_NoticePeriod_Subject_Buyback_EN</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Exit_Buyback_only_FR</name>
        <label>Email - Exit Buyback only - FR</label>
        <locationX>2353</locationX>
        <locationY>1147</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Get_open_exit_processes</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Template_NoticePeriod_Body_Buyback_FR</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>ContactsForEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>legal-sellers@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Template_NoticePeriod_Subject_Buyback_FR</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Exit_Other_EN</name>
        <label>Email - Exit Other - EN</label>
        <locationX>2277</locationX>
        <locationY>835</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Get_open_exit_processes</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Template_NoticePeriod_Body_Other_EN</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>ContactsForEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>legal-sellers@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Template_NoticePeriod_Subject_Other_EN</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Exit_Other_FR</name>
        <label>Email - Exit Other - FR</label>
        <locationX>2382</locationX>
        <locationY>759</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Get_open_exit_processes</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Template_NoticePeriod_Body_Other_FR</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>ContactsForEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>legal-sellers@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Template_NoticePeriod_Subject_Other_FR</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Exit_Voluntary_Leave_EN</name>
        <label>Email - Exit Voluntary Leave - EN</label>
        <locationX>2440</locationX>
        <locationY>995</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Get_open_exit_processes</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Template_NoticePeriod_Body_VoluntaryLeave_EN</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>ContactsForEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>legal-sellers@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Template_NoticePeriod_Subject_VoluntaryLeave_EN</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Exit_Voluntary_Leave_FR</name>
        <label>Email - Exit Voluntary Leave - FR</label>
        <locationX>2572</locationX>
        <locationY>882</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Get_open_exit_processes</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Template_NoticePeriod_Body_VoluntaryLeave_FR</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>ContactsForEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>legal-sellers@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Template_NoticePeriod_Subject_VoluntaryLeave_FR</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_in_EN_0</name>
        <label>Email in EN</label>
        <locationX>2236</locationX>
        <locationY>1837</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Get_open_exit_processes</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Template_Done_Body_EN</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>ContactsForEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Template_Done_Subject_EN</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_in_FR_0</name>
        <label>Email in FR</label>
        <locationX>2248</locationX>
        <locationY>1709</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Get_open_exit_processes</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Template_Done_Body_FR</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>ContactsForEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Template_Done_Subject_FR</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_notification_to_quality_team</name>
        <label>Send notification to quality team</label>
        <locationX>874</locationX>
        <locationY>479</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Get_Task_for_TL</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_notification_type_id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>bodyQualityNotificationSubStageExemption</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>subjectNotificationQualitySubStageExemption</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>qualityActiveUsersIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_active_and_quality_user_to_list</name>
        <label>Add active and quality user to list</label>
        <locationX>1235</locationX>
        <locationY>358</locationY>
        <assignmentItems>
            <assignToReference>qualityActiveUsersIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_active_users.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_active_users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_contacts_to_variable_collection</name>
        <label>Add contacts to variable collection</label>
        <locationX>500</locationX>
        <locationY>1341</locationY>
        <assignmentItems>
            <assignToReference>ContactsForEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_contacts.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountContactsInVariable</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ContactsForEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_On_number_of_contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Merchant_Owner_and_Legal_to_variable_collection</name>
        <label>Add Merchant Owner and Legal to variable collection</label>
        <locationX>655</locationX>
        <locationY>1338</locationY>
        <assignmentItems>
            <assignToReference>ContactsForEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OwnerEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactsForEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>legal-sellers@backmarket.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Task_for_Legal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_quality_user_id</name>
        <label>Add quality user id</label>
        <locationX>916</locationX>
        <locationY>991</locationY>
        <assignmentItems>
            <assignToReference>qualityUsersIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_quality_permission_set_assignments.AssigneeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_quality_permission_set_assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Merchant_Id_to_variable</name>
        <label>Assign Merchant Id to variable</label>
        <locationX>205</locationX>
        <locationY>999</locationY>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_On_change_stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Merchant_info_for_exit_Buyback</name>
        <label>Assign - Merchant info for exit Buyback</label>
        <locationX>1747</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Buyback_limitation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Limitation_to_apply__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Exit_Buyback_Granted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_merchant_Ongoing_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Merchant_info_for_exit_Buyback_done</name>
        <label>Assign - Merchant info for exit Buyback done</label>
        <locationX>1454</locationX>
        <locationY>1720</locationY>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Buyback_limitation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Exit_Buyback_Granted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Stage_Buyback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Buyback Offline</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_merchant_Exit_Done</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Merchant_info_for_exit_Sales</name>
        <label>Assign - Merchant info for exit Sales</label>
        <locationX>1750</locationX>
        <locationY>894</locationY>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Exit_granted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Reason_for_last_Sales_limitation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SELLER_LIFE_CYCLE_EXIT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Sales_limitation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Limitation_to_apply__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_merchant_Ongoing_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Merchant_info_for_exit_Sales_0</name>
        <label>Assign - Merchant info for exit Sales</label>
        <locationX>1410</locationX>
        <locationY>762</locationY>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Blacklisted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Check_Debt</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_On_Exit_RecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Merchant_info_for_exit_Sales_0_0</name>
        <label>Assign - Merchant info for exit Sales</label>
        <locationX>1463</locationX>
        <locationY>1623</locationY>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Blacklisted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Check_Debt</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_On_Exit_RecordType_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Merchant_info_for_exit_Sales_and_Buyback</name>
        <label>Assign - Merchant info for exit Sales and Buyback</label>
        <locationX>1744</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Buyback_limitation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Exit_Buyback_Granted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Exit_granted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Reason_for_last_Sales_limitation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SELLER_LIFE_CYCLE_EXIT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Sales_limitation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Limitation_to_apply__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Stage_Buyback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Buyback Offline</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exit_Buyback_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Merchant_info_for_exit_Sales_and_Buyback_0</name>
        <label>Assign - Merchant info for exit Sales and Buyback</label>
        <locationX>1852</locationX>
        <locationY>1365</locationY>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Buyback_limitation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Exit_Buyback_Granted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Exit_granted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Reason_for_last_Sales_limitation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SELLER_LIFE_CYCLE_EXIT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Sales_limitation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Stage_Buyback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Buyback Offline</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Offline</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exit_Buyback</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Merchant_info_for_exit_Sales_done</name>
        <label>Assign - Merchant info for exit Sales done</label>
        <locationX>1854</locationX>
        <locationY>1539</locationY>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Exit_granted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Reason_for_last_Sales_limitation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SELLER_LIFE_CYCLE_EXIT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Sales_limitation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Offline</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_merchant_Exit_Done</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reverse_Buyback_Exit</name>
        <label>Assign - Reverse Buyback Exit</label>
        <locationX>206</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Exit_Buyback_Granted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_merchant_Reverse_exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reverse_Sales_Exit</name>
        <label>Assign - Reverse Sales Exit</label>
        <locationX>69</locationX>
        <locationY>1365</locationY>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Exit_granted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.DMP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_merchant_Reverse_exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_to_Completed</name>
        <label>Assign Status to Completed</label>
        <locationX>844</locationX>
        <locationY>1352</locationY>
        <assignmentItems>
            <assignToReference>LegalTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LegalTask.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_for_Legal.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Legal_task_to_Completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cancel_Exit</name>
        <label>Cancel Exit</label>
        <locationX>2954</locationX>
        <locationY>1191</locationY>
        <assignmentItems>
            <assignToReference>Current_Exit.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Exit_processes.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_Exit.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_Exit.Tech_Cancelled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_Exit.Exemption_request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Duplicated Exit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cancel_Exit_to_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cancel_Exit_to_variable</name>
        <label>Cancel Exit to variable</label>
        <locationX>3085</locationX>
        <locationY>1199</locationY>
        <assignmentItems>
            <assignToReference>Exit_to_update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Current_Exit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Exit_processes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Exit_Launch</name>
        <label>Decision - Exit Launch</label>
        <locationX>1113</locationX>
        <locationY>1203</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exit_Launch_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Launch_the_exit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_On_Notice_Period_Duration</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Exit Launch = True</label>
        </rules>
        <rules>
            <name>Stage_is_change_to_Done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Done</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MSP_to_Done</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Stage is change to Done</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_List_not_empty</name>
        <label>Decision - List not empty</label>
        <locationX>2784</locationX>
        <locationY>1351</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exit_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_open_exit_processes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Exit_processes</targetReference>
            </connector>
            <label>Exit found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_On_change_stage</name>
        <label>Decision - On change stage</label>
        <locationX>195</locationX>
        <locationY>1163</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exit_launched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Launch_the_exit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_contacts</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Exit launched</label>
        </rules>
        <rules>
            <name>Moved_to_Done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Done</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_contacts</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Moved to Done</label>
        </rules>
        <rules>
            <name>Sales_Exit_is_Cancelled</name>
            <conditionLogic>1 AND (2 OR 3) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Exit__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Exit_US__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Stage__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tech_Cancelled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Reverse_Sales_Exit</targetReference>
            </connector>
            <label>Sales Exit is Cancelled</label>
        </rules>
        <rules>
            <name>Buyback_Exit_is_cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Stage__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Exit_buyback__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tech_Cancelled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Reverse_Buyback_Exit</targetReference>
            </connector>
            <label>Buyback Exit is cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_On_Exit_RecordType</name>
        <label>Decision - On Exit RecordType</label>
        <locationX>1557</locationX>
        <locationY>1087</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exit_for_debt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Exit_sub_reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Debt / Debit Note</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Debt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Merchant_info_for_exit_Sales_0</targetReference>
            </connector>
            <label>Exit for debt</label>
        </rules>
        <rules>
            <name>Exit_Sales</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Exit__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Exit_US__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_On_merchant_Buyback_stage_0</targetReference>
            </connector>
            <label>Exit Sales</label>
        </rules>
        <rules>
            <name>Exit_Buyback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Exit_buyback__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Merchant_info_for_exit_Buyback</targetReference>
            </connector>
            <label>Exit Buyback</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_On_Exit_RecordType_0</name>
        <label>Decision - On Exit RecordType</label>
        <locationX>1538</locationX>
        <locationY>1446</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exit_for_Debt0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Exit_sub_reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Debt / Debit Note</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Debt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Merchant_info_for_exit_Sales_0_0</targetReference>
            </connector>
            <label>Exit for Debt0</label>
        </rules>
        <rules>
            <name>Exit_Sales_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Exit__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Exit_US__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_On_merchant_Buyback_stage</targetReference>
            </connector>
            <label>Exit Sales</label>
        </rules>
        <rules>
            <name>Exit_Buyback_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Exit_buyback__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Merchant_info_for_exit_Buyback_done</targetReference>
            </connector>
            <label>Exit Buyback</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_On_Language</name>
        <label>Decision - On Language</label>
        <locationX>2093</locationX>
        <locationY>1015</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exit_Buyback_Only_FR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Com_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disable_automatic_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Exit_sub_reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Buyback Exit due to Sales Exit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Exit_buyback__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Exit_Buyback_only_FR</targetReference>
            </connector>
            <label>Exit Buyback Only - FR</label>
        </rules>
        <rules>
            <name>Exit_Buyback_only_EN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Com_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disable_automatic_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Exit_sub_reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Buyback Exit due to Sales Exit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Exit_buyback__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Exit_Buyback_only_EN</targetReference>
            </connector>
            <label>Exit Buyback only - EN</label>
        </rules>
        <rules>
            <name>Exit_Voluntary_Leave_FR</name>
            <conditionLogic>1 AND 2 AND  (3 OR 4 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Com_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disable_automatic_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason_for_exit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Voluntary Leave</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason_for_exit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Exit_Voluntary_Leave_FR</targetReference>
            </connector>
            <label>Exit Voluntary Leave - FR</label>
        </rules>
        <rules>
            <name>Exit_Voluntary_Leave_EN</name>
            <conditionLogic>1 AND 2 AND  (3 OR 4 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Com_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disable_automatic_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason_for_exit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Voluntary Leave</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason_for_exit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Exit_Voluntary_Leave_EN</targetReference>
            </connector>
            <label>Exit Voluntary Leave - EN</label>
        </rules>
        <rules>
            <name>Exit_Other_FR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Com_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disable_automatic_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Exit_Other_FR</targetReference>
            </connector>
            <label>Exit Other - FR</label>
        </rules>
        <rules>
            <name>Exit_Other_EN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Com_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disable_automatic_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Exit_Other_EN</targetReference>
            </connector>
            <label>Exit Other - EN</label>
        </rules>
        <rules>
            <name>No_communication</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Disable_automatic_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_open_exit_processes</targetReference>
            </connector>
            <label>No communication</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_On_Language_0</name>
        <label>Decision - On Language</label>
        <locationX>2084</locationX>
        <locationY>1751</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Language_is_FR_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Com_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disable_automatic_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_in_FR_0</targetReference>
            </connector>
            <label>Language is FR</label>
        </rules>
        <rules>
            <name>Language_is_EN_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Com_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disable_automatic_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_in_EN_0</targetReference>
            </connector>
            <label>Language is EN</label>
        </rules>
        <rules>
            <name>No_Comm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Disable_automatic_email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_open_exit_processes</targetReference>
            </connector>
            <label>No Comm</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_On_merchant_Buyback_stage</name>
        <label>Decision - On merchant Buyback stage</label>
        <locationX>1698</locationX>
        <locationY>1443</locationY>
        <defaultConnector>
            <targetReference>Assign_Merchant_info_for_exit_Sales_done</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Buyback_stage_is_Run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Merchant__r.Stage_Buyback__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyback Run</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Merchant_info_for_exit_Sales_and_Buyback_0</targetReference>
            </connector>
            <label>Buyback stage is Run</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_On_merchant_Buyback_stage_0</name>
        <label>Decision - On merchant Buyback stage</label>
        <locationX>1557</locationX>
        <locationY>806</locationY>
        <defaultConnector>
            <targetReference>Assign_Merchant_info_for_exit_Sales</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Buyback_stage_is_Run_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Merchant__r.Stage_Buyback__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyback Run</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Merchant_info_for_exit_Sales_and_Buyback</targetReference>
            </connector>
            <label>Buyback stage is Run</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_On_Notice_Period_Duration</name>
        <label>Decision - On Notice Period Duration</label>
        <locationX>1250</locationX>
        <locationY>1104</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Notice_Period_Duration_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Notice_period_duration_days__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Notice_period_duration_days__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MSP</targetReference>
            </connector>
            <label>Notice Period Duration is not null</label>
        </rules>
        <rules>
            <name>Notice_Period_Duration_is_null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Notice_period_duration_days__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Notice_period_duration_days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MSP_to_Done</targetReference>
            </connector>
            <label>Notice Period Duration is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_On_number_of_contacts</name>
        <label>Decision - On number of contacts</label>
        <locationX>491</locationX>
        <locationY>1221</locationY>
        <defaultConnector>
            <targetReference>Add_Merchant_Owner_and_Legal_to_variable_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains_less_than_3_contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountContactsInVariable</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_contacts</targetReference>
            </connector>
            <label>Contains less than 3 contacts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_sub_stage_update</name>
        <label>Decision on sub-stage update</label>
        <locationX>204</locationX>
        <locationY>525</locationY>
        <defaultConnector>
            <targetReference>Assign_Merchant_Id_to_variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Updated_to_Merchant_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sub_stage__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft completion (Merchant Owner)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_task_for_Merchant_Owner</targetReference>
            </connector>
            <label>Updated to Merchant Owner</label>
        </rules>
        <rules>
            <name>Updated_to_TL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sub_stage__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft completion (TL)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_task_for_TL</targetReference>
            </connector>
            <label>Updated to TL</label>
        </rules>
        <rules>
            <name>Updated_to_Finance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sub_stage__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft approval (Finance)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_task_for_Finance</targetReference>
            </connector>
            <label>Updated to Finance</label>
        </rules>
        <rules>
            <name>Updated_to_Legal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sub_stage__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft approval (Legal)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_task_for_Legal</targetReference>
            </connector>
            <label>Updated to Legal</label>
        </rules>
        <rules>
            <name>Updated_to_Quality_Exception</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sub_stage__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft exemption</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_quality_permission_set</targetReference>
            </connector>
            <label>Updated to Quality Exception</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_user_bypass_flow</name>
        <label>Decision on user bypass flow</label>
        <locationX>205</locationX>
        <locationY>331</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_don_t_bypass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ByPassFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_on_sub_stage_update</targetReference>
            </connector>
            <label>User don&apos;t bypass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_task_is_empty</name>
        <label>Get task is empty</label>
        <locationX>825</locationX>
        <locationY>1196</locationY>
        <defaultConnector>
            <targetReference>Assign_Status_to_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task_for_Legal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Exit_Launch</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_user_quality_and_active</name>
        <label>Is user quality and active</label>
        <locationX>1230</locationX>
        <locationY>481</locationY>
        <defaultConnector>
            <targetReference>Loop_through_active_users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qualityUsersIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_active_users.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_active_and_quality_user_to_list</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>Voluntary Exit + Business reason to include</description>
    <environments>Default</environments>
    <formulas>
        <name>EndPeriodNotice</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+{!$Record.Notice_period_duration_days__c}</expression>
    </formulas>
    <formulas>
        <name>ETA</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.End_of_notice_period__c})</expression>
    </formulas>
    <formulas>
        <name>exitSubReason</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Reason_for_exit__c}, &apos;Quality&apos;), TEXT({!$Record.Exit_sub_reason__c}) &amp; IF(ISPICKVAL({!$Record.Com_Language__c}, &apos;FR&apos;), &apos; - Echec de votre Dernire Chance&apos;, &apos; - Last Chance Failed&apos;), TEXT({!$Record.Exit_sub_reason__c}))</expression>
    </formulas>
    <formulas>
        <name>OwnerEmail</name>
        <dataType>String</dataType>
        <expression>if( TEXT({!$Record.Merchant__r.Owner.Team__c})= &apos;SSM Back Watch E.U.&apos;, &apos;backwatch@backmarket.com&apos;, 
if( TEXT({!$Record.Merchant__r.Owner.Team__c})= &apos;Activation E.U.&apos;, &apos;activation-eu@backmarket.com&apos;, 
if( TEXT({!$Record.Merchant__r.Owner.Team__c})= &apos;SSM Back Watch U.S.&apos;, &apos;sam@backmarket.com&apos;,
if( TEXT({!$Record.Merchant__r.Owner.Team__c})= &apos;SSM Selfcare E.U.&apos;, &apos;selfcare@backmarket.com&apos;,
{!$Record.Merchant__r.Owner.Email}))))</expression>
    </formulas>
    <formulas>
        <name>subjectNotificationQualitySubStageExemption</name>
        <dataType>String</dataType>
        <expression>&apos;Exemption Exit Process &apos; &amp; {!$Record.Merchant__r.Name}</expression>
    </formulas>
    <formulas>
        <name>TaskOwnerId_MerchantOwner</name>
        <dataType>String</dataType>
        <expression>if({!$Record.Merchant__r.OwnerId}={!$Setup.UserID__c.PA__c},{!$Setup.UserID__c.BackWatch_EU__c} ,if({!$Record.Merchant__r.OwnerId}={!$Setup.UserID__c.Sam__c}, {!$Setup.UserID__c.BackWatch_US__c} , {!$Record.Merchant__r.OwnerId}))</expression>
    </formulas>
    <formulas>
        <name>TaskSubject_Finance</name>
        <dataType>String</dataType>
        <expression>{!$Record.Merchant__r.Name} +&apos; - Exit approval (Finance)&apos;</expression>
    </formulas>
    <formulas>
        <name>TaskSubject_Legal</name>
        <dataType>String</dataType>
        <expression>{!$Record.Merchant__r.Name} +&apos; - Exit approval (Legal)&apos;</expression>
    </formulas>
    <formulas>
        <name>TaskSubject_Owner</name>
        <dataType>String</dataType>
        <expression>{!$Record.Merchant__r.Name} +&apos; - Exit created (draft completion for merch. owner)&apos;</expression>
    </formulas>
    <formulas>
        <name>TaskSubject_TL</name>
        <dataType>String</dataType>
        <expression>{!$Record.Merchant__r.Name} +&apos; - Exit created (draft completion for TL)&apos;</expression>
    </formulas>
    <interviewLabel>Merchant Special Process - After Save Flow (Update) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Merchant Special Process - After Save Flow (Update)</label>
    <loops>
        <name>Loop_on_contacts</name>
        <label>Loop on contacts</label>
        <locationX>329</locationX>
        <locationY>1336</locationY>
        <collectionReference>Get_contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_contacts_to_variable_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Merchant_Owner_and_Legal_to_variable_collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Exit_processes</name>
        <label>Loop on Exit processes</label>
        <locationX>2952</locationX>
        <locationY>1347</locationY>
        <collectionReference>Get_open_exit_processes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cancel_Exit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Exit_Processes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_active_users</name>
        <label>Loop through active users</label>
        <locationX>1237</locationX>
        <locationY>613</locationY>
        <collectionReference>Get_active_users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_user_quality_and_active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_notification_type_id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_quality_permission_set_assignments</name>
        <label>Loop through quality permission set assignments</label>
        <locationX>1087</locationX>
        <locationY>730</locationY>
        <collectionReference>Get_quality_permission_set_assignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_quality_user_id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_active_users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Exit_Buyback</name>
        <label>Create Exit Buyback</label>
        <locationX>1982</locationX>
        <locationY>1366</locationY>
        <connector>
            <targetReference>Update_merchant_Exit_Done</targetReference>
        </connector>
        <inputAssignments>
            <field>Exit_sub_reason__c</field>
            <value>
                <stringValue>Buyback Exit due to Sales Exit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Has_Been_Done_On__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant__c</field>
            <value>
                <elementReference>$Record.Merchant__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_exit__c</field>
            <value>
                <stringValue>Business</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Exit_buyback__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Done</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Triggered_by__c</field>
            <value>
                <stringValue>Business: Sales exit launched</stringValue>
            </value>
        </inputAssignments>
        <object>Merchant_Special_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Exit_Buyback_0</name>
        <label>Create Exit Buyback</label>
        <locationX>1962</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Update_merchant_Ongoing_Exit</targetReference>
        </connector>
        <inputAssignments>
            <field>End_of_notice_period__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exit_sub_reason__c</field>
            <value>
                <stringValue>Buyback Exit due to Sales Exit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Has_Been_Done_On__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant__c</field>
            <value>
                <elementReference>$Record.Merchant__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_exit__c</field>
            <value>
                <stringValue>Business</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Exit_buyback__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Done</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Triggered_by__c</field>
            <value>
                <stringValue>Business: Sales exit launched</stringValue>
            </value>
        </inputAssignments>
        <object>Merchant_Special_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_task_for_Finance</name>
        <label>Create task for Finance</label>
        <locationX>426</locationX>
        <locationY>729</locationY>
        <connector>
            <targetReference>Get_Task_for_TL</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Setup.UserID__c.Risk_Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubject_Finance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_task_for_Legal</name>
        <label>Create task for Legal</label>
        <locationX>361</locationX>
        <locationY>869</locationY>
        <connector>
            <targetReference>Get_Task_for_Finance</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Setup.UserID__c.Legal_Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubject_Legal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_task_for_Merchant_Owner</name>
        <label>Create task for Merchant Owner</label>
        <locationX>373</locationX>
        <locationY>454</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>TaskOwnerId_MerchantOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubject_Owner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_task_for_TL</name>
        <label>Create task for TL</label>
        <locationX>371</locationX>
        <locationY>597</locationY>
        <connector>
            <targetReference>Get_Task_for_Merchant_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Merchant__r.Manager_Sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubject_TL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_active_users</name>
        <label>Get active users</label>
        <locationX>1242</locationX>
        <locationY>728</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_active_users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Setup.ProfileId__c.Customer_Community_User__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_contacts</name>
        <label>Get contacts</label>
        <locationX>329</locationX>
        <locationY>1169</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Merchant__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>HasOptedOutOfEmail</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_notification_type_id</name>
        <label>Get notification type id</label>
        <locationX>1011</locationX>
        <locationY>478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_notification_to_quality_team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All_supported_channels</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_open_exit_processes</name>
        <label>Get open exit processes</label>
        <locationX>2649</locationX>
        <locationY>1349</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_List_not_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Exit Phase</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Merchant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Merchant__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Merchant_Special_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_quality_permission_set</name>
        <label>Get quality permission set</label>
        <locationX>816</locationX>
        <locationY>728</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_quality_permission_set_assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quality_Admin</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_quality_permission_set_assignments</name>
        <label>Get quality permission set assignments</label>
        <locationX>930</locationX>
        <locationY>728</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_quality_permission_set_assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_quality_permission_set.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssigneeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_for_Finance</name>
        <label>Get Task for Finance</label>
        <locationX>525</locationX>
        <locationY>870</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Finance_task_to_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskSubject_Finance</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_for_Legal</name>
        <label>Get Task for Legal</label>
        <locationX>655</locationX>
        <locationY>1202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_task_is_empty</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Decision_Exit_Launch</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskSubject_Legal</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_for_Merchant_Owner</name>
        <label>Get Task for Merchant Owner</label>
        <locationX>544</locationX>
        <locationY>597</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Owner_task_to_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskSubject_Owner</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_for_TL</name>
        <label>Get Task for TL</label>
        <locationX>547</locationX>
        <locationY>735</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_TL_task_to_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskSubject_TL</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Exit_Processes</name>
        <label>Update Exit Processes</label>
        <locationX>3158</locationX>
        <locationY>1365</locationY>
        <inputReference>Exit_to_update</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Finance_task_to_Completed</name>
        <label>Update Finance task to Completed</label>
        <locationX>672</locationX>
        <locationY>871</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task_for_Finance.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Legal_task_to_Completed</name>
        <label>Update Legal task to Completed</label>
        <locationX>999</locationX>
        <locationY>1351</locationY>
        <connector>
            <targetReference>Decision_Exit_Launch</targetReference>
        </connector>
        <inputReference>LegalTask</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_merchant_Exit_Done</name>
        <label>Update merchant - Exit Done</label>
        <locationX>2092</locationX>
        <locationY>1575</locationY>
        <connector>
            <targetReference>Decision_On_Language_0</targetReference>
        </connector>
        <inputReference>Merchant_to_update</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_merchant_Ongoing_Exit</name>
        <label>Update merchant - Ongoing Exit</label>
        <locationX>1962</locationX>
        <locationY>1013</locationY>
        <connector>
            <targetReference>Decision_On_Language</targetReference>
        </connector>
        <inputReference>Merchant_to_update</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_merchant_Reverse_exit</name>
        <label>Update merchant - Reverse exit</label>
        <locationX>131</locationX>
        <locationY>1548</locationY>
        <inputReference>Merchant_to_update</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MSP</name>
        <label>Update MSP</label>
        <locationX>1423</locationX>
        <locationY>1085</locationY>
        <connector>
            <targetReference>Decision_On_Exit_RecordType</targetReference>
        </connector>
        <inputAssignments>
            <field>End_of_notice_period__c</field>
            <value>
                <elementReference>EndPeriodNotice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Has_entered_Notice_Period_on__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Ongoing Notice Period</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MSP_to_Done</name>
        <label>Update MSP to Done</label>
        <locationX>1417</locationX>
        <locationY>1444</locationY>
        <connector>
            <targetReference>Decision_On_Exit_RecordType_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Has_Been_Done_On__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Done</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_task_to_Completed</name>
        <label>Update Owner task to Completed</label>
        <locationX>665</locationX>
        <locationY>597</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task_for_Merchant_Owner.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TL_task_to_Completed</name>
        <label>Update TL task to Completed</label>
        <locationX>669</locationX>
        <locationY>719</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task_for_TL.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>87</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Decision_on_user_bypass_flow</targetReference>
        </connector>
        <object>Merchant_Special_Process__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>bodyQualityNotificationSubStageExemption</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>An exemption has been requested in the Exit Process of {!$Record.Merchant__r.Name} and requires your decision.</text>
    </textTemplates>
    <textTemplates>
        <name>Template_Done_Body_EN</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Hi {!$Record.Merchant__r.Name},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Were letting you know that your account is now closed and our contract ends today.&amp;nbsp; You are no longer able to sell or purchase BuyBack items on Back Market.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;As a reminder, all orders placed on our marketplace before the closure of your account must be handled in accordance with our Terms and Conditions and Quality Charter.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;For after-sales services and warranties, youre required to remain in contact with Back Market agents until all warranties related to your items have expired.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Finally, please note that, as outlined in article 17 of the Sellers Terms and Conditions, a security payment will be held on your virtual wallet.&amp;nbsp; The amount of this security payment will be adjusted depending on any incurred refunds, and any remaining amount will be paid out to you at the expiration of the final warranty for any of your items sold on Back Market. You can track this amount on your invoices every 10 days via your Back Office.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Please contact your Back Market point of contact if you have any questions.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Thank you,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;The Back Market team&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Template_Done_Body_FR</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Bonjour {!$Record.Merchant__r.Name},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Nous vous informons que votre compte est maintenant ferm et que notre contrat prend fin aujourd&apos;hui.&amp;nbsp; Vous n&apos;tes plus en mesure de vendre ou d&apos;acheter des articles sur Back Market.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Pour rappel, toutes les commandes passes sur notre place de march avant la fermeture de votre compte doivent tre traites conformment  nos Conditions Gnrales Vendeurs et  notre Charte Qualit.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Concernant le service clientle et les garanties, vous tes tenu de rester en contact avec les agents de Back Market jusqu&apos; ce que toutes les garanties lies  vos articles aient expir.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Enfin, veuillez noter que, comme indiqu  l&apos;article 17 des CGV, un dpt de garantie sera retenu sur votre portefeuille virtuel.&amp;nbsp; Le montant de ce dpt de garantie sera ajust en fonction des remboursements effectus, et tout solde ventuel vous sera vers  l&apos;expiration de la dernire garantie dont vous tes redevable au titre des produits vendus sur Back Market. Vous pouvez suivre ce montant sur vos factures tous les 10 jours via votre Back Office.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Veuillez contacter votre point de contact Back Market si vous avez des questions.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Merci,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;L&apos;quipe Back Market&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Template_Done_Subject_EN</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>End of notice period &amp; closure of your account</text>
    </textTemplates>
    <textTemplates>
        <name>Template_Done_Subject_FR</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Fin de votre priode de pravis et clture de votre compte vendeur</text>
    </textTemplates>
    <textTemplates>
        <name>Template_NoticePeriod_Body_Buyback_EN</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Hi {!$Record.Merchant__r.Name},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;We regret to tell you that weve decided to end our BuyBack service with you, effective {!ETA}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Heres our reasoning:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt; {!exitSubReason}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;As outlined in article 19.2 of the Sellers Terms and Conditions, &lt;/span&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;were notifying you that as of {!ETA} (yyyy-mm-dd)&lt;/strong&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;, you wont be able to purchase BuyBack items on Back Market.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Please contact your Back Market point of contact if you have any questions.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Thank you,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, sans-serif; color: rgb(0, 0, 0);&quot;&gt;The Back Market team&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Template_NoticePeriod_Body_Buyback_FR</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Bonjour {!$Record.Merchant__r.Name},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Nous avons le regret de vous annoncer que nous avons dcid de mettre un terme  notre service BuyBack avec vous,  compter du {!ETA}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Ce, pour les raisons suivantes:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 14.6667px;&quot;&gt; {!exitSubReason}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Comme indiqu  l&apos;article 19.2 des Conditions Gnrales Vendeurs, nous vous informons qu&apos; partir du {!ETA} (yyyy-mm-dd), vous ne pourrez plus acheter de produits BuyBack sur Back Market.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Veuillez contacter votre point de contact Back Market si vous avez des questions.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Merci,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, sans-serif; color: rgb(0, 0, 0);&quot;&gt;L&apos;quipe Back Market&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Template_NoticePeriod_Body_Other_EN</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Hi {!$Record.Merchant__r.Name},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;We regret to tell you that weve decided to end our collaboration with you, effective {!ETA} (yyyy-mm-dd).&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Heres our reasoning:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt; {!exitSubReason}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;As outlined in article 19.2 of the Sellers Terms and Conditions, &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;were notifying you that our contract will end on {!ETA} (yyyy-mm-dd).&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; After this date, you wont be able to sell or purchase items on Back Market. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Your daily sales capacity will be capped to {!$Record.Limitation_to_apply__c} sales per day as long as youre not subject to a lower restriction.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;As a reminder, all orders placed on our marketplace before the closure of your account must be handled in accordance with our Terms and Conditions and Quality Charter.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;For after-sales services and warranties, youre required to remain in contact with Back Market agents until all warranties related to your items have expired.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Finally, please note that, as outlined in article 17 of the Sellers Terms and Conditions, a security payment will be held on your virtual wallet.&amp;nbsp;The amount of this security payment will be adjusted depending in particular on any incurred refunds, and any remaining amount will be paid out to you at the expiration of the final warranty for any of your items sold on Back Market. You can track this amount on your invoices every 10 days via your Back Office.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Please contact your Back Market point of contact if you have any questions.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Thank you,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;The Back Market team&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Template_NoticePeriod_Body_Other_FR</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Bonjour {!$Record.Merchant__r.Name},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Nous avons le regret de vous annoncer que nous avons dcid de mettre fin  notre collaboration avec vous,  compter du {!ETA} (yyyy-mm-dd).&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Ce, en raison de :&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt; {!exitSubReason}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Comme indiqu  l&apos;article 19.2 des Conditions Gnrales Vendeurs (CGV), nous vous informons que notre contrat prendra fin le {!ETA} (yyyy-mm-dd). Aprs cette date, vous ne serez plus en mesure de vendre ou d&apos;acheter sur Back Market.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Votre capacit de vente quotidienne sera plafonne  {!$Record.Limitation_to_apply__c} ventes par jour, sauf si vous tes dj soumis  une restriction infrieure.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Pour rappel, toutes les commandes passes sur notre plateforme avant la fermeture de votre compte doivent tre traites conformment  nos CGV et  notre Charte Qualit.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Concernant le service client et vos garanties, vous tes tenu de rester en contact avec les agents de Back Market jusqu&apos; ce que toutes les garanties lies  vos articles aient expir.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Enfin, veuillez noter que, comme indiqu dans l&apos;article 17 des CGV, un dpt de garantie sera retenu sur votre porte-monnaie virtuel.&amp;nbsp;Le montant de ce dpt de garantie sera ajust en fonction des remboursements effectus, et le solde ventuel vous sera vers  l&apos;expiration de la dernire garantie dont vous tes redevable au titre des produits vendus sur Back Market.&amp;nbsp;Vous pouvez suivre ce montant sur vos factures tous les 10 jours via votre Back Office.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Veuillez contacter votre point de contact Back Market si vous avez des questions.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Merci,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, sans-serif; color: rgb(0, 0, 0);&quot;&gt;L&apos;quipe Back Market&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Template_NoticePeriod_Body_VoluntaryLeave_EN</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Hi {!$Record.Merchant__r.Name},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Youve notified us of your decision to stop collaborating with Back Market.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;As outlined in article 19.1 of the Sellers Terms and Conditions, our contract is terminated today. From this point, you wont be able to sell or purchase items on Back Market.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&amp;nbsp;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;As a reminder, all orders placed on our marketplace before the closure of your account must be handled in accordance with our Terms and Conditions and Quality Charter.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;For after-sales services and warranties, youre required to remain in contact with Back Market agents until all warranties related to your items have expired.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Finally, please note that, as outlined in article 17 of the Sellers Terms and Conditions, a security payment will be held on your virtual wallet.&amp;nbsp; The amount of this security payment will be adjusted depending on any incurred refunds, and any remaining amount will be paid out to you at the expiration of the final warranty for any of your items sold on Back Market. You can track this amount on your invoices every 10 days via your Back Office.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;We wish you all the best,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; font-family: Calibri, sans-serif; font-size: 11pt; color: rgb(0, 0, 0);&quot;&gt;The Back Market team&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Template_NoticePeriod_Body_VoluntaryLeave_FR</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Bonjour {!$Record.Merchant__r.Name},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Vous nous avez fait part de votre dcision d&apos;arrter votre collaboration avec Back Market.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Conformment  l&apos;article 19.1 des Conditions Gnrales Vendeurs (CGV), notre contrat prend fin aujourd&apos;hui.  partir de ce jour, vous ne pourrez plus vendre ou acheter de produits sur Back Market.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Nous vous rappelons que toutes les commandes passes sur nos sites avant la fermeture de votre compte vendeur doivent tre traites conformment  nos CGV et  la Charte Qualit.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Pour les services aprs-vente et les garanties, vous tes tenu de rester en contact avec les agents de Back Market jusqu&apos; ce que toutes les garanties lies  vos produits aient expir.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Enfin, veuillez noter que, comme indiqu dans l&apos;article 17 des CGV, un dpt de garantie sera conserv sur votre portefeuille virtuel.&amp;nbsp; Le montant de ce dpt de garantie sera ajust en fonction notamment des remboursements effectus, et le solde ventuel vous sera vers  l&apos;expiration de la dernire garantie dont vous tes redevable au titre des produits vendus sur Back Market. Vous pouvez suivre ce montant sur vos factures tous les 10 jours via votre Back Office.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Meilleures salutations,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, sans-serif; color: rgb(0, 0, 0);&quot;&gt;L&apos;quipe Back Market&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Template_NoticePeriod_Subject_Buyback_EN</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Were ending our BuyBack service with you</text>
    </textTemplates>
    <textTemplates>
        <name>Template_NoticePeriod_Subject_Buyback_FR</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Rsiliation du service BuyBack</text>
    </textTemplates>
    <textTemplates>
        <name>Template_NoticePeriod_Subject_Other_EN</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Closure of your seller account</text>
    </textTemplates>
    <textTemplates>
        <name>Template_NoticePeriod_Subject_Other_FR</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Clture de votre Compte Vendeur</text>
    </textTemplates>
    <textTemplates>
        <name>Template_NoticePeriod_Subject_VoluntaryLeave_EN</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your last steps as a seller on Back Market</text>
    </textTemplates>
    <textTemplates>
        <name>Template_NoticePeriod_Subject_VoluntaryLeave_FR</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Clture de votre Compte Vendeur</text>
    </textTemplates>
    <variables>
        <name>Check_Debt</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ContactsForEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountContactsInVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Current_Exit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Merchant_Special_Process__c</objectType>
    </variables>
    <variables>
        <name>Exit_to_update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Merchant_Special_Process__c</objectType>
    </variables>
    <variables>
        <name>LegalTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Merchant_to_update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>qualityActiveUsersIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qualityUsersIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
