force-app/main/default/flows/Merchant_Send_Qualification_form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_in_CN</name>
        <label>Send email in CN</label>
        <locationX>4098</locationX>
        <locationY>806</locationY>
        <actionName>Contact.Qualification_Email_CN</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Creat_TEMP_task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopContacts.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_in_DE</name>
        <label>Send email in DE</label>
        <locationX>4362</locationX>
        <locationY>806</locationY>
        <actionName>Contact.Qualification_Email_DE</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Creat_TEMP_task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopContacts.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_in_EN</name>
        <label>Send email in EN</label>
        <locationX>4626</locationX>
        <locationY>806</locationY>
        <actionName>Contact.Qualification_Email_EN</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Creat_TEMP_task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopContacts.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_in_ES</name>
        <label>Send email in ES</label>
        <locationX>3042</locationX>
        <locationY>806</locationY>
        <actionName>Contact.Qualification_Email_ES</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Creat_TEMP_task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopContacts.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_in_FR</name>
        <label>Send email in FR</label>
        <locationX>2778</locationX>
        <locationY>806</locationY>
        <actionName>Contact.Qualification_Email_FR</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Creat_TEMP_task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopContacts.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_in_IT</name>
        <label>Send email in IT</label>
        <locationX>3570</locationX>
        <locationY>806</locationY>
        <actionName>Contact.Qualification_Email_IT</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Creat_TEMP_task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopContacts.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_in_NL</name>
        <label>Send email in NL</label>
        <locationX>3834</locationX>
        <locationY>806</locationY>
        <actionName>Contact.Qualification_Email_NL</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Creat_TEMP_task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopContacts.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_in_PO</name>
        <label>Send Email in PO</label>
        <locationX>3306</locationX>
        <locationY>806</locationY>
        <actionName>Contact.Qualification_Email_PO</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Creat_TEMP_task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopContacts.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_in_US</name>
        <label>Send Email in US</label>
        <locationX>2514</locationX>
        <locationY>806</locationY>
        <actionName>Contact.Qualification_Email_US</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Creat_TEMP_task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LoopContacts.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Antartica</name>
        <label>Assign Antartica</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Region</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Antartica</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateMerchant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Central_America</name>
        <label>Assign Central America</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Region</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Central America</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateMerchant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Central_Asia</name>
        <label>Assign Central Asia</label>
        <locationX>578</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Region</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Central Asia</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateMerchant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TEMP_to_list</name>
        <label>Assign TEMP to list</label>
        <locationX>3438</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>List_of_task_to_create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TEMP_task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Western_Asia</name>
        <label>Assign Western Asia</label>
        <locationX>3746</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Region</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Western Asia</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateMerchant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Eastern_Asia</name>
        <label>Assignment Eastern Asia</label>
        <locationX>842</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Region</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Eastern Asia</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateMerchant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Eastern_Europe</name>
        <label>Assignment Eastern Europe</label>
        <locationX>1106</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Region</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Eastern Europe</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateMerchant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Latin_America_and_the_Caribbean</name>
        <label>Assignment Latin America and the Caribbean</label>
        <locationX>1370</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Region</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Latin America and the Caribbean</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateMerchant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Northern_Africa</name>
        <label>Assignment Northern Africa</label>
        <locationX>1634</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Region</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Northern Africa</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateMerchant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Northern_America</name>
        <label>Assignment Northern America</label>
        <locationX>1898</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Region</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Northern America</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateMerchant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Northern_Europe</name>
        <label>Assignment Northern Europe</label>
        <locationX>2162</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Region</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Northern Europe</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateMerchant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Oceania</name>
        <label>Assignment Oceania</label>
        <locationX>2426</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Region</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Oceania</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateMerchant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_South_America</name>
        <label>Assignment South America</label>
        <locationX>2690</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Region</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>South America</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateMerchant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_South_eastern_Asia</name>
        <label>Assignment South-eastern Asia</label>
        <locationX>2954</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Region</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>South-eastern Asia</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateMerchant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Southern_Europe</name>
        <label>Assignment Southern Europe</label>
        <locationX>3218</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Region</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Southern Europe</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateMerchant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Sub_Saharan_Africa</name>
        <label>Assignment Sub-Saharan Africa</label>
        <locationX>3482</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Region</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sub-Saharan Africa</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateMerchant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Western_Europe</name>
        <label>Assignment Western Europe</label>
        <locationX>4010</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Region</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Western Europe</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateMerchant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Creat_TEMP_task</name>
        <label>Creat TEMP task</label>
        <locationX>3438</locationX>
        <locationY>1022</locationY>
        <assignmentItems>
            <assignToReference>TEMP_task.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ArthurVeron</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_task.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email: Qualification form email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_task.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MerchantID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_task.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopContacts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TEMP_to_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_on_Merchant_Country</name>
        <label>Decision on Merchant Country</label>
        <locationX>2162</locationX>
        <locationY>1478</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Antartica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Antarctica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Antartica</targetReference>
            </connector>
            <label>Antartica</label>
        </rules>
        <rules>
            <name>Central_America</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Belize</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Costa Rica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>El Salvador</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guatemala</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Honduras</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mexico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nicaragua</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Panama</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Central_America</targetReference>
            </connector>
            <label>Central America</label>
        </rules>
        <rules>
            <name>Central_Asia</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kazakhstan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kyrgyzstan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tajikistan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Turkmenistan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Uzbekistan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Central_Asia</targetReference>
            </connector>
            <label>Central Asia</label>
        </rules>
        <rules>
            <name>Eastern_Asia</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>China</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chinese Taipei</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hong Kong</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Japan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Korea, Democratic People&apos;s Republic of</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Korea, Republic of</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Macao</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mongolia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Eastern_Asia</targetReference>
            </connector>
            <label>Eastern Asia</label>
        </rules>
        <rules>
            <name>Eastern_Europe</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Belarus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bulgaria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Czech Republic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hungary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Moldova, Republic of</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Poland</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Romania</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Russian Federation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Slovakia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ukraine</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Eastern_Europe</targetReference>
            </connector>
            <label>Eastern Europe</label>
        </rules>
        <rules>
            <name>Latin_America_and_the_Caribbean</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Anguilla</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Antigua and Barbuda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aruba</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bahamas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Barbados</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bonaire, Sint Eustatius and Saba</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cayman Islands</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cuba</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Curaçao</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dominica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dominican Republic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grenada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guadeloupe</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Haiti</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jamaica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Martinique</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Montserrat</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saint Barthélemy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saint Kitts and Nevis</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saint Lucia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saint Martin (French part)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saint Vincent and the Grenadines</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sint Maarten (Dutch part)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trinidad and Tobago</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Turks and Caicos Islands</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Virgin Islands, British</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Latin_America_and_the_Caribbean</targetReference>
            </connector>
            <label>Latin America and the Caribbean</label>
        </rules>
        <rules>
            <name>Northern_Africa</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Algeria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Egypt</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Libyan Arab Jamahiriya</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Morocco</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Palestinian Territory, Occupied</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sudan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tunisia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Western Sahara</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Northern_Africa</targetReference>
            </connector>
            <label>Northern Africa</label>
        </rules>
        <rules>
            <name>Northern_America</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bermuda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Greenland</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saint Pierre and Miquelon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Northern_America</targetReference>
            </connector>
            <label>Northern America</label>
        </rules>
        <rules>
            <name>Northern_Europe</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aland Islands</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denmark</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estonia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Faroe Islands</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finland</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guernsey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Iceland</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ireland</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Isle of Man</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jersey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Latvia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lithuania</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Norway</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Svalbard and Jan Mayen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sweden</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Kingdom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Northern_Europe</targetReference>
            </connector>
            <label>Northern Europe</label>
        </rules>
        <rules>
            <name>Oceania</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Christmas Island</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cocos (Keeling) Islands</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cook Islands</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fiji</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French Polynesia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Heard Island and McDonald Islands</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kiribati</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nauru</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Caledonia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Zealand</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Niue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Norfolk Island</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Papua New Guinea</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pitcairn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Samoa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solomon Islands</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tokelau</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tonga</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tuvalu</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vanuatu</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wallis and Futuna</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Oceania</targetReference>
            </connector>
            <label>Oceania</label>
        </rules>
        <rules>
            <name>South_America</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Argentina</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bolivia, Plurinational State of</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bouvet Island</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brazil</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Colombia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ecuador</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Falkland Islands (Malvinas)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French Guiana</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guyana</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paraguay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Peru</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>South Georgia and the South Sandwich Islands</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suriname</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Uruguay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Venezuela, Bolivarian Republic of</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_South_America</targetReference>
            </connector>
            <label>South America</label>
        </rules>
        <rules>
            <name>South_eastern_Asia</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Afghanistan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bangladesh</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bhutan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brunei Darussalam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cambodia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>India</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Indonesia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Iran, Islamic Republic of</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lao People&apos;s Democratic Republic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Malaysia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Maldives</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Myanmar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nepal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pakistan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Philippines</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Singapore</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sri Lanka</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Thailand</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Timor-Leste</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Viet Nam</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_South_eastern_Asia</targetReference>
            </connector>
            <label>South-eastern Asia</label>
        </rules>
        <rules>
            <name>Southern_Europe</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Albania</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Andorra</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bosnia and Herzegovina</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Croatia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gibraltar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Greece</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Holy See (Vatican City State)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Italy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Macedonia, the former Yugoslav Republic of</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Malta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Montenegro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portugal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Republic of Kosovo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>San Marino</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Serbia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Slovenia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spain</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Southern_Europe</targetReference>
            </connector>
            <label>Southern Europe</label>
        </rules>
        <rules>
            <name>Sub_Saharan_Africa</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Angola</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Botswana</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>British Indian Ocean Territory</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Burkina Faso</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Burundi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cameroon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cape Verde</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Central African Republic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chad</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Comoros</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Congo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Congo, the Democratic Republic of the</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cote d&apos;Ivoire</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Djibouti</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equatorial Guinea</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Eritrea</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ethiopia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French Southern Territories</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gabon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gambia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ghana</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guinea</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guinea-Bissau</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kenya</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lesotho</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liberia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Madagascar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Malawi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mali</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mauritania</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mauritius</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mayotte</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mozambique</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Namibia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Niger</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nigeria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reunion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rwanda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saint Helena, Ascension and Tristan da Cunha</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sao Tome and Principe</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Senegal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seychelles</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sierra Leone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Somalia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>South Africa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>South Sudan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Swaziland</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tanzania, United Republic of</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Togo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Uganda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zambia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zimbabwe</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Sub_Saharan_Africa</targetReference>
            </connector>
            <label>Sub-Saharan Africa</label>
        </rules>
        <rules>
            <name>Western_Asia</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Armenia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Azerbaijan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bahrain</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cyprus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Georgia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Iraq</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Israel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jordan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kuwait</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lebanon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oman</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qatar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saudi Arabia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Syrian Arab Republic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Turkey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Arab Emirates</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yemen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Western_Asia</targetReference>
            </connector>
            <label>Western Asia</label>
        </rules>
        <rules>
            <name>Western_Europe</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Austria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Belgium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>France</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liechtenstein</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Luxembourg</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monaco</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Netherlands</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Switzerland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Western_Europe</targetReference>
            </connector>
            <label>Western Europe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_language_to_use</name>
        <label>Which language to use</label>
        <locationX>3438</locationX>
        <locationY>686</locationY>
        <defaultConnector>
            <targetReference>Send_email_in_EN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopContacts.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Contacts</label>
        </rules>
        <rules>
            <name>US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMerchantID.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U_S</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_in_US</targetReference>
            </connector>
            <label>US</label>
        </rules>
        <rules>
            <name>FR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>France</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Belgium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Switzerland</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Luxembourg</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_in_FR</targetReference>
            </connector>
            <label>FR</label>
        </rules>
        <rules>
            <name>ES</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spain</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_in_ES</targetReference>
            </connector>
            <label>ES</label>
        </rules>
        <rules>
            <name>PO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portugal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_in_PO</targetReference>
            </connector>
            <label>PO</label>
        </rules>
        <rules>
            <name>IT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Italy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_in_IT</targetReference>
            </connector>
            <label>IT</label>
        </rules>
        <rules>
            <name>NL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Netherlands</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_in_NL</targetReference>
            </connector>
            <label>NL</label>
        </rules>
        <rules>
            <name>CN</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>China</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hong Kong</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_in_CN</targetReference>
            </connector>
            <label>CN</label>
        </rules>
        <rules>
            <name>DE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchantID.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Austria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_in_DE</targetReference>
            </connector>
            <label>DE</label>
        </rules>
    </decisions>
    <description>Lead Pool revamp + Dorotea changed logic about the US + MO doesn&apos;t change when the form is sent to US merchants</description>
    <formulas>
        <name>ArthurVeron</name>
        <dataType>String</dataType>
        <expression>{!$Setup.UserID__c.ArthurVeron__c}</expression>
    </formulas>
    <formulas>
        <description>For EU assign to Elodie and for US don&apos;t change the MO</description>
        <name>Assign_Correct_MO</name>
        <dataType>String</dataType>
        <expression>IF
(
{!GetMerchantID.RecordTypeId} = {!$Setup.Special_Process_Record_Types_Ids__c.Merchant_US__c}, {!GetMerchantID.Owner.Id} , {!$Setup.UserID__c.ArthurVeron__c}
)</expression>
    </formulas>
    <formulas>
        <name>BillingCountry</name>
        <dataType>String</dataType>
        <expression>{!GetMerchantID.BillingCountry}</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>UserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Merchant - Send Qualification form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Merchant - Send Qualification form</label>
    <loops>
        <name>LoopContacts</name>
        <label>LoopContacts</label>
        <locationX>2162</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Which_language_to_use</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>2162</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Decision_on_Merchant_Country</targetReference>
        </connector>
        <inputReference>List_of_task_to_create</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>GetRelatedContacts</label>
        <locationX>2162</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MerchantID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMerchantID</name>
        <label>GetMerchantID</label>
        <locationX>2162</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MerchantID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUser</name>
        <label>GetUser</label>
        <locationX>2162</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateMerchant</name>
        <label>UpdateMerchant</label>
        <locationX>2162</locationX>
        <locationY>1814</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MerchantID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BackWatch_Onboarding_Type__c</field>
            <value>
                <stringValue>Type B</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_entry_in_stage_First_Contact__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fatness__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_contact_on__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Assign_Correct_MO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_BizDev__c</field>
            <value>
                <elementReference>Assign_Correct_MO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Profile__c</field>
            <value>
                <stringValue>Classic</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>Region</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>First-contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Stage__c</field>
            <value>
                <stringValue>Need to fill Qualification Form</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>2036</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetMerchantID</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>TemplateinFR</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Bonjour {!LoopContacts.FirstName},&lt;/p&gt;&lt;p&gt;Dans le cadre de votre processus d&apos;onboarding sur Back Market, vous souhaitez compléter un de nos tests (qualité ou langue) ? Super ! Cet email est pour vous.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Nous allons vous demander votre Identifiant Unique (P.K.) afin de vous identifier et ainsi pouvoir associer vos réponses à votre compte marchand.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A la question “Quel est votre P.K.?” vous devrez répondre {!GetMerchantID.Back_Office_PK__c}.&lt;/p&gt;&lt;p&gt;Il est important de renseigner le bon nombre sans quoi nous ne pourrons récupérer vos réponses.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Bonne chance pour le test et bonne journée à vous,&lt;/p&gt;&lt;p&gt;{!GetUser.FirstName}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>List_of_task_to_create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>MerchantID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Region</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TEMP_task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
