force-app/main/default/flows/Merchant_Flow_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_BuyBack_Last_Breath</name>
        <label>Assign BuyBack Last Breath</label>
        <locationX>1599</locationX>
        <locationY>2220</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Breath_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Last_Breath_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BuyBack Stage Change</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BizDev_Notes_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_first_contact_on</name>
        <label>Assign first contact on</label>
        <locationX>1013</locationX>
        <locationY>1075</locationY>
        <assignmentItems>
            <assignToReference>$Record.First_contact_on__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_bizdev_and_PromoCodes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_sub_stage</name>
        <label>Assign new sub-stage</label>
        <locationX>1025</locationX>
        <locationY>1258</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sub_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dispatching phase</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_bizdev_and_PromoCodes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_previous_Bizdev</name>
        <label>Assign previous Bizdev</label>
        <locationX>1210</locationX>
        <locationY>1542</locationY>
        <assignmentItems>
            <assignToReference>$Record.Old_BizDev_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Last_Breath_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_sub_stage</name>
        <label>Assign sub-stage</label>
        <locationX>1175</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sub_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pre-dispatching phase</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Identification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Entrant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_update_merchant_stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigne_API_as_Bizdev</name>
        <label>Assigne API as Bizdev</label>
        <locationX>1059</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.UserID__c.Santosh__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Quality_of_contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Direct contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Identification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Entrant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AccountSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Entrant leads</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sub_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Coming from Back-Office</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Scraping_source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Entrant Leads</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_update_merchant_stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLast_Breath_Date</name>
        <label>AssignLast Breath Date</label>
        <locationX>1912</locationX>
        <locationY>1776</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Breath_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Last_Breath_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Stage Change</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BuyBack_Stage_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ServiceDays2021</name>
        <label>ServiceDays2021</label>
        <locationX>1000</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>$Record.Service_Days_2021__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Last_Breath_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_bizdev_Buyback_with_owner</name>
        <label>Update bizdev Buyback with owner</label>
        <locationX>1089</locationX>
        <locationY>3075</locationY>
        <assignmentItems>
            <assignToReference>$Record.BizDev_Buyback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_bizdev_with_owner</name>
        <label>Update bizdev with owner</label>
        <locationX>1073</locationX>
        <locationY>2895</locationY>
        <assignmentItems>
            <assignToReference>$Record.BizDev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Merchant_Owner_is_updated_OR_BizDev_buyback_is_empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_BuyBack_Future_Partnership</name>
        <label>Update BuyBack Future Partnership</label>
        <locationX>1595</locationX>
        <locationY>1965</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_Entry_in_BuyBack_Future_Partnership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_BuyBack_Last_Breath</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_BuyBack_Identification</name>
        <label>Update BuyBack Identification</label>
        <locationX>1110</locationX>
        <locationY>1843</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_Entry_in_BuyBack_Identification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_BuyBack_Last_Breath</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_BuyBack_Negotiation</name>
        <label>Update BuyBack Negotiation</label>
        <locationX>1112</locationX>
        <locationY>1964</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_Entry_in_BuyBack_Negotiation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_BuyBack_Last_Breath</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_BuyBack_Not_Relevant</name>
        <label>Update BuyBack Not Relevant</label>
        <locationX>1602</locationX>
        <locationY>1839</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_Entry_in_BuyBack_Not_Relevant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_BuyBack_Last_Breath</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_BuyBack_Offline</name>
        <label>Update BuyBack Offline</label>
        <locationX>1600</locationX>
        <locationY>2100</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_Entry_in_BuyBack_Offline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_BuyBack_Last_Breath</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_BuyBack_Onboarding</name>
        <label>Update BuyBack Onboarding</label>
        <locationX>1115</locationX>
        <locationY>2096</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_Entry_in_BuyBack_Onboarding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_BuyBack_Last_Breath</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_BuyBack_Run</name>
        <label>Update BuyBack Run</label>
        <locationX>1114</locationX>
        <locationY>2211</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_Entry_in_BuyBack_Run__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Live_in_Buyback_on__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_BuyBack_Last_Breath</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_First_Contact</name>
        <label>Update First Contact</label>
        <locationX>1039</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_entry_in_stage_First_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignLast_Breath_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Future_Partnership</name>
        <label>Update Future Partnership</label>
        <locationX>1549</locationX>
        <locationY>1688</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_entry_in_stage_Future_partnership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignLast_Breath_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Identification</name>
        <label>Update Identification</label>
        <locationX>935</locationX>
        <locationY>1686</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_entry_in_stage_Identification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignLast_Breath_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Last_Breath_Notes</name>
        <label>Update Last Breath Notes</label>
        <locationX>1111</locationX>
        <locationY>2498</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Breath_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Last_Breath_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BizDev Notes Changed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Other_Changes_on_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Last_Pool_to_contact_Change_Date</name>
        <label>Update Last Pool to contact Change Date</label>
        <locationX>1061</locationX>
        <locationY>2720</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Pool_to_contact_Change_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Merchant_Owner_is_updated_OR_empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_N_M_O</name>
        <label>Update N.M.O</label>
        <locationX>1339</locationX>
        <locationY>1691</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_entry_in_stage_NMO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Story__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>nmo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignLast_Breath_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Negotiation</name>
        <label>Update Negotiation</label>
        <locationX>1138</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_entry_in_stage_Negotiation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignLast_Breath_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Not_Relevant</name>
        <label>Update Not Relevant</label>
        <locationX>1651</locationX>
        <locationY>1696</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_entry_in_stage_Not_Relevant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignLast_Breath_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Offline</name>
        <label>Update Offline</label>
        <locationX>1781</locationX>
        <locationY>1704</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_entry_in_stage_Offline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignLast_Breath_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Onboarding</name>
        <label>Update Onboarding</label>
        <locationX>1232</locationX>
        <locationY>1687</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_entry_in_stage_Onboarding__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignLast_Breath_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Run</name>
        <label>Update Run</label>
        <locationX>1434</locationX>
        <locationY>1690</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_entry_in_stage_Run__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignLast_Breath_Date</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>BizDev_Notes_Changed</name>
        <label>BizDev Notes Changed</label>
        <locationX>792</locationX>
        <locationY>2482</locationY>
        <defaultConnector>
            <targetReference>Other_Changes_on_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BizDev_Notes_Changed_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.BizDev_Notes__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BizDev_Notes__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BizDev_Notes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_Breath_Notes</targetReference>
            </connector>
            <label>BizDev Notes Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>BuyBack_Stage_Changed</name>
        <label>BuyBack Stage Changed</label>
        <locationX>773</locationX>
        <locationY>1842</locationY>
        <defaultConnector>
            <targetReference>BizDev_Notes_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BuyBack_Identification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Stage_Buyback__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Stage_Buyback__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage_Buyback__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyback Identification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_BuyBack_Identification</targetReference>
            </connector>
            <label>BuyBack Identification</label>
        </rules>
        <rules>
            <name>BuyBack_Negotiation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Stage_Buyback__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Stage_Buyback__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage_Buyback__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyback Negociation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_BuyBack_Negotiation</targetReference>
            </connector>
            <label>BuyBack Negotiation</label>
        </rules>
        <rules>
            <name>BuyBack_Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Stage_Buyback__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Stage_Buyback__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage_Buyback__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyback Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_BuyBack_Onboarding</targetReference>
            </connector>
            <label>BuyBack Onboarding</label>
        </rules>
        <rules>
            <name>BuyBack_Not_Relevant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Stage_Buyback__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Stage_Buyback__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage_Buyback__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyback Not relevant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_BuyBack_Not_Relevant</targetReference>
            </connector>
            <label>BuyBack Not Relevant</label>
        </rules>
        <rules>
            <name>BuyBack_Future_Partnership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Stage_Buyback__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Stage_Buyback__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage_Buyback__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyback Future parthnership</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_BuyBack_Future_Partnership</targetReference>
            </connector>
            <label>BuyBack Future Partnership</label>
        </rules>
        <rules>
            <name>BuyBack_Run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Stage_Buyback__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Stage_Buyback__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage_Buyback__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyback Run</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_BuyBack_Run</targetReference>
            </connector>
            <label>BuyBack Run</label>
        </rules>
        <rules>
            <name>BuyBack_Offline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Stage_Buyback__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Stage_Buyback__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage_Buyback__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyback Offline</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_BuyBack_Offline</targetReference>
            </connector>
            <label>BuyBack Offline</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_bizdev_and_PromoCodes</name>
        <label>Check bizdev and PromoCodes</label>
        <locationX>767</locationX>
        <locationY>1530</locationY>
        <defaultConnector>
            <targetReference>Last_Breath_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Previous_Bizdev_to_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Owner.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_previous_Bizdev</targetReference>
            </connector>
            <label>Previous Bizdev to update</label>
        </rules>
        <rules>
            <name>Contains_ServiceDays2021</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Description</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Description</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContainsServiceWeekPromoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ServiceDays2021</targetReference>
            </connector>
            <label>Contains ServiceDays2021</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_creation</name>
        <label>Decision creation</label>
        <locationX>761</locationX>
        <locationY>823</locationY>
        <defaultConnector>
            <targetReference>Decision_update_merchant_stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>When_creating_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_created_by_API</targetReference>
            </connector>
            <label>When creating record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_update_merchant_stage</name>
        <label>Decision update merchant stage</label>
        <locationX>762</locationX>
        <locationY>1071</locationY>
        <defaultConnector>
            <targetReference>Check_bizdev_and_PromoCodes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_to_first_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>First-contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_first_contact_on</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Update to first contact</label>
        </rules>
        <rules>
            <name>Update_Sub_stage</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12) AND 13 AND 14 AND 15</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Identification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-dispatching phase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Entrant leads</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketplace__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Amazon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketplace__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Bol</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketplace__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Cdiscount</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketplace__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Ebay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketplace__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Fnac</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketplace__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Rakuten</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketplace__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Refurbed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketplace__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Swappa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketplace__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Walmart</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Relevance_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Sixmonthsago</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Prioritization_Score__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quality_of_contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_new_sub_stage</targetReference>
            </connector>
            <label>Update Sub-stage</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_created_by_API</name>
        <label>If created by API</label>
        <locationX>938</locationX>
        <locationY>831</locationY>
        <defaultConnector>
            <targetReference>Assign_sub_stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>API_created_this</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Inputted_from__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back-Office</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigne_API_as_Bizdev</targetReference>
            </connector>
            <label>API created this</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_bypassflow_activated</name>
        <label>Is bypassflow activated?</label>
        <locationX>767</locationX>
        <locationY>629</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_flow_not_activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ByPassFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_creation</targetReference>
            </connector>
            <label>Bypass flow not activated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Last_Breath_Date</name>
        <label>Last Breath Date</label>
        <locationX>772</locationX>
        <locationY>1668</locationY>
        <defaultConnector>
            <targetReference>BuyBack_Stage_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Identification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Stage__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Identification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Identification</targetReference>
            </connector>
            <label>Identification</label>
        </rules>
        <rules>
            <name>Not_Relevant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Stage__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not relevant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Not_Relevant</targetReference>
            </connector>
            <label>Not Relevant</label>
        </rules>
        <rules>
            <name>First_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Stage__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>First-contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_First_Contact</targetReference>
            </connector>
            <label>First Contact</label>
        </rules>
        <rules>
            <name>Negotiation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Stage__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Negotiation</targetReference>
            </connector>
            <label>Negotiation</label>
        </rules>
        <rules>
            <name>Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Stage__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Onboarding</targetReference>
            </connector>
            <label>Onboarding</label>
        </rules>
        <rules>
            <name>Future_Partnership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Stage__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Future partnership</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Future_Partnership</targetReference>
            </connector>
            <label>Future Partnership</label>
        </rules>
        <rules>
            <name>NMO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Stage__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N.M.O.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_N_M_O</targetReference>
            </connector>
            <label>NMO</label>
        </rules>
        <rules>
            <name>Run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Stage__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Run</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Run</targetReference>
            </connector>
            <label>Run</label>
        </rules>
        <rules>
            <name>Offline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Stage__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offline</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Offline</targetReference>
            </connector>
            <label>Offline</label>
        </rules>
    </decisions>
    <decisions>
        <name>Merchant_Owner_is_updated_OR_BizDev_buyback_is_empty</name>
        <label>Merchant Owner is updated OR BizDev buyback is empty</label>
        <locationX>795</locationX>
        <locationY>3079</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_merchant_owner_is_updated_or_BizDev_Buyback_empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BizDev_Buyback__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BizDev_Buyback__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_bizdev_Buyback_with_owner</targetReference>
            </connector>
            <label>Yes - merchant owner is updated or BizDev Buyback empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Merchant_Owner_is_updated_OR_empty</name>
        <label>Merchant Owner is updated OR empty</label>
        <locationX>792</locationX>
        <locationY>2904</locationY>
        <defaultConnector>
            <targetReference>Merchant_Owner_is_updated_OR_BizDev_buyback_is_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Bizdev_is_updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BizDev__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BizDev__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_bizdev_with_owner</targetReference>
            </connector>
            <label>Yes - merchant owner is updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Changes_on_Account</name>
        <label>Other Changes on Account</label>
        <locationX>792</locationX>
        <locationY>2690</locationY>
        <defaultConnector>
            <targetReference>Merchant_Owner_is_updated_OR_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_Pool_to_contact_Change_Date_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NB Lead Pool to contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_Pool_to_contact_Change_Date</targetReference>
            </connector>
            <label>Last Pool to contact Change Date updated</label>
        </rules>
    </decisions>
    <description>Add user bypass flow</description>
    <formulas>
        <name>ContainsPromoCode</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!$Record.Description }, &quot;LOCKDOWNOFFER&quot; )</expression>
    </formulas>
    <formulas>
        <name>ContainsServiceWeekPromoCode</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!$Record.Description }, &quot;SERVICEDAYS2021&quot; )</expression>
    </formulas>
    <formulas>
        <name>Sixmonthsago</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-180</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>User_Arthur_Veron</name>
        <dataType>String</dataType>
        <expression>{!$Setup.UserID__c.ArthurVeron__c}</expression>
    </formulas>
    <interviewLabel>Merchant Flow - Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Merchant Flow - Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>642</locationX>
        <locationY>320</locationY>
        <connector>
            <targetReference>Is_bypassflow_activated</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
