force-app/main/default/flows/Mystery_Order_After_save_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_MO_Success_EN</name>
        <label>Send MO Success - EN</label>
        <locationX>1813</locationX>
        <locationY>581</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body_MO_Success_EN</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_email_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_MO_Success_EN</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_MO_Success_FR</name>
        <label>Send MO Success - FR</label>
        <locationX>1818</locationX>
        <locationY>743</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body_MO_Success_FR</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_email_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_MO_Success_FR</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Owner_Email</name>
        <label>Assign - Owner Email</label>
        <locationX>1122</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>List_of_email_to_contact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Owner_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>List_of_email_to_contact</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>legal-sellers@backmarket.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Related_alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quality_contacts</name>
        <label>Assign Quality contacts</label>
        <locationX>965</locationX>
        <locationY>474</locationY>
        <assignmentItems>
            <assignToReference>List_of_email_to_contact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Quality_contacts.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tech_Count_Contacts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>List_of_email_to_contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Is_limit_reached</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quality_contacts_0</name>
        <label>Assign Quality contacts</label>
        <locationX>972</locationX>
        <locationY>960</locationY>
        <assignmentItems>
            <assignToReference>List_of_email_to_contact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_All_contacts.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tech_Count_Contacts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>List_of_email_to_contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Is_limit_reached_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Is_limit_reached</name>
        <label>Decision - Is limit reached</label>
        <locationX>1109</locationX>
        <locationY>483</locationY>
        <defaultConnector>
            <targetReference>Assign_Owner_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Limit_isn_t_reached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tech_Count_Contacts</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Quality_contacts</targetReference>
            </connector>
            <label>Limit isn&apos;t reached</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Is_limit_reached_0</name>
        <label>Decision - Is limit reached</label>
        <locationX>1114</locationX>
        <locationY>814</locationY>
        <defaultConnector>
            <targetReference>Assign_Owner_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Limit_isn_t_reached_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tech_Count_Contacts</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_All_contacts</targetReference>
            </connector>
            <label>Limit isn&apos;t reached</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Is_Quality_contact_empty</name>
        <label>Decision - Is Quality contact empty</label>
        <locationX>804</locationX>
        <locationY>604</locationY>
        <defaultConnector>
            <targetReference>Get_all_contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_quality_contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Quality_contacts</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Is_suspicion_confirmed</name>
        <label>Decision - Is suspicion confirmed?</label>
        <locationX>278</locationX>
        <locationY>917</locationY>
        <defaultConnector>
            <targetReference>Update_HC_to_Saved_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Suspicion_confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Suspicion_Hazardous_charger_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_HC_to_Failed_0</targetReference>
            </connector>
            <label>Suspicion confirmed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_Merchant_Zone</name>
        <label>Decision on Merchant Zone</label>
        <locationX>1662</locationX>
        <locationY>669</locationY>
        <defaultConnector>
            <targetReference>Send_MO_Success_EN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Zone_is_FR_or_BE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant_Name__r.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-fr</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant_Name__r.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-be</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_MO_Success_FR</targetReference>
            </connector>
            <label>Zone is FR or BE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_MO_result</name>
        <label>Decision on MO result</label>
        <locationX>589</locationX>
        <locationY>1063</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MO_result_is_KO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MO_Result__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_MOP_in_Stage_MP</targetReference>
            </connector>
            <label>MO result is KO</label>
        </rules>
        <rules>
            <name>MO_result_is_KO_no_go</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MO_Result__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KO no-go</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_MOP_in_Stage_LC</targetReference>
            </connector>
            <label>MO result is KO no-go</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_MO_Result_for_MOP</name>
        <label>Decision on MO Result for MOP</label>
        <locationX>235</locationX>
        <locationY>657</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MO_for_MOP_is_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MO_Result__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_MOP_alert</targetReference>
            </connector>
            <label>MO for MOP is OK</label>
        </rules>
        <rules>
            <name>MO_for_MOP_is_KO_and_stage_is_MP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MO_Result__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MOP_Alert__r.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monitoring Period</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MOP_alert_to_Last_Chance</targetReference>
            </connector>
            <label>MO for MOP is KO and stage is MP</label>
        </rules>
        <rules>
            <name>MO_for_MOP_is_KO_no_go</name>
            <conditionLogic>(1 AND (2 OR 3)) OR (4 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MO_Result__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KO no-go</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MOP_Alert__r.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monitoring Period</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MOP_Alert__r.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Last chance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MO_Result__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fail_MOP_alert</targetReference>
            </connector>
            <label>MO for MOP is KO no-go</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_MO_stage</name>
        <label>Decision on MO stage</label>
        <locationX>425</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MO_is_moved_to_Check_done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Check done</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Stage__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_on_related_alert</targetReference>
            </connector>
            <label>MO is moved to Check done</label>
        </rules>
        <rules>
            <name>MO_is_moved_to_aborted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Abort MO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Stage__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason_for_aborted__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Other (specify) - No new MO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason_for_aborted__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Product is not eligible to MO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_MO</targetReference>
            </connector>
            <label>MO is moved to aborted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_related_alert</name>
        <label>Decision on related alert</label>
        <locationX>423</locationX>
        <locationY>665</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MO_is_related_to_MOP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MOP_Alert__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_on_MO_Result_for_MOP</targetReference>
            </connector>
            <label>MO is related to MOP</label>
        </rules>
        <rules>
            <name>MO_related_to_HC_and_result_is_OK_or_KO_no_go</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HazardousCharger_Alert__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MOP_Alert__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MO_Result__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Is_suspicion_confirmed</targetReference>
            </connector>
            <label>MO related to HC and result is OK or KO no-go</label>
        </rules>
        <rules>
            <name>MO_is_related_to_no_alert_and_result_is_KO_or_KO_no_go</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HazardousCharger_Alert__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MO_Result__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MOP_Alert__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_on_MO_result</targetReference>
            </connector>
            <label>MO is related to no alert and result is KO or KO no-go</label>
        </rules>
        <rules>
            <name>MO_result_is_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MO_Result__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_quality_contacts</targetReference>
            </connector>
            <label>MO result is OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_user_bypass_flow</name>
        <label>Decision on user bypass flow</label>
        <locationX>430</locationX>
        <locationY>315</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>USer_dont_bypass_flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ByPassFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_on_MO_stage</targetReference>
            </connector>
            <label>USer dont bypass flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Related_alert</name>
        <label>Decision - Related alert</label>
        <locationX>1272</locationX>
        <locationY>651</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Related_alert_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HazardousCharger_Alert__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_on_Merchant_Zone</targetReference>
            </connector>
            <label>Related alert is empty</label>
        </rules>
        <rules>
            <name>Related_alert_is_Hazardous_Charger_with_confirmed_suspicion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HazardousCharger_Alert__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Suspicion_Hazardous_charger_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_HC_to_Failed</targetReference>
            </connector>
            <label>Related alert is Hazardous Charger with confirmed suspicion</label>
        </rules>
        <rules>
            <name>Related_alert_is_Hazardous_Charger_with_rejected_suspicion</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HazardousCharger_Alert__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Suspicion_Hazardous_charger_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Suspicion_Hazardous_charger_status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_HC_to_Saved</targetReference>
            </connector>
            <label>Related alert is Hazardous Charger with rejected suspicion</label>
        </rules>
    </decisions>
    <description>Debug Team Email Recipient</description>
    <environments>Default</environments>
    <formulas>
        <name>Description_of_task_on_creation</name>
        <dataType>String</dataType>
        <expression>&quot; (  https://backmarket.lightning.force.com/lightning/r/Mystery_Order__c/&quot; &amp; {!$Record.Id} &amp; &quot;/view )&quot;</expression>
    </formulas>
    <formulas>
        <name>Notification_body_on_creation</name>
        <dataType>String</dataType>
        <expression>{!$Record.Merchant_Name__r.Name} &amp; &quot; - New mystery order done&quot;</expression>
    </formulas>
    <formulas>
        <name>Owner_Email</name>
        <dataType>String</dataType>
        <expression>if( TEXT({!$Record.Merchant_Name__r.Owner.Team__c})= &apos;SSM Back Watch E.U.&apos;, &apos;backwatch@backmarket.com&apos;, 
if( TEXT({!$Record.Merchant_Name__r.Owner.Team__c})= &apos;Activation E.U.&apos;, &apos;activation-eu@backmarket.com&apos;, 
if( TEXT({!$Record.Merchant_Name__r.Owner.Team__c})= &apos;SSM Back Watch U.S.&apos;, &apos;sam@backmarket.com&apos;,
if( TEXT({!$Record.Merchant_Name__r.Owner.Team__c})= &apos;SSM Selfcare E.U.&apos;, &apos;selfcare@backmarket.com&apos;,
{!$Record.Merchant_Name__r.Owner.Email}))))</expression>
    </formulas>
    <interviewLabel>Mystery Order - After save flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mystery Order - After save flow</label>
    <loops>
        <name>Loop_on_All_contacts</name>
        <label>Loop on All contacts</label>
        <locationX>958</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_all_contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Quality_contacts_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Owner_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Quality_contacts</name>
        <label>Loop on Quality contacts</label>
        <locationX>966</locationX>
        <locationY>601</locationY>
        <collectionReference>Get_quality_contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Quality_contacts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Owner_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_MOP_in_Stage_LC</name>
        <label>Create MOP in Stage LC</label>
        <locationX>501</locationX>
        <locationY>1235</locationY>
        <connector>
            <targetReference>Get_ID_of_newly_created_alert</targetReference>
        </connector>
        <inputAssignments>
            <field>BizDev__c</field>
            <value>
                <elementReference>$Record.Merchant_Name__r.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Name__c</field>
            <value>
                <elementReference>$Record.Merchant_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Has_entered_Last_chance_on__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_KPI__c</field>
            <value>
                <stringValue>Mystery Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager__c</field>
            <value>
                <elementReference>$Record.Merchant_Name__r.Manager_Sales__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>MOP alert</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.MOP_Alert__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Last chance</stringValue>
            </value>
        </inputAssignments>
        <object>Alert__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_MOP_in_Stage_MP</name>
        <label>Create MOP in Stage MP</label>
        <locationX>674</locationX>
        <locationY>1234</locationY>
        <connector>
            <targetReference>Get_ID_of_newly_created_alert</targetReference>
        </connector>
        <inputAssignments>
            <field>BizDev__c</field>
            <value>
                <elementReference>$Record.Merchant_Name__r.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Name__c</field>
            <value>
                <elementReference>$Record.Merchant_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_KPI__c</field>
            <value>
                <stringValue>Mystery Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager__c</field>
            <value>
                <elementReference>$Record.Merchant_Name__r.Manager_Sales__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>MOP alert</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.MOP_Alert__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Monitoring Period</stringValue>
            </value>
        </inputAssignments>
        <object>Alert__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_new_MO</name>
        <label>Create new MO</label>
        <locationX>669</locationX>
        <locationY>463</locationY>
        <inputAssignments>
            <field>HazardousCharger_Alert__c</field>
            <value>
                <elementReference>$Record.HazardousCharger_Alert__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MOP_Alert__c</field>
            <value>
                <elementReference>$Record.MOP_Alert__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MO_motive__c</field>
            <value>
                <elementReference>$Record.MO_motive__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant_Name__c</field>
            <value>
                <elementReference>$Record.Merchant_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_category__c</field>
            <value>
                <elementReference>$Record.Product_category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_or_model_to_test__c</field>
            <value>
                <elementReference>$Record.Product_or_model_to_test__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Mystery_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>To do</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suspicion_Hazardous_charger_status__c</field>
            <value>
                <elementReference>$Record.Suspicion_Hazardous_charger_status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Mystery_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_all_contacts</name>
        <label>Get all contacts</label>
        <locationX>810</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_All_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Merchant_Name__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>HasOptedOutOfEmail</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ID_of_newly_created_alert</name>
        <label>Get ID of newly created alert</label>
        <locationX>509</locationX>
        <locationY>1444</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Relate_MO_to_new_MOP</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Business_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Merchant_Name__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Issue_KPI__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mystery Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Last chance</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Monitoring Period</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Alert__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_quality_contacts</name>
        <label>Get quality contacts</label>
        <locationX>684</locationX>
        <locationY>602</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Is_Quality_contact_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TECH_Role_contain_quality_business__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Quality</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Merchant_Name__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>HasOptedOutOfEmail</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Fail_MOP_alert</name>
        <label>Fail MOP alert</label>
        <locationX>58</locationX>
        <locationY>797</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MOP_Alert__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>Alert__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Relate_MO_to_new_MOP</name>
        <label>Relate MO to new MOP</label>
        <locationX>684</locationX>
        <locationY>1444</locationY>
        <inputAssignments>
            <field>MOP_Alert__c</field>
            <value>
                <elementReference>Get_ID_of_newly_created_alert.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Save_MOP_alert</name>
        <label>Save MOP alert</label>
        <locationX>50</locationX>
        <locationY>521</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MOP_Alert__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Saved</stringValue>
            </value>
        </inputAssignments>
        <object>Alert__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HC_to_Failed</name>
        <label>Update - HC to Failed</label>
        <locationX>1460</locationX>
        <locationY>740</locationY>
        <connector>
            <targetReference>Decision_on_Merchant_Zone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HazardousCharger_Alert__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>Alert__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HC_to_Failed_0</name>
        <label>Update - HC to Failed</label>
        <locationX>468</locationX>
        <locationY>929</locationY>
        <connector>
            <targetReference>Decision_on_MO_result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HazardousCharger_Alert__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>Alert__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HC_to_Saved</name>
        <label>Update - HC to Saved</label>
        <locationX>1460</locationX>
        <locationY>579</locationY>
        <connector>
            <targetReference>Decision_on_Merchant_Zone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HazardousCharger_Alert__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Saved</stringValue>
            </value>
        </inputAssignments>
        <object>Alert__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HC_to_Saved_0</name>
        <label>Update - HC to Saved</label>
        <locationX>276</locationX>
        <locationY>1068</locationY>
        <connector>
            <targetReference>Decision_on_MO_result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HazardousCharger_Alert__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Saved</stringValue>
            </value>
        </inputAssignments>
        <object>Alert__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MOP_alert_to_Last_Chance</name>
        <label>Update MOP alert to Last Chance</label>
        <locationX>52</locationX>
        <locationY>659</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MOP_Alert__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Last chance</stringValue>
            </value>
        </inputAssignments>
        <object>Alert__c</object>
    </recordUpdates>
    <start>
        <locationX>313</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Decision_on_user_bypass_flow</targetReference>
        </connector>
        <object>Mystery_Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Body_MO_Success_EN</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!$Record.Merchant_Name__r.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks to your effort, we are delighted to inform you that you have successfully passed our mystery order test and are in compliance with our quality standards. Mystery orders are a way for us to randomly check the quality of products and service offered to Back Market customers.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please find attached the report link summarizing the details of your mystery order: {!$Record.Link_to_the_MO__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;In the event you haven’t reached a 100% Inspection score, please find in the report a few points that could be improved in order to offer an even more exceptional service and products.&lt;/p&gt;&lt;p&gt;We encourage you to consult the Merchant Support Center to review the best practices and available resources to help in your efforts. Additionally, your Back Market contact is available to answer any remaining questions you may have.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sincerely,&lt;/p&gt;&lt;p&gt;Back Market&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://merchant-support.backmarket.com/hc/en-gb/articles/4407217322130&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://merchant-support.backmarket.com/hc/en-gb/articles/4407217322130&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Body_MO_Success_FR</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Bonjour {!$Record.Merchant_Name__r.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Grâce à vos efforts, nous avons le plaisir de vous informer que la commande mystère à laquelle vous avez été soumise a eu un résultat positif et que vous êtes en conformité avec nos normes de qualité. Les commandes mystères sont un moyen pour nous de contrôler aléatoirement la qualité des produits et du service offert par nos vendeurs aux clients Back Market.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Vous trouverez ci-dessous le détail du résultat de l’analyse de la commande mystère ainsi que ses recommandations :&lt;/p&gt;&lt;p&gt;{!$Record.Link_to_the_MO__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Dans le cas où vous n&apos;auriez pas atteint un score d&apos;inspection de 100%, veuillez trouver dans le rapport quelques points qui pourraient être améliorés afin d&apos;offrir un service et une qualité produits irréprochables.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Nous vous recommandons de consulter le Merchant Support Center pour toute information concernant les meilleures pratiques de reconditionnement ainsi que toute autre ressource pouvant vous être utile dans vos efforts. Votre contact Back Market reste bien entendu à votre disposition pour toute question supplémentaire.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Cordialement,&lt;/p&gt;&lt;p&gt;Back Market&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://merchant-support.backmarket.com/hc/fr/articles/4407217322130&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://merchant-support.backmarket.com/hc/fr/articles/4407217322130&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Subject_MO_Success_EN</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Merchant_Name__r.Back_Office_PK__c} - {!$Record.Merchant_Name__r.Name} - Feedback Mystery Order - Meeting Back Market quality standards!</text>
    </textTemplates>
    <textTemplates>
        <name>Subject_MO_Success_FR</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Merchant_Name__r.Back_Office_PK__c} - {!$Record.Merchant_Name__r.Name} - Feedback Commande Mystère - Vous êtes en adéquation avec les normes qualité Back Market!</text>
    </textTemplates>
    <variables>
        <name>Empty_list</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>List_of_email_to_contact</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Notification_body</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Notification_title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Notification_type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Recipient_ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Tech_Count_Contacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
