force-app/main/default/flows/Onboarding_Before_save_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>Replace wkf14</description>
        <name>Assign_KYC_approved_date</name>
        <label>Assign KYC approved date</label>
        <locationX>527</locationX>
        <locationY>702</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_KYCs_Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Replace wkf13</description>
        <name>Assign_kyc_checked_date</name>
        <label>Assign kyc checked date</label>
        <locationX>354</locationX>
        <locationY>702</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_KYCs_Checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Replace wkf24</description>
        <name>Assign_kyc_checked_date_and_US</name>
        <label>Assign kyc checked date and US</label>
        <locationX>662</locationX>
        <locationY>707</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_KYCs_Checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IBAN_checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ID_checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.KBIS_checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status_checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Date_KYCs_Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Merchant_VAT_Compliance_Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Merchant_VAT_Compliance_Uploaded__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_stage_to_Abandonned_date</name>
        <label>Assign stage to Abandonned date</label>
        <locationX>837</locationX>
        <locationY>535</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_entry_in_abandonned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_on_KYC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Replace wkf11</description>
        <name>Assign_stage_to_Business_Quality_Prerequisites_date</name>
        <label>Assign stage to Business &amp; Quality Prerequisites date</label>
        <locationX>363</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_entry_in_stage_BQ_Prerequisites__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_on_KYC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Replace wkf11</description>
        <name>Assign_stage_to_Go_Live_Prerequisites_date</name>
        <label>Assign stage to Go-Live Prerequisites date</label>
        <locationX>536</locationX>
        <locationY>532</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_entry_in_stage_GoLive_Prerequisites__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_on_KYC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Replace wkf11</description>
        <name>Assign_stage_to_Saved_date</name>
        <label>Assign stage to Saved date</label>
        <locationX>685</locationX>
        <locationY>532</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_entry_in_Saved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_on_KYC</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_on_KYC</name>
        <label>Decision on KYC</label>
        <locationX>182</locationX>
        <locationY>703</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>KYC_approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IBAN_checked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.KBIS_checked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ID_checked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status_checked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.KYCs_Checked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant_VAT_Compliance_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_KYC_approved_date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>KYC approved</label>
        </rules>
        <rules>
            <name>KYC_checked_and_US</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.KYCs_Checked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U_S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U_S_Onboarding_Buyback</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_kyc_checked_date_and_US</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>KYC checked and US</label>
        </rules>
        <rules>
            <name>KYC_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.KYCs_Checked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_kyc_checked_date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>KYC checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_TC_stage</name>
        <label>Decision on TC stage</label>
        <locationX>177</locationX>
        <locationY>530</locationY>
        <defaultConnector>
            <targetReference>Decision_on_KYC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TC_changed_to_Business_Quality_Prerequisites</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business &amp; Quality Prerequisites</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_stage_to_Business_Quality_Prerequisites_date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TC changed to Business &amp; Quality Prerequisites</label>
        </rules>
        <rules>
            <name>TC_changed_to_Go_Live_Prerequisites</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Go-Live Prerequisites</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_stage_to_Go_Live_Prerequisites_date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TC changed to Go-Live Prerequisites</label>
        </rules>
        <rules>
            <name>Changed_to</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Abandonned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_stage_to_Abandonned_date</targetReference>
            </connector>
            <label>Changed to Abandonned</label>
        </rules>
        <rules>
            <name>Changes_to_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_stage_to_Saved_date</targetReference>
            </connector>
            <label>Changes to Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_user_bypass</name>
        <label>Decision on user bypass</label>
        <locationX>178</locationX>
        <locationY>268</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>user_dont_bypass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ByPassFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PriorValue</targetReference>
            </connector>
            <label>user dont bypass</label>
        </rules>
    </decisions>
    <description>Buyback in US</description>
    <interviewLabel>Onboarding - Before save flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Onboarding - Before save flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>PriorValue</name>
        <label>PriorValue</label>
        <locationX>183</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_on_TC_stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Targeted_Country__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>57</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Decision_on_user_bypass</targetReference>
        </connector>
        <object>Onboarding_Process__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
