force-app/main/default/flows/Onboarding_After_Save_Flow_Creation_only.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Type_S_Send_EN_Email</name>
        <label>Type S - Send EN Email</label>
        <locationX>2534</locationX>
        <locationY>1201</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Decision_Record_Type_Onboarding_Sales</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TextTemplate_Body_EN</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Var_List_contacts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>activation-eu@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplate_Subject_EN</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Type_S_Send_FR_Email</name>
        <label>Type S - Send FR Email</label>
        <locationX>2534</locationX>
        <locationY>1023</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Decision_Record_Type_Onboarding_Sales</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TextTemplate_Body_FR</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Var_List_contacts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>activation-eu@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplate_Subject_FR</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Austria_found</name>
        <label>Assign Austria found</label>
        <locationX>2442</locationX>
        <locationY>1579</locationY>
        <assignmentItems>
            <assignToReference>Austria_Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_TC_EU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Austria_to_List_to_TC_creation</name>
        <label>Assign Austria to List to TC creation</label>
        <locationX>2260</locationX>
        <locationY>2148</locationY>
        <assignmentItems>
            <assignToReference>List_TC_Creation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Austria_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Belgium_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Belgium_found</name>
        <label>Assign Belgium found</label>
        <locationX>2571</locationX>
        <locationY>1577</locationY>
        <assignmentItems>
            <assignToReference>Belgium_Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_TC_EU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Belgium_to_List_to_TC_creation</name>
        <label>Assign Belgium to List to TC creation</label>
        <locationX>2524</locationX>
        <locationY>2140</locationY>
        <assignmentItems>
            <assignToReference>List_TC_Creation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Belgium_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Finland_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Canada_found</name>
        <label>Assign Canada found</label>
        <locationX>1323</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>Canada_founds</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_TC_US</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contacts_to_variable</name>
        <label>Assign Contacts to variable</label>
        <locationX>2126</locationX>
        <locationY>1299</locationY>
        <assignmentItems>
            <assignToReference>Var_List_contacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_contacts.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Count_Contacts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Var_List_contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_contacts_in_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Creation_of_Austria</name>
        <label>Assign - Creation of Austria</label>
        <locationX>2260</locationX>
        <locationY>1975</locationY>
        <assignmentItems>
            <assignToReference>Austria_Country.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Austria</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Austria_Country.Merchant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Austria_Country.Online_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Candidate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Austria_Country.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Targeted_Country_EU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Austria_Country.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Austria_to_List_to_TC_creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Creation_of_Belgium</name>
        <label>Assign - Creation of Belgium</label>
        <locationX>2524</locationX>
        <locationY>1967</locationY>
        <assignmentItems>
            <assignToReference>Belgium_Country.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Belgium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Belgium_Country.Merchant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Belgium_Country.Online_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Candidate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Belgium_Country.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Targeted_Country_EU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Belgium_Country.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Belgium_to_List_to_TC_creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Creation_of_Canada</name>
        <label>Assign - Creation of Canada</label>
        <locationX>865</locationX>
        <locationY>1612</locationY>
        <assignmentItems>
            <assignToReference>Canada_Country.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canada</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Canada_Country.Merchant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Canada_Country.Online_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Candidate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Canada_Country.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Targeted_Country_US__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_UnitedStates_to_List_to_TC_creation_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Creation_of_Finland</name>
        <label>Assign - Creation of Finland</label>
        <locationX>2768</locationX>
        <locationY>1969</locationY>
        <assignmentItems>
            <assignToReference>Finland_Country.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Finland</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Finland_Country.Merchant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Finland_Country.Online_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Candidate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Finland_Country.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Targeted_Country_EU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Finland_Country.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Finland_to_List_to_TC_creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Creation_of_France</name>
        <label>Assign - Creation of France</label>
        <locationX>2996</locationX>
        <locationY>1969</locationY>
        <assignmentItems>
            <assignToReference>France_Country.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>France</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>France_Country.Merchant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>France_Country.Online_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Candidate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>France_Country.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Targeted_Country_EU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>France_Country.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_France_to_List_to_TC_creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Creation_of_Germany</name>
        <label>Assign - Creation of Germany</label>
        <locationX>3235</locationX>
        <locationY>1967</locationY>
        <assignmentItems>
            <assignToReference>Germany_Country.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Germany</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Germany_Country.Merchant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Germany_Country.Online_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Candidate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Germany_Country.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Targeted_Country_EU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Germany_Country.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Germany_to_List_to_TC_creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Creation_of_Greece</name>
        <label>Assign - Creation of Greece</label>
        <locationX>3481</locationX>
        <locationY>1963</locationY>
        <assignmentItems>
            <assignToReference>Greece_Country.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Greece</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Greece_Country.Merchant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Greece_Country.Online_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Candidate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Greece_Country.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Targeted_Country_EU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Greece_Country.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Greece_to_List_to_TC_creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Creation_of_Ireland</name>
        <label>Assign - Creation of Ireland</label>
        <locationX>3715</locationX>
        <locationY>1972</locationY>
        <assignmentItems>
            <assignToReference>Ireland_Country.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ireland</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ireland_Country.Merchant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ireland_Country.Online_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Candidate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ireland_Country.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Targeted_Country_EU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ireland_Country.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Ireland_to_List_to_TC_creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Creation_of_Italy</name>
        <label>Assign - Creation of Italy</label>
        <locationX>3943</locationX>
        <locationY>1977</locationY>
        <assignmentItems>
            <assignToReference>Italy_Country.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Italy</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Italy_Country.Merchant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Italy_Country.Online_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Candidate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Italy_Country.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Targeted_Country_EU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Italy_Country.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Italy_to_List_to_TC_creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Creation_of_Netherlands</name>
        <label>Assign - Creation of Netherlands</label>
        <locationX>4185</locationX>
        <locationY>1983</locationY>
        <assignmentItems>
            <assignToReference>Netherlands_Country.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Netherlands</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Netherlands_Country.Merchant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Netherlands_Country.Online_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Candidate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Netherlands_Country.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Targeted_Country_EU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Netherlands_Country.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Netherlands_to_List_to_TC_creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Creation_of_Portugal</name>
        <label>Assign - Creation of Portugal</label>
        <locationX>4408</locationX>
        <locationY>1991</locationY>
        <assignmentItems>
            <assignToReference>Portugal_Country.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Portugal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Portugal_Country.Merchant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Portugal_Country.Online_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Candidate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Portugal_Country.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Targeted_Country_EU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Portugal_Country.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Portugal_to_List_to_TC_creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Creation_of_Slovakia</name>
        <label>Assign - Creation of Slovakia</label>
        <locationX>4640</locationX>
        <locationY>1998</locationY>
        <assignmentItems>
            <assignToReference>Slovakia_Country.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Slovakia</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slovakia_Country.Merchant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slovakia_Country.Online_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Candidate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slovakia_Country.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Targeted_Country_EU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slovakia_Country.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Slovakia_to_List_to_TC_creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Creation_of_Spain</name>
        <label>Assign - Creation of Spain</label>
        <locationX>4871</locationX>
        <locationY>2010</locationY>
        <assignmentItems>
            <assignToReference>Spain_Country.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Spain</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Spain_Country.Merchant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Spain_Country.Online_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Candidate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Spain_Country.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Targeted_Country_EU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Spain_Country.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Spain_to_List_to_TC_creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Creation_of_Sweden</name>
        <label>Assign - Creation of Sweden</label>
        <locationX>5333</locationX>
        <locationY>2017</locationY>
        <assignmentItems>
            <assignToReference>Sweden_Country.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sweden</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sweden_Country.Merchant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sweden_Country.Online_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Candidate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sweden_Country.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Targeted_Country_EU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sweden_Country.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Sweden_to_List_to_TC_creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Creation_of_UnitedKingdom</name>
        <label>Assign - Creation of UnitedKingdom</label>
        <locationX>5095</locationX>
        <locationY>2013</locationY>
        <assignmentItems>
            <assignToReference>UnitedKingdom_Country.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>United Kingdom</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnitedKingdom_Country.Merchant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnitedKingdom_Country.Online_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Candidate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnitedKingdom_Country.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Targeted_Country_EU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnitedKingdom_Country.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_UnitedKingdom_to_List_to_TC_creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Creation_of_UnitedStates</name>
        <label>Assign - Creation of UnitedStates</label>
        <locationX>1089</locationX>
        <locationY>1605</locationY>
        <assignmentItems>
            <assignToReference>UnitedStates_Country.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>United States</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnitedStates_Country.Merchant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnitedStates_Country.Online_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Candidate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnitedStates_Country.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Targeted_Country_US__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_UnitedStates_to_List_to_TC_creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Financial_fields_because_live_on_Sales_or_BB</name>
        <label>Assign Financial fields because live on Sales or BB</label>
        <locationX>2145</locationX>
        <locationY>215</locationY>
        <assignmentItems>
            <assignToReference>$Record.IBAN_checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status_checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.KBIS_checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Merchant_VAT_Compliance_Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ID_checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BizDev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Manager_for_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Manager_Sales__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.KYCs_Checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Blacklist_check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Validated by finance</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_process_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Financial_fields_with_Buyback_record_info</name>
        <label>Assign Financial fields with Buyback record info</label>
        <locationX>2149</locationX>
        <locationY>523</locationY>
        <assignmentItems>
            <assignToReference>$Record.IBAN_checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Buyback_Onboarding.IBAN_checked__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status_checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Buyback_Onboarding.Status_checked__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.KBIS_checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Buyback_Onboarding.KBIS_checked__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Merchant_VAT_Compliance_Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Buyback_Onboarding.Merchant_VAT_Compliance_Approved__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ID_checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Buyback_Onboarding.ID_checked__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BizDev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Manager_for_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Manager_Sales__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.KYCs_Checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Buyback_Onboarding.KYCs_Checked__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Blacklist_check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Buyback_Onboarding.Blacklist_check__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_process_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Financial_fields_with_Buyback_record_info_0</name>
        <label>Assign Financial fields with Buyback record info</label>
        <locationX>2158</locationX>
        <locationY>869</locationY>
        <assignmentItems>
            <assignToReference>$Record.IBAN_checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_US_Buyback_Onboarding.IBAN_checked__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status_checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_US_Buyback_Onboarding.Status_checked__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.KBIS_checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_US_Buyback_Onboarding.KBIS_checked__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Merchant_VAT_Compliance_Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_US_Buyback_Onboarding.Merchant_VAT_Compliance_Approved__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ID_checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_US_Buyback_Onboarding.ID_checked__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BizDev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Manager_for_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Manager_Sales__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.KYCs_Checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_US_Buyback_Onboarding.KYCs_Checked__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_process_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Financial_fields_with_Sales_record_info</name>
        <label>Assign Financial fields with Sales record info</label>
        <locationX>2142</locationX>
        <locationY>341</locationY>
        <assignmentItems>
            <assignToReference>$Record.IBAN_checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sales_Onboarding.IBAN_checked__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status_checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sales_Onboarding.Status_checked__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.KBIS_checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sales_Onboarding.KBIS_checked__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Merchant_VAT_Compliance_Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sales_Onboarding.Merchant_VAT_Compliance_Approved__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ID_checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sales_Onboarding.ID_checked__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BizDev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Manager_for_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Manager_Sales__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.KYCs_Checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sales_Onboarding.KYCs_Checked__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Blacklist_check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sales_Onboarding.Blacklist_check__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_process_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Financial_fields_with_Sales_record_info_0</name>
        <label>Assign Financial fields with Sales record info</label>
        <locationX>2157</locationX>
        <locationY>697</locationY>
        <assignmentItems>
            <assignToReference>$Record.IBAN_checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_US_Sales_Onboarding.IBAN_checked__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status_checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_US_Sales_Onboarding.Status_checked__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.KBIS_checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_US_Sales_Onboarding.KBIS_checked__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Merchant_VAT_Compliance_Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_US_Sales_Onboarding.Merchant_VAT_Compliance_Approved__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ID_checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_US_Sales_Onboarding.ID_checked__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BizDev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Manager_for_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Manager_Sales__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.KYCs_Checked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_US_Sales_Onboarding.KYCs_Checked__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_process_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Finland_found</name>
        <label>Assign Finland found</label>
        <locationX>2690</locationX>
        <locationY>1580</locationY>
        <assignmentItems>
            <assignToReference>Finland_Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_TC_EU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Finland_to_List_to_TC_creation</name>
        <label>Assign Finland to List to TC creation</label>
        <locationX>2768</locationX>
        <locationY>2142</locationY>
        <assignmentItems>
            <assignToReference>List_TC_Creation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Finland_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_France_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_France_found</name>
        <label>Assign France found</label>
        <locationX>2288</locationX>
        <locationY>1576</locationY>
        <assignmentItems>
            <assignToReference>France_Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_TC_EU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_France_to_List_to_TC_creation</name>
        <label>Assign France to List to TC creation</label>
        <locationX>2996</locationX>
        <locationY>2142</locationY>
        <assignmentItems>
            <assignToReference>List_TC_Creation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>France_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Germany_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Germany_found</name>
        <label>Assign Germany found</label>
        <locationX>2798</locationX>
        <locationY>1581</locationY>
        <assignmentItems>
            <assignToReference>Germany_Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_TC_EU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Germany_to_List_to_TC_creation</name>
        <label>Assign Germany to List to TC creation</label>
        <locationX>3234</locationX>
        <locationY>2168</locationY>
        <assignmentItems>
            <assignToReference>List_TC_Creation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Germany_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Greece_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Greece_found</name>
        <label>Assign Greece found</label>
        <locationX>2280</locationX>
        <locationY>1837</locationY>
        <assignmentItems>
            <assignToReference>Greece_Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_TC_EU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Greece_to_List_to_TC_creation</name>
        <label>Assign Greece to List to TC creation</label>
        <locationX>3482</locationX>
        <locationY>2162</locationY>
        <assignmentItems>
            <assignToReference>List_TC_Creation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Greece_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Ireland_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ireland_found</name>
        <label>Assign Ireland found</label>
        <locationX>2419</locationX>
        <locationY>1837</locationY>
        <assignmentItems>
            <assignToReference>Ireland_Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_TC_EU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ireland_to_List_to_TC_creation</name>
        <label>Assign Ireland to List to TC creation</label>
        <locationX>3716</locationX>
        <locationY>2170</locationY>
        <assignmentItems>
            <assignToReference>List_TC_Creation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Ireland_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Italy_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Italy_found</name>
        <label>Assign Italy found</label>
        <locationX>2555</locationX>
        <locationY>1839</locationY>
        <assignmentItems>
            <assignToReference>Italy_Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_TC_EU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Italy_to_List_to_TC_creation</name>
        <label>Assign Italy to List to TC creation</label>
        <locationX>3942</locationX>
        <locationY>2174</locationY>
        <assignmentItems>
            <assignToReference>List_TC_Creation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Italy_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Netherlands_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Netherlands_found</name>
        <label>Assign Netherlands found</label>
        <locationX>2684</locationX>
        <locationY>1842</locationY>
        <assignmentItems>
            <assignToReference>Netherlands_Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_TC_EU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Netherlands_to_List_to_TC_creation</name>
        <label>Assign Netherlands to List to TC creation</label>
        <locationX>4184</locationX>
        <locationY>2180</locationY>
        <assignmentItems>
            <assignToReference>List_TC_Creation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Netherlands_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Portugal_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Portugal_found</name>
        <label>Assign Portugal found</label>
        <locationX>2812</locationX>
        <locationY>1843</locationY>
        <assignmentItems>
            <assignToReference>Portugal_Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_TC_EU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Portugal_to_List_to_TC_creation</name>
        <label>Assign Portugal to List to TC creation</label>
        <locationX>4408</locationX>
        <locationY>2187</locationY>
        <assignmentItems>
            <assignToReference>List_TC_Creation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Portugal_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Slovakia_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Slovakia_found</name>
        <label>Assign Slovakia found</label>
        <locationX>2918</locationX>
        <locationY>1578</locationY>
        <assignmentItems>
            <assignToReference>Slovakia_Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_TC_EU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Slovakia_to_List_to_TC_creation</name>
        <label>Assign Slovakia to List to TC creation</label>
        <locationX>4640</locationX>
        <locationY>2193</locationY>
        <assignmentItems>
            <assignToReference>List_TC_Creation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Slovakia_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Spain_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Spain_found</name>
        <label>Assign Spain found</label>
        <locationX>2933</locationX>
        <locationY>1843</locationY>
        <assignmentItems>
            <assignToReference>Spain_Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_TC_EU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Spain_to_List_to_TC_creation</name>
        <label>Assign Spain to List to TC creation</label>
        <locationX>4872</locationX>
        <locationY>2206</locationY>
        <assignmentItems>
            <assignToReference>List_TC_Creation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Spain_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_UnitedKingdom_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sweden_found</name>
        <label>Assign Sweden found</label>
        <locationX>3056</locationX>
        <locationY>1841</locationY>
        <assignmentItems>
            <assignToReference>Sweden_Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_TC_EU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sweden_to_List_to_TC_creation</name>
        <label>Assign Sweden to List to TC creation</label>
        <locationX>5333</locationX>
        <locationY>2208</locationY>
        <assignmentItems>
            <assignToReference>List_TC_Creation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sweden_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_TC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Team</name>
        <label>Assign Team</label>
        <locationX>2369</locationX>
        <locationY>603</locationY>
        <assignmentItems>
            <assignToReference>$Record.BizDev__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Manager_for_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Manager_Sales__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_process_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_United_Kingdom_found</name>
        <label>Assign United Kingdom found</label>
        <locationX>3034</locationX>
        <locationY>1578</locationY>
        <assignmentItems>
            <assignToReference>UnitedKingdom_found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_TC_EU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_UnitedKingdom_to_List_to_TC_creation</name>
        <label>Assign UnitedKingdom to List to TC creation</label>
        <locationX>5096</locationX>
        <locationY>2209</locationY>
        <assignmentItems>
            <assignToReference>List_TC_Creation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UnitedKingdom_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Sweden_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_UnitedStates_found</name>
        <label>Assign UnitedStates found</label>
        <locationX>1325</locationX>
        <locationY>1614</locationY>
        <assignmentItems>
            <assignToReference>UnitedStates_Founds</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_TC_US</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_UnitedStates_to_List_to_TC_creation</name>
        <label>Assign UnitedStates to List to TC creation</label>
        <locationX>1082</locationX>
        <locationY>1817</locationY>
        <assignmentItems>
            <assignToReference>List_TC_Creation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UnitedStates_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Canada_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_UnitedStates_to_List_to_TC_creation_0</name>
        <label>Assign UnitedStates to List to TC creation</label>
        <locationX>858</locationX>
        <locationY>1824</locationY>
        <assignmentItems>
            <assignToReference>List_TC_Creation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Canada_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_TC_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Count_contacts_in_variable</name>
        <label>Count contacts in variable</label>
        <locationX>2288</locationX>
        <locationY>1294</locationY>
        <defaultConnector>
            <targetReference>Decision_Merchant_Onboarding_Language</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Limit_isn_t_reached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_Count_Contacts</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_contacts</targetReference>
            </connector>
            <label>Limit isn&apos;t reached</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Austria_found</name>
        <label>Decision Austria found</label>
        <locationX>2124</locationX>
        <locationY>2066</locationY>
        <defaultConnector>
            <targetReference>Assign_Creation_of_Austria</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Austria_Country_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Austria_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Belgium_found</targetReference>
            </connector>
            <label>Austria Country Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Belgium_found</name>
        <label>Decision Belgium found</label>
        <locationX>2388</locationX>
        <locationY>2058</locationY>
        <defaultConnector>
            <targetReference>Assign_Creation_of_Belgium</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Belgium_Country_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Belgium_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Finland_found</targetReference>
            </connector>
            <label>Belgium Country Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Canada_found</name>
        <label>Decision Canada found</label>
        <locationX>951</locationX>
        <locationY>1732</locationY>
        <defaultConnector>
            <targetReference>Assign_Creation_of_Canada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Canada_Country_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Canada_founds</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_TC_0</targetReference>
            </connector>
            <label>Canada Country Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Finland_found</name>
        <label>Decision Finland found</label>
        <locationX>2632</locationX>
        <locationY>2060</locationY>
        <defaultConnector>
            <targetReference>Assign_Creation_of_Finland</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Finland_Country_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Finland_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_France_found</targetReference>
            </connector>
            <label>Finland Country Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_France_found</name>
        <label>Decision France found</label>
        <locationX>2860</locationX>
        <locationY>2060</locationY>
        <defaultConnector>
            <targetReference>Assign_Creation_of_France</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>France_Country_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>France_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Germany_found</targetReference>
            </connector>
            <label>France Country Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Germany_found</name>
        <label>Decision Germany found</label>
        <locationX>3099</locationX>
        <locationY>2058</locationY>
        <defaultConnector>
            <targetReference>Assign_Creation_of_Germany</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Germany_Country_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Germany_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Greece_found</targetReference>
            </connector>
            <label>Germany Country Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Greece_found</name>
        <label>Decision Greece found</label>
        <locationX>3354</locationX>
        <locationY>2059</locationY>
        <defaultConnector>
            <targetReference>Assign_Creation_of_Greece</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greece_Country_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Greece_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Ireland_found</targetReference>
            </connector>
            <label>Greece Country Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Ireland_found</name>
        <label>Decision Ireland found</label>
        <locationX>3580</locationX>
        <locationY>2063</locationY>
        <defaultConnector>
            <targetReference>Assign_Creation_of_Ireland</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ireland_Country_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ireland_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Italy_found</targetReference>
            </connector>
            <label>Ireland Country Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Is_contact_found</name>
        <label>Decision - Is contact found</label>
        <locationX>1922</locationX>
        <locationY>1112</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Contact_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_contacts</targetReference>
            </connector>
            <label>Yes - Contact found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Italy_found</name>
        <label>Decision Italy found</label>
        <locationX>3829</locationX>
        <locationY>2066</locationY>
        <defaultConnector>
            <targetReference>Assign_Creation_of_Italy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Italy_Country_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Italy_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Netherlands_found</targetReference>
            </connector>
            <label>Italy Country Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Merchant_Onboarding_Language</name>
        <label>Decision - Merchant Onboarding Language</label>
        <locationX>2288</locationX>
        <locationY>1113</locationY>
        <defaultConnector>
            <targetReference>Type_S_Send_EN_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>French</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.Onboarding_language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_S_Send_FR_Email</targetReference>
            </connector>
            <label>French</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Netherlands_found</name>
        <label>Decision Netherlands found</label>
        <locationX>4049</locationX>
        <locationY>2070</locationY>
        <defaultConnector>
            <targetReference>Assign_Creation_of_Netherlands</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Netherlands_Country_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Netherlands_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Portugal_found</targetReference>
            </connector>
            <label>Netherlands Country Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_TC_found</name>
        <label>Decision on TC found</label>
        <locationX>2132</locationX>
        <locationY>1729</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>France</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_TC_EU.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>France</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_France_found</targetReference>
            </connector>
            <label>France</label>
        </rules>
        <rules>
            <name>Belgium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_TC_EU.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Belgium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Belgium_found</targetReference>
            </connector>
            <label>Belgium</label>
        </rules>
        <rules>
            <name>Spain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_TC_EU.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spain</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Spain_found</targetReference>
            </connector>
            <label>Spain</label>
        </rules>
        <rules>
            <name>Germany</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_TC_EU.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Germany_found</targetReference>
            </connector>
            <label>Germany</label>
        </rules>
        <rules>
            <name>Italy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_TC_EU.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Italy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Italy_found</targetReference>
            </connector>
            <label>Italy</label>
        </rules>
        <rules>
            <name>Austria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_TC_EU.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Austria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Austria_found</targetReference>
            </connector>
            <label>Austria</label>
        </rules>
        <rules>
            <name>Finland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_TC_EU.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Finland_found</targetReference>
            </connector>
            <label>Finland</label>
        </rules>
        <rules>
            <name>Greece</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_TC_EU.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Greece</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Greece_found</targetReference>
            </connector>
            <label>Greece</label>
        </rules>
        <rules>
            <name>Ireland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_TC_EU.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ireland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Ireland_found</targetReference>
            </connector>
            <label>Ireland</label>
        </rules>
        <rules>
            <name>Netherlands</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_TC_EU.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Netherlands</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Netherlands_found</targetReference>
            </connector>
            <label>Netherlands</label>
        </rules>
        <rules>
            <name>Portugal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_TC_EU.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portugal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Portugal_found</targetReference>
            </connector>
            <label>Portugal</label>
        </rules>
        <rules>
            <name>Slovakia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_TC_EU.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Slovakia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Slovakia_found</targetReference>
            </connector>
            <label>Slovakia</label>
        </rules>
        <rules>
            <name>United_Kingdom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_TC_EU.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Kingdom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_United_Kingdom_found</targetReference>
            </connector>
            <label>United Kingdom</label>
        </rules>
        <rules>
            <name>Sweden</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_TC_EU.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sweden</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sweden_found</targetReference>
            </connector>
            <label>Sweden</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_TC_found_0_0_0</name>
        <label>Decision on TC found</label>
        <locationX>1394</locationX>
        <locationY>1741</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>United_States</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_TC_US.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_UnitedStates_found</targetReference>
            </connector>
            <label>United States</label>
        </rules>
        <rules>
            <name>Canada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_TC_US.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Canada_found</targetReference>
            </connector>
            <label>Canada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_user_buypass_flows</name>
        <label>Decision on user buypass flows</label>
        <locationX>1575</locationX>
        <locationY>266</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_dont_bypass_flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ByPassFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Record_Type</targetReference>
            </connector>
            <label>User dont bypass flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Portugal_found</name>
        <label>Decision Portugal found</label>
        <locationX>4283</locationX>
        <locationY>2088</locationY>
        <defaultConnector>
            <targetReference>Assign_Creation_of_Portugal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Portugal_Country_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Portugal_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Slovakia_found</targetReference>
            </connector>
            <label>Portugal Country Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Record_Type</name>
        <label>Decision - Record Type</label>
        <locationX>1574</locationX>
        <locationY>444</locationY>
        <defaultConnector>
            <targetReference>Onboarding_Type_is_Type_S</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Buyback_Onboarding_and_Sales_Live</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Onboarding_buyback__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Onboarding_Buyback_US__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N.M.O.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Run</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Financial_fields_because_live_on_Sales_or_BB</targetReference>
            </connector>
            <label>Buyback Onboarding and Sales Live</label>
        </rules>
        <rules>
            <name>Sales_Onboarding_and_Buyback_Live</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Onboarding__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Onboarding_US__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.Stage_Buyback__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyback Run</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Financial_fields_because_live_on_Sales_or_BB</targetReference>
            </connector>
            <label>Sales Onboarding and Buyback Live</label>
        </rules>
        <rules>
            <name>Sales_EU_Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Onboarding__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Buyback_Onboarding</targetReference>
            </connector>
            <label>Sales EU Onboarding</label>
        </rules>
        <rules>
            <name>Buyback_EU_Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Onboarding_buyback__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sales_Onboarding</targetReference>
            </connector>
            <label>Buyback EU Onboarding</label>
        </rules>
        <rules>
            <name>Sales_US_Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Onboarding_US__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_US_Buyback_Onboarding</targetReference>
            </connector>
            <label>Sales US Onboarding</label>
        </rules>
        <rules>
            <name>Buyback_US_Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Onboarding_Buyback_US__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_US_Sales_Onboarding</targetReference>
            </connector>
            <label>Buyback US Onboarding</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Record_Type_Onboarding_Sales</name>
        <label>Decision - Record Type Onboarding Sales</label>
        <locationX>1561</locationX>
        <locationY>1479</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Onboarding</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Onboarding__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Onboarding_US__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Targeted_country</targetReference>
            </connector>
            <label>Sales Onboarding</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Slovakia_found</name>
        <label>Decision Slovakia found</label>
        <locationX>4504</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>Assign_Creation_of_Slovakia</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Slovakia_Country_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Slovakia_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Spain_found</targetReference>
            </connector>
            <label>Slovakia Country Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Spain_found</name>
        <label>Decision Spain found</label>
        <locationX>4736</locationX>
        <locationY>2100</locationY>
        <defaultConnector>
            <targetReference>Assign_Creation_of_Spain</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Spain_Country_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Spain_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_UnitedKingdom_found</targetReference>
            </connector>
            <label>Spain Country Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Sweden_found</name>
        <label>Decision Sweden found</label>
        <locationX>5198</locationX>
        <locationY>2107</locationY>
        <defaultConnector>
            <targetReference>Assign_Creation_of_Sweden</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sweden_Country_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sweden_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_TC</targetReference>
            </connector>
            <label>Sweden Country Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_TC_Found</name>
        <label>Decision - TC Found</label>
        <locationX>1682</locationX>
        <locationY>1723</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TC_EU_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Targeted_country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Merchant_EU__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_TC_EU</targetReference>
            </connector>
            <label>TC EU found</label>
        </rules>
        <rules>
            <name>TC_US_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Targeted_country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Merchant_US__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_TC_US</targetReference>
            </connector>
            <label>TC US found</label>
        </rules>
        <rules>
            <name>TC_EU_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Targeted_country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Merchant_EU__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Austria_found</targetReference>
            </connector>
            <label>TC EU not found</label>
        </rules>
        <rules>
            <name>TC_US_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Targeted_country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Merchant_US__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_UnitedStates_found</targetReference>
            </connector>
            <label>TC US not found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_UnitedKingdom_found</name>
        <label>Decision UnitedKingdom found</label>
        <locationX>4960</locationX>
        <locationY>2103</locationY>
        <defaultConnector>
            <targetReference>Assign_Creation_of_UnitedKingdom</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UnitedKingdom_Country_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UnitedKingdom_found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Sweden_found</targetReference>
            </connector>
            <label>UnitedKingdom Country Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_UnitedStates_found</name>
        <label>Decision UnitedStates found</label>
        <locationX>1180</locationX>
        <locationY>1738</locationY>
        <defaultConnector>
            <targetReference>Assign_Creation_of_UnitedStates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UnitedStates_Country_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UnitedStates_Founds</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Canada_found</targetReference>
            </connector>
            <label>UnitedStates Country Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Get_record_empty</name>
        <label>Is Get record empty</label>
        <locationX>1913</locationX>
        <locationY>544</locationY>
        <defaultConnector>
            <targetReference>Assign_Financial_fields_with_Buyback_record_info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Buyback_Onboarding</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Team</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Get_record_empty_0</name>
        <label>Is Get record empty</label>
        <locationX>1905</locationX>
        <locationY>353</locationY>
        <defaultConnector>
            <targetReference>Assign_Financial_fields_with_Sales_record_info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Onboarding</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Team</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Get_record_empty_0_0</name>
        <label>Is Get record empty</label>
        <locationX>1931</locationX>
        <locationY>852</locationY>
        <defaultConnector>
            <targetReference>Assign_Financial_fields_with_Buyback_record_info_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_US_Buyback_Onboarding</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Team</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Get_record_empty_0_0_0</name>
        <label>Is Get record empty</label>
        <locationX>1922</locationX>
        <locationY>701</locationY>
        <defaultConnector>
            <targetReference>Assign_Financial_fields_with_Sales_record_info_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_US_Sales_Onboarding</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Team</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>KYCs_to_check</name>
        <label>KYCs to check</label>
        <locationX>2715</locationX>
        <locationY>606</locationY>
        <defaultConnector>
            <targetReference>Onboarding_Type_is_Type_S</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IBAN_uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ID_uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.KBIS_uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status_uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ID_uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.KYCs_Checked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_for_BizDev_KYCs_to_check</targetReference>
            </connector>
            <label>Create task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Onboarding_Type_is_Type_S</name>
        <label>Onboarding Type is - Type S</label>
        <locationX>1564</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Decision_Record_Type_Onboarding_Sales</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Type_S_assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BackWatch_Onboarding_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Type S</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_contacts</targetReference>
            </connector>
            <label>Type S assigned</label>
        </rules>
    </decisions>
    <description>Change templates SSC links</description>
    <formulas>
        <name>Calculation_EU_FinancialAndLegal</name>
        <dataType>Number</dataType>
        <expression>if(NOT(ISBLANK({!$Record.KYB_check_Refusal_reason__c})), 0,


(if({!$Record.IBAN_uploaded__c}=true, 7.7,0) + 
if({!$Record.ID_uploaded__c}=true, 7.7,0) + 
if({!$Record.Status_uploaded__c}=true, 7.7,0) + 
if({!$Record.KBIS_uploaded__c}=true, 7.7,0) + 
if({!$Record.Merchant_VAT_Compliance_Uploaded__c}=true, 7.7,0) + 
if({!$Record.KYCs_Checked__c}=true, 7.7,0) + 
if({!$Record.IBAN_checked__c}=true, 7.7,0) + 
if({!$Record.ID_checked__c}=true, 7.7,0) + 
if({!$Record.Status_checked__c}=true, 7.7,0) + 
if({!$Record.KBIS_checked__c}=true, 7.7,0) + 
if({!$Record.Merchant_VAT_Compliance_Approved__c}=true, 7.7,0) + 
if(NOT(ISBLANK({!$Record.IBAN__c})), 7.7,0) + 
if(NOT(ISBLANK({!$Record.BIC__c})), 7.6,0) ))</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>Calculation_Global</name>
        <dataType>Number</dataType>
        <expression>if({!$Record.RecordTypeId}={!$Setup.Special_Process_Record_Types_Ids__c.Onboarding__c}, 
(({!Calculation_EU_FinancialAndLegal}+{!Calculation_GoLiveAndSupply}+{!Calculation_Quality})/3), (({!Calculation_US_FinancialAndLegal}+{!Calculation_GoLiveAndSupply}+{!Calculation_Quality})/3))</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>Calculation_GoLiveAndSupply</name>
        <dataType>Number</dataType>
        <expression>if({!$Record.TC__c}=true, 12.5,0) +
if({!$Record.Listings_and_of_units__c}=true, 12.5,0) +
if({!$Record.Payment_methods__c}=true, 12.5,0) +
if({!$Record.Addresses__c}=true, 12.5,0) +
if({!$Record.Back_Office_Configuration__c}=true, 12.5,0) +
if({!$Record.Shipping_methods__c}=true, 12.5,0) +
if({!$Record.Ads_Comment__c}=true, 12.5,0) +
if({!$Record.Has_Merchant_Ready_Targeted_Countries__c}=true, 12.5,0)</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>Calculation_Quality</name>
        <dataType>Number</dataType>
        <expression>if(ISPICKVAL({!$Record.Status_Quality_Test__c}, &quot;All good&quot;), 100, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Calculation_US_FinancialAndLegal</name>
        <dataType>Number</dataType>
        <expression>if({!$Record.IBAN_uploaded__c}=true, 16.7,0) + 
if({!$Record.ID_uploaded__c}=true, 16.7,0) + 
if({!$Record.Status_uploaded__c}=true, 16.7,0) + 
if({!$Record.KBIS_uploaded__c}=true, 16.7,0) + 
if({!$Record.Merchant_VAT_Compliance_Uploaded__c}=true, 16.7,0) + 
if({!$Record.KYCs_Checked__c}=true, 16.7,0) + 
if({!$Record.IBAN_checked__c}=true, 16.5,0)</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>CreatedDate90days</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(NOW()-90)</expression>
    </formulas>
    <interviewLabel>Onboarding - After Save Flow (Creation only) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Onboarding - After Save Flow (Creation only)</label>
    <loops>
        <name>Loop_on_contacts</name>
        <label>Loop on contacts</label>
        <locationX>2125</locationX>
        <locationY>1114</locationY>
        <collectionReference>Get_all_contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contacts_to_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_Merchant_Onboarding_Language</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_TC_EU</name>
        <label>Loop on TC EU</label>
        <locationX>1949</locationX>
        <locationY>1729</locationY>
        <collectionReference>Get_Targeted_country</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_on_TC_found</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_Austria_found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_TC_US</name>
        <label>Loop on TC US</label>
        <locationX>1514</locationX>
        <locationY>1728</locationY>
        <collectionReference>Get_Targeted_country</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_on_TC_found_0_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_UnitedStates_found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_TC</name>
        <label>Create TC</label>
        <locationX>5502</locationX>
        <locationY>2094</locationY>
        <inputReference>List_TC_Creation</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_TC_0</name>
        <label>Create TC</label>
        <locationX>704</locationX>
        <locationY>1732</locationY>
        <inputReference>List_TC_Creation</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Task_for_BizDev_KYCs_to_check</name>
        <label>Task for BizDev - KYCs to check</label>
        <locationX>2888</locationX>
        <locationY>595</locationY>
        <connector>
            <targetReference>Onboarding_Type_is_Type_S</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.BizDev__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>KYCs to check</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <stringValue>KYCs to check</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_all_contacts</name>
        <label>Get all contacts</label>
        <locationX>1778</locationX>
        <locationY>1108</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Is_contact_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Merchant__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>HasOptedOutOfEmail</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Buyback_Onboarding</name>
        <label>Get Buyback Onboarding</label>
        <locationX>1771</locationX>
        <locationY>544</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Get_record_empty</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Is_Get_record_empty</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Merchant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Merchant__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Onboarding_buyback__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Has_Begun_On__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>CreatedDate90days</elementReference>
            </value>
        </filters>
        <filters>
            <field>Abandonned__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Onboarding</name>
        <label>Get Sales Onboarding</label>
        <locationX>1780</locationX>
        <locationY>349</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Get_record_empty_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Is_Get_record_empty_0</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>Merchant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Merchant__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Onboarding__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Has_Begun_On__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>CreatedDate90days</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Targeted_country</name>
        <label>Get Targeted country</label>
        <locationX>1690</locationX>
        <locationY>1568</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_TC_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Merchant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Merchant__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Targeted_Country__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_US_Buyback_Onboarding</name>
        <label>Get US Buyback Onboarding</label>
        <locationX>1764</locationX>
        <locationY>851</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Get_record_empty_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Is_Get_record_empty_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Merchant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Merchant__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Onboarding_Buyback_US__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Has_Begun_On__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>CreatedDate90days</elementReference>
            </value>
        </filters>
        <filters>
            <field>Abandonned__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_US_Sales_Onboarding</name>
        <label>Get US Sales Onboarding</label>
        <locationX>1767</locationX>
        <locationY>701</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Get_record_empty_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Is_Get_record_empty_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>Merchant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Merchant__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Onboarding_US__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Has_Begun_On__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>CreatedDate90days</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Onboarding_process_0</name>
        <label>Update Onboarding process</label>
        <locationX>2567</locationX>
        <locationY>597</locationY>
        <connector>
            <targetReference>KYCs_to_check</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1457</locationX>
        <locationY>11</locationY>
        <connector>
            <targetReference>Decision_on_user_buypass_flows</targetReference>
        </connector>
        <object>Onboarding_Process__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TextTemplate_Body_EN</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!$Record.Merchant__r.Name},&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To start selling on Back Market as a professional, complete the steps detailed below.&amp;nbsp;&lt;/p&gt;&lt;p&gt;Once all steps are OK, we will activate your account and you will benefit from millions of customers.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To be able to access all relevant information, create an account on our Seller Support Center (&lt;a href=&quot;https://www.notion.so/backmarket/SSC-Access-6bb8b3b0dc884621b0866a3d27e415be&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;check the guide if you need help&lt;/a&gt;).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;1. &lt;/b&gt;&lt;a href=&quot;https://backmarket.notion.site/Back-Office-Access-and-T-Cs-signature-95901e31f91f4a5c9c4fa1e75b18bbb0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;Back Office Access and T&amp;amp;Cs signature&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Access your &lt;a href=&quot;https://www.backmarket.co.uk/bo_merchant/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Back Office (BO)&lt;/a&gt;.&lt;/li&gt;&lt;li&gt;Read and sign the T&amp;amp;Cs to become a professional seller on Back Market.&lt;/li&gt;&lt;li&gt;Check this &lt;a href=&quot;https://backmarketportal.force.com/ssc/login?ec=302&amp;amp;startURL=%2Fssc%2Fs%2Farticle%2FBack-Market-Seller-s-Dashboard-Back-Office&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Back Office introduction video&lt;/a&gt;.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;2. &lt;/b&gt;&lt;a href=&quot;https://backmarket.notion.site/My-Profile-4dd4feffbdd6416393fdeee78aadb16e&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;My Profile&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Complete all information required in My Profile in your BO.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;3. &lt;/b&gt;&lt;a href=&quot;https://backmarket.notion.site/Quality-standars-Onboarding-Questionnaire-f9b547db2a5d4de1bcbeee1b42ff32d2&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;Quality standards&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Read the &lt;a href=&quot;https://backmarketportal.force.com/ssc/login?ec=302&amp;amp;startURL=%2Fssc%2Fs%2Farticle%2FThe-quality-Charter-of-Back-Market&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Quality Charter&lt;/a&gt; and the &lt;a href=&quot;https://backmarketportal.force.com/ssc/login?ec=302&amp;amp;startURL=%2Fssc%2Fs%2Farticle%2FCharter-Summary&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Summary&lt;/a&gt;.&lt;/li&gt;&lt;li&gt;Take the &lt;a href=&quot;https://backster.typeform.com/to/KIIJ12La&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Onboarding Questionnaire&lt;/a&gt;.&lt;/li&gt;&lt;li&gt;Your P.K. is {!$Record.Merchant__r.Back_Office_PK__c}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;4. &lt;/b&gt;&lt;a href=&quot;https://backmarket.notion.site/My-address-for-returns-2d3edb15193244878da1c550a7813e1b&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;My address for returns&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Enter your address where you will receive the returns.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;5. &lt;/b&gt;&lt;a href=&quot;https://backmarket.notion.site/Get-your-payments-Legal-and-finance-validation-de12939e34b84f18a8683513ccffcedc&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;Get your payments. Legal and finance validation&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Send all necessary documentation to habilitate the payments to your bank account.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;6. &lt;/b&gt;&lt;a href=&quot;https://backmarket.notion.site/Create-your-listings-56f6a664f2b14c1cb9e711131db8488d&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;Create your listings&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Create your listings.&lt;/li&gt;&lt;li&gt;Check the minimum listings and stocks required to start selling.&lt;/li&gt;&lt;li&gt;Create pricing rules for all countries.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;7. &lt;/b&gt;&lt;a href=&quot;https://backmarket.notion.site/Shipping-Aftersales-Payment-Methods-6c82af0e21db40be905c2bfdcf057fc0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;Shipping, Aftersales &amp;amp; Payment Methods&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Create your shipping methods with BackShip.&lt;/li&gt;&lt;li&gt;Check how aftersales work with BackCare.&lt;/li&gt;&lt;li&gt;Connect PayPal and learn more about Oney and Klarna.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;8. &lt;/b&gt;&lt;a href=&quot;https://backmarket.notion.site/You-must-learn-about-b8456f89e0ff48b399125cf90ad85e84&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;You must learn about&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Invoice compliance&lt;/li&gt;&lt;li&gt;Cross Border&lt;/li&gt;&lt;li&gt;BuyBox - How does it work?&lt;/li&gt;&lt;li&gt;How do Quality KPIs work?&lt;/li&gt;&lt;li&gt;Deferred Payout&lt;/li&gt;&lt;li&gt;Optional comments for your listings&lt;/li&gt;&lt;li&gt;BM Services&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You will receive weekly updates about the different steps completion (OK, KO, Pending).&lt;/p&gt;&lt;p&gt;If you need help with any of the steps, please check first the &lt;a href=&quot;https://backmarket.notion.site/English-All-E-U-countries-7a08d3e21b784a60b1eec479195282eb&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Step by Step Guide&lt;/a&gt;, and if you still need our help contact us by answering our emails (activation-eu@backmarket.com response delay 48-72h).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Merchant Activation&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Back Market&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_Body_FR</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Bonjour {!$Record.Merchant__r.Name},&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Pour commencer  vendre sur Back Market en tant que Vendeur professionnel, suivez les tapes dtailles ci-dessous.&amp;nbsp;&lt;/p&gt;&lt;p&gt;Une fois toutes les tapes valides, nous activerons votre compte et vous bnficierez de millions de clients.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Pour pouvoir accder  toutes les informations importantes, crez un compte sur notre Seller Support Center (&lt;a href=&quot;https://www.notion.so/backmarket/Copy-of-SSC-Access-398bfc427190412891f9e29f146dd306&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;consultez le guide si vous avez besoin d&apos;aide&lt;/a&gt;).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;1. &lt;/b&gt;&lt;a href=&quot;https://www.notion.so/backmarket/Back-Office-Access-and-T-Cs-signature-ea502585541043d8b75702e62405bf2d&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;Accs au Back Office et signature des CGV&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Accdez  votre &lt;a href=&quot;https://www.backmarket.fr/bo_merchant/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Back Office (BO)&lt;/a&gt;&lt;/li&gt;&lt;li&gt;Lisez et signez les CGV pour devenir un vendeur professionnel sur Back Market.&lt;/li&gt;&lt;li&gt;Regardez cette &lt;a href=&quot;https://backmarketportal.force.com/ssc/login?ec=302&amp;amp;startURL=%2Fssc%2Fs%2Farticle%2FD%25C3%25A9couvrez-notre-backoffice&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;vido d&apos;introduction au Back Office.&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;2. &lt;/b&gt;&lt;a href=&quot;https://backmarket.notion.site/My-Profile-4dd4feffbdd6416393fdeee78aadb16e&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;Mon Profil&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Compltez toutes les informations requises dans &quot;Mon profil&quot; dans votre BO.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;3. &lt;/b&gt;&lt;a href=&quot;https://www.notion.so/backmarket/Copy-of-Quality-standars-Onboarding-Questionnaire-1e9d4aad4f324ce69bb2f1c28e8f1f68&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;Standards qualits&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Lisez la &lt;a href=&quot;https://backmarketportal.force.com/ssc/login?ec=302&amp;amp;startURL=%2Fssc%2Fs%2Farticle%2FLa-Charte-Qualit%25C3%25A9-de-Back-Market&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Charte qualit&lt;/a&gt; et le &lt;a href=&quot;https://backmarketportal.force.com/ssc/login?ec=302&amp;amp;startURL=%2Fssc%2Fs%2Farticle%2FR%25C3%25A9sum%25C3%25A9-de-la-Charte-Qualit%25C3%25A9&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;rsum de celle-ci&lt;/a&gt;.&lt;/li&gt;&lt;li&gt;Rpondez au &lt;a href=&quot;https://backster.typeform.com/to/HNX2Hwdg&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;questionnaire donboarding&lt;/a&gt;.&lt;/li&gt;&lt;li&gt;Votre P.K. est {!$Record.Merchant__r.Back_Office_PK__c}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;4. &lt;/b&gt;&lt;a href=&quot;https://www.notion.so/backmarket/Copy-of-My-address-for-returns-5eba507f3b30482eb29cbeed6c7e8426&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;Mon adresse de retour&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Indiquez votre adresse o vous recevrez les retours.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;5. &lt;/b&gt;&lt;a href=&quot;https://www.notion.so/backmarket/Copy-of-Get-your-payments-Legal-and-finance-validation-446d83414814468bb543cdac15001f03&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;Obtenir vos paiements. Validation lgale et financire&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Envoyez tous les documents ncessaires pour permettre les paiements sur votre compte bancaire.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;6. &lt;/b&gt;&lt;a href=&quot;https://www.notion.so/backmarket/Copy-of-Create-your-listings-d302b6aeac8f4860a4ffc69369303e81&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;Crez vos annonces&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Crez vos annonces.&lt;/li&gt;&lt;li&gt;Vrifiez les annonces et les stocks minimums requis pour commencer  vendre.&lt;/li&gt;&lt;li&gt;Crez des rgles de prix pour tous les pays.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;7. &lt;/b&gt;&lt;a href=&quot;https://www.notion.so/backmarket/Copy-of-Shipping-Aftersales-Payment-Methods-880b95ae877b45998c560843f00e35ce&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;Livraison, aprs-vente et mthodes de paiement&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Crez vos mthodes de livraisons avec BackShip.&lt;/li&gt;&lt;li&gt;Vrifiez comment fonctionne le service aprs-vente avec BackCare.&lt;/li&gt;&lt;li&gt;Connectez PayPal et apprenez-en plus sur Oney et Klarna.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;8. &lt;/b&gt;&lt;a href=&quot;https://www.notion.so/backmarket/Copy-of-You-must-learn-about-45b6b39a3c294c98a70bbc9402cdc749&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;Vous devez connatre&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Conformit des factures&lt;/li&gt;&lt;li&gt;Internationnal&lt;/li&gt;&lt;li&gt;BuyBox - Comment cela fonctionne-t-il ?&lt;/li&gt;&lt;li&gt;Comment fonctionnent les indicateurs qualit ?&lt;/li&gt;&lt;li&gt;Paiement diffr&lt;/li&gt;&lt;li&gt;Commentaires facultatifs pour vos annonces&lt;/li&gt;&lt;li&gt;Services Back Market&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Vous recevrez des mises  jour hebdomadaires sur lavancement des diffrentes tapes (OK, KO, En attente).&lt;/p&gt;&lt;p&gt;Si vous avez besoin d&apos;aide pour l&apos;une des tapes, consultez d&apos;abord le &lt;a href=&quot;https://backmarket.notion.site/Fran-ais-Tous-les-pays-U-E-deb74b5b39b44f6da6334142ab3da548&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Guide tape par tape&lt;/a&gt;, et si vous avez encore besoin de notre aide, contactez-nous en rpondant  un de nos e-mails (activation-eu@backmarket.com dlai de rponse 48-72h).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Merchant Activation&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Back Market&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_Subject_EN</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Onboarding - Step by Step - Professional seller - Back Market</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_Subject_FR</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Onboarding - Etape par tape - Vendeur professionnel - Back Market</text>
    </textTemplates>
    <variables>
        <name>Austria_BackCare</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Austria_BackShip</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Austria_Country</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Targeted_Country__c</objectType>
    </variables>
    <variables>
        <name>Austria_Found</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BackCare_Service</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>BackShip_Service</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>Belgium_BackCare</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Belgium_BackShip</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Belgium_Country</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Targeted_Country__c</objectType>
    </variables>
    <variables>
        <name>Belgium_Found</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Canada_Country</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Targeted_Country__c</objectType>
    </variables>
    <variables>
        <name>Canada_founds</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Finland_BackCare</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Finland_BackShip</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Finland_Country</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Targeted_Country__c</objectType>
    </variables>
    <variables>
        <name>Finland_Found</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>France_BackCare</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>France_BackShip</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>France_Country</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Targeted_Country__c</objectType>
    </variables>
    <variables>
        <name>France_Found</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Germany_BackCare</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Germany_BackShip</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Germany_Country</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Targeted_Country__c</objectType>
    </variables>
    <variables>
        <name>Germany_Found</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Greece_BackCare</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Greece_BackShip</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Greece_Country</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Targeted_Country__c</objectType>
    </variables>
    <variables>
        <name>Greece_Found</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Ireland_BackCare</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Ireland_BackShip</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Ireland_Country</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Targeted_Country__c</objectType>
    </variables>
    <variables>
        <name>Ireland_Found</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Italy_BackCare</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Italy_BackShip</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Italy_Country</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Targeted_Country__c</objectType>
    </variables>
    <variables>
        <name>Italy_Found</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>List_TC_Creation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Targeted_Country__c</objectType>
    </variables>
    <variables>
        <name>Netherlands_BackCare</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Netherlands_BackShip</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Netherlands_Country</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Targeted_Country__c</objectType>
    </variables>
    <variables>
        <name>Netherlands_Found</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Portugal_BackCare</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Portugal_BackShip</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Portugal_Country</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Targeted_Country__c</objectType>
    </variables>
    <variables>
        <name>Portugal_Found</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Slovakia_BackCare</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Slovakia_BackShip</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Slovakia_Country</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Targeted_Country__c</objectType>
    </variables>
    <variables>
        <name>Slovakia_Found</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Spain_BackCare</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Spain_BackShip</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Spain_Country</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Targeted_Country__c</objectType>
    </variables>
    <variables>
        <name>Spain_Found</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Sweden_BackCare</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Sweden_BackShip</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sweden_Country</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Targeted_Country__c</objectType>
    </variables>
    <variables>
        <name>Sweden_Found</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>UnitedKingdom_BackCare</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>UnitedKingdom_BackShip</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UnitedKingdom_Country</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Targeted_Country__c</objectType>
    </variables>
    <variables>
        <name>UnitedKingdom_found</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>UnitedStates_BackCare</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>UnitedStates_BackShip</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UnitedStates_Country</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Targeted_Country__c</objectType>
    </variables>
    <variables>
        <name>UnitedStates_Founds</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Var_Count_Contacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Var_List_contacts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
