force-app/main/default/flows/Opportunity_After_Save_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Back_Care_Service</name>
        <label>Assign Back Care Service</label>
        <locationX>1082</locationX>
        <locationY>127</locationY>
        <assignmentItems>
            <assignToReference>TEMP_Opportunity.Service_Back_Care__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Back_Care_Service_for_the_Merchant.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BackCareAdded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_the_Opportunity_Contain_Back_Care</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Back_Repair_Service</name>
        <label>Assign Back Repair Service</label>
        <locationX>739</locationX>
        <locationY>780</locationY>
        <assignmentItems>
            <assignToReference>TEMP_Opportunity.Service_Back_Repair__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Back_Repair_Service_for_the_Merchant.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BackRepairAdded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Back_Ship_Service</name>
        <label>Assign Back Ship Service</label>
        <locationX>1075</locationX>
        <locationY>555</locationY>
        <assignmentItems>
            <assignToReference>TEMP_Opportunity.Service_Back_Ship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Back_Ship_Service_for_the_Merchant.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BackShipAdded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_the_Opportunity_Contain_Back_Care</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Back_Care_Service</name>
        <label>Assign New Back Care Service</label>
        <locationX>1075</locationX>
        <locationY>473</locationY>
        <assignmentItems>
            <assignToReference>TEMP_Opportunity.Service_Back_Care__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Back_Care_Service</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BackCareAdded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_the_Opportunity_Contain_Back_Care</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Back_Repair</name>
        <label>Assign New Back Repair</label>
        <locationX>1117</locationX>
        <locationY>966</locationY>
        <assignmentItems>
            <assignToReference>TEMP_Opportunity.Service_Back_Repair__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Back_Repair_Service</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BackRepairAdded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Back_Ship_Service</name>
        <label>Assign New Back Ship Service</label>
        <locationX>1089</locationX>
        <locationY>733</locationY>
        <assignmentItems>
            <assignToReference>TEMP_Opportunity.Service_Back_Ship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Back_Ship_Service</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BackShipAdded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_the_Opportunity_Contain_Back_Care</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Back_Care_Exists</name>
        <label>Back Care Exists</label>
        <locationX>916</locationX>
        <locationY>336</locationY>
        <defaultConnector>
            <targetReference>Create_Back_Care_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Back_Care_Service_for_the_Merchant.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Back_Care_Service</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Back_Repair_Exists</name>
        <label>Back Repair Exists</label>
        <locationX>586</locationX>
        <locationY>879</locationY>
        <defaultConnector>
            <targetReference>Create_Back_Repair_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Back_Repair_Service_for_the_Merchant.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Back_Repair_Service</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Back_Ship_Exists</name>
        <label>Back Ship Exists</label>
        <locationX>757</locationX>
        <locationY>593</locationY>
        <defaultConnector>
            <targetReference>Create_Back_Ship_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Back_Ship_Service_for_the_Merchant.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Back_Ship_Service</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_Opportunity_Contain_Back_Care</name>
        <label>Does the Opportunity Contain Back Care</label>
        <locationX>276</locationX>
        <locationY>415</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains_Back_Care</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expected_Services__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Back Care</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BackCareAdded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Back_Care_Service_for_the_Merchant</targetReference>
            </connector>
            <label>Contains Back Care</label>
        </rules>
        <rules>
            <name>Contains_Back_Ship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expected_Services__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Back Ship</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BackShipAdded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Back_Ship_Service_for_the_Merchant</targetReference>
            </connector>
            <label>Contains Back Ship</label>
        </rules>
        <rules>
            <name>Contains_Back_Repair</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expected_Services__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Back Repair</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BackRepairAdded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Back_Repair_Service_for_the_Merchant</targetReference>
            </connector>
            <label>Contains Back Repair</label>
        </rules>
    </decisions>
    <decisions>
        <name>Services_Opportunities</name>
        <label>Services Opportunities</label>
        <locationX>405</locationX>
        <locationY>129</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Services_are_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expected_Services__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Expected_Services__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_the_Opportunity_Contain_Back_Care</targetReference>
            </connector>
            <label>Services are Changed</label>
        </rules>
    </decisions>
    <interviewLabel>Opportunity - After Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - After Save Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Back_Care_Service</name>
        <label>Create Back Care Service</label>
        <locationX>1206</locationX>
        <locationY>396</locationY>
        <connector>
            <targetReference>Assign_New_Back_Care_Service</targetReference>
        </connector>
        <inputAssignments>
            <field>Business_Name__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.Services__c.BackCareRecordType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service__c</field>
            <value>
                <stringValue>Back Care</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </inputAssignments>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Back_Repair_Service</name>
        <label>Create Back Repair Service</label>
        <locationX>742</locationX>
        <locationY>923</locationY>
        <connector>
            <targetReference>Assign_New_Back_Repair</targetReference>
        </connector>
        <inputAssignments>
            <field>Business_Name__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.Services__c.BackRepairRecordType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service__c</field>
            <value>
                <stringValue>Back Repair</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </inputAssignments>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Back_Ship_Service</name>
        <label>Create Back Ship Service</label>
        <locationX>1243</locationX>
        <locationY>673</locationY>
        <connector>
            <targetReference>Assign_New_Back_Ship_Service</targetReference>
        </connector>
        <inputAssignments>
            <field>Business_Name__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.Services__c.BackShipRecordType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service__c</field>
            <value>
                <stringValue>Back Ship</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </inputAssignments>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Back_Care_Service_for_the_Merchant</name>
        <label>Get Back Care Service for the Merchant</label>
        <locationX>809</locationX>
        <locationY>331</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Back_Care_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Back Care</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Back_Repair_Service_for_the_Merchant</name>
        <label>Get Back Repair Service for the Merchant</label>
        <locationX>429</locationX>
        <locationY>865</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Back_Repair_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Back Repair</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Back_Ship_Service_for_the_Merchant</name>
        <label>Get Back Ship Service for the Merchant</label>
        <locationX>578</locationX>
        <locationY>590</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Back_Ship_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Back Ship</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>1425</locationX>
        <locationY>896</locationY>
        <inputReference>TEMP_Opportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Services_Opportunities</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BackCareAdded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BackRepairAdded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BackShipAdded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TEMP_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
