force-app/main/default/flows/Schedule_Flow_NMO_Stage_email_automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_saved_email_11_EN</name>
        <label>Send saved email 11 - EN</label>
        <locationX>2426</locationX>
        <locationY>1116</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body_EN_NMO_has_begun_on_11_days_ago</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_email_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>activation-eu@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_EN_NMO_has_begun_on_11_days_ago</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_saved_email_11_ES</name>
        <label>Send saved email 11 - ES</label>
        <locationX>2162</locationX>
        <locationY>1116</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body_ES_NMO_has_begun_on_11_days_ago</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_email_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>activation-eu@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_ES_NMO_has_begun_on_11_days_ago</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_saved_email_11_FR</name>
        <label>Send saved email 11 - FR</label>
        <locationX>1898</locationX>
        <locationY>1116</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body_FR_NMO_has_begun_on_11_days_ago</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_email_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>activation-eu@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_FR_NMO_has_begun_on_11_days_ago</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_saved_email_14_EN</name>
        <label>Send saved email 14 - EN</label>
        <locationX>1634</locationX>
        <locationY>1116</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body_EN_NMO_has_begun_on_14_days_ago</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_email_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>activation-eu@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_EN_NMO_has_begun_on_14_days_ago</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_saved_email_14_ES</name>
        <label>Send saved email 14 - ES</label>
        <locationX>1370</locationX>
        <locationY>1116</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body_ES_NMO_has_begun_on_14_days_ago</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_email_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>activation-eu@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_ES_NMO_has_begun_on_14_days_ago</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_saved_email_14_FR</name>
        <label>Send saved email 14 - FR</label>
        <locationX>1106</locationX>
        <locationY>1116</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body_FR_NMO_has_begun_on_14_days_ago</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_email_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>activation-eu@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_FR_NMO_has_begun_on_14_days_ago</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_saved_email_22_EN</name>
        <label>Send saved email 22 - EN</label>
        <locationX>842</locationX>
        <locationY>1116</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body_EN_NMO_has_begun_on_22_days_ago</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_email_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>activation-eu@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_EN_NMO_has_begun_on_22_days_ago</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_saved_email_22_ES</name>
        <label>Send saved email 22 - ES</label>
        <locationX>578</locationX>
        <locationY>1116</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body_ES_NMO_has_begun_on_22_days_ago</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_email_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>activation-eu@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_ES_NMO_has_begun_on_22_days_ago</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_saved_email_22_FR</name>
        <label>Send saved email 22 - FR</label>
        <locationX>314</locationX>
        <locationY>1116</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body_FR_NMO_has_begun_on_22_days_ago</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_email_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>activation-eu@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_FR_NMO_has_begun_on_22_days_ago</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_saved_email_4_EN</name>
        <label>Send saved email 4 - EN</label>
        <locationX>4010</locationX>
        <locationY>1116</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body_EN_NMO_has_begun_on_4_days_ago</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_email_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>activation-eu@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_EN_NMO_has_begun_on_4_days_ago</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_saved_email_4_ES</name>
        <label>Send saved email 4 - ES</label>
        <locationX>3746</locationX>
        <locationY>1116</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body_ES_NMO_has_begun_on_4_days_ago</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_email_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>activation-eu@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_ES_NMO_has_begun_on_4_days_ago</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_saved_email_4_FR</name>
        <label>Send saved email 4 - FR</label>
        <locationX>3482</locationX>
        <locationY>1116</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body_FR_NMO_has_begun_on_4_days_ago</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_email_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>activation-eu@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_FR_NMO_has_begun_on_4_days_ago</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_saved_email_7_EN</name>
        <label>Send saved email 7 - EN</label>
        <locationX>3218</locationX>
        <locationY>1116</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body_EN_NMO_has_begun_on_7_days_ago</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_email_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>activation-eu@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_EN_NMO_has_begun_on_7_days_ago</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_saved_email_7_ES</name>
        <label>Send saved email 7 - ES</label>
        <locationX>2954</locationX>
        <locationY>1116</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body_ES_NMO_has_begun_on_7_days_ago</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_email_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>activation-eu@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_ES_NMO_has_begun_on_7_days_ago</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_saved_email_7_FR</name>
        <label>Send saved email 7 - FR</label>
        <locationX>2690</locationX>
        <locationY>1116</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body_FR_NMO_has_begun_on_7_days_ago</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_email_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>activation-eu@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_FR_NMO_has_begun_on_7_days_ago</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_saved_email_New_NMO_EN</name>
        <label>Send saved email - New NMO - EN</label>
        <locationX>4802</locationX>
        <locationY>1116</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body_EN_NMO_Created_Today</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_email_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>activation-eu@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_EN_NMO_Created_today</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_saved_email_New_NMO_ES</name>
        <label>Send saved email - New NMO - ES</label>
        <locationX>4538</locationX>
        <locationY>1116</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body_ES_NMO_Created_Today</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_email_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>activation-eu@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_ES_NMO_Created_today</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_saved_email_New_NMO_FR</name>
        <label>Send saved email - New NMO - FR</label>
        <locationX>4274</locationX>
        <locationY>1116</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body_FR_NMO_Created_Today</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_email_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>activation-eu@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_FR_NMO_Created_today</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_contact_to_list</name>
        <label>Assign contact to list</label>
        <locationX>1480</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>List_of_email_to_contact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_All_Contacts.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tech_Count_Contacts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>List_of_email_to_contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_limit_reached</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_on_onboarding_language</name>
        <label>Decision on onboarding language</label>
        <locationX>3746</locationX>
        <locationY>996</locationY>
        <defaultConnector>
            <targetReference>Send_saved_email_4_EN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EN - Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.Onboarding_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_saved_email_4_FR</targetReference>
            </connector>
            <label>FR</label>
        </rules>
        <rules>
            <name>ES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.Onboarding_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_saved_email_4_ES</targetReference>
            </connector>
            <label>ES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_onboarding_language_0</name>
        <label>Decision on onboarding language</label>
        <locationX>2954</locationX>
        <locationY>996</locationY>
        <defaultConnector>
            <targetReference>Send_saved_email_7_EN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EN - Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FR_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.Onboarding_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_saved_email_7_FR</targetReference>
            </connector>
            <label>FR</label>
        </rules>
        <rules>
            <name>ES_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.Onboarding_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_saved_email_7_ES</targetReference>
            </connector>
            <label>ES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_onboarding_language_0_0</name>
        <label>Decision on onboarding language</label>
        <locationX>2162</locationX>
        <locationY>996</locationY>
        <defaultConnector>
            <targetReference>Send_saved_email_11_EN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EN - Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FR_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.Onboarding_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_saved_email_11_FR</targetReference>
            </connector>
            <label>FR</label>
        </rules>
        <rules>
            <name>ES_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.Onboarding_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_saved_email_11_ES</targetReference>
            </connector>
            <label>ES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_onboarding_language_0_0_0</name>
        <label>Decision on onboarding language</label>
        <locationX>1370</locationX>
        <locationY>996</locationY>
        <defaultConnector>
            <targetReference>Send_saved_email_14_EN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EN - Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FR_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.Onboarding_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_saved_email_14_FR</targetReference>
            </connector>
            <label>FR</label>
        </rules>
        <rules>
            <name>ES_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.Onboarding_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_saved_email_14_ES</targetReference>
            </connector>
            <label>ES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_onboarding_language_0_0_0_0</name>
        <label>Decision on onboarding language</label>
        <locationX>578</locationX>
        <locationY>996</locationY>
        <defaultConnector>
            <targetReference>Send_saved_email_22_EN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EN - Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FR_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.Onboarding_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_saved_email_22_FR</targetReference>
            </connector>
            <label>FR</label>
        </rules>
        <rules>
            <name>ES_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.Onboarding_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_saved_email_22_ES</targetReference>
            </connector>
            <label>ES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_onboarding_language_0_0_0_0_0</name>
        <label>Decision on onboarding language</label>
        <locationX>4538</locationX>
        <locationY>996</locationY>
        <defaultConnector>
            <targetReference>Send_saved_email_New_NMO_EN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EN - Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FR_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.Onboarding_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_saved_email_New_NMO_FR</targetReference>
            </connector>
            <label>FR</label>
        </rules>
        <rules>
            <name>ES_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.Onboarding_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_saved_email_New_NMO_ES</targetReference>
            </connector>
            <label>ES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_stage_and_dates</name>
        <label>Decision on stage and dates</label>
        <locationX>2822</locationX>
        <locationY>876</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NMO_and_has_begun_on_22_days_ago</name>
            <conditionLogic>(1 OR 3 OR 4) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phase 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Begun_On__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>twenty_two_days_ago</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phase 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phase 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_on_onboarding_language_0_0_0_0</targetReference>
            </connector>
            <label>NMO and has begun on 22 days ago</label>
        </rules>
        <rules>
            <name>NMO_and_has_begun_on_14_days_ago</name>
            <conditionLogic>(1 OR 3 OR 4) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phase 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Begun_On__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>fourteen_days_ago</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phase 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phase 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_on_onboarding_language_0_0_0</targetReference>
            </connector>
            <label>NMO and has begun on 14 days ago</label>
        </rules>
        <rules>
            <name>NMO_and_has_begun_on_11_days_ago</name>
            <conditionLogic>(1 OR 3 OR 4) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phase 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Begun_On__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>eleven_days_ago</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phase 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phase 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_on_onboarding_language_0_0</targetReference>
            </connector>
            <label>NMO and has begun on 11 days ago</label>
        </rules>
        <rules>
            <name>NMO_and_has_begun_on_7_days_ago</name>
            <conditionLogic>(1 OR 3 OR 4) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phase 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Begun_On__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Seven_days_ago</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phase 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phase 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_on_onboarding_language_0</targetReference>
            </connector>
            <label>NMO and has begun on 7 days ago</label>
        </rules>
        <rules>
            <name>NMO_and_has_begun_on_4_days_ago</name>
            <conditionLogic>(1 OR 3 OR 4) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phase 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Begun_On__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>four_days_ago</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phase 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phase 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_on_onboarding_language</targetReference>
            </connector>
            <label>NMO and has begun on 4 days ago</label>
        </rules>
        <rules>
            <name>NMO_and_has_begun_on_today</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phase 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phase 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phase 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Begun_On__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_on_onboarding_language_0_0_0_0_0</targetReference>
            </connector>
            <label>NMO and has begun on today</label>
        </rules>
    </decisions>
    <decisions>
        <name>Filter_on_merchant_stage_and_bizdev_team</name>
        <label>Filter on merchant stage and bizdev team</label>
        <locationX>1280</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NMO_EU_and_Activation_EU_bizdev_team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.Owner.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activation E.U.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.NMO__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.BackWatch_Onboarding_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Type S</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_contacts</targetReference>
            </connector>
            <label>NMO EU and Activation EU bizdev team</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_limit_reached</name>
        <label>Is limit reached</label>
        <locationX>1480</locationX>
        <locationY>756</locationY>
        <defaultConnector>
            <targetReference>Decision_on_stage_and_dates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Limit_isn_t_reached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tech_Count_Contacts</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_All_Contacts</targetReference>
            </connector>
            <label>Limit isn&apos;t reached</label>
        </rules>
    </decisions>
    <description>Change links with SSC links.
Type S merchants will not recieve any of the emails from the flow 
Day 14 new email template</description>
    <environments>Default</environments>
    <formulas>
        <name>eleven_days_ago</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 11</expression>
    </formulas>
    <formulas>
        <name>five_days_ago</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 5</expression>
    </formulas>
    <formulas>
        <name>fiveteen_days_ago</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 15</expression>
    </formulas>
    <formulas>
        <name>four_days_ago</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 4</expression>
    </formulas>
    <formulas>
        <name>fourteen_days_ago</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 14</expression>
    </formulas>
    <formulas>
        <name>Seven_days_ago</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 7</expression>
    </formulas>
    <formulas>
        <name>ten_days_ago</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} -10</expression>
    </formulas>
    <formulas>
        <name>twenty_days_ago</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 20</expression>
    </formulas>
    <formulas>
        <name>twenty_five_days_ago</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 25</expression>
    </formulas>
    <formulas>
        <name>twenty_two_days_ago</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 22</expression>
    </formulas>
    <interviewLabel>Schedule Flow - NMO Stage email automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Flow - NMO Stage email automation</label>
    <loops>
        <name>Loop_on_All_Contacts</name>
        <label>Loop on All Contacts</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <collectionReference>Get_all_contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_contact_to_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Decision_on_stage_and_dates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_contacts</name>
        <label>Get all contacts</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_All_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Merchant__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>HasOptedOutOfEmail</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1154</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Filter_on_merchant_stage_and_bizdev_team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Saved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </filters>
        <object>NMO_Process__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-08-12</startDate>
            <startTime>19:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Body_EN_NMO_Created_Today</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Hello&amp;nbsp;{!$Record.Merchant_Name__c},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Welcome to the last part of your account Activation, the Launching Phase!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;My name is {!$Record.Merchant__r.Activation_Specialist_LP__r.FirstName} and I will be in charge of your account during this phase. I will closely follow your sales and Quality metrics. We are going to work together to ensure that you sell everyday and your Quality is good so you can easily access the BuyBox. Remember &lt;/span&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;your account is limited to 10 sales a day&lt;/b&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt; (we can increase it if all is good).&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;In addition, keep in mind &lt;/span&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;&lt;u&gt;there is an entire team dedicated to help you: access now the &lt;/u&gt;&lt;/b&gt;&lt;a href=&quot;https://backmarketportal.force.com/ssc/s/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: transparent; color: rgb(17, 85, 204); font-family: Arial; font-size: 11pt;&quot;&gt;&lt;b&gt;&lt;u&gt;Merchant Support Center (MSC)&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;&lt;u&gt; and create your account&lt;/u&gt;&lt;/b&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;The MSC is divided into two parts:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;&lt;u&gt;FAQs&lt;/u&gt;&lt;/b&gt;&lt;span style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;: hundreds of articles accessible at any time to solve all your doubts.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;&lt;u&gt;Contact Form&lt;/u&gt;&lt;/b&gt;&lt;u style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;: click on &lt;/u&gt;&lt;b style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;&lt;u&gt;Submit a new request&lt;/u&gt;&lt;/b&gt;&lt;u style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt; for any need related to &lt;/u&gt;&lt;b style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;&lt;u&gt;listings/catalogue, deliveries, invoices, orders or after sales tickets-SAVs&lt;/u&gt;&lt;/b&gt;&lt;u style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;. You will get a response in less than 24h&lt;/u&gt;&lt;span style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;You also have a Guide dedicated to the Launching Phase.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; style=&quot;border: none;&quot;&gt;&lt;colgroup&gt;&lt;col width=&quot;248&quot;&gt;&lt;/colgroup&gt;&lt;tbody&gt;&lt;tr style=&quot;height:32.25pt&quot;&gt;&lt;td style=&quot;vertical-align:middle;background-color:#d6b6ff;padding:11pt 11pt 11pt 11pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.38;margin-top:0pt;margin-bottom:0pt;&quot;&gt;&lt;a href=&quot;https://www.notion.so/My-first-sales-on-Back-Market-The-Guide-03adc51ed1b745f0b8b95d94487f21f5&quot;&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent; font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;THE GUIDE: Launching Phase&amp;nbsp;&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;During this phase we will constantly supervise your account and we will be in touch with you.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;SEND US AN INVOICE. &lt;/b&gt;&lt;b style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;IMPORTANT&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;Send to &lt;/b&gt;&lt;a href=&quot;mailto:activation-eu@backmarket.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: transparent; font-size: 11pt; color: rgb(17, 85, 204);&quot;&gt;&lt;b&gt;&lt;u&gt;activation-eu@backmarket.com&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt; the client invoice of your first order.&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;We will check if it is compliant with the legislation.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;This step is mandatory for your account to be Activated. If we dont receive the invoice your account will be suspended.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;If we find anything non compliant, we will let you know so you can fix it.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://backmarketportal.force.com/ssc/s/article/How-to-establish-a-B2C-invoice-that-is-compliant-with-the-law&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: transparent; color: rgb(17, 85, 204); font-size: 11pt;&quot;&gt;&lt;u&gt;Check this article to know what are the requisites to make your invoices compliant.&lt;/u&gt;&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;To infinity and beyond!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Merchant Activation -&amp;nbsp;Back Market&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Body_EN_NMO_has_begun_on_11_days_ago</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Hello&amp;nbsp;{!$Record.Merchant_Name__c},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;You have been 11 days in the Launching Phase and you could have done 110 sales. If your Quality is good, your access to the &lt;/span&gt;&lt;a href=&quot;https://backmarketportal.force.com/ssc/s/article/Buybox-How-does-it-work&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;u&gt;BuyBox&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; will improve with higher prices and in the best grades.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Do you know how the &lt;/b&gt;&lt;a href=&quot;https://backmarketportal.force.com/ssc/s/article/Moving-to-3-Customer-Grades&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;b&gt;&lt;u&gt;grades work for the customer?&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; They only see 3, when you have to choose among 5.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;To infinity and beyond!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Merchant Activation - Back Market&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Body_EN_NMO_has_begun_on_14_days_ago</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello&amp;nbsp; {!$Record.Merchant_Name__c},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Already half of the Launching Phase is gone. &lt;strong&gt;You have 14 days left&lt;/strong&gt; and you could have already done 140 sales.&lt;/p&gt;&lt;p&gt;In 14 days we will have to validate the phase to end the Activation. Then you will have a new account manager to make your account grow.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Before that, its important for you to be comfortable with the notion of Deferred Payout :&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;As you know, the products sold on Back Market are legally and contractually under warranty for a minimum of 12 months.&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;In particular, these products can be refunded to customers for the duration of the warranty.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Therefore,&lt;strong&gt; you must have sufficient funds in your virtual wallet&lt;/strong&gt; to cover the possible activation of the warranty on your products, especially in case of:&amp;nbsp;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Refunds&lt;/li&gt;&lt;li&gt;Exchange&amp;nbsp;&lt;/li&gt;&lt;li&gt;Repair&amp;nbsp;&lt;/li&gt;&lt;li&gt;Logistical costs of return&amp;nbsp;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong&gt;Therefore, Back Market retains a portion of the payment due on the 6th, 16th and 26th of the month as a security deposit.&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;The amount of this deferred payment is estimated according to :&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;-Your sales performance: you are supposed to sell regularly and avoid sudden drops;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;-Your quality performance: you are supposed to sell functional products and keep your quality KPIs as close as possible to our average (check here&lt;strong&gt; &lt;/strong&gt;&lt;a href=&quot;https://backmarketportal.force.com/ssc/s/article/What-are-the-quality-KPIs-and-how-do-they-work-BuyBack&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;&lt;u&gt;how the different quality indicators work&lt;/u&gt;&lt;/strong&gt;&lt;/a&gt;&lt;strong&gt; &lt;/strong&gt; )&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;-Your refund rate: based on your account history, we estimate how much you will refund; a sudden increase in your refunds will result in an increase in your security deposit.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;-Your products with an active warranty: It is also necessary to take into consideration the number of products still under active warranty and whether there are enough funds available to cover any problems that may arise.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Note that this money is not the property of Back Market and is due to you, net of customer refunds (and other scenarios listed above). Back Market will release any remaining money as a security deposit when you no longer have any products under warranty.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;If you have any question, remember &lt;u&gt;there is an entire team dedicated to help you: access now the &lt;/u&gt;&lt;/strong&gt;&lt;a href=&quot;https://backmarketportal.force.com/ssc/s/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;&lt;u&gt;Merchant Support Center (MSC)&lt;/u&gt;&lt;/strong&gt;&lt;/a&gt;&lt;strong&gt;&lt;u&gt; and create your account&lt;/u&gt;&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;To infinity and beyond!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Merchant Activation - Back Market&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Body_EN_NMO_has_begun_on_22_days_ago</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Hello&amp;nbsp; {!$Record.Merchant_Name__c},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;In 6 days we will have to validate your Launching Phase.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;As you know, our criterias to validate are based on the number of sales and your Quality metrics. Once it is validated, you will access a new account manager and your limit will change.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;If you have any doubt, answer this email and we will help you.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Merchant Activation - Back Market&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Body_EN_NMO_has_begun_on_4_days_ago</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Hello&amp;nbsp;{!$Record.Merchant_Name__c},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;How are your first sales going? &lt;/b&gt;&lt;a href=&quot;https://www.notion.so/backmarket/How-many-listings-and-stock-do-I-need-6b9b3c20033645c69f416b8edad89577&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;b&gt;&lt;u&gt;How many listings and stock in each do I need?&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; &lt;/b&gt;&lt;a href=&quot;https://www.notion.so/backmarket/How-can-I-modify-prices-in-all-countries-at-once-6d5daf486bd542a19c0f714d734c2512&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;b&gt;&lt;u&gt;How can I modify the prices in all countries at once?&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Check your Quality, it is fundamental to access the BuyBox with higher prices.&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Do you check the &lt;/b&gt;&lt;a href=&quot;https://www.notion.so/backmarket/The-Quality-Dashboard-for-Dummies-365792e49ae74e6ab650074cf08ef059&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;b&gt;&lt;u&gt;Quality Dashboard&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; and you know how to &lt;/span&gt;&lt;a href=&quot;https://backmarketportal.force.com/ssc/s/article/The-quality-of-the-refurbishment-and-the-components-used-%EF%B8%8F&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;b&gt;&lt;u&gt;check the devices?&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.notion.so/backmarket/Back-Market-payments-My-virtual-wallet-f71ac65e95154ee98a28b793c39ab44c&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;b&gt;&lt;u&gt;Back Market payments. Yor virtual wallet&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;. Do you know how it works? And the &lt;/span&gt;&lt;a href=&quot;https://backmarketportal.force.com/ssc/s/article/Deferred-Payout&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;b&gt;&lt;u&gt;deferred payment, do you know how it can affect you and why? Read.&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;To infinity and beyond!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Merchant Activation - Back Market&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Body_EN_NMO_has_begun_on_7_days_ago</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Hello&amp;nbsp;{!$Record.Merchant_Name__c},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Did you send us the invoice so we can check it? If not, please do it today.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Do you know all the &lt;/b&gt;&lt;a href=&quot;https://backmarketportal.force.com/ssc/s/topic/0TO3X0000009ahdWAA/back-market-services&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;b&gt;&lt;u&gt;services that Back Market offers to you? BackShip, BackCare, BackRepair, FBBM, BackParts, BackPack, Mana&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;. &lt;/b&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;If you have any doubt, answer to this email and we will help you.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Remember &lt;u&gt;there is an entire team dedicated to help you: access now the &lt;/u&gt;&lt;/b&gt;&lt;a href=&quot;https://backmarketportal.force.com/ssc/s/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;b&gt;&lt;u&gt;Merchant Support Center (MSC)&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;&lt;u&gt; and create your account&lt;/u&gt;&lt;/b&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;The MSC is divided into two parts:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;&lt;u&gt;FAQs&lt;/u&gt;&lt;/b&gt;&lt;span style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;: hundreds of articles accessible at any time to solve all your doubts.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;&lt;u&gt;Contact Form&lt;/u&gt;&lt;/b&gt;&lt;u style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;: click on &lt;/u&gt;&lt;b style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;&lt;u&gt;Submit a new request&lt;/u&gt;&lt;/b&gt;&lt;u style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt; for any need related to &lt;/u&gt;&lt;b style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;&lt;u&gt;listings/catalogue, deliveries, invoices, orders or after sales tickets-SAVs&lt;/u&gt;&lt;/b&gt;&lt;u style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;. You will get a response in less than 24h&lt;/u&gt;&lt;span style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Merchant Activation - Back Market&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Body_ES_NMO_Created_Today</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Hola,&amp;nbsp;{!$Record.Merchant_Name__c}:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Bienvenido a la ltima fase de la&lt;/span&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt; Activacin&lt;/b&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt; de tu cuenta, la &lt;/span&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Fase de Lanzamiento - Launching Phase&lt;/b&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Mi nombre es &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: Arial; font-size: 14.6667px;&quot;&gt;{!$Record.Merchant__r.Activation_Specialist_LP__r.FirstName}&lt;/span&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt; y me encargar de tu cuenta durante esta fase. Seguir de cerca tus ventas y tus mtricas de Calidad, vamos a trabajar juntos para asegurarnos de que vendes todos los das y tu calidad es la mejor para que accedas fcilmente a la Buybox. Recuerda que tienes un &lt;/span&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;lmite de 10 ventas al da&lt;/b&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt; (que podemos incrementar si todo va bien).&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Adems, ten en cuenta que &lt;/span&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;&lt;u&gt;hay todo un equipo dedicado a ayudarte: accede a &lt;/u&gt;&lt;/b&gt;&lt;a href=&quot;https://backmarketportal.force.com/ssc/s/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: transparent; color: rgb(17, 85, 204); font-family: Arial; font-size: 11pt;&quot;&gt;&lt;b&gt;&lt;u&gt;Merchant Support Center (MSC)&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;&lt;u&gt; y crea tu cuenta.&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Est dividido en dos partes:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;FAQs (Preguntas Frecuentes)&lt;/b&gt;&lt;span style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;: cientos de artculos accesibles en cualquier momento dedicados a solventar todas tus dudas.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;&lt;u&gt;Formulario de Contacto&lt;/u&gt;&lt;/b&gt;&lt;u style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;: haz clic en &lt;/u&gt;&lt;b style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;&lt;i&gt;&lt;u&gt;Submit a new request&lt;/u&gt;&lt;/i&gt;&lt;/b&gt;&lt;u style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt; para cualquier peticin relacionada con&lt;/u&gt;&lt;b style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;&lt;u&gt; catlogo/anuncios, envos, facturas, pedidos o tickets postventa-SAV&lt;/u&gt;&lt;/b&gt;&lt;u style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;. Recibirs una respuesta en menos de 24h.&lt;/u&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Tambin cuentas con una Gua dedicada a esta Fase de Lanzamiento.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; style=&quot;border: none;&quot;&gt;&lt;colgroup&gt;&lt;col width=&quot;251&quot;&gt;&lt;/colgroup&gt;&lt;tbody&gt;&lt;tr style=&quot;height:32.25pt&quot;&gt;&lt;td style=&quot;vertical-align:middle;background-color:#d6b6ff;padding:11pt 11pt 11pt 11pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.38;margin-top:0pt;margin-bottom:0pt;&quot;&gt;&lt;a href=&quot;https://www.notion.so/Mis-primeras-ventas-en-Back-Market-La-Gu-a-7956fdc6261047d4a5757b3db335a6e0&quot;&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent; font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;LA GUA: FASE DE LANZAMIENTO&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Durante esta fase estaremos en constante supervisin y en contacto contigo.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;ENVANOS UNA FACTURA. &lt;/b&gt;&lt;b style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;IMPORTANTE&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;Envanos a &lt;/b&gt;&lt;a href=&quot;mailto:activation-eu@backmarket.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: transparent; font-size: 11pt; color: rgb(17, 85, 204);&quot;&gt;&lt;b&gt;&lt;u&gt;activation-eu@backmarket.com&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt; la factura de tu primera venta.&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;Comprobaremos que cumple con la legislacin vigente.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;Este paso es necesario para Activar tu Cuenta. Si no recibimos la factura, tu cuenta ser suspendida.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;Si detectamos algn problema en la factura, te lo haremos saber para que puedas corregirlo.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://backmarketportal.force.com/ssc/s/article/How-to-establish-a-B2C-invoice-that-is-compliant-with-the-law&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: transparent; color: rgb(17, 85, 204); font-size: 11pt;&quot;&gt;&lt;u&gt;Comprueba en este artculo los requisitos para que tu factura cumpla con la legislacin&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Mucho xito!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Merchant Activation - Back Market&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Body_ES_NMO_has_begun_on_11_days_ago</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Hola,&amp;nbsp;{!$Record.Merchant_Name__c}:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Llevas 11 das en la Fase de Lanzamiento y podras haber realizado &lt;/span&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;110 ventas&lt;/b&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;. Si tu Calidad es buena, tu acceso a la &lt;/span&gt;&lt;a href=&quot;https://backmarketportal.force.com/ssc/s/article/Buybox-How-does-it-work&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;u&gt;BuyBox&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; mejorar con precios ms altos y en los grados estticos superiores.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Conoces cmo funcionan&lt;/b&gt;&lt;a href=&quot;https://backmarketportal.force.com/ssc/s/article/Moving-to-3-Customer-Grades&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;b&gt;&lt;u&gt; los grados estticos para el cliente&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;? Ellos solo ven 3, cuando t has elegido entre 5.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Merchant Activation - Back Market&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Body_ES_NMO_has_begun_on_14_days_ago</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hola,&amp;nbsp; {!$Record.Merchant_Name__c}:&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Estamos en la mitad de la Fase de Lanzamiento. &lt;strong&gt;Quedan 14 das&lt;/strong&gt; y ya podras haber realizado 140 ventas.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;En 14 das debemos validar tu cuenta para acabar la Activacin y tengas un gestor de cuenta para crecer.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Antes, es importante que sepas qu es el pago diferido:&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Como sabes, los productos vendidos en Back Market tienen una garanta legal y contractual de un mnimo de 12 meses.&amp;nbsp;&lt;/p&gt;&lt;p&gt;Estos productos pueden ser reembolsados a los clientes durante la duracin de la garanta.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Por lo tanto, debes tener fondos suficientes en tu cuenta virtual para cubrir cualquier posible reclamacin de tus productos, especialmente en caso de:&amp;nbsp;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Reembolso&lt;/li&gt;&lt;li&gt;Intercambio&amp;nbsp;&lt;/li&gt;&lt;li&gt;Reparacion&amp;nbsp;&lt;/li&gt;&lt;li&gt;Costes logsticos de retorno&amp;nbsp;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Por lo tanto, Back Market retiene una parte del pago debido los das 6, 16 y 26 de cada mes como depsito de seguridad.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;El importe de este pago aplazado se estima segn :&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;-Tu rendimiento de ventas: se espera que vendas de forma regular y que evites las cadas repentinas;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;-Tu rendimiento de calidad: se supone que debes vender productos funcionales y mantener tus KPI de calidad lo ms cerca posible de nuestra media (ver aqu Cmo funcionan &lt;a href=&quot;https://backmarketportal.force.com/ssc/s/article/What-are-the-quality-KPIs-and-how-do-they-work&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;&lt;u&gt;los diferentes indicadores de calidad&lt;/u&gt;&lt;/strong&gt;&lt;/a&gt;  )&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;-Tu tasa de reembolso: basndonos en el historial de tu cuenta, estimamos la cantidad que reembolsars ; un aumento repentino de tus reembolsos dar lugar a un aumento de tu depsito de seguridad.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;-Tus productos con garanta pendiente: tambin hay que tener en cuenta el nmero de productos que todava estn en garanta y si hay suficientes fondos disponibles para cubrir cualquier problema que pueda surgir.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Ten en cuenta que este dinero no es propiedad de Back Market y que se le debe a ti, una vez descontados los reembolsos de los clientes (y otros supuestos indicados anteriormente). Back Market liberar el dinero restante como depsito de seguridad cuando ya no tenga ningn producto en garanta.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Si tienes alguna duda, no olvides que hay todo un equipo dedicado a usted: acceda ahora al &lt;a href=&quot;https://backmarketportal.force.com/ssc/s/submit-new-request&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;&lt;u&gt;Seller Support Center&lt;/u&gt;&lt;/strong&gt;&lt;/a&gt; y cree su cuenta.&lt;/p&gt;&lt;p&gt;Mucho xito!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Merchant Activation - Back Market&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Body_ES_NMO_has_begun_on_22_days_ago</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Hola,&amp;nbsp; {!$Record.Merchant_Name__c}:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Faltan 6 das para que validemos tu Fase de Lanzamiento&lt;/b&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Como sabes, nuestros criterios son el nmero de ventas y tu Calidad como vendedor.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Una vez validado, tendrs un nuevo gestor de cuenta y tu lmite diario cambiar.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Si tienes dudas, responde a este correo y te ayudaremos.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Mucho xito!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;El Equipo de Back Market&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Body_ES_NMO_has_begun_on_4_days_ago</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Hola,&amp;nbsp;{!$Record.Merchant_Name__c}:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Cmo van las primeras ventas? &lt;/b&gt;&lt;a href=&quot;https://www.notion.so/Cu-ntos-anuncios-y-stock-en-cada-uno-necesito-7f474a8e98364c08bafba58a5658328f&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;b&gt;&lt;u&gt;Cuntos anuncios y stock en cada uno necesito?&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; &lt;/b&gt;&lt;a href=&quot;https://www.notion.so/C-mo-puedo-modificar-los-precios-en-todos-los-pa-ses-al-mismo-tiempo-406a03658b814463b6980cbda973d9b1&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;b&gt;&lt;u&gt;Cmo puedo modificar los precios en todos los pases al mismo tiempo?&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Vigila tu Calidad, es fundamental para acceder a la Buybox con mejores precios. Compruebas &lt;/b&gt;&lt;a href=&quot;https://www.notion.so/El-Cuadro-de-Calidad-for-Dummies-sencillito-9fa8c967fb974b88bbcd5dc1a056781c&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;b&gt;&lt;u&gt;el Cuadro de Calidad&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; y tienes claro cmo &lt;/span&gt;&lt;a href=&quot;https://backmarketportal.force.com/ssc/s/article/The-quality-of-the-refurbishment-and-the-components-used-%EF%B8%8F&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;b&gt;&lt;u&gt;comprobar los productos?&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.notion.so/Los-pagos-de-Back-Market-Mi-cartera-virtual-5b9a19c55e1a4cd28384d13e5f6213d0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;b&gt;&lt;u&gt;Los pagos de Back Market. Mi cartera virtual.&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;u&gt; &lt;/u&gt;&lt;/b&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Tienes claro cmo funciona? Y el &lt;/span&gt;&lt;a href=&quot;https://backmarketportal.force.com/ssc/s/article/Deferred-Payout&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;b&gt;&lt;u&gt;pago diferido, sabes cmo puede afectarte y por qu? Lee.&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Mucho xito!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Merchant Activation - Back Market&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Body_ES_NMO_has_begun_on_7_days_ago</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Hola,&amp;nbsp;{!$Record.Merchant_Name__c}:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Nos has enviado la factura para que la podamos comprobar? Si no, por favor hazlo hoy.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Conoces todos &lt;/b&gt;&lt;a href=&quot;https://backmarketportal.force.com/ssc/s/topic/0TO3X0000009ahdWAA/back-market-services&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;b&gt;&lt;u&gt;los servicios que Back Market te ofrece? BackShip, BackCare, BackRepair, FBBM, BackParts, BackPack, Mana&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;. &lt;/b&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Si tienes alguna duda, contesta a este correo y te ayudaremos.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Recuerda que &lt;u&gt;hay todo un equipo dedicado a ayudarte: accede a &lt;/u&gt;&lt;/b&gt;&lt;a href=&quot;https://backmarketportal.force.com/ssc/s/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;b&gt;&lt;u&gt;Merchant Support Center (MSC)&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;&lt;u&gt; y crea tu cuenta.&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Est dividido en dos partes:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;FAQs (Preguntas Frecuentes)&lt;/b&gt;&lt;span style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;: cientos de artculos accesibles en cualquier momento dedicados a solventar todas tus dudas.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;&lt;u&gt;Formulario de Contacto&lt;/u&gt;&lt;/b&gt;&lt;u style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;: haz clic en &lt;/u&gt;&lt;b style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;&lt;i&gt;&lt;u&gt;Submit a new request&lt;/u&gt;&lt;/i&gt;&lt;/b&gt;&lt;u style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt; para cualquier peticin relacionada con&lt;/u&gt;&lt;b style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;&lt;u&gt; catlogo/anuncios, envos, facturas, pedidos o tickets postventa-SAV&lt;/u&gt;&lt;/b&gt;&lt;u style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;. Recibirs una respuesta en menos de 24h.&lt;/u&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Merchant Activation - Back Market&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Body_FR_NMO_Created_Today</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Bonjour &lt;/span&gt;&lt;span style=&quot;background-color: transparent; color: rgb(62, 62, 60); font-family: Roboto, sans-serif; font-size: 10pt;&quot;&gt;{!$Record.Merchant_Name__c}&lt;/span&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Bienvenue dans la dernire phase de votre Activation, la phase de Lancement !&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Je mappelle &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: Arial; font-size: 14.6667px;&quot;&gt;{!$Record.Merchant__r.Activation_Specialist_LP__r.FirstName}&lt;/span&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt; et je serai en charge de votre compte pendant cette priode. Je suivrai attentivement vos ventes et vos indicateurs qualit. Nous allons travailler ensemble pour sassurer que vous vendez tous les jours et que votre qualit soit bonne pour que vous puissez facilement accder aux Buybox. Noubliez pas que &lt;/span&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;vous tes limit  10 ventes par jour&lt;/b&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt; (une augmentation est possible si votre qualit est bonne).&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Gardez  lesprit qu&lt;/span&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;&lt;u&gt;une quipe entire vous est ddie : accdez ds  prsent au &lt;/u&gt;&lt;/b&gt;&lt;a href=&quot;https://backmarketportal.force.com/ssc/s/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: transparent; color: rgb(17, 85, 204); font-family: Arial; font-size: 11pt;&quot;&gt;&lt;b&gt;&lt;u&gt;Merchant Support Center&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;&lt;u&gt; (ou Centre de Support Marchand) et crez votre compte.&amp;nbsp;&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Ce dernier est divis en 2 parties :&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;&lt;u&gt;FAQs&lt;/u&gt;&lt;/b&gt;&lt;span style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;: des centaines darticles sont accessibles a tout moment pour rsoudre vos questions.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;&lt;u&gt;Formulaire de Demande &lt;/u&gt;&lt;/b&gt;&lt;u style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;: cliquez sur &lt;/u&gt;&lt;b style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;&lt;u&gt;Envoyer une demande&lt;/u&gt;&lt;/b&gt;&lt;u style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt; pour toute demande concernant vos&lt;/u&gt;&lt;b style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;&lt;u&gt; listings/catalogue, vos envois, factures, commandes ou tickets SAVs. &lt;/u&gt;&lt;/b&gt;&lt;u style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;Vous aurez une rponse en moins de 24h.&amp;nbsp;&lt;/u&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Il existe aussi un Guide ddi  la Phase de Lancement.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; style=&quot;border: none;&quot;&gt;&lt;colgroup&gt;&lt;col width=&quot;264&quot;&gt;&lt;/colgroup&gt;&lt;tbody&gt;&lt;tr style=&quot;height:32.25pt&quot;&gt;&lt;td style=&quot;vertical-align:middle;background-color:#d6b6ff;padding:11pt 11pt 11pt 11pt;overflow:hidden;overflow-wrap:break-word;&quot;&gt;&lt;p dir=&quot;ltr&quot; style=&quot;line-height:1.38;margin-top:0pt;margin-bottom:0pt;&quot;&gt;&lt;a href=&quot;https://www.notion.so/FR-en-construction-Mes-premi-res-ventes-sur-Back-Market-Le-Guide-10e9eb67d76141d3ac797a8562a2067a&quot;&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent; font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;LE GUIDE: PRIODE DESSAI - NMO&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Pendant cette phase nous surveillerons rgulirement votre compte et resterons en contact avec vous.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;ENVOYEZ NOUS UNE FACTURE CLIENT. &lt;/b&gt;&lt;b style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;IMPORTANT&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;Envoyez une facture client  &lt;/b&gt;&lt;a href=&quot;mailto:activation-eu@backmarket.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: transparent; font-size: 11pt; color: rgb(17, 85, 204);&quot;&gt;&lt;b&gt;&lt;u&gt;activation-eu@backmarket.com&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt; lorsque vous avez ralis votre premire vente. &lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;Nous vrifierons quelle est conforme  la lgislation.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;Cette tape est obligatoire pour que votre compte soit activ. Si nous ne recevons pas la facture, votre compte sera suspendu.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;Si quelque chose nest pas conforme, nous vous le ferons savoir pour que vous puissiez rectifier la facture.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://backmarketportal.force.com/ssc/s/article/Comment-%C3%A9tablir-une-facture-B2C-conforme-%C3%A0-la-r%C3%A8glementation&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: transparent; color: rgb(17, 85, 204); font-size: 11pt;&quot;&gt;&lt;u&gt;Lisez cet article pour savoir comment faire pour que vos factures soient conformes&lt;/u&gt;&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Vers linfini et au-del!&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Merchant Activation -&amp;nbsp;Back Market&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Body_FR_NMO_has_begun_on_11_days_ago</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Bonjour&amp;nbsp;{!$Record.Merchant_Name__c},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Cela fait 11 jours que vous avez commenc votre Phase de Lancement et vous avez donc eu la possibilit de raliser 110 ventes. Si votre Qualit est bonne, votre accs  la &lt;/span&gt;&lt;a href=&quot;https://backmarketportal.force.com/ssc/s/article/Buybox-Comment-%C3%A7a-fonctionne&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;u&gt;Buybox&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; va samliorer avec de meilleurs prix et grades.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Est ce que vous savez &lt;/b&gt;&lt;a href=&quot;https://backmarketportal.force.com/ssc/s/article/Passage-%C3%A0-3-Grades-clients&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;b&gt;&lt;u&gt;comment fonctionnent les grades pour les clients ?&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; Ils ne peuvent choisir quentre 3 grades diffrents tandis que vous en avez 5  disposition.&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Le savoir se traduit par des ventes.&lt;/b&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; &lt;/span&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Voici quelques informations supplmentaires que vous devez savoir :&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Vers l&apos;infini et au-del!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;L&apos;quipe Back Market&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Body_FR_NMO_has_begun_on_14_days_ago</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Bonjour&amp;nbsp; {!$Record.Merchant_Name__c},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Dj plus de la moiti de votre Phase de Lancement est passe.&lt;strong&gt; Il ne vous reste plus que 14 jours &lt;/strong&gt;et vous avez eu lopportunit de raliser 140 ventes.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Dans 14 jours nous devrons valider cette phase pour terminer lActivation. Vous aurez ensuite un nouveau charg de compte pour vous aider  dvelopper encore votre compte.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Avant cela, il est important pour vous de savoir ce quest le Paiement Diffr :&amp;nbsp;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Comme vous le savez,&lt;strong&gt; les produits vendus sur Back Market sont garantis lgalement et contractuellement pour une dure minimale de 12 mois.&lt;/strong&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Ces produits peuvent notamment faire lobjet dun remboursement aux clients pendant toute la dure de la garantie.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Par consquent, vous devez disposer de&lt;strong&gt; fonds suffisants sur votre portefeuille virtuel&lt;/strong&gt; pour couvrir les ventuelles mises en jeu des garanties sur vos produits, notamment en cas de:&amp;nbsp;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Remboursement&lt;/li&gt;&lt;li&gt;Echange&amp;nbsp;&lt;/li&gt;&lt;li&gt;Rparation&amp;nbsp;&lt;/li&gt;&lt;li&gt;Cots logistiques du retour&amp;nbsp;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Ainsi, &lt;strong&gt;Back Market conserve  titre de dpt de garantie une partie du paiement d les 6, 16 et 26 du mois&lt;/strong&gt;.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Le montant de ce paiement diffr, est estim en fonction de :&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;-Vos performances commerciales : vous tes cens vendre de manire rgulire et viter les baisses brutales ;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;-Votre performance qualit : vous tes cens vendre des produits fonctionnels et garder vos KPI de qualit aussi proches que possible de notre moyenne (consultez ici &lt;a href=&quot;https://backmarketportal.force.com/ssc/s/article/Le-fonctionnement-des-diff%C3%A9rents-indicateurs-qualit%C3%A9&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;&lt;u&gt;Le fonctionnement des diffrents indicateurs qualit&lt;/u&gt;&lt;/strong&gt;&lt;u&gt; &lt;/u&gt;&lt;/a&gt; )&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;-Votre taux de remboursement : sur la base de l&apos;historique de votre compte, nous estimons le montant que vous rembourserez ; une augmentation soudaine dans vos remboursements entranera une augmentation de votre dpt de garantie.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;-Vos produits avec une garantie en cours : il est galement ncessaire de prendre en considration le nombre de produits encore sous garantie active et d&apos;valuer si assez de fonds sont disponibles pour couvrir les ventuels problmes qui pourraient survenir.&lt;/p&gt;&lt;p&gt;Notez que cet argent n&apos;est pas la proprit de Back Market et vous est d, net des remboursements des clients (et autres scnarios numrs ci-dessus). Back Market relchera toute somme restante  titre de dpt de garantie lorsque vous naurez plus aucun produit sous garantie.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Si vous avez des questions, noubliez pas quil y a une quipe entire vous est ddie : &lt;strong&gt;&lt;u&gt;accdez ds  prsent au &lt;/u&gt;&lt;/strong&gt;&lt;a href=&quot;https://backmarketportal.force.com/ssc/s/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;&lt;u&gt;Merchant Support Center&lt;/u&gt;&lt;/strong&gt;&lt;/a&gt;&lt;strong&gt;&lt;u&gt; (ou Centre de Support Marchand) et crez votre compte.&amp;nbsp;&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Vers l&apos;infini et au-del!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;L&apos;quipe Back Market&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Body_FR_NMO_has_begun_on_22_days_ago</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Bonjour&amp;nbsp; {!$Record.Merchant_Name__c},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Dans 6 jours nous devrons valider votre Phase de Lancement.&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Comme vous le savez, nos critres pour la valider sont votre nombre de ventes et votre Qualit. Une fois que cette phase sera valide, un nouveau charg de compte vous sera attribu et votre limite journalire de vente sera augmente.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Si vous avez des questions, rpondez  cet email et nous vous aiderons.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;L&apos;quipe Back Market&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Body_FR_NMO_has_begun_on_4_days_ago</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Bonjour&amp;nbsp;{!$Record.Merchant_Name__c},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Comment se passent vos premires ventes ? &lt;/b&gt;&lt;a href=&quot;https://www.notion.so/backmarket/De-combien-de-listings-et-stocks-ai-je-besoin-10706aa7ac0a46b4a33acf134799d491&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;b&gt;&lt;u&gt;De combien de listings et stocks avez-vous besoin ? &lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.notion.so/backmarket/Comment-puis-je-modifier-les-prix-dans-tous-les-pays-en-m-me-temps-3d938eaef47e462fbc1331b053e31458&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;b&gt;&lt;u&gt;Comment pouvez-vous modifier les prix dans tous les pays en mme temps ?&amp;nbsp;&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Contrlez votre qualit, cest ncessaire pour accder  la Buybox avec des prix plus levs.&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Vrifiez-vous votre &lt;/b&gt;&lt;a href=&quot;https://www.notion.so/backmarket/Le-tableau-de-bord-Qualit-pour-les-nuls-0454e333da0f4d308ee1febd2a7db03d&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;b&gt;&lt;u&gt;Tableau de bord Qualit&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; et savez vous comment &lt;/b&gt;&lt;a href=&quot;https://backmarketportal.force.com/ssc/s/article/La-qualit%C3%A9-du-reconditionnement-et-des-composants-utilis%C3%A9s-%EF%B8%8F&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;b&gt;&lt;u&gt;contrler vos produits&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; ?&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Savez-vous comment fonctionnent les paiements et votre &lt;/b&gt;&lt;a href=&quot;https://backmarketportal.force.com/ssc/s/article/Qu-est-ce-que-mon-portefeuille-virtuel-et-o%C3%B9-puis-je-le-consulter&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;b&gt;&lt;u&gt;portefeuille virtuel&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; ?&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Et le &lt;/b&gt;&lt;a href=&quot;https://backmarketportal.force.com/ssc/s/article/Paiements-diff%C3%A9r%C3%A9s&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;b&gt;&lt;u&gt;paiement diffr, savez vous comment cela peut vous affecter et pourquoi ?&amp;nbsp;&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Pour savoir tout cela, vous pouvez lire les articles ci-dessus !&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Vers linfini et au-del,&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Merchant Activation - Back Market&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Body_FR_NMO_has_begun_on_7_days_ago</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Bonjour&amp;nbsp;{!$Record.Merchant_Name__c},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Avez-vous pu nous envoyer la facture client pour que lon puisse la vrifier ? Si non, faites-le aujourdhui svp.&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Etes-vous au courant de tous &lt;/b&gt;&lt;a href=&quot;https://backmarketportal.force.com/ssc/s/topic/0TO3X0000009ahdWAA/back-market-services&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;b&gt;&lt;u&gt;les services que Back Market peut vous proposer ? BackShip, BackCare, BackRepair, FBBM, BackParts, BackPack, Mana&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;. &lt;/b&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Si vous avez des questions, rpondez  ce mail et nous vous aiderons.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Noubliez pas quil y a une quipe entire disponible pour vous aider : &lt;/span&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;&lt;u&gt;accdez ds  prsent au &lt;/u&gt;&lt;/b&gt;&lt;a href=&quot;https://backmarketportal.force.com/ssc/s/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: Arial; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;b&gt;&lt;u&gt;Merchant Support Center&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;&lt;u&gt; (ou Centre de Support Marchand) et crez votre compte.&amp;nbsp;&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Ce dernier est divis en 2 parties :&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;&lt;u&gt;FAQs&lt;/u&gt;&lt;/b&gt;&lt;span style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;: des centaines darticles sont accessibles  tout moment pour rsoudre vos questions.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;&lt;u&gt;Formulaire de Demande &lt;/u&gt;&lt;/b&gt;&lt;u style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;: cliquez sur &lt;/u&gt;&lt;b style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;&lt;u&gt;Envoyer une demande&lt;/u&gt;&lt;/b&gt;&lt;u style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt; pour toute demande concernant vos&lt;/u&gt;&lt;b style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;&lt;u&gt; listings/catalogue, vos envois, factures, commandes ou tickets SAVs. &lt;/u&gt;&lt;/b&gt;&lt;u style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;Vous aurez une rponse en moins de 24h.&amp;nbsp;&lt;/u&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Merchant Activation - Back Market&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Subject_EN_NMO_Created_today</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>D1. Launching Phase: {!$Record.Merchant_Name__c}.</text>
    </textTemplates>
    <textTemplates>
        <name>Subject_EN_NMO_has_begun_on_11_days_ago</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>D11. Launching Phase: {!$Record.Merchant_Name__c}.</text>
    </textTemplates>
    <textTemplates>
        <name>Subject_EN_NMO_has_begun_on_14_days_ago</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>D14. Launching Phase: {!$Record.Merchant_Name__c}.</text>
    </textTemplates>
    <textTemplates>
        <name>Subject_EN_NMO_has_begun_on_22_days_ago</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>D22. Launching Phase: {!$Record.Merchant_Name__c}.</text>
    </textTemplates>
    <textTemplates>
        <name>Subject_EN_NMO_has_begun_on_4_days_ago</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>D4. Launching Phase: {!$Record.Merchant_Name__c}.</text>
    </textTemplates>
    <textTemplates>
        <name>Subject_EN_NMO_has_begun_on_7_days_ago</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>D7. Launching Phase: {!$Record.Merchant_Name__c}.</text>
    </textTemplates>
    <textTemplates>
        <name>Subject_ES_NMO_Created_today</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>D1. Fase de Lanzamiento: {!$Record.Merchant_Name__c}.</text>
    </textTemplates>
    <textTemplates>
        <name>Subject_ES_NMO_has_begun_on_11_days_ago</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>D11. Fase de Lanzamiento: {!$Record.Merchant_Name__c}.</text>
    </textTemplates>
    <textTemplates>
        <name>Subject_ES_NMO_has_begun_on_14_days_ago</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>D14. Fase de Lanzamiento: {!$Record.Merchant_Name__c}.</text>
    </textTemplates>
    <textTemplates>
        <name>Subject_ES_NMO_has_begun_on_22_days_ago</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>D22. Fase de Lanzamiento: {!$Record.Merchant_Name__c}.</text>
    </textTemplates>
    <textTemplates>
        <name>Subject_ES_NMO_has_begun_on_4_days_ago</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>D4. Fase de Lanzamiento: {!$Record.Merchant_Name__c}.</text>
    </textTemplates>
    <textTemplates>
        <name>Subject_ES_NMO_has_begun_on_7_days_ago</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>D7. Fase de Lanzamiento: {!$Record.Merchant_Name__c}.</text>
    </textTemplates>
    <textTemplates>
        <name>Subject_FR_NMO_Created_today</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Jour 1. Phase de Lancement: {!$Record.Merchant_Name__c}.</text>
    </textTemplates>
    <textTemplates>
        <name>Subject_FR_NMO_has_begun_on_11_days_ago</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Jour 11. Phase de Lancement: {!$Record.Merchant_Name__c}.</text>
    </textTemplates>
    <textTemplates>
        <name>Subject_FR_NMO_has_begun_on_14_days_ago</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Jour 14. Phase de Lancement: {!$Record.Merchant_Name__c}. Back Market.</text>
    </textTemplates>
    <textTemplates>
        <name>Subject_FR_NMO_has_begun_on_22_days_ago</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Jour 22. Phase de Lancement: {!$Record.Merchant_Name__c}.</text>
    </textTemplates>
    <textTemplates>
        <name>Subject_FR_NMO_has_begun_on_4_days_ago</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Jour 4. Phase de Lancement: {!$Record.Merchant_Name__c}.</text>
    </textTemplates>
    <textTemplates>
        <name>Subject_FR_NMO_has_begun_on_7_days_ago</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Jour 7. Phase de Lancement: {!$Record.Merchant_Name__c}.</text>
    </textTemplates>
    <variables>
        <name>List_of_email_to_contact</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Tech_Count_Contacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
