force-app/main/default/flows/Schedule_flow_MOP_alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Decision_MO_should_be_triggered</name>
        <label>Decision - MO should be triggered</label>
        <locationX>162</locationX>
        <locationY>303</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MOP_created_28_days_ago</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Has_begun_on__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Created_28_ago</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MP_MO_triggered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monitoring Period</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_other_MO</targetReference>
            </connector>
            <label>MOP created 28 days ago</label>
        </rules>
        <rules>
            <name>MOP_in_LC_for_28_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Last chance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_entered_Last_chance_on__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Created_28_ago</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LC_MO_triggered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_other_MO</targetReference>
            </connector>
            <label>MOP in LC for 28 days</label>
        </rules>
        <rules>
            <name>MO_to_trigger_in_MP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monitoring Period</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MP_MO_triggered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trigger_MO_in_advance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_other_MO</targetReference>
            </connector>
            <label>MO to trigger in MP</label>
        </rules>
        <rules>
            <name>MO_to_trigger_in_LC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Last chance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LC_MO_triggered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trigger_MO_in_advance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_other_MO</targetReference>
            </connector>
            <label>MO to trigger in LC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Stage</name>
        <label>Decision - Stage</label>
        <locationX>611</locationX>
        <locationY>448</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_is_MP_and_MO_triggered_in_advance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monitoring Period</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trigger_MO_in_advance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Alert</targetReference>
            </connector>
            <label>Stage is MP and MO triggered in advance</label>
        </rules>
        <rules>
            <name>Stage_is_LC_and_MO_triggered_in_advance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Last chance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trigger_MO_in_advance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Alert_0</targetReference>
            </connector>
            <label>Stage is LC and MO triggered in advance</label>
        </rules>
        <rules>
            <name>Stage_is_Monitoring_Period</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monitoring Period</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Alert_0_0</targetReference>
            </connector>
            <label>Stage is Monitoring Period</label>
        </rules>
        <rules>
            <name>Stage_is_Last_chance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Last chance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Alert_0_0_0</targetReference>
            </connector>
            <label>Stage is Last chance</label>
        </rules>
    </decisions>
    <description>Final version - MO revamp</description>
    <formulas>
        <name>Created_28_ago</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-28</expression>
    </formulas>
    <interviewLabel>Schedule flow - MOP alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule flow - MOP alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_MO</name>
        <label>Create MO</label>
        <locationX>616</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>Decision_Stage</targetReference>
        </connector>
        <inputAssignments>
            <field>Current_BizDev__c</field>
            <value>
                <elementReference>$Record.BizDev__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MOP_Alert__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MO_motive__c</field>
            <value>
                <elementReference>Get_other_MO.MO_motive__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant_Name__c</field>
            <value>
                <elementReference>$Record.Business_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_category__c</field>
            <value>
                <elementReference>Get_other_MO.Product_category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_or_model_to_test__c</field>
            <value>
                <elementReference>Get_other_MO.Product_or_model_to_test__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Mystery_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>To do</stringValue>
            </value>
        </inputAssignments>
        <object>Mystery_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_other_MO</name>
        <label>Get other MO</label>
        <locationX>424</locationX>
        <locationY>300</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_MO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Merchant_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Business_Name__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MOP_Alert__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MO_Result__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Mystery_Order__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Alert</name>
        <label>Update Alert</label>
        <locationX>462</locationX>
        <locationY>437</locationY>
        <inputAssignments>
            <field>MP_MO_triggered__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trigger_MO_in_advance__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Alert_0</name>
        <label>Update Alert</label>
        <locationX>530</locationX>
        <locationY>605</locationY>
        <inputAssignments>
            <field>LC_MO_triggered__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trigger_MO_in_advance__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Alert_0_0</name>
        <label>Update Alert</label>
        <locationX>706</locationX>
        <locationY>612</locationY>
        <inputAssignments>
            <field>MP_MO_triggered__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Alert_0_0_0</name>
        <label>Update Alert</label>
        <locationX>835</locationX>
        <locationY>437</locationY>
        <inputAssignments>
            <field>LC_MO_triggered__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>49</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Decision_MO_should_be_triggered</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Issue_KPI__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mystery Order</stringValue>
            </value>
        </filters>
        <object>Alert__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-09-17</startDate>
            <startTime>06:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
