force-app/main/default/flows/Scheduled_flow_Alert_Merchant_Debt_Recovery_process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Action_Send_EN_Email</name>
        <label>Action - Send EN Email</label>
        <locationX>55</locationX>
        <locationY>705</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TextTemplate_EN_Body_Debt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>VAR_Contacts_For_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplate_EN_Subject_Debt</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Action_Send_FR_Email</name>
        <label>Action - Send FR Email</label>
        <locationX>50</locationX>
        <locationY>836</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TextTemplate_FR_Body_Debt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>VAR_Contacts_For_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplate_FR_Subject_Debt</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Action_Send_US_Email</name>
        <label>Action - Send US Email</label>
        <locationX>56</locationX>
        <locationY>578</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TextTemplate_US_Body_Debt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>VAR_Contacts_For_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplate_EN_Subject_Debt</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_to_owner</name>
        <label>Send email to owner</label>
        <locationX>1802</locationX>
        <locationY>599</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TextTemplate_Body_Owner_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce-team@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplate_Subject_Notif_Email</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_F_B_contacts_to_final_list</name>
        <label>Add F&amp;B contacts to final list</label>
        <locationX>592</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>VAR_Contacts_For_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_F_B_Contacts.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tech_Count_Contact</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>VAR_Contacts_For_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Number_of_contacts_in_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_F_B_contacts_to_final_list_0</name>
        <label>Add F&amp;B contacts to final list</label>
        <locationX>648</locationX>
        <locationY>936</locationY>
        <assignmentItems>
            <assignToReference>VAR_Contacts_For_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_all_Contacts.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tech_Count_Contact</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>VAR_Contacts_For_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Number_of_contacts_in_list_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_check_True</name>
        <label>Assign check = True</label>
        <locationX>1378</locationX>
        <locationY>470</locationY>
        <assignmentItems>
            <assignToReference>Check_Payout_Yesterday</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Is_seller_already_limited</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_other_recipients</name>
        <label>Assign other recipients</label>
        <locationX>417</locationX>
        <locationY>707</locationY>
        <assignmentItems>
            <assignToReference>VAR_Contacts_For_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Owner_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Contacts_For_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>legal-sellers@backmarket.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Zone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Seller_info</name>
        <label>Assign Seller info</label>
        <locationX>1585</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Sales_limitation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Reason_for_last_Sales_limitation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QUALITY_LEGAL_AND_SAFETY_ISSUE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Business_Name__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_seller</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Seller_info_archive_limitation</name>
        <label>Assign Seller info + archive limitation</label>
        <locationX>1585</locationX>
        <locationY>392</locationY>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Sales_limitation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Reason_for_last_Sales_limitation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QUALITY_LEGAL_AND_SAFETY_ISSUE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Business_Name__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Tech_Reason_Limitation_Before_Alert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tech_Reason_for_limitation_Before_alert</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.LimitationBeforeAlert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Business_Name__r.Sales_limitation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_seller</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_F_B_contacts</name>
        <label>Decision - F&amp;B contacts</label>
        <locationX>896</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Loop_on_F_B_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>B_B_contact_list_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Business_and_Finance_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_Contacts</targetReference>
            </connector>
            <label>B&amp;B contact list empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Is_seller_already_limited</name>
        <label>Decision - Is seller already limited</label>
        <locationX>1440</locationX>
        <locationY>329</locationY>
        <defaultConnector>
            <targetReference>Assign_Seller_info_archive_limitation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Already_limited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Tech_Reason_Limitation_Before_Alert__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Seller_info</targetReference>
            </connector>
            <label>Already limited</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Number_of_contacts_in_list</name>
        <label>Decision - Number of contacts in list</label>
        <locationX>584</locationX>
        <locationY>444</locationY>
        <defaultConnector>
            <targetReference>Assign_other_recipients</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Limit_isn_t_reached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tech_Count_Contact</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_F_B_Contacts</targetReference>
            </connector>
            <label>Limit isn&apos;t reached</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Number_of_contacts_in_list_0</name>
        <label>Decision - Number of contacts in list</label>
        <locationX>640</locationX>
        <locationY>769</locationY>
        <defaultConnector>
            <targetReference>Assign_other_recipients</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Limit_isn_t_reached_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tech_Count_Contact</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_all_Contacts</targetReference>
            </connector>
            <label>Limit isn&apos;t reached</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_Debt_amount_Range</name>
        <label>Decision on Debt amount Range</label>
        <locationX>1436</locationX>
        <locationY>605</locationY>
        <defaultConnector>
            <targetReference>Update_owner_to_risk_team_queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Above_20K</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tech_Debt_Amount_Range__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>20K - more</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_owner_to_risk_team_queue_0</targetReference>
            </connector>
            <label>Above 20K</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Zone</name>
        <label>Decision - Zone</label>
        <locationX>276</locationX>
        <locationY>709</locationY>
        <defaultConnector>
            <targetReference>Action_Send_EN_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FR_BE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-fr</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-be</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Action_Send_FR_Email</targetReference>
            </connector>
            <label>FR-BE</label>
        </rules>
        <rules>
            <name>US_seller</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Merchant_US__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Action_Send_US_Email</targetReference>
            </connector>
            <label>US seller</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decisoin_on_creation_date</name>
        <label>Decisoin on creation date</label>
        <locationX>1263</locationX>
        <locationY>602</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_payout_update_Limitation</name>
            <conditionLogic>1 AND (2 OR 3) AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Last_payout_update__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yesterday</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tech_Debt_Amount_Range__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10K - 20K</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tech_Debt_Amount_Range__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>20K - more</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Exit_granted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Sales_limitation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Payout_Yesterday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_check_True</targetReference>
            </connector>
            <label>Last payout update + Limitation</label>
        </rules>
        <rules>
            <name>X33_days_ago</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Has_begun_on__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Date_33_days_ago</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Exit_granted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tech_Debt_Amount_Range__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10K - 20K</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tech_Debt_Amount_Range__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>20K - more</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Merchant_US_or_EU</targetReference>
            </connector>
            <label>33 days ago</label>
        </rules>
        <rules>
            <name>X15_days_ago</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Has_begun_on__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Date_15_days_ago</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.UserID__c.Charles_HENRARD__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.UserID__c.Legal_Team__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_on_Debt_amount_Range</targetReference>
            </connector>
            <label>15 days ago</label>
        </rules>
        <rules>
            <name>X10_days_ago</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Has_begun_on__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>F_10_days_ago</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tech_Debt_Amount_Range__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0 - 5K</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tech_Debt_Amount_Range__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5K - 10K</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Business_and_Finance_Contacts</targetReference>
            </connector>
            <label>10 days ago</label>
        </rules>
    </decisions>
    <decisions>
        <name>Merchant_US_or_EU</name>
        <label>Merchant US or EU</label>
        <locationX>1271</locationX>
        <locationY>877</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E_U</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_EU_exit_process_DONE</targetReference>
            </connector>
            <label>EU</label>
        </rules>
        <rules>
            <name>US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U_S</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_US_exit_process_DONE</targetReference>
            </connector>
            <label>US</label>
        </rules>
    </decisions>
    <description>Resolve Bug - Team</description>
    <environments>Default</environments>
    <formulas>
        <name>Date_15_days_ago</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 15</expression>
    </formulas>
    <formulas>
        <name>Date_33_days_ago</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 33</expression>
    </formulas>
    <formulas>
        <name>F_10_days_ago</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 10</expression>
    </formulas>
    <formulas>
        <name>Link_To_Alert</name>
        <dataType>String</dataType>
        <expression>&quot;https://backmarket.lightning.force.com/lightning/r/Alert__c/&quot;&amp;{!$Record.Id}&amp;&quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>Owner_Email</name>
        <dataType>String</dataType>
        <expression>if( TEXT({!$Record.Business_Name__r.Owner.Team__c})= &apos;SSM Back Watch E.U.&apos;, &apos;backwatch@backmarket.com&apos;, 
if( TEXT({!$Record.Business_Name__r.Owner.Team__c})= &apos;Activation E.U.&apos;, &apos;activation-eu@backmarket.com&apos;, 
if( TEXT({!$Record.Business_Name__r.Owner.Team__c})= &apos;SSM Back Watch U.S.&apos;, &apos;sam@backmarket.com&apos;,
if( TEXT({!$Record.Business_Name__r.Owner.Team__c})= &apos;SSM Selfcare E.U.&apos;, &apos;selfcare@backmarket.com&apos;,
{!$Record.Business_Name__r.Owner.Email}))))</expression>
    </formulas>
    <formulas>
        <name>Tech_Reason_for_limitation_Before_alert</name>
        <dataType>String</dataType>
        <expression>if(ISPICKVAL({!$Record.Business_Name__r.Reason_for_last_Sales_limitation__c},&quot;&quot;), &quot;No limitation&quot;, TEXT({!$Record.Business_Name__r.Reason_for_last_Sales_limitation__c}))</expression>
    </formulas>
    <formulas>
        <name>Yesterday</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-1</expression>
    </formulas>
    <interviewLabel>Scheduled flow - Alert - Merchant Debt Recorvery process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled flow - Alert - Merchant Debt Recovery process</label>
    <loops>
        <name>Loop_on_all_Contacts</name>
        <label>Loop on all Contacts</label>
        <locationX>817</locationX>
        <locationY>934</locationY>
        <collectionReference>Get_all_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_F_B_contacts_to_final_list_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_other_recipients</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_F_B_Contacts</name>
        <label>Loop on F&amp;B Contacts</label>
        <locationX>761</locationX>
        <locationY>609</locationY>
        <collectionReference>Get_Business_and_Finance_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_F_B_contacts_to_final_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_other_recipients</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Created_EU_exit_process_DONE</name>
        <label>Created EU exit process DONE</label>
        <locationX>1411</locationX>
        <locationY>960</locationY>
        <inputAssignments>
            <field>BizDev_for_Approval__c</field>
            <value>
                <elementReference>$Record.Business_Name__r.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exit_sub_reason__c</field>
            <value>
                <stringValue>Debt / Debit Note</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant__c</field>
            <value>
                <elementReference>$Record.Business_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_exit__c</field>
            <value>
                <stringValue>Legal/Finance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Exit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Pre-Exit Phase</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_stage__c</field>
            <value>
                <stringValue>Draft completion (Merchant Owner)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Triggered_by__c</field>
            <value>
                <stringValue>Process: Debt Recovery</stringValue>
            </value>
        </inputAssignments>
        <object>Merchant_Special_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Created_US_exit_process_DONE</name>
        <label>Created US exit process DONE</label>
        <locationX>1419</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>BizDev_for_Approval__c</field>
            <value>
                <elementReference>$Record.Business_Name__r.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exit_sub_reason__c</field>
            <value>
                <stringValue>Debt / Debit Note</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant__c</field>
            <value>
                <elementReference>$Record.Business_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_exit__c</field>
            <value>
                <stringValue>Legal/Finance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Exit_US__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Pre-Exit Phase</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_stage__c</field>
            <value>
                <stringValue>Draft completion (Merchant Owner)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Triggered_by__c</field>
            <value>
                <stringValue>Process: Debt Recovery</stringValue>
            </value>
        </inputAssignments>
        <object>Merchant_Special_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_all_Contacts</name>
        <label>Get all Contacts</label>
        <locationX>1033</locationX>
        <locationY>743</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_all_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Business_Name__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>HasOptedOutOfEmail</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Business_and_Finance_Contacts</name>
        <label>Get Business and Finance Contacts</label>
        <locationX>1035</locationX>
        <locationY>602</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_F_B_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Business_Name__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>F_B_contacts__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>HasOptedOutOfEmail</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_owner_to_risk_team_queue</name>
        <label>Update owner to risk team queue</label>
        <locationX>1619</locationX>
        <locationY>532</locationY>
        <connector>
            <targetReference>Send_email_to_owner</targetReference>
        </connector>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>$Setup.UserID__c.Charles_HENRARD__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_owner_to_risk_team_queue_0</name>
        <label>Update owner to risk team queue</label>
        <locationX>1615</locationX>
        <locationY>672</locationY>
        <connector>
            <targetReference>Send_email_to_owner</targetReference>
        </connector>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>$Setup.UserID__c.Legal_Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_seller</name>
        <label>Update seller</label>
        <locationX>1723</locationX>
        <locationY>327</locationY>
        <connector>
            <targetReference>Decisoin_on_creation_date</targetReference>
        </connector>
        <inputReference>Merchant_to_update</inputReference>
    </recordUpdates>
    <start>
        <locationX>1145</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Decisoin_on_creation_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Issue_KPI__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Merchant Debt</stringValue>
            </value>
        </filters>
        <object>Alert__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-06-21</startDate>
            <startTime>11:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TextTemplate_Body_Owner_Email</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You are now the owner of &lt;a href=&quot; {!Link_To_Alert}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;the debt alert&lt;/a&gt; for the seller {!$Record.Business_Name__r.Name} ({!$Record.Business_Name__r.TECH_P_K__c}). The debt amounts to {!$Record.Merchant_debt__c} ({!$Record.Currency__c}), and was previously owned by {!$Record.BizDev__r.FirstName} {!$Record.BizDev__r.LastName}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_EN_Body_Debt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Following on our previous email, unless otherwise mistaken, we have not received any payment to regularize the negative balance in your Back Market wallet. We therefore hereby kindly ask you again to regularize your account by paying the invoice available in the&lt;a href=&quot;https://www.backmarket.fr/bo_merchant/invoices&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt; invoice tab&lt;/a&gt; of your Back Office. Please use the &lt;a href=&quot;https://backmarket--c.documentforce.com/servlet/servlet.ImageServer?id=0153X000006YfFN&amp;amp;oid=00D1t000000xUVO&amp;amp;lastMod=1643885965000&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Back Market bank details &lt;/a&gt;to make such payment.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please be informed that if we have not received any proof of payment in the next 5 days, we will have to transfer this case to the Legal and Finance Back Market teams. Note that according to our general terms and conditions, if no payment is made before that date, Back Market may close your seller account and take all legal actions to recover this amount plus interests for late payment and any applicable penalties.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;Back Market&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_EN_Subject_Debt</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Business_Name__r.Back_Office_PK__c} - {!$Record.Business_Name__r.Name} - Alert - Negative balance</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_FR_Body_Debt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Bonjour,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Faisant suite à notre précédent mail, sauf erreur de notre part, nous n’avons pas reçu de paiement pour régulariser le solde négatif sur votre portefeuille virtuel. Par conséquent, nous vous prions de nouveau de bien vouloir régulariser votre situation en payant la facture disponible dans l&apos;onglet &lt;a href=&quot;https://www.backmarket.fr/bo_merchant/invoices&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;facture&lt;/a&gt; de votre Back office. Vous trouverez sur &lt;a href=&quot;https://backmarket--c.documentforce.com/servlet/servlet.ImageServer?id=0153X000006YfFN&amp;amp;oid=00D1t000000xUVO&amp;amp;lastMod=1643885965000&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;ce lien&lt;/a&gt; le RIB de Back Market sur lequel réaliser votre paiement. Nous vous remercions de préciser “votre numéro PK et le numéro de la facture” comme motif de paiement.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Nous attirons votre attention sur le fait que si nous n’avons pas reçu de preuve de paiement dans les 5 prochains jours, nous transférerons votre dossier aux équipes Finance et Juridique de Back Market. Notez également que, conformément à nos conditions générales, faute de paiement avant cette date, Back Market pourra clore votre compte vendeur et mettra en œuvre toute action judiciaire pour recouvrer cette somme, outre tout intérêt de retard et toutes pénalités applicables.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Cordialement,&lt;/p&gt;&lt;p&gt;Back Market&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_FR_Subject_Debt</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Business_Name__r.Back_Office_PK__c} - {!$Record.Business_Name__r.Name} - Alerte - Balance négative</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_Subject_Notif_Email</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New debt alert assign to you</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_US_Body_Debt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Following on our previous email, unless otherwise mistaken, we have not received any payment to regularize the negative balance in your Back Market wallet. We therefore hereby kindly ask you again to regularize your account by paying the invoice available in the &lt;a href=&quot;https://www.backmarket.com/bo_merchant/invoices&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;invoice tab&lt;/a&gt; of your Back Office. Please use the &lt;a href=&quot;https://backmarket--c.documentforce.com/servlet/servlet.ImageServer?id=0153X000006YfFS&amp;amp;oid=00D1t000000xUVO&amp;amp;lastMod=1643886252000&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Back Market bank details&lt;/a&gt; to make such payment.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please be informed that if we have not received any proof of payment in the next 5 days, we will have to transfer this case to the Legal and Finance Back Market teams. Note that according to our general terms and conditions, if no payment is made before that date, Back Market may close your seller account and take all legal actions to recover this amount plus interests for late payment and any applicable penalties.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;Back Market&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Check_Payout_Yesterday</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Merchant_to_update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Tech_Count_Contact</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Contacts_For_Email</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
