force-app/main/default/flows/Schedule_Flow_Contact_deletion_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_case_to_list</name>
        <label>Add case to list</label>
        <locationX>138</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>CaseList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_cases_for_contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_temp_case_to_list</name>
        <label>Add temp case to list</label>
        <locationX>138</locationX>
        <locationY>1572</locationY>
        <assignmentItems>
            <assignToReference>casesListRemoveByPass</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempCaseRemoveByPass</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_case_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_temp_case</name>
        <label>Assign temp case</label>
        <locationX>138</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>TempCase.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_all_cases_for_contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_duplicate_contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_duplicate_contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempCase.BypassVR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_case_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_bypassVR</name>
        <label>Remove bypassVR</label>
        <locationX>138</locationX>
        <locationY>1452</locationY>
        <assignmentItems>
            <assignToReference>tempCaseRemoveByPass.BypassVR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCaseRemoveByPass.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_case_list.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_temp_case_to_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact</name>
        <label>Contact</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContactId_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_cases</targetReference>
            </connector>
            <label>ContactId Not Blank</label>
        </rules>
    </decisions>
    <description>Delete Duplicates coming from BO
Panda adjustments</description>
    <interviewLabel>Schedule Flow - Contact deletion flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Flow - Contact deletion flow</label>
    <loops>
        <name>Get_all_cases_for_contacts</name>
        <label>Get all cases for contacts</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <collectionReference>Get_all_cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_temp_case</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_case_list</name>
        <label>Loop through case list</label>
        <locationX>50</locationX>
        <locationY>1332</locationY>
        <collectionReference>CaseList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Remove_bypassVR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_case_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_current_contact</name>
        <label>Delete current contact</label>
        <locationX>50</locationX>
        <locationY>1212</locationY>
        <connector>
            <targetReference>Loop_through_case_list</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_all_cases</name>
        <label>Get all cases</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_duplicate_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_duplicate_contact</name>
        <label>Get duplicate contact</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_cases_for_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Spotted as duplicate coming from BO (will be deleted)</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_case</name>
        <label>Update case</label>
        <locationX>50</locationX>
        <locationY>1092</locationY>
        <connector>
            <targetReference>Delete_current_contact</targetReference>
        </connector>
        <inputReference>CaseList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_case_0</name>
        <label>Update case</label>
        <locationX>50</locationX>
        <locationY>1788</locationY>
        <inputReference>casesListRemoveByPass</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Spotted as duplicate coming from BO (will be deleted)</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-04-30</startDate>
            <startTime>10:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CaseList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>casesListRemoveByPass</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Getallcontactsfrombusinessname</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>TempCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>tempCaseRemoveByPass</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
