force-app/main/default/flows/Schedule_flow_Alert_MP_LC_emails_and_limitation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_LC_Email_EN</name>
        <label>Send LC Email - EN</label>
        <locationX>4802</locationX>
        <locationY>1596</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Assign_Merchant_ID_to_variable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TextTemplate_EntryLC_EN_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_emails_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplate_EntryLC_EN_Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_LC_Email_EN_CSAT_or_LRR</name>
        <label>Send LC Email - EN (CSAT or LRR)</label>
        <locationX>4274</locationX>
        <locationY>1596</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Assign_Merchant_ID_to_variable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TextTemplate_EntryLC_EN_Body_CSAT_LRR</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_emails_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplate_EntryLC_EN_Subject_CSAT_LRR</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_LC_Email_EN_Policy_Violation</name>
        <label>Send LC Email - EN (Policy Violation)</label>
        <locationX>4538</locationX>
        <locationY>1596</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Assign_Merchant_ID_to_variable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TextTemplate_EntryLC_EN_Body_Policy_Violation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_emails_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplate_EntryLC_EN_Subject_Policy_Violation</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_LC_Email_FR</name>
        <label>Send LC Email - FR</label>
        <locationX>4010</locationX>
        <locationY>1596</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Assign_Merchant_ID_to_variable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TextTemplate_EntryLC_FR_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_emails_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplate_EntryLC_FR_Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_LC_Email_FR_CSAT_or_LRR</name>
        <label>Send LC Email - FR (CSAT or LRR)</label>
        <locationX>3482</locationX>
        <locationY>1596</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Assign_Merchant_ID_to_variable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TextTemplate_EntryLC_FR_Body_CSAT_LRR</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_emails_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplate_EntryLC_FR_Subject_CSAT_LRR</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_LC_Email_FR_Policy_Violation</name>
        <label>Send LC Email - FR (Policy Violation)</label>
        <locationX>3746</locationX>
        <locationY>1596</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Assign_Merchant_ID_to_variable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TextTemplate_EntryLC_FR_Body_Policy_Violation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_emails_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplate_EntryLC_FR_Subject_Policy_Violation</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_MP_Email_EN</name>
        <label>Send MP Email - EN</label>
        <locationX>3218</locationX>
        <locationY>1596</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Assign_Merchant_ID_to_variable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BB_TextTemplate_EntryMP_EN_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_emails_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplate_EntryMP_EN_Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_MP_Email_EN_CSAT_or_LRR</name>
        <label>Send MP Email - EN (CSAT or LRR)</label>
        <locationX>2690</locationX>
        <locationY>1596</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Assign_Merchant_ID_to_variable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BB_TextTemplate_EntryMP_EN_Body_CSAT_LRR</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_emails_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplate_EntryMP_EN_Subject_CSAT_LRR</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_MP_Email_EN_CSAT_or_LRR_Sales</name>
        <label>Send MP Email - EN (CSAT or LRR) - Sales</label>
        <locationX>1106</locationX>
        <locationY>1596</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Assign_Merchant_ID_to_variable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Sales_TextTemplate_EntryMP_EN_Body_CSAT_LRR</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_emails_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplate_EntryMP_EN_Subject_CSAT_LRR</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_MP_Email_EN_Policy_Violation</name>
        <label>Send MP Email - EN (Policy Violation)</label>
        <locationX>2954</locationX>
        <locationY>1596</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Assign_Merchant_ID_to_variable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BB_TextTemplate_EntryMP_EN_Body_Policy_Violation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_emails_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplate_EntryMP_EN_Subject_Policy_Violation</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_MP_Email_EN_Policy_Violation_Sales</name>
        <label>Send MP Email - EN (Policy Violation) - Sales</label>
        <locationX>1370</locationX>
        <locationY>1596</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Assign_Merchant_ID_to_variable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Sales_TextTemplate_EntryMP_EN_Body_Policy_Violation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_emails_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplate_EntryMP_EN_Subject_Policy_Violation</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_MP_Email_EN_Sales</name>
        <label>Send MP Email - EN - Sales</label>
        <locationX>1634</locationX>
        <locationY>1596</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Assign_Merchant_ID_to_variable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Sales_TextTemplate_EntryMP_EN_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_emails_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplate_EntryMP_EN_Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_MP_Email_FR</name>
        <label>Send MP Email - FR</label>
        <locationX>2426</locationX>
        <locationY>1596</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Assign_Merchant_ID_to_variable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BB_TextTemplate_EntryMP_FR_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_emails_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplate_EntryMP_FR_Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_MP_Email_FR_CSAT_or_LRR</name>
        <label>Send MP Email - FR (CSAT or LRR)</label>
        <locationX>1898</locationX>
        <locationY>1596</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Assign_Merchant_ID_to_variable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BB_TextTemplate_EntryMP_FR_Body_CSAT_LRR</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_emails_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplate_EntryMP_FR_Subject_CSAT_LRR</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_MP_Email_FR_CSAT_or_LRR_Sales</name>
        <label>Send MP Email - FR (CSAT or LRR) - Sales</label>
        <locationX>314</locationX>
        <locationY>1596</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Assign_Merchant_ID_to_variable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Sales_TextTemplate_EntryMP_FR_Body_CSAT_LRR</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_emails_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplate_EntryMP_FR_Subject_CSAT_LRR</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_MP_Email_FR_Policy_Violation</name>
        <label>Send MP Email - FR (Policy Violation)</label>
        <locationX>2162</locationX>
        <locationY>1596</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Assign_Merchant_ID_to_variable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BB_TextTemplate_EntryMP_FR_Body_Policy_Violation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_emails_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplate_EntryMP_FR_Subject_Policy_Violation</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_MP_Email_FR_Policy_Violation_Sales</name>
        <label>Send MP Email - FR (Policy Violation) - Sales</label>
        <locationX>578</locationX>
        <locationY>1596</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Assign_Merchant_ID_to_variable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Sales_TextTemplate_EntryMP_FR_Body_Policy_Violation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_emails_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplate_EntryMP_FR_Subject_Policy_Violation</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_MP_Email_FR_Sales</name>
        <label>Send MP Email - FR - Sales</label>
        <locationX>842</locationX>
        <locationY>1596</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Assign_Merchant_ID_to_variable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Sales_TextTemplate_EntryMP_FR_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>List_of_emails_to_contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TextTemplate_EntryMP_FR_Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_BizDev_Email_address</name>
        <label>Add BizDev Email address</label>
        <locationX>3020</locationX>
        <locationY>1236</locationY>
        <assignmentItems>
            <assignToReference>List_of_emails_to_contact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BizDev_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>List_of_emails_to_contact</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>legal-sellers@backmarket.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Filter_on_stage_and_record_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Archive_Buyback_vales</name>
        <label>Assign Archive Buyback vales</label>
        <locationX>3152</locationX>
        <locationY>2268</locationY>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Buyback_Limitation_before_alert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Business_Name__r.Buyback_limitation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_merchant_limitation_info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Archive_vales_Buyback_limitation</name>
        <label>Assign Archive vales + Buyback limitation</label>
        <locationX>2888</locationX>
        <locationY>2268</locationY>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Buyback_Limitation_before_alert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Business_Name__r.Buyback_limitation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Buyback_limitation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AlertLimitation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_merchant_limitation_info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Archive_vales_Sales_limitation</name>
        <label>Assign Archive vales + Sales limitation</label>
        <locationX>1568</locationX>
        <locationY>2268</locationY>
        <assignmentItems>
            <assignToReference>Merchant_to_update.LimitationBeforeAlert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Business_Name__r.Sales_limitation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Tech_Reason_Limitation_Before_Alert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tech_ReasonForLimitation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Sales_limitation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AlertLimitation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Reason_for_last_Sales_limitation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QUALITY_MONITORING_PERIOD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_merchant_limitation_info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Archive_vales_Sales_reason_only</name>
        <label>Assign Archive vales + Sales reason only</label>
        <locationX>1832</locationX>
        <locationY>2268</locationY>
        <assignmentItems>
            <assignToReference>Merchant_to_update.LimitationBeforeAlert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Business_Name__r.Sales_limitation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Tech_Reason_Limitation_Before_Alert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tech_ReasonForLimitation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Reason_for_last_Sales_limitation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QUALITY_MONITORING_PERIOD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_merchant_limitation_info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Buyback_limitation</name>
        <label>Assign Buyback limitation</label>
        <locationX>3416</locationX>
        <locationY>2268</locationY>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Buyback_limitation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AlertLimitation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_merchant_limitation_info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Merchant_ID_to_variable</name>
        <label>Assign Merchant ID to variable</label>
        <locationX>3020</locationX>
        <locationY>1908</locationY>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Business_Name__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Limitation_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_quality_contact_to_list</name>
        <label>Assign quality contact to list</label>
        <locationX>2752</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>List_of_emails_to_contact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Quality_contacts.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tech_Count_Contact</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>List_of_emails_to_contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Not_more_than_3_contacts_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_quality_contact_to_list_0</name>
        <label>Assign quality contact to list</label>
        <locationX>1579</locationX>
        <locationY>996</locationY>
        <assignmentItems>
            <assignToReference>List_of_emails_to_contact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_all_contacts.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tech_Count_Contact</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>List_of_emails_to_contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Not_more_than_3_contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sales_limitation</name>
        <label>Assign Sales limitation</label>
        <locationX>2096</locationX>
        <locationY>2268</locationY>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Sales_limitation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AlertLimitation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Reason_for_last_Sales_limitation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QUALITY_MONITORING_PERIOD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_merchant_limitation_info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sales_reason_only</name>
        <label>Assign Sales reason only</label>
        <locationX>2360</locationX>
        <locationY>2268</locationY>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Reason_for_last_Sales_limitation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QUALITY_MONITORING_PERIOD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_merchant_limitation_info</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Filter_on_stage_and_record_type</name>
        <label>Decision - Filter on stage and record type</label>
        <locationX>3020</locationX>
        <locationY>1356</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Monitoring_Period</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monitoring Period</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monitoring_Period_Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Zone_0_0</targetReference>
            </connector>
            <label>Sales Monitoring Period</label>
        </rules>
        <rules>
            <name>Buyback_Monitoring_Period</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monitoring Period</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monitoring_Period_Buyback</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Zone</targetReference>
            </connector>
            <label>Buyback Monitoring Period</label>
        </rules>
        <rules>
            <name>Last_Chance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Last chance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Zone_0</targetReference>
            </connector>
            <label>Last Chance</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Limitation_to_update</name>
        <label>Decision - Limitation to update</label>
        <locationX>3020</locationX>
        <locationY>2028</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_limitation_to_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Monitoring_Period_Sales__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AlertLimitation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Sales_limitation_and_archive_info</targetReference>
            </connector>
            <label>Sales limitation to update</label>
        </rules>
        <rules>
            <name>Buyback_limitation_to_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Monitoring_Period_Buyback__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AlertLimitation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Sales_limitation_and_archive_info_0</targetReference>
            </connector>
            <label>Buyback limitation to update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_MP_to_update</name>
        <label>Decision - MP to update</label>
        <locationX>2052</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MP_to_update</name>
            <conditionLogic>(1 OR 2) AND ((3 AND 6) OR (4 AND 5))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Monitoring_Period_Buyback__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Monitoring_Period_Sales__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_begun_on__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yesterday</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_entered_Last_chance_on__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yesterday</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Last chance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monitoring Period</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_quality_contacts</targetReference>
            </connector>
            <label>MP to update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Sales_limitation_and_archive_info</name>
        <label>Decision - Sales limitation and archive info</label>
        <locationX>2096</locationX>
        <locationY>2148</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Archive_Update_Sales_Limitation</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Tech_Reason_Limitation_Before_Alert__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AlertLimitation__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Business_Name__r.Sales_limitation__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Sales_limitation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Archive_vales_Sales_limitation</targetReference>
            </connector>
            <label>Archive + Update Sales Limitation</label>
        </rules>
        <rules>
            <name>Archive_only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Tech_Reason_Limitation_Before_Alert__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AlertLimitation__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Business_Name__r.Sales_limitation__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Archive_vales_Sales_reason_only</targetReference>
            </connector>
            <label>Archive only</label>
        </rules>
        <rules>
            <name>Update_Sales_limitation_only</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Tech_Reason_Limitation_Before_Alert__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AlertLimitation__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Business_Name__r.Sales_limitation__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Sales_limitation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sales_limitation</targetReference>
            </connector>
            <label>Update Sales limitation only</label>
        </rules>
        <rules>
            <name>Update_Reason_only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Tech_Reason_Limitation_Before_Alert__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AlertLimitation__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Business_Name__r.Sales_limitation__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sales_reason_only</targetReference>
            </connector>
            <label>Update Reason only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Sales_limitation_and_archive_info_0</name>
        <label>Decision - Sales limitation and archive info</label>
        <locationX>3284</locationX>
        <locationY>2148</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Archive_Update_Buyback_Limitation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Buyback_Limitation_before_alert__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AlertLimitation__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Business_Name__r.Buyback_limitation__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Archive_vales_Buyback_limitation</targetReference>
            </connector>
            <label>Archive + Update Buyback Limitation</label>
        </rules>
        <rules>
            <name>Archive_Buyback_info_only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Buyback_Limitation_before_alert__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AlertLimitation__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Business_Name__r.Buyback_limitation__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Archive_Buyback_vales</targetReference>
            </connector>
            <label>Archive Buyback info only</label>
        </rules>
        <rules>
            <name>Update_Buyback_limitation_only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Buyback_Limitation_before_alert__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AlertLimitation__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Business_Name__r.Buyback_limitation__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Buyback_limitation</targetReference>
            </connector>
            <label>Update Buyback limitation only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Zone</name>
        <label>Decision - Zone</label>
        <locationX>2558</locationX>
        <locationY>1476</locationY>
        <defaultConnector>
            <targetReference>Send_MP_Email_EN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FR_BE_CSAT_LRR</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-fr</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-be</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Issue_KPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSAT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Issue_KPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Late Response Rate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_MP_Email_FR_CSAT_or_LRR</targetReference>
            </connector>
            <label>FR - BE (CSAT &amp; LRR)</label>
        </rules>
        <rules>
            <name>FR_BE_Policy_Violation</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-fr</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-be</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Issue_KPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Policy violation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_MP_Email_FR_Policy_Violation</targetReference>
            </connector>
            <label>FR - BE (Policy Violation)</label>
        </rules>
        <rules>
            <name>FR_BE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-fr</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-be</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_MP_Email_FR</targetReference>
            </connector>
            <label>FR - BE</label>
        </rules>
        <rules>
            <name>Other_CSAT_LRR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Issue_KPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSAT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Issue_KPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Late Response Rate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_MP_Email_EN_CSAT_or_LRR</targetReference>
            </connector>
            <label>Other (CSAT &amp; LRR)</label>
        </rules>
        <rules>
            <name>Other_Policy_violation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Issue_KPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Policy violation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_MP_Email_EN_Policy_Violation</targetReference>
            </connector>
            <label>Other (Policy violation)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Zone_0</name>
        <label>Decision - Zone</label>
        <locationX>4142</locationX>
        <locationY>1476</locationY>
        <defaultConnector>
            <targetReference>Send_LC_Email_EN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FR_BE_CSAT_LRR_0</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-fr</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-be</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Issue_KPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSAT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Issue_KPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Late Response Rate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_LC_Email_FR_CSAT_or_LRR</targetReference>
            </connector>
            <label>FR - BE (CSAT &amp; LRR)</label>
        </rules>
        <rules>
            <name>FR_BE_Policy_Violation_1</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-fr</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-be</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Issue_KPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Policy violation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_LC_Email_FR_Policy_Violation</targetReference>
            </connector>
            <label>FR - BE (Policy Violation)</label>
        </rules>
        <rules>
            <name>FR_BE_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-fr</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-be</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_LC_Email_FR</targetReference>
            </connector>
            <label>FR - BE</label>
        </rules>
        <rules>
            <name>Other_CSAT_LRR_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Issue_KPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSAT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Issue_KPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Late Response Rate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_LC_Email_EN_CSAT_or_LRR</targetReference>
            </connector>
            <label>Other (CSAT &amp; LRR)</label>
        </rules>
        <rules>
            <name>Other_Policy_violation_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Issue_KPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Policy violation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_LC_Email_EN_Policy_Violation</targetReference>
            </connector>
            <label>Other (Policy violation)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Zone_0_0</name>
        <label>Decision - Zone</label>
        <locationX>974</locationX>
        <locationY>1476</locationY>
        <defaultConnector>
            <targetReference>Send_MP_Email_EN_Sales</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FR_BE_CSAT_LRR_0_0</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-fr</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-be</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Issue_KPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSAT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Issue_KPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Late Response Rate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_MP_Email_FR_CSAT_or_LRR_Sales</targetReference>
            </connector>
            <label>FR - BE (CSAT &amp; LRR)</label>
        </rules>
        <rules>
            <name>FR_BE_Policy_Violation_0</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-fr</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-be</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Issue_KPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Policy violation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_MP_Email_FR_Policy_Violation_Sales</targetReference>
            </connector>
            <label>FR - BE (Policy Violation)</label>
        </rules>
        <rules>
            <name>FR_BE_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-fr</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Name__r.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-be</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_MP_Email_FR_Sales</targetReference>
            </connector>
            <label>FR - BE</label>
        </rules>
        <rules>
            <name>Other_CSAT_LRR_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Issue_KPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSAT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Issue_KPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Late Response Rate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_MP_Email_EN_CSAT_or_LRR_Sales</targetReference>
            </connector>
            <label>Other (CSAT &amp; LRR)</label>
        </rules>
        <rules>
            <name>Other_Policy_violation_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Issue_KPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Policy violation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_MP_Email_EN_Policy_Violation_Sales</targetReference>
            </connector>
            <label>Other (Policy violation)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_have</name>
        <label>Do we have quality contact</label>
        <locationX>1313</locationX>
        <locationY>636</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Quality_contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_quality_contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_contacts</targetReference>
            </connector>
            <label>List is empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Not_more_than_3_contacts</name>
        <label>Not more than 3 contacts</label>
        <locationX>1579</locationX>
        <locationY>1116</locationY>
        <defaultConnector>
            <targetReference>Add_BizDev_Email_address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Limit_isn_t_reached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tech_Count_Contact</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_all_contacts</targetReference>
            </connector>
            <label>Limit isn&apos;t reached</label>
        </rules>
    </decisions>
    <decisions>
        <name>Not_more_than_3_contacts_0</name>
        <label>Not more than 3 contacts</label>
        <locationX>2752</locationX>
        <locationY>996</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_BizDev_Email_address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Limit_isn_t_reached_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tech_Count_Contact</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Quality_contacts</targetReference>
            </connector>
            <label>Limit isn&apos;t reached</label>
        </rules>
    </decisions>
    <decisions>
        <name>Weekday</name>
        <label>Weekday</label>
        <locationX>2554</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tuesday_or_Thursday</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Weekday_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Weekday_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_MP_to_update</targetReference>
            </connector>
            <label>Tuesday or Thursday</label>
        </rules>
    </decisions>
    <description>SFT-388 - rectification - Correction LC Templates</description>
    <environments>Default</environments>
    <formulas>
        <name>BizDev_Email</name>
        <dataType>String</dataType>
        <expression>if( TEXT({!$Record.Business_Name__r.Owner.Team__c})= &apos;SSM Back Watch E.U.&apos;, &apos;backwatch@backmarket.com&apos;, 
if( TEXT({!$Record.Business_Name__r.Owner.Team__c})= &apos;Activation E.U.&apos;, &apos;activation-eu@backmarket.com&apos;, 
if( TEXT({!$Record.Business_Name__r.Owner.Team__c})= &apos;SSM Back Watch U.S.&apos;, &apos;sam@backmarket.com&apos;,
if( TEXT({!$Record.Business_Name__r.Owner.Team__c})= &apos;SSM Selfcare E.U.&apos;, &apos;selfcare@backmarket.com&apos;,
{!$Record.Business_Name__r.Owner.Email}))))</expression>
    </formulas>
    <formulas>
        <name>Buyback_Limitation</name>
        <dataType>Number</dataType>
        <expression>if({!$Record.AlertLimitation__c}&gt;{!$Record.Business_Name__r.Buyback_limitation__c},{!$Record.Business_Name__r.Buyback_limitation__c},{!$Record.AlertLimitation__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Count_Nb_Contacts</name>
        <dataType>Number</dataType>
        <expression>{!Tech_Count_Contact} +1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ETA</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.ETA__c})</expression>
    </formulas>
    <formulas>
        <name>LC_Yesterday</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Has_entered_Last_chance_on__c}-1</expression>
    </formulas>
    <formulas>
        <name>Percentage_to_apply</name>
        <dataType>Number</dataType>
        <expression>if(TEXT({!$Record.Issue_KPI__c})=&quot;Accessories Rate&quot;,30, if(TEXT({!$Record.Issue_KPI__c})=&quot;Esthetic Rate&quot;,30,60))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SaleBuyback</name>
        <dataType>String</dataType>
        <expression>if({!$Record.RecordTypeId}={!$Setup.Special_Process_Record_Types_Ids__c.Monitoring_Period_Sales__c}, &quot;sales&quot;, &quot;buyback&quot;)</expression>
    </formulas>
    <formulas>
        <name>Sales_Limitation</name>
        <dataType>Number</dataType>
        <expression>if({!$Record.AlertLimitation__c}&gt;{!$Record.Business_Name__r.Sales_limitation__c},{!$Record.Business_Name__r.Sales_limitation__c},{!$Record.AlertLimitation__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Tech_ReasonForLimitation</name>
        <dataType>String</dataType>
        <expression>if(ISPICKVAL({!$Record.Business_Name__r.Reason_for_last_Sales_limitation__c},&quot;&quot;), &quot;No limitation&quot;, TEXT({!$Record.Business_Name__r.Reason_for_last_Sales_limitation__c}))</expression>
    </formulas>
    <formulas>
        <name>TextTask_Change_Limitation</name>
        <dataType>String</dataType>
        <expression>{!$Record.Business_Name__r.Name} &amp; &quot; to limit on sales - &quot; &amp; TEXT({!$Record.AlertLimitation__c}) &amp; &quot; sales/day due to Monitoring Period&quot;</expression>
    </formulas>
    <formulas>
        <name>VenteBuyback</name>
        <dataType>String</dataType>
        <expression>if({!$Record.RecordTypeId}={!$Setup.Special_Process_Record_Types_Ids__c.Monitoring_Period_Sales__c}, &quot;vente&quot;, &quot;reprise&quot;)</expression>
    </formulas>
    <formulas>
        <name>Weekday_Formula</name>
        <dataType>Number</dataType>
        <expression>WEEKDAY({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Yesterday</name>
        <dataType>Date</dataType>
        <expression>({!$Flow.CurrentDate}-1)</expression>
    </formulas>
    <interviewLabel>Schedule flow - Alert - MP/LC emails and limitation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule flow - Alert - MP/LC emails and limitation</label>
    <loops>
        <name>Loop_on_all_contacts</name>
        <label>Loop on all contacts</label>
        <locationX>50</locationX>
        <locationY>876</locationY>
        <collectionReference>Get_all_contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_quality_contact_to_list_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_BizDev_Email_address</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Quality_contacts</name>
        <label>Loop on Quality contacts</label>
        <locationX>2576</locationX>
        <locationY>756</locationY>
        <collectionReference>Get_quality_contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_quality_contact_to_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_BizDev_Email_address</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_contacts</name>
        <label>Get all contacts</label>
        <locationX>50</locationX>
        <locationY>756</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_all_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Business_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>HasOptedOutOfEmail</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_quality_contacts</name>
        <label>Get quality contacts</label>
        <locationX>1313</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_we_have</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Business_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TECH_Role_contain_quality_business__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Quality</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>HasOptedOutOfEmail</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_merchant_limitation_info</name>
        <label>Update merchant limitation info</label>
        <locationX>3020</locationX>
        <locationY>2580</locationY>
        <inputReference>Merchant_to_update</inputReference>
    </recordUpdates>
    <start>
        <locationX>2428</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Weekday</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Issue_KPI__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Invoice Compliance Audit</stringValue>
            </value>
        </filters>
        <filters>
            <field>Issue_KPI__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Potential Hazardous Charger</stringValue>
            </value>
        </filters>
        <filters>
            <field>Issue_KPI__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Merchant Debt</stringValue>
            </value>
        </filters>
        <filters>
            <field>Issue_KPI__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Churning Merchant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Issue_KPI__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Low Commitment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Issue_KPI__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Mystery Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>Issue_KPI__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Buyback - Charter breaches</stringValue>
            </value>
        </filters>
        <object>Alert__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-08-18</startDate>
            <startTime>16:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BB_TextTemplate_EntryMP_EN_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!$Record.Business_Name__r.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We are writing to inform you that your recent quality performance on Back Market, in particular your {!$Record.Issue_KPI__c} does not meet the quality standards outlined in Article 12 of Back Markets Terms and Conditions and in the Quality Charter. Therefore, your account is now entering a monitoring period and your daily buyback capacity will be capped to 150% of your average daily buyback over the last 30 days, provided that you are not already subject to any other stricter buyback restriction during this period.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The purpose of this monitoring period is to enable you to reach an objective and meet the expected quality standards before {!ETA} (yyyy-mm-dd). In the event that your quality performance is not corrected by this date, your buyback capacity will automatically be limited to a stricter percentage of your buyback volume.&lt;/p&gt;&lt;p&gt;For more information about your KPI in default, buyback limitation, as well as tools and levers to monitor and improve your performance, please consult the Merchant Support Center (find the link at the bottom).&lt;/p&gt;&lt;p&gt;Your Back Market contact is available to work with you to clarify and analyze the situation and jointly build an action plan to address issues.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Having said that, we hope that no strict limitation will be needed as we view you as a valuable partner on our platform.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sincerely,&lt;/p&gt;&lt;p&gt;Back Market&lt;/p&gt;&lt;p&gt;https://merchant-support.backmarket.com/hc/en-gb/sections/360005071293-Quality-Monitoring&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>BB_TextTemplate_EntryMP_EN_Body_CSAT_LRR</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!$Record.Business_Name__r.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your recent quality performance &lt;b&gt;({!$Record.Issue_KPI__c})&lt;/b&gt; on Back Market does not meet the standards outlined in Article 12 of the Terms and Conditions and the Quality Charter. As provided under article 12.5 of our Sellers Terms and Conditions (T&amp;amp;Cs), you are now entering a probation period. The purpose of this probation period is to enable you to reach the objective of &lt;b&gt;{!$Record.Objective_to_reach__c} &lt;/b&gt;stated in the Merchant Support Center &lt;a href=&quot;https://merchant-support.backmarket.com/hc/en-gb/restricted?return_to=https%3A%2F%2Fmerchant-support.backmarket.com%2Fhc%2Fen-gb%2Farticles%2F4404652613522-What-is-the-specific-CSAT-Late-Response-Rate-probation-period-&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;article&lt;/a&gt; and meet the expected quality standards before &lt;b&gt;{!$Record.ETA__c}&lt;/b&gt;. In the event that your quality performance is not corrected before this date, we may close your Seller Account, as explained under Articles 12.5 and 18.2 of the Sellers T&amp;amp;Cs.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Besides, based on articles 12 and 17 of our Sellers T&amp;amp;Cs, your daily sales capacity will be capped to 150% of your most recent 30-day average sales as from today (unless subject to a lower restriction).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please reach out to your seller success manager for more information on &lt;b&gt;BackCare&lt;/b&gt; and how to take advantage of the various services and tools that we offer to help improve your quality and performance on Backmarket.com.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sincerely,&amp;nbsp;&lt;/p&gt;&lt;p&gt;Your Back Market team&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>BB_TextTemplate_EntryMP_EN_Body_Policy_Violation</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!$Record.Business_Name__r.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We have identified several &lt;b&gt;Policy Violations&lt;/b&gt; on your Back Market account. Please refer to the Policy Violation tab in your Back Office for a full report.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;As a result of these violations, your account is&amp;nbsp;not compliant with Sellers Terms and Conditions (T&amp;amp;Cs) and Quality Charter. Please correct these violations before &lt;b&gt;{!$Record.ETA__c} &lt;/b&gt;to avoid any further limitation or action.&lt;/p&gt;&lt;p&gt;If the policy violations are not corrected by this date (that is during the Probation Period), Back Market may close your account, as explained under article 18.2 of the&amp;nbsp;T&amp;amp;Cs.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your daily sales capacity will be capped to 150% of your most recent 30-day average sales as of today (unless subject to a lower restriction), in accordance with article 17 of the T&amp;amp;Cs.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please refer to the Seller Support Center for more information about the &lt;a href=&quot;https://merchant-support.backmarket.com/hc/en-gb/articles/4414674693394-What-is-the-process-in-case-of-Policy-Violation-&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Policy Violation process&lt;/a&gt; and &lt;a href=&quot;https://merchant-support.backmarket.com/hc/en-gb/articles/4414576023954-Insights-tab-Policy-Violations-in-the-Back-Office&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Policy Violation tab&lt;/a&gt;, or reach out to your Back Market point of contact if you have any questions.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you,&amp;nbsp;&lt;/p&gt;&lt;p&gt;The Back Market team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>BB_TextTemplate_EntryMP_FR_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Bonjour {!$Record.Business_Name__r.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Cet email a pour but de vous informer que votre rcente performance qualit sur Back Market, en particulier lindicateur {!$Record.Issue_KPI__c}, ne rpond pas aux normes de qualit dcrites dans l&apos;article 12 des Conditions gnrales de ventes de Back Market et dans la Charte Qualit. A ce titre, votre compte entre en priode de suivi appele Monitoring Period et votre capacit de reprise quotidienne va tre plafonne  150% de votre volume de reprises quotidien moyen sur les 30 derniers jours, sous rserve que vous ne soyez pas dj sujet  une autre restriction de reprise similaire sur cette priode.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Le but de cette Monitoring Period est de vous permettre d&apos;atteindre lobjectif fix et de rpondre aux normes de qualit attendues avant le {!ETA}. Dans le cas o votre performance qualit ne s&apos;amliore pas  cette chance, votre capacit de reprise sera automatiquement limite  un pourcentage plus strict de votre volume de reprises.&lt;/p&gt;&lt;p&gt;Pour plus d&apos;informations sur votre indicateur dfaillant, les limites de reprise, ainsi que les outils et leviers pour suivre et amliorer votre performance, veuillez consulter notre centre dassistance marchands le Merchant Support Center (veuillez trouver le lien en fin de mail).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Votre contact Back Market est galement disponible pour travailler avec vous afin d&apos;analyser la situation et d&apos;laborer conjointement un plan d&apos;action pour rsoudre les problmes rencontrs.&lt;/p&gt;&lt;p&gt;Cela dit, nous esprons qu&apos;aucune limitation supplmentaire ne sera ncessaire car nous considrons votre compte comme un partenaire prcieux sur la plateforme.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sincrement,&lt;/p&gt;&lt;p&gt;Back Market&lt;/p&gt;&lt;p&gt;https://merchant-support.backmarket.com/hc/fr/sections/360005071293-Suivi-Qualit%C3%A9&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>BB_TextTemplate_EntryMP_FR_Body_CSAT_LRR</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Bonjour {!$Record.Business_Name__r.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Votre rcente performance qualit &lt;b&gt;({!$Record.Issue_KPI__c})&lt;/b&gt; sur Back Market ne rpond pas aux normes de qualit dcrites dans l&apos;article 12 des Conditions gnrales vendeurs (CGV) de Back Market et dans la Charte Qualit. Conformment  larticle 12.5 des CGV, vous entrez en Probation Period. Le but de cette Probation Period est de vous permettre d&apos;atteindre lobjectif de &lt;b&gt;{!$Record.Objective_to_reach__c}&lt;/b&gt; fix dans l&lt;a href=&quot;https://merchant-support.backmarket.com/hc/fr/restricted?return_to=https%3A%2F%2Fmerchant-support.backmarket.com%2Fhc%2Ffr%2Farticles%2F4404652613522-Quelle-est-la-p%25C3%25A9riode-probatoire-sp%25C3%25A9cifique-de-la-CSAT-taux-de-r%25C3%25A9ponse-tardive-&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;article&lt;/a&gt; du Merchant Support Center et de rpondre aux normes de qualit attendues avant le &lt;b&gt;{!$Record.ETA__c}&lt;/b&gt;. Si vos performances en matire de qualit ne sont pas corriges avant cette chance, nous pourrons procder  la clture de votre Compte Vendeur, comme le prvoient les articles 12.5 et 18.2 de nos CGV.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Par ailleurs, conformment aux articles 12 et 17 de nos CGV, votre capacit de vente quotidienne va tre plafonne  150% de votre volume de ventes quotidien moyen sur les 30 derniers jours  compter de ce jour (sauf si vous avez dj une restriction plus basse).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Veuillez contacter votre Seller Success Manager pour plus d&apos;informations sur le service &lt;b&gt;BackCare&lt;/b&gt; et sur la manire de profiter des diffrents services et outils que nous proposons pour vous aider  amliorer votre qualit et vos performances sur Backmarket.com.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sincrement,&amp;nbsp;&lt;/p&gt;&lt;p&gt;Votre quipe Back Market&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>BB_TextTemplate_EntryMP_FR_Body_Policy_Violation</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Bonjour {!$Record.Business_Name__r.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Nous avons identifi plusieurs &lt;b&gt;Policy Violations&lt;/b&gt; sur votre compte Back Market. Veuillez vous rfrer  l&apos;onglet Policy Violation dans votre Back Office pour un rapport complet.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;En raison de ces violations, votre compte n&apos;est pas conforme aux Conditions gnrales vendeur (CGV) et  la Charte Qualit. Veuillez corriger ces violations avant le &lt;b&gt;{!$Record.ETA__c}&lt;/b&gt; pour viter toute autre limitation ou action.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Si les Policy Violation ne sont pas corriges  cette date (c&apos;est--dire durant la &quot;Probation Period&quot;), Back Market pourra procder  la clture de votre Compte Vendeur, comme le prvoit l&apos;article 18.2 des CGV.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Votre capacit de vente quotidienne va tre plafonne  150 % de votre volume de ventes quotidien moyen sur les 30 derniers jours  compter de ce jour (sauf si vous avez dj une restriction plus basse), conformment  larticle 17 de nos CGV.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Nous vous encourageons  consulter le Seller Support Center pour plus d&apos;informations sur le &lt;a href=&quot;https://merchant-support.backmarket.com/hc/fr/articles/4414674693394-Quel-est-le-processus-en-cas-de-Policy-Violation-&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;processus de Policy Violation&lt;/a&gt; et &lt;a href=&quot;https://merchant-support.backmarket.com/hc/fr/articles/4414576023954-Onglet-Insights-Policy-Violation&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;l&apos;onglet Policy Violation&lt;/a&gt;, ou contactez votre point de contact Back Market si vous avez des questions.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Merci,&amp;nbsp;&lt;/p&gt;&lt;p&gt;Lquipe Back Market&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Sales_TextTemplate_EntryMP_EN_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Hello {!$Record.Business_Name__r.Name},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;We are writing to inform you that your quality KPI, &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;{!$Record.Issue_KPI__c},&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; does not meet Back Market quality standards. Lets help you get back on track!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;To help solve your quality issue, your account will enter a monitoring period to allow you to focus on making improvements.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;As a reminder, good quality means:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;MORE BackBox opportunities&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;  which means MORE sales!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;&amp;nbsp;Avoiding selling limitations &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; scale your business faster&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;&amp;nbsp;Happier customers&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;  and more repeat business&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;As per Article 12 of Back Markets Terms and Conditions, to end your monitoring period, your performance must meet the quality standards by {!ETA}, OR your performance meets our quality standard for 7 consecutive days  whichever comes first.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;In the event that your quality performance is not corrected by &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;{!ETA}&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;, or if your &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;{!$Record.Issue_KPI__c} &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;reaches a critical level for customer experience, your sales capacity will automatically be limited to a strict percentage of your sales volume.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;For more information about your KPI in default, sales limitation, as well as tools and levers to monitor and improve your performance, please consult the Seller Support Center for &lt;/span&gt;&lt;a href=&quot;https://backmarketportal.force.com/ssc/s/article/What-is-the-Monitoring-Period-process-%EF%B8%8F-%EF%B8%8F&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;u&gt;Sales&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; KPIs.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;If you have any questions on the monitoring period, or would like support in building an action plan to lift the monitoring period, please reach out to your Back Market point of contact.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Thank you,&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Back Market&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Sales_TextTemplate_EntryMP_EN_Body_CSAT_LRR</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt;Hello {!$Record.Business_Name__r.Name},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt;Your recent quality performance ({!$Record.Issue_KPI__c}) on Back Market does not meet the standards outlined in Article 12 of the Terms and Conditions and the Quality Charter. As provided under article 12.5 of our Sellers Terms and Conditions (T&amp;amp;Cs), you are now entering a probation period. The purpose of this probation period is to enable you to reach the objective of {!$Record.Objective_to_reach__c} stated in the Seller Support Center&lt;/span&gt;&lt;a href=&quot;https://backmarketportal.force.com/ssc/s/article/What-is-the-Monitoring-Period-process-%EF%B8%8F-%EF%B8%8F&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;u&gt; article&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 12px; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt; and meet the expected quality standards before {!$Record.ETA__c}. In the event that your quality performance is not corrected before this date, we may close your Seller Account, as explained under Articles 12.5 and 18.2 of the Sellers T&amp;amp;Cs.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt;Please reach out to your seller success manager for more information on BackCare and how to take advantage of the various services and tools that we offer to help improve your quality and performance on Backmarket.com.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt;Sincerely,&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt;Your Back Market team&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Sales_TextTemplate_EntryMP_EN_Body_Policy_Violation</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt;Hello {!$Record.Business_Name__r.Name},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt;We have identified several Policy Violations on your Back Market account. Please refer to the Policy Violation tab in your Back Office for a full report.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt;As a result of these violations, your account is not compliant with the Seller Terms and Conditions (T&amp;amp;Cs) and Quality Charter. Please correct these violations by {!$Record.ETA__c} to avoid further limitation or action.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt;If the Policy Violations are not corrected by that date (i.e., during the &quot;Probation Period&quot;), Back Market may proceed to close your Seller Account, as provided in Section 18.2 of the T&amp;amp;Cs.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt;We encourage you to visit the Seller Support Center for more information about the &lt;/span&gt;&lt;a href=&quot;https://backmarketportal.force.com/ssc/s/article/What-is-the-process-in-case-of-Policy-Violation&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;u&gt;Policy Violation process&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 12px; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt; or contact your Back Market contact point if you have any questions.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt;Thank you,&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt;Back Market&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Sales_TextTemplate_EntryMP_FR_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt;B&lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;onjour {!$Record.Business_Name__r.Name},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Cet email a pour but&lt;/span&gt;&lt;span style=&quot;font-size: 10pt; font-family: Roboto, sans-serif; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;de vous informer que votre indicateur qualit, &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;{!$Record.Issue_KPI__c}&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;, ne rpond pas aux normes de qualit de Back Market. Nous allons vous aider  vous remettre sur la bonne voie !&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Pour vous aider  rsoudre votre problme qualit, votre compte entrera en priode de suivi appele Monitoring Period&amp;nbsp; pour vous permettre de vous concentrer sur les amliorations  apporter.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Pour &lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt;rappel, une bonne qualit signifie :&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt;	&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt;PLUS d&apos;opportunits BackBox&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt; - ce qui signifie PLUS de ventes !&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt;	&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt;viter les limitations de vente &lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt;- faire voluer votre entreprise plus rapidement&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt;	&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt;Des clients plus heureux&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt; - et plus de clients fidles&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Conformment  l&apos;article 12 des Conditions gnrales de ventes&amp;nbsp; (CGV), pour mettre fin  cette Monitoring Period, votre performance doit rpondre aux normes de qualit avant le {!ETA}, OU votre performance doit rpondre  nos normes de qualit pendant 7 jours conscutifs - selon la premire de ces deux ventualits.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Dans le cas o votre performance de qualit n&apos;est pas amliore avant&lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt; {!ETA}&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt;, ou si votre &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt;{!$Record.Issue_KPI__c}&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt; atteint un seuil critique pour l&apos;exprience client, votre capacit de vente sera automatiquement limite  un pourcentage strict de votre volume de vente .&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Pour plus d&apos;informations sur votre KPI en dfaut, sur la limitation de votre vente, ainsi que sur les outils et leviers permettant de suivre et d&apos;amliorer vos performances, veuillez consulter le Seller Support Center pour les &lt;/span&gt;&lt;a href=&quot;https://backmarketportal.force.com/ssc/s/article/What-is-the-Monitoring-Period-process-%EF%B8%8F-%EF%B8%8F&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;u&gt;KPIs de vente&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Si vous avez des questions sur la Monitoring Period ou si vous souhaitez obtenir de l&apos;aide pour laborer un plan d&apos;action visant  lever la Monitoring Period, veuillez contacter votre point de contact Back Market.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Sincrement,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Back Market&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Sales_TextTemplate_EntryMP_FR_Body_CSAT_LRR</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt;Bonjour {!$Record.Business_Name__r.Name},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt;Votre rcente performance qualit ({!$Record.Issue_KPI__c}) sur Back Market ne rpond pas aux normes de qualit dcrites dans l&apos;article 12 des Conditions gnrales vendeurs (CGV) de Back Market et dans la Charte Qualit. Conformment  larticle 12.5 des CGV, vous entrez en Probation Period. Le but de cette Probation Period est de vous permettre d&apos;atteindre lobjectif de {!$Record.Objective_to_reach__c} fix dans l&lt;/span&gt;&lt;a href=&quot;https://backmarketportal.force.com/ssc/s/article/Qu-est-ce-que-le-processus-de-Monitoring-Period-%EF%B8%8F-%EF%B8%8F&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;u&gt;article&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 12px; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt; du Seller Support Center et de rpondre aux normes de qualit attendues avant le {!$Record.ETA__c}. Si vos performances en matire de qualit ne sont pas corriges avant cette chance, nous pourrons procder  la clture de votre Compte Vendeur, comme le prvoient les articles 12.5 et 18.2 de nos CGV.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt;Veuillez contacter votre Seller Success Manager pour plus d&apos;informations sur le service BackCare et sur la manire de profiter des diffrents services et outils que nous proposons pour vous aider  amliorer votre qualit et vos performances sur Backmarket.com.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt;Sincrement,&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(68, 68, 68); background-color: transparent;&quot;&gt;Votre quipe Back Market&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Sales_TextTemplate_EntryMP_FR_Body_Policy_Violation</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Bonjour {!$Record.Business_Name__r.Name},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Nous avons identifi plusieurs Policy Violations sur votre compte Back Market. Veuillez vous rfrer  l&apos;onglet Policy Violation dans votre Back Office pour un rapport complet.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;En raison de ces violations, votre compte n&apos;est pas conforme aux Conditions gnrales vendeur (CGV) et  la Charte Qualit. Veuillez corriger ces violations avant le {!$Record.ETA__c} pour viter toute autre limitation ou action.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Si les Policy Violation ne sont pas corriges  cette date (c&apos;est--dire durant la &quot;Probation Period&quot;), Back Market pourra procder  la clture de votre Compte Vendeur, comme le prvoit l&apos;article 18.2 des CGV.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Nous vous encourageons  consulter le Seller Support Center pour plus d&apos;informations sur le&lt;/span&gt;&lt;a href=&quot;https://backmarketportal.force.com/ssc/s/article/Quel-est-le-processus-en-cas-de-Policy-Violation&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; color: rgb(17, 85, 204); background-color: transparent;&quot;&gt;&lt;u&gt; processus de Policy Violation&lt;/u&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; ou contactez votre point de contact Back Market si vous avez des questions.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Merci,&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Lquipe Back Market&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_EntryLC_EN_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!$Record.Business_Name__r.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Unfortunately, since we last reached out about your {!$Record.Issue_KPI__c}, the situation has not been corrected. Therefore, your account is now entering the last chance of the monitoring period, in accordance with Article 12 of our Terms and Conditions. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The purpose of this last chance is to give you a final opportunity to adjust your quality performance before {!ETA} (yyyy-mm-dd), in order to comply with the quality standards established in our Quality Charter and Terms and Conditions, according to the objectives stated in the Merchant Support Center article dedicated to Quality Monitoring.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;During this last chance period, your {!SaleBuyback} account will be limited to {!$Record.AlertLimitation__c} {!SaleBuyback} per day (i.e. approximately {!Percentage_to_apply}% of your average daily {!SaleBuyback} volume made over the last 30 days), provided that you are not already subject to another stricter {!SaleBuyback} restriction during this period. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We highly encourage you to work with your Back Market contact to monitor progress over the next month and to clarify issues. For more information about your KPI in default, limitation, as well as tools and levers to monitor and improve your performance, please consult the Merchant Support Center.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;In the event that your {!$Record.Issue_KPI__c} is not corrected before the aforementioned due date, we will be obligated to close your account, as provided for under Articles 12 and 18.2 of the Terms and Conditions.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We value your presence on our platform as an esteemed partner, and we sincerely hope we can resolve the situation and avoid closing your account. Please feel free to reach out if you have additional questions.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sincerely,&lt;/p&gt;&lt;p&gt;Back Market&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;https://merchant-support.backmarket.com/hc/en-gb/sections/360005071293-Quality-Monitoring&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_EntryLC_EN_Body_CSAT_LRR</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!$Record.Business_Name__r.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Since we last reached out about your &lt;strong&gt;entry into a probation period {!$Record.Issue_KPI__c} &lt;/strong&gt;on {!$Record.Has_begun_on__c}, your performance has continued to decline.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;As a result and as provided under article 12.5 of our Sellers Terms and Conditions, your probation period will continue and your sales account will be limited to {!$Record.AlertLimitation__c} sales per day i.e. approximately 30% of your most recent 30-day average sales as from today (unless subject to a lower restriction).&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We remind you that the purpose of this probation period is to enable you to reach the objective stated in the Merchant Support Center &lt;a href=&quot;https://merchant-support.backmarket.com/hc/en-gb/restricted?return_to=https%3A%2F%2Fmerchant-support.backmarket.com%2Fhc%2Fen-gb%2Farticles%2F4404652613522-What-is-the-specific-CSAT-Late-Response-Rate-probation-period-&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;article&lt;/a&gt; and meet the expected quality standards before &lt;strong&gt;{!$Record.ETA__c}&lt;/strong&gt;. In the event that your quality performance is not corrected before the aforementioned date, we may close your Seller Account, as explained under Articles 12.5 and 18.2 of the Terms and Conditions.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please reach out to your seller success manager for more information on &lt;strong&gt;BackCare&lt;/strong&gt; and how to take advantage of the various services and tools that we offer to help improve your quality and performance on Backmarket.com.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sincerely,&lt;/p&gt;&lt;p&gt;Your Back Market team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_EntryLC_EN_Body_Policy_Violation</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!$Record.Business_Name__r.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Since your &lt;strong&gt;entry into a Probation Period for Policy Violations&lt;/strong&gt; on {!$Record.Has_begun_on__c}, your account continues to be in violation.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;As a result of these violations, your daily sales capacity will be limited to {!$Record.AlertLimitation__c} sales per day, i.e. approximately 30% of your most recent 30-day average sales as of today (unless subject to a lower restriction) for the reminder of your &lt;strong&gt;Probation Period&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We remind you that the purpose of this Probation Period is to enable you to be 100% compliant before &lt;strong&gt;{!$Record.ETA__c}&lt;/strong&gt;. If the policy violations are not corrected by this date, Back Market may close your account, as explained under article 18.2 of the&amp;nbsp;Terms &amp;amp; Conditions.&amp;nbsp;&lt;/p&gt;&lt;p&gt;Please refer to the Seller Support Center for more information about the &lt;a href=&quot;https://merchant-support.backmarket.com/hc/en-gb/articles/4414674693394-What-is-the-process-in-case-of-Policy-Violation-&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Policy Violation process&lt;/a&gt; and &lt;a href=&quot;https://merchant-support.backmarket.com/hc/en-gb/articles/4414576023954-Insights-tab-Policy-Violations-in-the-Back-Office&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Policy Violation tab&lt;/a&gt;, or reach out to your Back Market point of contact if you have any questions.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you,&amp;nbsp;&lt;/p&gt;&lt;p&gt;The Back Market team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_EntryLC_EN_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Last chance to improve your {!$Record.Issue_KPI__c}</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_EntryLC_EN_Subject_CSAT_LRR</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Decline of your {!$Record.Issue_KPI__c} - Sales limitation</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_EntryLC_EN_Subject_Policy_Violation</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>No improvement on Policy Violations - Sales limitation</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_EntryLC_FR_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Bonjour {!$Record.Business_Name__r.Name},

Depuis notre dernier contact au sujet de votre {!$Record.Issue_KPI__c}, la situation ne s&apos;est malheureusement pas amliore. Par consquent, conformment  l&apos;article 12 de nos Conditions gnrales de ventes, votre compte entre en priode de dernire chance (last chance). 

Le but de cette &quot;dernire chance&quot; est de vous donner une dernire opportunit d&apos;amliorer votre performance qualit avant le {!ETA}, afin de respecter nos standards de qualit tablis dans la Charte de Qualit et les CGV,  selon lobjectif dfini dans notre article ddi aux Monitoring Periods sur le Merchant Support Center.

Pendant cette priode, votre compte sera limit  {!$Record.AlertLimitation__c} {!VenteBuyback}s par jour (soit environ {!Percentage_to_apply}% de votre volume de {!VenteBuyback}s quotidien moyen ralis au cours des 30 derniers jours), sous rserve que vous ne soyez pas dj sujet  une aucune autre restriction similaire de {!VenteBuyback} sur cette priode. 
Nous vous encourageons vivement  travailler avec votre point de contact Back Market pour suivre les progrs raliss au cours du mois prochain et  le solliciter pour toute clarification. Pour plus d&apos;informations sur votre indicateur dfaillant, les limites de {!VenteBuyback}, ainsi que les outils et leviers pour suivre et amliorer votre performance, veuillez consulter notre centre dassistance marchands le Merchant Support Center.

Dans le cas o votre indicateur {!$Record.Issue_KPI__c} ne s&apos;amliore pas avant lchance mentionne, nous serons dans l&apos;obligation de fermer votre compte sur notre plateforme, comme le prvoient les articles 12 et 18.2 de nos CGV.

Nous esprons sincrement que nous n&apos;en arriverons pas l et sommes  votre disposition pour rpondre  toute question.  

Cordialement,
Back Market

https://merchant-support.backmarket.com/hc/fr/sections/360005071293-Suivi-Qualit%C3%A9</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_EntryLC_FR_Body_CSAT_LRR</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Bonjour {!$Record.Business_Name__r.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Depuis notre dernier email vous notifiant votre &lt;b&gt;entre en Probation Period {!$Record.Issue_KPI__c}&lt;/b&gt; le {!$Record.Has_begun_on__c}, votre performance a continu  se dtriorer.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Par consquent et conformment  larticle 12.5 des Conditions gnrales vendeurs (CGV), votre Probation Period continue et votre compte sera limit  {!$Record.AlertLimitation__c} ventes par jour soit environ 30% de votre volume de ventes quotidien moyen ralis au cours des 30 derniers jours  compter de ce jour (sauf si vous avez dj une restriction plus basse).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Nous vous rappelons que le but de cette Probation Period est de vous permettre d&apos;atteindre lobjectif fix dans l&lt;a href=&quot;https://merchant-support.backmarket.com/hc/fr/restricted?return_to=https%3A%2F%2Fmerchant-support.backmarket.com%2Fhc%2Ffr%2Farticles%2F4404652613522-Quelle-est-la-p%25C3%25A9riode-probatoire-sp%25C3%25A9cifique-de-la-CSAT-taux-de-r%25C3%25A9ponse-tardive-&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;article&lt;/a&gt; du Merchant Support Center et de rpondre aux normes de qualit attendues avant le &lt;b&gt;{!$Record.ETA__c}&lt;/b&gt;. Si vos performances en matire de qualit ne sont pas corriges avant lchance mentionne, nous pourrons fermer votre Compte Vendeur sur notre plateforme, comme le prvoient les articles 12.5 et 18.2 de nos CGV.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Veuillez contacter votre Seller Success Manager pour plus d&apos;informations sur le service &lt;b&gt;BackCare&lt;/b&gt; et sur la manire de profiter des diffrents services et outils que nous proposons pour vous aider  amliorer votre qualit et vos performances sur Backmarket.com.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sincrement,&amp;nbsp;&lt;/p&gt;&lt;p&gt;Votre quipe Back Market&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_EntryLC_FR_Body_Policy_Violation</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Bonjour {!$Record.Business_Name__r.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Depuis votre &lt;b&gt;entre en Probation Period en raison de &lt;i&gt;Policy Violations&lt;/i&gt;&lt;/b&gt; le {!$Record.Has_begun_on__c}, votre Compte Vendeur continue dtre en violation.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;En raison de ces violations, votre capacit de vente quotidienne va tre plafonnes  {!$Record.AlertLimitation__c} ventes par jour, soit environ 30% de votre volume de ventes quotidien moyen sur les 30 derniers jours  compter de ce jour (sauf si vous avez dj une restriction plus basse) et jusqu la fin de votre &lt;b&gt;&lt;i&gt;Probation Period&lt;/i&gt;&lt;/b&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Nous vous rappelons que le but de cette Probation Period est de vous permettre dtre 100% conforme avant le &lt;b&gt;{!$Record.ETA__c}&lt;/b&gt;. Si les Policy Violation ne sont pas corriges  cette date, Back Market pourra procder  la clture de votre Compte Vendeur, comme le prvoit l&apos;article 18.2 des Conditions gnrales vendeurs.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Nous vous encourageons  consulter le Seller Support Center pour plus d&apos;informations sur le &lt;a href=&quot;https://merchant-support.backmarket.com/hc/fr/articles/4414674693394-Quel-est-le-processus-en-cas-de-Policy-Violation-&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;processus de Policy Violation&lt;/a&gt; et &lt;a href=&quot;https://merchant-support.backmarket.com/hc/fr/articles/4414576023954-Onglet-Insights-Policy-Violation&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;l&apos;onglet Policy Violation&lt;/a&gt;, ou contactez votre point de contact Back Market si vous avez des questions.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Merci,&amp;nbsp;&lt;/p&gt;&lt;p&gt;Lquipe Back Market&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_EntryLC_FR_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dernire chance pour amliorer votre {!$Record.Issue_KPI__c}</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_EntryLC_FR_Subject_CSAT_LRR</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dgradation de votre {!$Record.Issue_KPI__c} - Limitation des ventes</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_EntryLC_FR_Subject_Policy_Violation</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Aucune amlioration concernant les Policy Violations - Limitation des ventes</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_EntryMP_EN_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Business_Name__r.Back_Office_PK__c} - {!$Record.Business_Name__r.Name} - Entry into a Monitoring Period</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_EntryMP_EN_Subject_CSAT_LRR</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.P_K__c} - {!$Record.Business_Name__r.Name} - Entry into a Probation Period</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_EntryMP_EN_Subject_Policy_Violation</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!$Record.P_K__c} - {!$Record.Business_Name__r.Name} - Entry into Probation Period for Policy Violation</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_EntryMP_FR_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Business_Name__r.Back_Office_PK__c} - {!$Record.Business_Name__r.Name} - Entre en Monitoring Period</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_EntryMP_FR_Subject_CSAT_LRR</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.P_K__c} - {!$Record.Business_Name__r.Name} - Entre en Probation Period</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplate_EntryMP_FR_Subject_Policy_Violation</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.P_K__c} - {!$Record.Business_Name__r.Name} - Entre en Probation Period pour Policy Violation&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Limitation_before_alert</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>List_of_emails_to_contact</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Merchant_to_update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Tech_Count_Contact</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
