force-app/main/default/flows/Schedule_Flow_Task_SeatBelt_removal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Status_is_completed</name>
        <label>Assign - Status is completed</label>
        <locationX>785</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>Task_to_Update.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_to_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Task_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_is_completed_and_action_is_OK</name>
        <label>Assign - Status is completed and action is OK</label>
        <locationX>459</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>Task_to_Update.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_to_Update.SeatBelt_removal_action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OK - Merchant can be unlimited</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_to_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Task_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_on_SeatBelt_action</name>
        <label>Decision on SeatBelt action</label>
        <locationX>618</locationX>
        <locationY>347</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SeatBelt_to_be_removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SeatBelt_removal_action__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CreatedDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Yesterday</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SeatBelt Removal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_is_completed_and_action_is_OK</targetReference>
            </connector>
            <label>SeatBelt to be removed</label>
        </rules>
        <rules>
            <name>Mark_task_as_completed</name>
            <conditionLogic>(1 OR 3) AND 2 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SeatBelt_removal_action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KO - Apply another limitation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SeatBelt_removal_action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OK - Merchant can be unlimited</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SeatBelt Removal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_is_completed</targetReference>
            </connector>
            <label>Mark task as completed</label>
        </rules>
    </decisions>
    <description>Quick fix - SeatBelt</description>
    <formulas>
        <name>CreatedDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.CreatedDate})</expression>
    </formulas>
    <formulas>
        <name>Yesterday</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-1</expression>
    </formulas>
    <interviewLabel>Schedule Flow - Task - SeatBelt removal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Flow - Task - SeatBelt removal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Task_record</name>
        <label>Update - Task record</label>
        <locationX>631</locationX>
        <locationY>718</locationY>
        <inputReference>Task_to_Update</inputReference>
    </recordUpdates>
    <start>
        <locationX>500</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Decision_on_SeatBelt_action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SeatBelt</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-11-08</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Task_to_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
