force-app/main/default/flows/Scheduled_Flow_Update_Alert_stage_and_Critical_rate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_10_of_Send_log</name>
        <label>Copy 10 of Send log</label>
        <locationX>3097</locationX>
        <locationY>1116</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Last_Chance_values_to_alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>monitoring-period</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Scheduled Flow - Update Alert stage and Critical rate</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Alerts to update critical rate PP - LC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_11_of_Send_log</name>
        <label>Copy 11 of Send log</label>
        <locationX>809</locationX>
        <locationY>2976</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_list_of_alerts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>monitoring-period</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Scheduled Flow - Update Alert stage and Critical rate</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Alerts to update - update start</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_10_of_Send_log</name>
        <label>Copy 1 of Copy 10 of Send log</label>
        <locationX>3361</locationX>
        <locationY>1116</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Last_Chance_values_to_alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>monitoring-period</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Scheduled Flow - Update Alert stage and Critical rate</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Alerts to update critical rate On Time Delivery Rate Selfcare - LC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_11_of_Send_log</name>
        <label>Copy 1 of Copy 11 of Send log</label>
        <locationX>809</locationX>
        <locationY>3216</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision_Is_notification_needed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>monitoring-period</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Scheduled Flow - Update Alert stage and Critical rate</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Alerts to update - update success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>SUCCESS</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Copy_11_of_Send_log</name>
        <label>Copy 1 of Copy 1 of Copy 11 of Send log</label>
        <locationX>1458</locationX>
        <locationY>3216</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>monitoring-period</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Scheduled Flow - Update Alert stage and Critical rate</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_4_of_Send_log</name>
        <label>Copy 1 of Copy 4 of Send log</label>
        <locationX>1513</locationX>
        <locationY>1356</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Decision_Test_Actual_rate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>monitoring-period</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Scheduled Flow - Update Alert stage and Critical rate</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Alerts to update On Time Delivery Rate Selfcare</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Send_log</name>
        <label>Copy 1 of Send log</label>
        <locationX>1469</locationX>
        <locationY>1116</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision_test_number_of_case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>monitoring-period</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Scheduled Flow - Update Alert stage and Critical rate</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Alerts to update ETA today</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Send_log</name>
        <label>Copy 2 of Send log</label>
        <locationX>1469</locationX>
        <locationY>2304</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Saved_Reason_Not_enough_cases</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>monitoring-period</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Scheduled Flow - Update Alert stage and Critical rate</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Alerts to update not enough cases - Saved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_Send_log</name>
        <label>Copy 3 of Send log</label>
        <locationX>1249</locationX>
        <locationY>1356</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Failed_values_to_alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>monitoring-period</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Scheduled Flow - Update Alert stage and Critical rate</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Alerts to update PP violation - Failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_4_of_Send_log</name>
        <label>Copy 4 of Send log</label>
        <locationX>2041</locationX>
        <locationY>1356</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision_Test_Actual_rate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>monitoring-period</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Scheduled Flow - Update Alert stage and Critical rate</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Alerts to update cases above objective</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_5_of_Send_log</name>
        <label>Copy 5 of Send log</label>
        <locationX>1777</locationX>
        <locationY>1596</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Saved_Reason_Rate_better_than_threshold</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>monitoring-period</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Scheduled Flow - Update Alert stage and Critical rate</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Alerts to update rate objective reached - Saved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_6_of_Send_log</name>
        <label>Copy 6 of Send log</label>
        <locationX>2305</locationX>
        <locationY>1596</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision_Stage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>monitoring-period</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Scheduled Flow - Update Alert stage and Critical rate</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Alerts to update rate objective not reached</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_7_of_Send_log</name>
        <label>Copy 7 of Send log</label>
        <locationX>2041</locationX>
        <locationY>1836</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Last_Chance_values_to_alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>monitoring-period</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Scheduled Flow - Update Alert stage and Critical rate</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Alerts to update rate objective not reached - LC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_8_of_Send_log</name>
        <label>Copy 8 of Send log</label>
        <locationX>2305</locationX>
        <locationY>1836</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Failed_values_to_alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>monitoring-period</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Scheduled Flow - Update Alert stage and Critical rate</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Alerts to update rate objective not reached - Failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_9_of_Send_log</name>
        <label>Copy 9 of Send log</label>
        <locationX>2833</locationX>
        <locationY>1116</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Last_Chance_values_to_alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>monitoring-period</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Scheduled Flow - Update Alert stage and Critical rate</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Alerts to update critical rate - LC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_log</name>
        <label>Send log</label>
        <locationX>809</locationX>
        <locationY>636</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_on_alerts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>monitoring-period</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Scheduled Flow - Update Alert stage and Critical rate</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Alerts to update process start</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_notif</name>
        <label>Send notif</label>
        <locationX>424</locationX>
        <locationY>4248</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_notification_id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Notification_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Notification_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Notification_Recipient_Ids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_BizDev_to_recipient_List</name>
        <label>Assign BizDev to recipient List</label>
        <locationX>490</locationX>
        <locationY>3816</locationY>
        <assignmentItems>
            <assignToReference>Notification_Recipient_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_EU_Team.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_EU_Team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BizDev_to_recipient_List_0</name>
        <label>Assign BizDev to recipient List</label>
        <locationX>138</locationX>
        <locationY>3816</locationY>
        <assignmentItems>
            <assignToReference>Notification_Recipient_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_US_Team.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_US_Team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_current_alert_to_LIST</name>
        <label>Assign current alert to LIST</label>
        <locationX>2547</locationX>
        <locationY>2760</locationY>
        <assignmentItems>
            <assignToReference>Alerts_List_To_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Current_Alert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_alerts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Failed_values_to_alert</name>
        <label>Assign Failed values to alert</label>
        <locationX>1249</locationX>
        <locationY>1476</locationY>
        <assignmentItems>
            <assignToReference>Current_Alert.Has_failed_on__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_Alert.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Passed_to_Failed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Notification_Body</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Alert.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_current_alert_to_LIST</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Last_Chance_values_to_alert</name>
        <label>Assign Last Chance values to alert</label>
        <locationX>2833</locationX>
        <locationY>1236</locationY>
        <assignmentItems>
            <assignToReference>Current_Alert.Has_entered_Last_chance_on__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_Alert.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Last chance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Passed_to_LC</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_Alert.ETA_for_test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Null</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Notification_Body</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Alert.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_current_alert_to_LIST</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_loop_iteration_to_current_alert</name>
        <label>Assign loop iteration to current alert</label>
        <locationX>2547</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>Current_Alert</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_alerts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_ETA_equal_today</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Merchant_Owner_to_Recipient_Ids</name>
        <label>Assign Merchant Owner to Recipient Ids</label>
        <locationX>666</locationX>
        <locationY>3696</locationY>
        <assignmentItems>
            <assignToReference>Notification_Recipient_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_notification_id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Saved_Reason_Not_enough_cases</name>
        <label>Assign Saved Reason - Not enough cases</label>
        <locationX>1469</locationX>
        <locationY>2424</locationY>
        <assignmentItems>
            <assignToReference>Saved_Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not enough cases at the ETA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Saved_values_to_alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Saved_Reason_Rate_better_than_threshold</name>
        <label>Assign Saved Reason - Rate better than threshold</label>
        <locationX>1777</locationX>
        <locationY>1716</locationY>
        <assignmentItems>
            <assignToReference>Saved_Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rate better than the threshold at the ETA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Saved_values_to_alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Saved_values_to_alert</name>
        <label>Assign Saved values to alert</label>
        <locationX>1469</locationX>
        <locationY>2544</locationY>
        <assignmentItems>
            <assignToReference>Current_Alert.Has_been_saved_on__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_Alert.Saved_reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Saved_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Current_Alert.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Saved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_current_alert_to_LIST</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Date_Null</name>
        <dataType>Date</dataType>
    </constants>
    <constants>
        <name>Number_null</name>
        <dataType>Number</dataType>
    </constants>
    <decisions>
        <name>Decision_ETA_equal_today</name>
        <label>Decision ETA equal today</label>
        <locationX>2547</locationX>
        <locationY>996</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_on_alerts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_ETA_is_Today</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_alerts.ETA__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Current_Alert.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Last chance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Current_Alert.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monitoring Period</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Send_log</targetReference>
            </connector>
            <label>Yes - ETA is Today</label>
        </rules>
        <rules>
            <name>No_But_MP_Critical_for_other_KPIs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_alerts.ETA__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_alerts.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monitoring Period</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_alerts.Actual_Number_of_cases__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_on_alerts.Cases_Critical_threshold__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_alerts.Actual_Rate__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_on_alerts.Rate_Critical_threshold__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DateForCritical</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_alerts.Cases_Critical_threshold__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_alerts.CreatedDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_alerts.Issue_KPI__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Policy violation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_alerts.Issue_KPI__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>On Time Delivery Rate Self-care</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_9_of_Send_log</targetReference>
            </connector>
            <label>No - But MP Critical for other KPIs</label>
        </rules>
        <rules>
            <name>No_But_critical_rate_from_Policy_Violation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_alerts.Issue_KPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Policy violation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_alerts.ETA__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_alerts.Has_begun_on__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Date_14_days_Ago</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_alerts.Tech_Policy_Violation_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_alerts.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monitoring Period</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_10_of_Send_log</targetReference>
            </connector>
            <label>No - But critical rate from Policy Violation</label>
        </rules>
        <rules>
            <name>No_But_MP_Critical_for_On_Time_Delivery_Rate_Selfcare</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_alerts.Issue_KPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Time Delivery Rate Self-care</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_alerts.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monitoring Period</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_alerts.ETA__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DateForCritical</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_alerts.CreatedDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_alerts.Cases_Critical_threshold__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_alerts.Actual_Number_of_cases__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Current_Alert.Entry_number_of_cases__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_alerts.Actual_Number_of_cases__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Current_Alert.Cases_Critical_threshold__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_alerts.Actual_Rate__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Current_Alert.Rate_Critical_threshold__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_10_of_Send_log</targetReference>
            </connector>
            <label>No - But MP Critical for On Time Delivery Rate Selfcare</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Is_notification_needed</name>
        <label>Decision Is notification needed and merchant owner no empty</label>
        <locationX>809</locationX>
        <locationY>3336</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_notification_is_needed</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Passed_to_Failed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Passed_to_LC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_on_Merchant_Owner_Team</targetReference>
            </connector>
            <label>Yes notification is needed and can be sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Is_there_any_Alert</name>
        <label>Decision Is there any Alert?</label>
        <locationX>1265</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Alerts_should_be_treated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_merchant_alerts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_log</targetReference>
            </connector>
            <label>Alerts should be treated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_Active_user</name>
        <label>Decision on Active user</label>
        <locationX>798</locationX>
        <locationY>3576</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Merchant_Owner_is_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Merchant_Owner_to_Recipient_Ids</targetReference>
            </connector>
            <label>Merchant Owner is active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_Merchant_Owner_Team</name>
        <label>Decision on Merchant Owner Team</label>
        <locationX>424</locationX>
        <locationY>3456</locationY>
        <defaultConnector>
            <targetReference>Decision_on_Active_user</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BackWatch_US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.UserID__c.Sam__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Merchant_US__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Story__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>hand_free</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_users_US_Team</targetReference>
            </connector>
            <label>BackWatch US</label>
        </rules>
        <rules>
            <name>BackWatch_EU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.UserID__c.PA__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Story__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>hand_free</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_users_EU_Team</targetReference>
            </connector>
            <label>BackWatch EU</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Stage</name>
        <label>Decision - Stage</label>
        <locationX>2305</locationX>
        <locationY>1716</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_on_alerts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Actual_Stage_is_MP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_alerts.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monitoring Period</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_Send_log</targetReference>
            </connector>
            <label>Actual Stage is MP</label>
        </rules>
        <rules>
            <name>Actual_Stage_is_LC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_alerts.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Last chance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_8_of_Send_log</targetReference>
            </connector>
            <label>Actual Stage is LC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Test_Actual_rate</name>
        <label>Decision Test Actual rate</label>
        <locationX>2041</locationX>
        <locationY>1476</locationY>
        <defaultConnector>
            <targetReference>Copy_6_of_Send_log</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Objective isn&apos;t reached</defaultConnectorLabel>
        <rules>
            <name>Objective_reached_for_other_KPIs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_alerts.Actual_Rate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Loop_on_alerts.Objective_to_reach__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Send_log</targetReference>
            </connector>
            <label>Objective reached for other KPIs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_test_number_of_case</name>
        <label>Decision test number of case</label>
        <locationX>1469</locationX>
        <locationY>1236</locationY>
        <defaultConnector>
            <targetReference>Copy_4_of_Send_log</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Number of cases above objective</defaultConnectorLabel>
        <rules>
            <name>Low_number_of_cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_alerts.Actual_Number_of_cases__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Loop_on_alerts.Cases_Objective_to_reach__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_alerts.Issue_KPI__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Policy violation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_alerts.Issue_KPI__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>On Time Delivery Rate Self-care</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Send_log</targetReference>
            </connector>
            <label>Low number of cases</label>
        </rules>
        <rules>
            <name>No_cases_and_Policy_Violation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_alerts.Actual_Number_of_cases__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_alerts.Issue_KPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Policy violation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Send_log</targetReference>
            </connector>
            <label>No cases and Policy Violation</label>
        </rules>
        <rules>
            <name>Still_some_cases_and_Policy_Violation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_alerts.Issue_KPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Policy violation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Send_log</targetReference>
            </connector>
            <label>Still some cases and Policy Violation</label>
        </rules>
        <rules>
            <name>New_KPIs</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_alerts.Issue_KPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Time Delivery Rate Self-care</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_alerts.Issue_KPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Time Delivery Rate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_alerts.Issue_KPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perfect Order Rate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_4_of_Send_log</targetReference>
            </connector>
            <label>New KPIs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Weekday</name>
        <label>Decision - Weekday</label>
        <locationX>1625</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Weekday_Stages_to_update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Weekday_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Weekday_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_merchant_alerts</targetReference>
            </connector>
            <label>Weekday - Stages to update</label>
        </rules>
    </decisions>
    <description>SFT-230 - New KPIs in Quality Perf Data</description>
    <formulas>
        <name>Date_14_days_Ago</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-14</expression>
    </formulas>
    <formulas>
        <name>DateForCritical</name>
        <dataType>Date</dataType>
        <expression>{!Loop_on_alerts.CreatedDate}+7</expression>
    </formulas>
    <formulas>
        <name>Exit_Buyback_record_type_id</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Special_Process_Record_Types_Ids__c.Exit_buyback__c}</expression>
    </formulas>
    <formulas>
        <name>Exit_Sales_EU_record_type_id</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Special_Process_Record_Types_Ids__c.Exit__c}</expression>
    </formulas>
    <formulas>
        <name>Exit_Sales_US_record_type_id</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Special_Process_Record_Types_Ids__c.Exit_US__c}</expression>
    </formulas>
    <formulas>
        <name>Merchant_EU_record_type_ID</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Special_Process_Record_Types_Ids__c.Merchant_EU__c}</expression>
    </formulas>
    <formulas>
        <name>Merchant_US_record_type_ID</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Special_Process_Record_Types_Ids__c.Merchant_US__c}</expression>
    </formulas>
    <formulas>
        <name>MP_Buyback_record_type_Id</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Special_Process_Record_Types_Ids__c.Monitoring_Period_Buyback__c}</expression>
    </formulas>
    <formulas>
        <name>MP_Sales_record_type_Id</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Special_Process_Record_Types_Ids__c.Monitoring_Period_Sales__c}</expression>
    </formulas>
    <formulas>
        <name>NewStage</name>
        <dataType>String</dataType>
        <expression>if(ISPICKVAL({!$Record.Stage__c}, &apos;Last Chance&apos;), &apos;Failed&apos;, &apos;Last Chance&apos;)</expression>
    </formulas>
    <formulas>
        <name>NMO_alert_sales_record_type_id</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Special_Process_Record_Types_Ids__c.NMO_Alert__c}</expression>
    </formulas>
    <formulas>
        <name>Notification_Subject</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} +&quot; - Alert(s) update - Stage changed to &quot; + IF({!Passed_to_LC},&quot;Last Chance &quot;,&quot;&quot;) + IF({!Passed_to_Failed} &amp;&amp; {!Passed_to_LC}, &quot;and &quot;,&quot;&quot;) + IF({!Passed_to_Failed}, &quot;Failed&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>QualityCaseAccessories_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseAccessories_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseAccessoriesUS_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseAccessoriesUS_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseAvgNbOfMessages_order_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseAvgNbOfMessages_order_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseAvgNbOfMessages_orderUS_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseAvgNbOfMessages_orderUS_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseBuybackLateResponse_ToSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseBuybackLateResponseRate_toSave})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>QualityCaseBuybackProcessing_ToSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseBuybackLateProcessingRate_toSave})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>QualityCaseCancellation_functional_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseCancellation_functional_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseCancellation_functionalUS_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseCancellation_functionalUS_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseCancellation_non_functional_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseCancellation_non_functional_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseCancellation_non_functionalUS_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseCancellation_non_functionalUS_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseCancellation_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseCancellation_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseCancellationUS_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseCancellationUS_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseCounterOffer_functional_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseCounterOffer_functional_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseCounterOffer_functionalUS_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseCounterOffer_functionalUS_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseCounterOffer_non_functional_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseCounterOffer_non_functional_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseCounterOffer_non_functionalUS_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseCounterOffer_non_functionalUS_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseCSAT_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseCSAT_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseCSATUS_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseCSATUS_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseDefective_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseDefective_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseDefectiveUS_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseDefectiveUS_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseEsthetic_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseEsthetic_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseEstheticUS_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseEstheticUS_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseLate_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseLate_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseLateUntrackedDelivery_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseLateUntrackedDelivery_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseLateUntrackedDeliveryUS_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseLateUntrackedDeliveryUS_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseLateUS_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseLateUS_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseNRR_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseNRR_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseNRRUS_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseNRRUS_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCasePayment_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCasePayment_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCasePaymentUS_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCasePaymentUS_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCasePending_Orders_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCasePending_Orders_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCasePending_OrdersUS_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCasePending_OrdersUS_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseProcessingTime_functional_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseProcessingTime_functional_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseProcessingTime_functionalUS_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseProcessingTime_functionalUS_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseProcessingTime_non_functional_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseProcessingTime_non_functional_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseProcessingTime_non_functionalUS_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseProcessingTime_non_functionalUS_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseResponse_Time_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseResponse_Time_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseResponse_TimeUS_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseResponse_TimeUS_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseUnprocessedOrder_D2_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseUnprocessedOrder_D2_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseUnprocessedOrder_D2US_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseUnprocessedOrder_D2US_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseWrong_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseWrong_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QualityCaseWrongUS_toSave</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.QualityCaseWrongUS_toSave})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Weekday_Formula</name>
        <dataType>Number</dataType>
        <expression>WEEKDAY({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Scheduled Flow - Update Alert stage and Critical rate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled Flow - Update Alert stage and Critical rate</label>
    <loops>
        <name>Loop_on_alerts</name>
        <label>Loop on alerts</label>
        <locationX>809</locationX>
        <locationY>756</locationY>
        <collectionReference>Get_merchant_alerts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_loop_iteration_to_current_alert</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_11_of_Send_log</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_EU_Team</name>
        <label>Loop on EU Team</label>
        <locationX>402</locationX>
        <locationY>3696</locationY>
        <collectionReference>Get_users_EU_Team</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_BizDev_to_recipient_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_notification_id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_US_Team</name>
        <label>Loop on US Team</label>
        <locationX>50</locationX>
        <locationY>3696</locationY>
        <collectionReference>Get_users_US_Team</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_BizDev_to_recipient_List_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_notification_id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_merchant_alerts</name>
        <label>Get merchant alerts</label>
        <locationX>1265</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Is_there_any_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Refused</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Saved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Issue_KPI__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Invoice Compliance Audit</stringValue>
            </value>
        </filters>
        <filters>
            <field>Issue_KPI__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Payment issues</stringValue>
            </value>
        </filters>
        <filters>
            <field>Issue_KPI__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Buyback - Payment issue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Issue_KPI__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Buyback - Charter breaches</stringValue>
            </value>
        </filters>
        <filters>
            <field>Issue_KPI__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Merchant Debt</stringValue>
            </value>
        </filters>
        <filters>
            <field>Issue_KPI__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Churning Merchant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Issue_KPI__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Low Commitment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Issue_KPI__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Mystery Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>MacBook</stringValue>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Smartphone</stringValue>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Tablets</stringValue>
            </value>
        </filters>
        <filters>
            <field>Business_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_archived__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Alert__c</object>
        <sortField>ETA__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_notification_id</name>
        <label>Get notification id</label>
        <locationX>424</locationX>
        <locationY>4128</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_notif</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All_supported_channels</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_users_EU_Team</name>
        <label>Get users EU Team</label>
        <locationX>402</locationX>
        <locationY>3576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_EU_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ManagerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.UserID__c.PA__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SSM Back Watch E.U.</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_users_US_Team</name>
        <label>Get users US Team</label>
        <locationX>50</locationX>
        <locationY>3576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_US_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ManagerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.UserID__c.Richard__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SSM Back Watch U.S.</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_list_of_alerts</name>
        <label>Update list of alerts</label>
        <locationX>809</locationX>
        <locationY>3096</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_11_of_Send_log</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_11_of_Send_log</targetReference>
        </faultConnector>
        <inputReference>Alerts_List_To_Update</inputReference>
    </recordUpdates>
    <start>
        <locationX>1499</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Weekday</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Run</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>N.M.O.</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ongoing_Alerts__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-08-18</startDate>
            <startTime>16:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Alert_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Alerts_List_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>Alerts_to_update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>Current_Alert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>List_of_last_chance_alerts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>Notidication_type_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Notification_Body</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Alert(s) changed : </stringValue>
        </value>
    </variables>
    <variables>
        <name>Notification_Recipient_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Number_of_buyback_alerts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Number_of_buyback_exit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Number_of_sales_alerts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Number_of_sales_exit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>If yes, send notification</description>
        <name>Passed_to_Failed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>If Yes send notification</description>
        <name>Passed_to_LC</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Recipient_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Saved_Reason</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TEMP_alert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
</Flow>
