force-app/main/default/flows/Schedule_Flow_NMO_Stage_update_and_automations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Trigger_AP_Sales_NMO_Move_to_Run_or_launch_Exit</name>
        <label>Trigger AP - Sales NMO - Move to Run or launch Exit</label>
        <locationX>745</locationX>
        <locationY>1678</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Sales_NMO_Move_to_Run_or_Exit</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Trigger_AP_Sales_NMO_Move_to_Run_or_NMO_2</name>
        <label>Trigger AP - Sales NMO - Move to Run or NMO 2</label>
        <locationX>809</locationX>
        <locationY>1095</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Sales_NMO_Move_to_Run_or_NMO_2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Trigger_AP_Sales_NMO_Move_to_Run_or_re_enter_NMO_2</name>
        <label>Trigger AP - Sales NMO - Move to Run or re-enter NMO 2</label>
        <locationX>745</locationX>
        <locationY>1545</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Sales_NMO_Move_to_Run_or_stay_in_NMO_2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Decision_Is_Sales_NMO</name>
        <label>Decision - Is Sales NMO</label>
        <locationX>168</locationX>
        <locationY>294</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_NMO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Special_Process_Record_Types_Ids__c.NMO_buyback__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Phase_1</targetReference>
            </connector>
            <label>Sales NMO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_NMO_2</name>
        <label>Decision - NMO 2</label>
        <locationX>167</locationX>
        <locationY>1614</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>End_of_NMO_2_Run_or_NMO_2</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N.M.O. 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.Rollup_Sales_alerts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Entered_NMO_2_On__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>In_Stage_For_7_Days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Entered_NMO_2_On__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>In_Stage_14_Days_Ago</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Entered_NMO_2_On__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>In_Stage_For_21_days</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NMO_Process_Number_of_AP_in_NMO_2_Ready_for_AP</targetReference>
            </connector>
            <label>End of NMO 2 - Run or NMO 2</label>
        </rules>
        <rules>
            <name>End_of_NMO_2_With_Alert</name>
            <conditionLogic>1 AND (2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N.M.O. 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Entered_NMO_2_On__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>In_Stage_For_7_Days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Entered_NMO_2_On__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>In_Stage_14_Days_Ago</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Entered_NMO_2_On__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>In_Stage_For_21_days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.Rollup_Sales_alerts__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NMO_Process_Number_of_AP_in_NMO_2</targetReference>
            </connector>
            <label>End of NMO 2 - With Alert</label>
        </rules>
        <rules>
            <name>End_of_NMO_2_Run_or_Exit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N.M.O. 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.Rollup_Sales_alerts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Entered_NMO_2_On__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>In_Stage_For_28_Days</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NMO_Process_Number_of_AP_in_NMO_2_Ready_for_AP_0</targetReference>
            </connector>
            <label>End of NMO 2 - Run or Exit</label>
        </rules>
        <rules>
            <name>Trigger_an_Exit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N.M.O. 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Entered_NMO_2_On__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>In_Stage_For_28_Days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.Rollup_Sales_alerts__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NMO_Process_Mark_as_Failed</targetReference>
            </connector>
            <label>Trigger an Exit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Number_of_ongoing_Alerts</name>
        <label>Decision - Number of ongoing Alerts</label>
        <locationX>490</locationX>
        <locationY>1017</locationY>
        <defaultConnectorLabel>Default outcome</defaultConnectorLabel>
        <rules>
            <name>No_ongoing_alerts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.Rollup_Sales_alerts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Locked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NMO_Process_Ready_for_AP</targetReference>
            </connector>
            <label>No ongoing alerts</label>
        </rules>
        <rules>
            <name>Has_ongoing_alerts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merchant__r.Rollup_Sales_alerts__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Locked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NMO_Process_Move_to_NMO_2</targetReference>
            </connector>
            <label>Has ongoing alerts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Phase_1</name>
        <label>Decision - Phase 1</label>
        <locationX>169</locationX>
        <locationY>469</locationY>
        <defaultConnector>
            <targetReference>Decision_Phase_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Move_to_Phase_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phase 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Begun_On__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>In_Stage_For_7_Days</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NMO_Phase_2</targetReference>
            </connector>
            <label>Move to Phase 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Phase_2</name>
        <label>Decision - Phase 2</label>
        <locationX>168</locationX>
        <locationY>733</locationY>
        <defaultConnector>
            <targetReference>Decision_Phase_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Product_Cluster</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phase 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Entered_Phase_2_On__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>In_Stage_For_7_Days</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_Update_Merchant_Record</targetReference>
            </connector>
            <label>Update Product Cluster</label>
        </rules>
        <rules>
            <name>Move_to_Phase_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phase 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Entered_Phase_2_On__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>In_Stage_14_Days_Ago</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Locked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NMO_Phase_3</targetReference>
            </connector>
            <label>Move to Phase 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Phase_3</name>
        <label>Decision - Phase 3</label>
        <locationX>166</locationX>
        <locationY>1183</locationY>
        <defaultConnector>
            <targetReference>Decision_NMO_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>End_of_Phase_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phase 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_entered_Phase_3_on__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>In_Stage_For_7_Days</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Number_of_ongoing_Alerts</targetReference>
            </connector>
            <label>End of Phase 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_NMO_locked</name>
        <label>Is NMO locked</label>
        <locationX>539</locationX>
        <locationY>1546</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Locked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Locked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trigger_AP_Sales_NMO_Move_to_Run_or_re_enter_NMO_2</targetReference>
            </connector>
            <label>Not Locked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_NMO_locked_0</name>
        <label>Is NMO locked</label>
        <locationX>540</locationX>
        <locationY>1677</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Locked_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Locked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trigger_AP_Sales_NMO_Move_to_Run_or_launch_Exit</targetReference>
            </connector>
            <label>Not Locked</label>
        </rules>
    </decisions>
    <description>SFS-476 - Bug move to NMO.2 when locked</description>
    <environments>Default</environments>
    <formulas>
        <name>Ad_1_to_AP_in_NMO2</name>
        <dataType>Number</dataType>
        <expression>({!NumberofAPinNMO_Variable} +1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>In_Stage_14_Days_Ago</name>
        <dataType>Date</dataType>
        <expression>({!$Flow.CurrentDate}-14)</expression>
    </formulas>
    <formulas>
        <name>In_Stage_For_21_days</name>
        <dataType>Date</dataType>
        <expression>({!$Flow.CurrentDate}-21)</expression>
    </formulas>
    <formulas>
        <name>In_Stage_For_28_Days</name>
        <dataType>Date</dataType>
        <expression>({!$Flow.CurrentDate}-28)</expression>
    </formulas>
    <formulas>
        <name>In_Stage_For_7_Days</name>
        <dataType>Date</dataType>
        <expression>({!$Flow.CurrentDate}-7)</expression>
    </formulas>
    <interviewLabel>Schedule Flow - NMO Stage update and automations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Flow - NMO Stage update and automations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_Update_Merchant_Record</name>
        <label>Create Task - Update Merchant Record</label>
        <locationX>470</locationX>
        <locationY>602</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.BizDevApproval__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Check Merchant Cluster</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <stringValue>Check Merchant Cluster</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Go Live Check</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_NMO_Phase_2</name>
        <label>Update NMO - Phase 2</label>
        <locationX>473</locationX>
        <locationY>476</locationY>
        <inputAssignments>
            <field>Has_Entered_Phase_2_On__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Phase 2</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NMO_Phase_3</name>
        <label>Update NMO - Phase 3</label>
        <locationX>481</locationX>
        <locationY>739</locationY>
        <inputAssignments>
            <field>Has_entered_Phase_3_on__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Phase 3</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NMO_Process_Mark_as_Failed</name>
        <label>Update NMO Process - Mark as Failed</label>
        <locationX>406</locationX>
        <locationY>1803</locationY>
        <inputAssignments>
            <field>Has_failed_NMO_on__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Locked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NMO_Process_Move_to_NMO_2</name>
        <label>Update NMO Process - Move to NMO 2</label>
        <locationX>673</locationX>
        <locationY>912</locationY>
        <inputAssignments>
            <field>Has_Entered_NMO_2_On__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>N.M.O. 2</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NMO_Process_Number_of_AP_in_NMO_2</name>
        <label>Update NMO Process - Number of AP in NMO 2</label>
        <locationX>408</locationX>
        <locationY>1413</locationY>
        <inputAssignments>
            <field>Number_of_AP_in_NMO2__c</field>
            <value>
                <elementReference>Ad_1_to_AP_in_NMO2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NMO_Process_Number_of_AP_in_NMO_2_Ready_for_AP</name>
        <label>Update NMO Process - Number of AP in NMO 2 + Ready for AP</label>
        <locationX>412</locationX>
        <locationY>1544</locationY>
        <connector>
            <targetReference>Is_NMO_locked</targetReference>
        </connector>
        <inputAssignments>
            <field>Number_of_AP_in_NMO2__c</field>
            <value>
                <elementReference>Ad_1_to_AP_in_NMO2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_for_AP__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NMO_Process_Number_of_AP_in_NMO_2_Ready_for_AP_0</name>
        <label>Update NMO Process - Number of AP in NMO 2 + Ready for AP</label>
        <locationX>398</locationX>
        <locationY>1676</locationY>
        <connector>
            <targetReference>Is_NMO_locked_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Number_of_AP_in_NMO2__c</field>
            <value>
                <elementReference>Ad_1_to_AP_in_NMO2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_for_AP__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NMO_Process_Ready_for_AP</name>
        <label>Update NMO Process - Ready for AP</label>
        <locationX>661</locationX>
        <locationY>1095</locationY>
        <connector>
            <targetReference>Trigger_AP_Sales_NMO_Move_to_Run_or_NMO_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Ready_for_AP__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Decision_Is_Sales_NMO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Saved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </filters>
        <object>NMO_Process__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-06-25</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NumberofAPinNMO_Variable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>$Record.Number_of_AP_in_NMO2__c</elementReference>
        </value>
    </variables>
</Flow>
