force-app/main/default/flows/Screen_Flow_Quality_Exception_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Cancel_Buyback_Exit</name>
        <label>Cancel Buyback Exit</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Update_Comments_MSP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Quality_Excepition_Cancel_Exit_Buyback</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_Buyback_exit_process.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Cancel_Exit_US_GA</name>
        <label>Cancel Exit US&amp;GA</label>
        <locationX>2162</locationX>
        <locationY>758</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Update_Comments_MSP_US_GA</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Quality_Excepition_Cancel_Exit_US</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_exit_process_US_GA.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Cancel_Sales_Exit</name>
        <label>Cancel Sales Exit</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Update_Comments_MSP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Quality_Excepition_Cancel_Exit</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_exit_process.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Change_ETA_for_test</name>
        <label>Change ETA for test</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Alert_Quality_Exception_ETA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_Alert.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Change_ETA_US_GA_1</name>
        <label>Change ETA US&amp;GA</label>
        <locationX>1634</locationX>
        <locationY>638</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Alert_Quality_Exception_ETA_US</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_Alert.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Change_Limitation_US_GA_1</name>
        <label>Change Limitation US&amp;GA</label>
        <locationX>1898</locationX>
        <locationY>638</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Alert_Quality_Exception_Change_limit_US</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_Alert.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Change_Sales_limitation</name>
        <label>Change Sales limitation</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Alert_Quality_Exception_Change_limit</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_Alert.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Change_Stage_on_alert</name>
        <label>Change Stage on alert</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Alert_Quality_Exception_Stage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_Alert.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Change_Stage_US_GA_1</name>
        <label>Change Stage US&amp;GA</label>
        <locationX>1370</locationX>
        <locationY>638</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Alert_Quality_Exception_Stage_US</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_Alert.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>ActionplanwithKPIOKona2weekcohort</name>
        <choiceText>Action plan with KPI OK on a 2-week cohort</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Action plan with KPI OK on a 2-week cohort</stringValue>
        </value>
    </choices>
    <choices>
        <name>BMFault</name>
        <choiceText>BackMarket Fault</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BackMarket Fault</stringValue>
        </value>
    </choices>
    <choices>
        <name>Changelimitation</name>
        <choiceText>Change Limitation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Limitation </stringValue>
        </value>
    </choices>
    <choices>
        <name>DefectiveOKatthemodelorcategorylevel</name>
        <choiceText>Defective OK at the model or category level (on 100+ orders)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Defective OK at the model or category level (on 100+ orders)</stringValue>
        </value>
    </choices>
    <choices>
        <name>ETA</name>
        <choiceText>ETA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ETA</stringValue>
        </value>
    </choices>
    <choices>
        <name>EventexternaltoBM_merchant_3rdpartyprovider</name>
        <choiceText>Event external to BM / merchant / 3rd party provider (Storm, Brexit, ...)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Event external to BM / merchant / 3rd party provider (Storm, Brexit, ...)</stringValue>
        </value>
    </choices>
    <choices>
        <name>ExitProcess</name>
        <choiceText>Cancel Exit Process</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel Exit Process</stringValue>
        </value>
    </choices>
    <choices>
        <name>ExitProcessBuyback</name>
        <choiceText>Cancel Exit Process - Buyback</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel Exit Process - Buyback</stringValue>
        </value>
    </choices>
    <choices>
        <name>ExitProcessSales</name>
        <choiceText>Cancel Exit Process - Sales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel Exit Process - Sales</stringValue>
        </value>
    </choices>
    <choices>
        <name>GateKeeperbatchCertification</name>
        <choiceText>GateKeeper batch Certification</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GateKeeper batch Certification</stringValue>
        </value>
    </choices>
    <choices>
        <name>LastChance</name>
        <choiceText>Last Chance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LastChance</stringValue>
        </value>
    </choices>
    <choices>
        <name>MonitoringPeriod</name>
        <choiceText>Monitoring Period</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monitoring Period</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>SafetyLegalissuealreadyproperlyhandledbymerchant</name>
        <choiceText>Safety / Legal issue already properly handled by Merchant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Safety / Legal issue already properly handled by Merchant</stringValue>
        </value>
    </choices>
    <choices>
        <name>SeatBelt</name>
        <choiceText>Seat Belt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Seat Belt</stringValue>
        </value>
    </choices>
    <choices>
        <name>Servicesubscriptioninallcountrieswheretherateisbelowthethreshold</name>
        <choiceText>Service subscription in all countries where the rate is below the threshold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Service subscription in all countries where the rate is below the threshold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stageofalert</name>
        <choiceText>Stage Of Alert</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stage Of Alert</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Alert_Or_Exit_Process</name>
        <label>Alert Or Exit Process</label>
        <locationX>1304</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exit_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Which_Process</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ExitProcess</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Alert.Business_Name__r.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>U_S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Alert.Business_Name__r.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>General_Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Exit_process</targetReference>
            </connector>
            <label>Exit Process</label>
        </rules>
        <rules>
            <name>Change_Stage</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>What_needs_to_be_changed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Stageofalert</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Alert.Business_Name__r.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>U_S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Alert.Business_Name__r.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>General_Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Stage_on_alert</targetReference>
            </connector>
            <label>Change Stage</label>
        </rules>
        <rules>
            <name>Change_ETA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_needs_to_be_changed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ETA</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Alert.Business_Name__r.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>U_S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Alert.Business_Name__r.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>General_Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_ETA_for_test</targetReference>
            </connector>
            <label>Change ETA</label>
        </rules>
        <rules>
            <name>Change_Limitation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_needs_to_be_changed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Changelimitation</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Alert.Business_Name__r.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>U_S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Alert.Business_Name__r.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>General_Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Sales_limitation</targetReference>
            </connector>
            <label>Change Limitation</label>
        </rules>
        <rules>
            <name>Change_Stage_US_GA</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>What_needs_to_be_changed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Stageofalert</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Alert.Business_Name__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U_S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Alert.Business_Name__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General_Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Alert.Is_Buyback__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Stage_US_GA_1</targetReference>
            </connector>
            <label>Change Stage US&amp;GA</label>
        </rules>
        <rules>
            <name>Change_ETA_US_GA</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>What_needs_to_be_changed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ETA</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Alert.Business_Name__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U_S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Alert.Business_Name__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General_Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Alert.Is_Buyback__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_ETA_US_GA_1</targetReference>
            </connector>
            <label>Change ETA US&amp;GA</label>
        </rules>
        <rules>
            <name>Change_Limitation_US_GA</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>What_needs_to_be_changed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Changelimitation</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Alert.Business_Name__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U_S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Alert.Business_Name__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General_Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Alert.Is_Buyback__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Limitation_US_GA_1</targetReference>
            </connector>
            <label>Change Limitation US&amp;GA</label>
        </rules>
        <rules>
            <name>Exit_Process_US_GA</name>
            <conditionLogic>1 AND ( 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Which_Process</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ExitProcess</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Alert.Business_Name__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U_S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Alert.Business_Name__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General_Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Alert.Is_Buyback__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_exit_process_US_GA</targetReference>
            </connector>
            <label>Exit Process US&amp;GA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Exit_process</name>
        <label>Which Exit process</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Get_exit_process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exit process Sales</defaultConnectorLabel>
        <rules>
            <name>Exit_process_Buyback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_needs_to_be_changed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ExitProcessBuyback</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Buyback_exit_process</targetReference>
            </connector>
            <label>Exit process Buyback</label>
        </rules>
    </decisions>
    <description>This flow will run from a custom button on the Alert object. SF users can ask for quality exception. 
Corrections 1</description>
    <dynamicChoiceSets>
        <name>Issue_KPI</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Issue_KPI__c</picklistField>
        <picklistObject>Alert__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CommentsFromFlow</name>
        <dataType>String</dataType>
        <expression>&quot;Which Process?:&quot;   &amp; {!Which_Process} &amp;
{!LineBreak} &amp; &quot;Process Details:&quot;   &amp; {!Process_Details} &amp;
{!LineBreak} &amp; &quot;What is the reason for exception?:&quot;   &amp; {!What_is_the_reason_for_exception} &amp;
{!LineBreak} &amp; 
IF(NOT (ISBLANK ({!What_needs_to_be_changed})), &quot;What needs to be changed?:&quot; &amp; {!What_needs_to_be_changed},    
&quot;What is your argument/proof?:&quot;   &amp; {!What_is_your_argument_proof} &amp; 
{!LineBreak} &amp; &quot;What do you request?:&quot;   &amp; {!What_do_you_request}
)</expression>
    </formulas>
    <formulas>
        <name>LineBreak</name>
        <dataType>String</dataType>
        <expression>BR( )</expression>
    </formulas>
    <interviewLabel>Screen Flow - Quality Exception {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow - Quality Exception Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Alert</name>
        <label>Get Alert</label>
        <locationX>1304</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quality_Exception_Process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Alert__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Buyback_exit_process</name>
        <label>Get Buyback exit process</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cancel_Buyback_Exit</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 ) AND 5</filterLogic>
        <filters>
            <field>Merchant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Alert.Business_Name__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Exit Phase</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ongoing Notice Period</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Done</stringValue>
            </value>
        </filters>
        <filters>
            <field>Exit_sub_reason__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Buyback </stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Merchant_Special_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_exit_process</name>
        <label>Get exit process</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cancel_Sales_Exit</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Merchant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Alert.Business_Name__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Exit Phase</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ongoing Notice Period</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Done</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Merchant_Special_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_exit_process_US_GA</name>
        <label>Get exit process US&amp;GA</label>
        <locationX>2162</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cancel_Exit_US_GA</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Merchant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Alert.Business_Name__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Exit Phase</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ongoing Notice Period</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Done</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Merchant_Special_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the comment field so that the approver has visibility of what he/she needs to do.</description>
        <name>Update_Comments_Field</name>
        <label>Update Comments Field</label>
        <locationX>1304</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Alert_Or_Exit_Process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>CommentsFromFlow</elementReference>
            </value>
        </inputAssignments>
        <object>Alert__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Comments_MSP</name>
        <label>Update Comments MSP</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_exit_process.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Buyback_exit_process.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>CommentsFromFlow</elementReference>
            </value>
        </inputAssignments>
        <object>Merchant_Special_Process__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Comments_MSP_US_GA</name>
        <label>Update Comments MSP US&amp;GA</label>
        <locationX>2162</locationX>
        <locationY>878</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_exit_process.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>CommentsFromFlow</elementReference>
            </value>
        </inputAssignments>
        <object>Merchant_Special_Process__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Quality_Exception_Process</name>
        <label>Quality Exception Process</label>
        <locationX>1304</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Comments_Field</targetReference>
        </connector>
        <fields>
            <name>Account_Name</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Account Name:&lt;/strong&gt; {!Get_Alert.Business_Name__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Alert_Name</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Alert Name:&lt;/strong&gt; {!Get_Alert.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Which_Process</name>
            <choiceReferences>MonitoringPeriod</choiceReferences>
            <choiceReferences>LastChance</choiceReferences>
            <choiceReferences>SeatBelt</choiceReferences>
            <choiceReferences>ExitProcess</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which Process?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_needs_to_be_changed</name>
            <choiceReferences>ETA</choiceReferences>
            <choiceReferences>Stageofalert</choiceReferences>
            <choiceReferences>Changelimitation</choiceReferences>
            <choiceReferences>ExitProcessSales</choiceReferences>
            <choiceReferences>ExitProcessBuyback</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What needs to be changed?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Process_Details</name>
            <choiceReferences>Issue_KPI</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Process Details</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_is_the_reason_for_exception</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>BMFault</choiceReferences>
            <choiceReferences>EventexternaltoBM_merchant_3rdpartyprovider</choiceReferences>
            <choiceReferences>ActionplanwithKPIOKona2weekcohort</choiceReferences>
            <choiceReferences>DefectiveOKatthemodelorcategorylevel</choiceReferences>
            <choiceReferences>SafetyLegalissuealreadyproperlyhandledbymerchant</choiceReferences>
            <choiceReferences>Servicesubscriptioninallcountrieswheretherateisbelowthethreshold</choiceReferences>
            <choiceReferences>GateKeeperbatchCertification</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is the reason for exception?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_is_your_argument_proof</name>
            <dataType>String</dataType>
            <fieldText>What is your argument/proof?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_do_you_request</name>
            <fieldText>What do you request?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1178</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Alert</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
