force-app/main/default/flows/ScreenFlow_Blacklisted_Merchants.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_to_Owner</name>
        <label>Send email to Owner</label>
        <locationX>3049</locationX>
        <locationY>494</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Owner_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce-team@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_Email</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Merchant_Values</name>
        <label>Assign Merchant Values</label>
        <locationX>2366</locationX>
        <locationY>317</locationY>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Merchant.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not relevant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Blacklisted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Master_Challenging_Point__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Challenging_Point__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Blacklisted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BlacklistedMerchant.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_on_Buyback_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Merchant_Values_0</name>
        <label>Assign Merchant Values</label>
        <locationX>2573</locationX>
        <locationY>412</locationY>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Merchant.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Stage_Buyback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Buyback Not relevant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Blacklisted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.Challenging_Point_BuyBack__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Blacklisted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Merchant_to_update.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BlacklistedMerchant.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Merchant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Onboarding_values</name>
        <label>Assign Onboarding values</label>
        <locationX>1851</locationX>
        <locationY>316</locationY>
        <assignmentItems>
            <assignToReference>Onboarding_to_update.Blacklist_check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Blocked by finance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Onboarding_to_update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Onboarding_values_0</name>
        <label>Assign Onboarding values</label>
        <locationX>1680</locationX>
        <locationY>642</locationY>
        <assignmentItems>
            <assignToReference>Onboarding_to_update.Blacklist_check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Validated by finance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Onboarding_to_update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Onboarding.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Onboarding_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_to_email_recipient</name>
        <label>Assign Owner to email recipient</label>
        <locationX>2916</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>Owner_Email</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Merchant.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_email_to_Owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Blacklisted_Merchant_Contact_found</name>
        <label>Decision - Blacklisted Merchant/Contact found</label>
        <locationX>1013</locationX>
        <locationY>547</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Merchant_and_or_Contact_found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Blacklisted_Merchants</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Blacklisted_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Continue_Blacklisted_found</targetReference>
            </connector>
            <label>Merchant and/or Contact found</label>
        </rules>
        <rules>
            <name>No_Blacklisted_merchant_Contact_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Blacklisted_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Blacklisted_Merchants</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Continue_Not_blacklisted_found</targetReference>
            </connector>
            <label>No Blacklisted merchant/Contact found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Can_flow_continue</name>
        <label>Decision - Can flow continue</label>
        <locationX>526</locationX>
        <locationY>543</locationY>
        <defaultConnector>
            <targetReference>Get_Blacklisted_Merchants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Information_missing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Merchant.BillingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Merchant.BillingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Merchant.BillingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Merchant.IBAN__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Info_missing</targetReference>
            </connector>
            <label>Information missing</label>
        </rules>
        <rules>
            <name>Onboarding_in_wrong_stage</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Onboarding.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Abandonned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Onboarding.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Onboarding.KYCs_Checked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_incorrect</targetReference>
            </connector>
            <label>Onboarding in wrong stage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_On_Blacklist_action</name>
        <label>Decision - On Blacklist action</label>
        <locationX>1484</locationX>
        <locationY>399</locationY>
        <defaultConnector>
            <targetReference>Continue_Blacklisted_found_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Continue_Blacklist_this_merchant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Blacklist_this_merchant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Continue_Blacklist_action</targetReference>
            </connector>
            <label>Continue - Blacklist this merchant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_Buyback_Stage</name>
        <label>Decision on Buyback Stage</label>
        <locationX>2358</locationX>
        <locationY>485</locationY>
        <defaultConnector>
            <targetReference>Update_Merchant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_stage_is_buyback_Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Merchant.Stage_Buyback__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyback Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Merchant_Values_0</targetReference>
            </connector>
            <label>Sales stage is buyback Onboarding</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_Sales_Stage</name>
        <label>Decision on Sales Stage</label>
        <locationX>2116</locationX>
        <locationY>318</locationY>
        <defaultConnector>
            <targetReference>Decision_on_Buyback_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_stage_is_Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Merchant.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Merchant_Values</targetReference>
            </connector>
            <label>Sales stage is Onboarding</label>
        </rules>
    </decisions>
    <description>Blacklist check - Push to Not Relevant if failed</description>
    <formulas>
        <name>Blacklisted_MerchantId</name>
        <dataType>String</dataType>
        <expression>if(NOT(ISBLANK({!Get_Blacklisted_Merchants.Id})), {!Get_Blacklisted_Merchants.Id}, if(NOT(ISBLANK({!Get_Blacklisted_Contact.Id})), {!Get_Blacklisted_Contact.Account.Id}, &apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>Contact_email</name>
        <dataType>String</dataType>
        <expression>If(
ISBLANK({!Get_Contact.Email}),&quot;No email&quot;,{!Get_Contact.Email})</expression>
    </formulas>
    <formulas>
        <name>Contact_Link</name>
        <dataType>String</dataType>
        <expression>&quot;https://backmarket.lightning.force.com/lightning/r/Contact/&quot;&amp;{!Get_Blacklisted_Contact.Id}&amp;&quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>Contact_MobilePhone</name>
        <dataType>String</dataType>
        <expression>If(
ISBLANK({!Get_Contact.MobilePhone}),&quot;No email&quot;,{!Get_Contact.MobilePhone})</expression>
    </formulas>
    <formulas>
        <name>Contact_Phone</name>
        <dataType>String</dataType>
        <expression>If(
ISBLANK({!Get_Contact.Phone}),&quot;No email&quot;,{!Get_Contact.Phone})</expression>
    </formulas>
    <formulas>
        <name>Merchant_Link</name>
        <dataType>String</dataType>
        <expression>&quot;https://backmarket.lightning.force.com/lightning/r/Account/&quot;&amp;{!Get_Blacklisted_Merchants.Id}&amp;&quot;/view&quot;</expression>
    </formulas>
    <interviewLabel>ScreenFlow - Blacklisted Merchants {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScreenFlow - Blacklisted Merchants</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Blacklisted_Contact</name>
        <label>Get Blacklisted Contact</label>
        <locationX>887</locationX>
        <locationY>545</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Blacklisted_Merchant_Contact_found</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Blacklisted_merchant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Phone</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_MobilePhone</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Blacklisted_Merchants</name>
        <label>Get Blacklisted Merchants</label>
        <locationX>747</locationX>
        <locationY>545</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Blacklisted_Contact</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR (3 AND 4 AND 5 ) OR 6)</filterLogic>
        <filters>
            <field>Blacklisted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Merchant.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>BillingCountry</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Merchant.BillingCountry</elementReference>
            </value>
        </filters>
        <filters>
            <field>BillingPostalCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Merchant.BillingPostalCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>BillingStreet</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Merchant.BillingStreet</elementReference>
            </value>
        </filters>
        <filters>
            <field>IBAN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Merchant.IBAN__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Stage__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>535</locationX>
        <locationY>416</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Can_flow_continue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Onboarding.Merchant__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Merchant</name>
        <label>Get Merchant</label>
        <locationX>533</locationX>
        <locationY>307</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Onboarding.Merchant__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Onboarding</name>
        <label>Get Onboarding</label>
        <locationX>534</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Merchant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Onboarding_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Merchant</name>
        <label>Update Merchant</label>
        <locationX>2773</locationX>
        <locationY>494</locationY>
        <connector>
            <targetReference>Assign_Owner_to_email_recipient</targetReference>
        </connector>
        <inputReference>Merchant_to_update</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Onboarding</name>
        <label>Update Onboarding</label>
        <locationX>1993</locationX>
        <locationY>316</locationY>
        <connector>
            <targetReference>Decision_on_Sales_Stage</targetReference>
        </connector>
        <inputReference>Onboarding_to_update</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Onboarding_0</name>
        <label>Update Onboarding</label>
        <locationX>1824</locationX>
        <locationY>641</locationY>
        <inputReference>Onboarding_to_update</inputReference>
    </recordUpdates>
    <screens>
        <name>Continue_Blacklist_action</name>
        <label>Continue - Blacklist action</label>
        <locationX>1689</locationX>
        <locationY>316</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Onboarding_values</targetReference>
        </connector>
        <fields>
            <name>Complete_Info_to_continue_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(2, 0, 0);&quot;&gt;Please select the parent account.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;i style=&quot;color: rgb(2, 0, 0);&quot;&gt;(Account that is already part of our blacklist list.)&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Parent_Merchant</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Merchant__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Parent Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Onboarding_Process__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Blacklisted_MerchantId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>BlacklistedMerchant.Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>BlacklistedMerchant.Name</assignToReference>
                <name>recordName</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Continue_Blacklisted_found</name>
        <label>Continue - Blacklisted found</label>
        <locationX>1325</locationX>
        <locationY>464</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_On_Blacklist_action</targetReference>
        </connector>
        <fields>
            <name>Complete_Info_to_continue_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(241, 8, 8);&quot;&gt;We&apos;ve found a blacklisted merchant and/or contact.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Merchant_Found</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!Merchant_Link}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_Blacklisted_Merchants.Name}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Blacklisted_Merchants.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Contact_found</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!Contact_Link}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_Blacklisted_Contact.FirstName} {!Get_Blacklisted_Contact.LastName}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Blacklisted_Contact.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Blacklist_this_merchant</name>
            <dataType>Boolean</dataType>
            <fieldText>Blacklist this merchant</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Continue_Blacklisted_found_0</name>
        <label>Continue - Blacklisted found</label>
        <locationX>1680</locationX>
        <locationY>467</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Onboarding_values_0</targetReference>
        </connector>
        <fields>
            <name>Manual_Update_required</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(12, 163, 30);&quot;&gt;Blacklist check validated.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Continue_Not_blacklisted_found</name>
        <label>Continue - Not blacklisted found</label>
        <locationX>1332</locationX>
        <locationY>641</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Onboarding_values_0</targetReference>
        </connector>
        <fields>
            <name>Complete_Info_to_continue_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(74, 176, 73);&quot;&gt;No blacklisted merchant and/or contact has been found.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Info_missing</name>
        <label>Info missing</label>
        <locationX>349</locationX>
        <locationY>457</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Complete_Info_to_continue</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(240, 1, 1);&quot;&gt;This flow cannot be used.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;);&quot;&gt;🔍  Reason: &lt;/b&gt;&lt;span style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;);&quot;&gt;Information missing. Please populate all fields before running this flow.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Stage_incorrect</name>
        <label>Stage incorrect</label>
        <locationX>351</locationX>
        <locationY>626</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Complete_Info_to_continue_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(240, 1, 1);&quot;&gt;This flow cannot be used.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;🔍  Reason: &lt;/b&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;The Onboarding Process isn&apos;t in the correct stage. It can be used only for ongoing Onboarding Processes, when all KYCs have been checked.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>409</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Onboarding</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Body_Email</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Get_Merchant.Name} was pushed to &apos;Not relevant&apos; stage. The Onboarding process has been terminated by Finance Team.&lt;/p&gt;&lt;p&gt;This merchant appears to be a blacklisted merchant trying to get re-onboarded using a new account.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your Salesforce Admin&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Subject_Email</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Get_Merchant.Name}  - Onboarding terminated</text>
    </textTemplates>
    <variables>
        <name>BlacklistedMerchant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Merchant_to_update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Onboarding_to_update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Process__c</objectType>
    </variables>
    <variables>
        <name>Owner_Email</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
