force-app/main/default/flows/Screen_Flow_Invoice_Audit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <choices>
        <name>Classic</name>
        <choiceText>Classic</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Classic</stringValue>
        </value>
    </choices>
    <choices>
        <name>Marginal</name>
        <choiceText>Marginal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marginal</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Invoice_Audit</name>
        <label>Invoice Audit?</label>
        <locationX>374</locationX>
        <locationY>328</locationY>
        <defaultConnector>
            <targetReference>Get_Merchant_from_the_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTask.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Invoice Audit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Whoops</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes_but_Completed_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTask.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoice Audit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetTask.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Whoops</targetReference>
            </connector>
            <label>Yes, but Completed Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Merchant_Record_Type</name>
        <label>Merchant Record Type</label>
        <locationX>564</locationX>
        <locationY>517</locationY>
        <defaultConnector>
            <targetReference>NonCompliant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EU_Compliant</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND ((6 AND 7) OR (8 AND 9)) AND 10</conditionLogic>
            <conditions>
                <leftValueReference>Get_Merchant_from_the_Task.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E_U</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Merchant_Information</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Customer_Information</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Date_of_the_Invoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Number_of_the_Invoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VAT_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Marginal</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VAT_Regiment_Details</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VAT_Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Marginal</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VAT_Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Critical_error_on_the_invoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>This_is_the_final_Invoice_Audit_Status</targetReference>
            </connector>
            <label>EU Compliant</label>
        </rules>
        <rules>
            <name>US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Merchant_from_the_Task.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U_S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sales_Tax_Details</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Merchant_Information</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Customer_Information</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Date_of_the_Invoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Number_of_the_Invoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Critical_error_on_the_invoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>This_is_the_final_Invoice_Audit_Status</targetReference>
            </connector>
            <label>US Compliant</label>
        </rules>
    </decisions>
    <description>Replace BizDev by Merchant Owner</description>
    <formulas>
        <name>SalesTacDetailsFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Sales_Tax_Details}=TRUE, TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>VATRegimentFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!VAT_Regiment_Details}=TRUE,TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>VATTypeUS</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Merchant_from_the_Task.RecordType.DeveloperName}=&apos;U_S&apos;,&quot;None&quot;,{!VAT_Type})</expression>
    </formulas>
    <interviewLabel>Screen Flow - Invoice Audit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow - Invoice Audit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Alert</name>
        <label>Create Alert</label>
        <locationX>998</locationX>
        <locationY>562</locationY>
        <connector>
            <targetReference>Update_Merchant_Related_to_the_Task_Failed</targetReference>
        </connector>
        <inputAssignments>
            <field>BizDev__c</field>
            <value>
                <elementReference>Get_Merchant_from_the_Task.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Name__c</field>
            <value>
                <elementReference>Get_Merchant_from_the_Task.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Critical_error_on_the_invoice__c</field>
            <value>
                <elementReference>Critical_error_on_the_invoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_information__c</field>
            <value>
                <elementReference>Customer_Information</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_the_invoice__c</field>
            <value>
                <elementReference>Date_of_the_Invoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_attachment_status__c</field>
            <value>
                <stringValue>Attached in SF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager__c</field>
            <value>
                <elementReference>Get_Merchant_from_the_Task.Manager_Sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant_information__c</field>
            <value>
                <elementReference>Merchant_Information</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Non Compliant Invoice</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.Special_Process_Record_Types_Ids__c.Invoice_Compliance_Audit_del__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Tax_Details__c</field>
            <value>
                <elementReference>SalesTacDetailsFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAT_Regiment_details__c</field>
            <value>
                <elementReference>VATRegimentFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Alert__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Merchant_from_the_Task</name>
        <label>Get Merchant from the Task</label>
        <locationX>515</locationX>
        <locationY>125</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Invoice_Compliance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetTask.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTask</name>
        <label>GetTask</label>
        <locationX>177</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoice_Audit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Merchant_Related_to_the_Task_Failed</name>
        <label>Update Merchant Related to the Task Failed</label>
        <locationX>1158</locationX>
        <locationY>562</locationY>
        <connector>
            <targetReference>Update_Task_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetTask.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Invoice_Audit_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Compliance_Status__c</field>
            <value>
                <stringValue>Ongoing Non-compliance Alert</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Merchant_Related_to_the_Task_Sucess</name>
        <label>Update Merchant Related to the Task Sucess</label>
        <locationX>1007</locationX>
        <locationY>413</locationY>
        <connector>
            <targetReference>Update_Task_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetTask.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Invoice_Audit_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Compliance_Status__c</field>
            <value>
                <stringValue>Compliant</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Status</name>
        <label>Update Task Status</label>
        <locationX>1340</locationX>
        <locationY>421</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetTask.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <screens>
        <name>Check_Invoice_Compliance</name>
        <label>Check Invoice Compliance</label>
        <locationX>691</locationX>
        <locationY>179</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Merchant_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Invoice_Compliance</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please complete the details about your Invoice:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VAT_Type</name>
            <choiceReferences>Classic</choiceReferences>
            <choiceReferences>Marginal</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>VAT Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Indicate the VAT type displayed on the invoice. It should be &apos;Classic&apos; if the merchant is applying the VAT rate of the customer&apos;s country (usually around 20%). It should be &apos;Marginal&apos; if there is no VAT amount but the merchant is stating &apos;VAT non applicate - Special Scheme - second hand goods&apos;. It should be &apos;None&apos; if none of these two.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Merchant_from_the_Task.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>E_U</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VAT_Regiment_Details</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>VAT Regiment Details</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Tick the box if the invoice states: VAT non applicate &apos;Special Scheme - second hand goods&apos;.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Merchant_from_the_Task.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>E_U</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Critical_error_on_the_invoice</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Critical error on the invoice</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Tick the box if you think that the invoice you audited is so bad that we need to take immediate action with the merchant (invoice which doesn’t look at all like one, invoice sent as an editable file, etc.)&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Sales_Tax_Details</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Sales Tax Details</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Merchant_from_the_Task.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>U_S</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Merchant_Information</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Merchant Information</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Tick the box if the invoice displays everything hereafter: the corporate name of the merchant, their head office or legal domicile address, their company ID number (e.g. SIRET in FR), and their VAT number.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_Information</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Customer Information</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Tick the box if the invoice displays the full name and the address of the customer.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Number_of_the_Invoice</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Number of the Invoice</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Tick the box if the invoice displays an invoice number / reference ID.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_of_the_Invoice</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Date of the Invoice</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Tick the box if the invoice displays the date of the invoice.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NonCompliant</name>
        <label>NonCompliant</label>
        <locationX>798</locationX>
        <locationY>562</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Alert</targetReference>
        </connector>
        <fields>
            <name>NonCompliantInvoice</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Sorry, the Invoice you Audited is not compliant.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_Upload_the_Invoice</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please Upload the Invoice</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetTask.WhatId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Invoice_Attached2</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Invoice Attached</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please attach the audited invoice and mark the checkbox with true.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF({!Invoice_Attached2}=FALSE,FALSE,TRUE)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>This_is_the_final_Invoice_Audit_Status</name>
        <label>This is the final Invoice Audit Status</label>
        <locationX>804</locationX>
        <locationY>413</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Merchant_Related_to_the_Task_Sucess</targetReference>
        </connector>
        <fields>
            <name>CompliantInvoice</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 157, 10);&quot;&gt;Success! The Invoice you Audited is compliant!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 157, 10);&quot;&gt;Please add your Invoice to the Attachment.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_Upload_the_Compliant_Invoice</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please Upload the Compliant Invoice</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetTask.WhatId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Invoice_Attached</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Invoice Attached</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Please attach the audited invoice and mark the checkbox with true.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF({!Invoice_Attached}=FALSE,FALSE,TRUE)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Whoops</name>
        <label>Whoops</label>
        <locationX>125</locationX>
        <locationY>478</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Whoopss</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Whoops, you can&apos;t do the Invoice Audit for this task. The reason can be:&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Case Type is not Invoice Audit&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;You already performed Audit on for this Task&lt;/b&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetTask</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AttachmentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Compliant Invoice - Initial Audit</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
