force-app/main/default/flows/Screen_Flow_Quality_Exception_Process_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Submit_for_Approval_Buyback_US</name>
        <label>Submit for Approval Buyback US</label>
        <locationX>1106</locationX>
        <locationY>878</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Alert_Quality_Exception_Buyback_V2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_Buyback_Alerts_US_GA.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_for_Approval_EU</name>
        <label>Submit for Approval EU</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Alert_Quality_Exception_v2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_Alert.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_for_Approval_EU_Buyback</name>
        <label>Submit for Approval EU Buyback</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Alert_Quality_Exception_Buyback_V2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_Buyback_Alerts.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_for_Approval_US</name>
        <label>Submit for Approval US</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Alert_Quality_Exception_US_V2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_Alert.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>ActionplanwithKPIOKona2weekcohort</name>
        <choiceText>Action plan with KPI OK on a 2-week cohort</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Action plan with KPI OK on a 2-week cohort</stringValue>
        </value>
    </choices>
    <choices>
        <name>Alertlimitation</name>
        <choiceText>Alert Limitation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alert Limitation </stringValue>
        </value>
    </choices>
    <choices>
        <name>BMFault</name>
        <choiceText>BackMarket Fault</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BackMarket Fault</stringValue>
        </value>
    </choices>
    <choices>
        <name>DefectiveOKatthemodelorcategorylevel</name>
        <choiceText>Defective OK at the model or category level (on 100+ orders)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Defective OK at the model or category level (on 100+ orders)</stringValue>
        </value>
    </choices>
    <choices>
        <name>ETA</name>
        <choiceText>ETA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ETA</stringValue>
        </value>
    </choices>
    <choices>
        <name>EventexternaltoBM_merchant_3rdpartyprovider</name>
        <choiceText>Event external to BM / merchant / 3rd party provider (Storm, Brexit, ...)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Event external to BM / merchant / 3rd party provider (Storm, Brexit, ...)</stringValue>
        </value>
    </choices>
    <choices>
        <name>ExitProcess</name>
        <choiceText>Cancel Exit Process</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel Exit Process</stringValue>
        </value>
    </choices>
    <choices>
        <name>ExitProcessBuyback</name>
        <choiceText>Cancel Exit Process - Buyback</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel Exit Process - Buyback</stringValue>
        </value>
    </choices>
    <choices>
        <name>ExitProcessSales</name>
        <choiceText>Cancel Exit Process - Sales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel Exit Process - Sales</stringValue>
        </value>
    </choices>
    <choices>
        <name>Failed</name>
        <choiceText>Failed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Failed</stringValue>
        </value>
    </choices>
    <choices>
        <name>GateKeeperbatchCertification</name>
        <choiceText>GateKeeper batch Certification</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GateKeeper batch Certification</stringValue>
        </value>
    </choices>
    <choices>
        <name>Last_chance</name>
        <choiceText>Last chance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Last chance</stringValue>
        </value>
    </choices>
    <choices>
        <name>LastChance</name>
        <choiceText>Last Chance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LastChance</stringValue>
        </value>
    </choices>
    <choices>
        <name>MonitoringPeriod</name>
        <choiceText>Monitoring Period</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monitoring Period</stringValue>
        </value>
    </choices>
    <choices>
        <name>MonitoringPeriod1</name>
        <choiceText>Monitoring Period</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monitoring Period</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Refused</name>
        <choiceText>Refused</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Refused</stringValue>
        </value>
    </choices>
    <choices>
        <name>SafetyLegalissuealreadyproperlyhandledbymerchant</name>
        <choiceText>Safety / Legal issue already properly handled by Merchant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Safety / Legal issue already properly handled by Merchant</stringValue>
        </value>
    </choices>
    <choices>
        <name>Saved</name>
        <choiceText>Saved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Saved</stringValue>
        </value>
    </choices>
    <choices>
        <name>SeatBelt</name>
        <choiceText>Seat Belt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Seat Belt</stringValue>
        </value>
    </choices>
    <choices>
        <name>Servicesubscriptioninallcountrieswheretherateisbelowthethreshold</name>
        <choiceText>Service subscription in all countries where the rate is below the threshold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Service subscription in all countries where the rate is below the threshold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stageofalert</name>
        <choiceText>Stage of Alert</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stage of Alert</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Alert_Approval_Process</name>
        <label>Alert Approval Process</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Alert_EU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Alert.Business_Name__r.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>U_S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Alert.Business_Name__r.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>General_Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Alert.Is_Buyback__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_for_Approval_EU</targetReference>
            </connector>
            <label>Alert EU</label>
        </rules>
        <rules>
            <name>Alert_EU_Buyback</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Alert.Is_Buyback__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Alert.Business_Name__r.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>U_S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Alert.Business_Name__r.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>General_Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Buyback_Alerts</targetReference>
            </connector>
            <label>Alert EU Buyback</label>
        </rules>
        <rules>
            <name>Alert_US_GA</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Alert.Business_Name__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U_S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Alert.Business_Name__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General_Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Buyback_Alerts_US_GA.Is_Buyback__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_for_Approval_US</targetReference>
            </connector>
            <label>Alert US&amp;GA</label>
        </rules>
        <rules>
            <name>Alert_Buyback_US_GA</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Alert.Business_Name__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>U_S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Alert.Business_Name__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General_Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Alert.Is_Buyback__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Buyback_Alerts_US_GA</targetReference>
            </connector>
            <label>Alert Buyback US&amp;GA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Action_plan_filled_on_Alert_Record</name>
        <label>Is Action plan filled on Alert Record?</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Update_Comments_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>1 AND (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Saved_Reason</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>ActionplanwithKPIOKona2weekcohort</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Alert.Action_plan_comment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Alert.Action_Plan_s_pushed__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Improvements</description>
    <dynamicChoiceSets>
        <name>ActionPlanPushed</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Action_Plan_s_pushed__c</picklistField>
        <picklistObject>Alert__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Issue_KPI</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Issue_KPI__c</picklistField>
        <picklistObject>Alert__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SavedReasonValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Saved_reason__c</picklistField>
        <picklistObject>Alert__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Stage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Stage__c</picklistField>
        <picklistObject>Alert__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StageValues</name>
        <dataType>String</dataType>
        <displayField>Stage__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Alert__c</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>XYZ</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Stage__c</picklistField>
        <picklistObject>Alert__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CommentsFromFlow</name>
        <dataType>String</dataType>
        <expression>&quot;Please give us all the details for this request:&quot;  &amp; {!LineBreak} &amp; {!Please_give_us_all_the_details_for_this_request}</expression>
    </formulas>
    <formulas>
        <name>LineBreak</name>
        <dataType>String</dataType>
        <expression>BR( )</expression>
    </formulas>
    <formulas>
        <name>TextStage</name>
        <dataType>String</dataType>
        <expression>TEXT({!Stage})</expression>
    </formulas>
    <interviewLabel>Screen Flow - Quality Exception Process V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow - Quality Exception Process V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Alert</name>
        <label>Get Alert</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quality_Exception_Process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Alert__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Buyback_Alerts</name>
        <label>Get Buyback Alerts</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Submit_for_Approval_EU_Buyback</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Alert__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Buyback_Alerts_US_GA</name>
        <label>Get Buyback Alerts US&amp;GA</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Submit_for_Approval_Buyback_US</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Alert__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the comment field so that the approver has visibility of what he/she needs to do.</description>
        <name>Update_Comments_Field</name>
        <label>Update Comments Field</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Alert_Approval_Process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>CommentsFromFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Saved_reason__c</field>
            <value>
                <elementReference>Saved_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_New_Alert_Limitation_1__c</field>
            <value>
                <elementReference>New_Alert_Limitation_to_be_applied_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_New_ETA__c</field>
            <value>
                <elementReference>New_ETA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_New_Stage_2__c</field>
            <value>
                <elementReference>New_Stage</elementReference>
            </value>
        </inputAssignments>
        <object>Alert__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(250, 4, 4);&quot;&gt;Please fill in Action Plan-Comment &amp;amp; Action Plan(s) Pushed and request for quality exceptition &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Quality_Exception_Process</name>
        <label>Quality Exception Process</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Action_plan_filled_on_Alert_Record</targetReference>
        </connector>
        <fields>
            <name>Account_Name</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Account Name:&lt;/strong&gt; {!Get_Alert.Business_Name__r.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Alert_Name</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Alert Name:&lt;/strong&gt; {!Get_Alert.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_needs_to_be_changed</name>
            <choiceReferences>ETA</choiceReferences>
            <choiceReferences>Stageofalert</choiceReferences>
            <choiceReferences>Alertlimitation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What needs to be changed?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_ETA</name>
            <dataType>Date</dataType>
            <fieldText>New ETA?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>What_needs_to_be_changed</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>ETA</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Stage</name>
            <choiceReferences>MonitoringPeriod1</choiceReferences>
            <choiceReferences>Last_chance</choiceReferences>
            <choiceReferences>Refused</choiceReferences>
            <choiceReferences>Saved</choiceReferences>
            <choiceReferences>Failed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>New Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_needs_to_be_changed</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>Stageofalert</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Saved_Reason</name>
            <choiceReferences>SavedReasonValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Saved Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>New_Stage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Saved</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Alert_Limitation_to_be_applied_1</name>
            <dataType>Number</dataType>
            <fieldText>New Alert Limitation to be applied?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_needs_to_be_changed</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>Alertlimitation</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Please_give_us_all_the_details_for_this_request</name>
            <fieldText>Please give us all the details for this request</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Alert</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
