force-app/main/default/flows/Screen_Flow_SSC_Case_v2_From_account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <dynamicChoiceSets>
        <name>contacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SSC_login_enabled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Screen Flow - SSC Case v2 - From account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow - SSC Case v2 - From account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Contact_Screen</name>
        <label>Contact Screen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SSC_Case_v2</targetReference>
        </connector>
        <fields>
            <name>Submit_request</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(17, 17, 17); font-size: 20px;&quot;&gt;Submit a request on behalf of my Seller&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Through this functionality, Seller Success Managers can submit directly a ticket on behalf of their counterpart.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please choose carefully the contact on behalf of which you are submitting it, as the ticket will appear directly on their SSC account.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_the_contact</name>
            <choiceReferences>contacts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the contact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SSC_Case_v2</name>
        <label>SSC Case v2</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <flowName>Screen_Flow_SSC_Case_v2</flowName>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>Select_the_contact</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
