force-app/main/default/flows/Screen_Flow_After_approval_update_Saved_reason.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>SavedReason</name>
        <choiceText>{!Get_Alert.Saved_reason__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Alert.Saved_reason__c</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Approval_process_related_to_Alert</name>
        <label>Approval process related to Alert?</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Alert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Approval_process.ProcessInstance.TargetObjectId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Alert.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Alert.TECH_New_Stage_2__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>saved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Saved_Reason</targetReference>
            </connector>
            <label>Alert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approver</name>
        <label>Approver?</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Approval_process.Actor:User.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UserFullID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Alert</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>SavedReason1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Saved_reason__c</picklistField>
        <picklistObject>Alert__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>UserFullID</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>Screen Flow - After approval update Saved reason {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow - After approval update Saved reason</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Alert</name>
        <label>Get Alert</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approval_process_related_to_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Approval_process.ProcessInstance.TargetObjectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Alert__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Approval_process</name>
        <label>Get Approval process</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceWorkitem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Alert</name>
        <label>Update Alert</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Alert.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Saved_reason__c</field>
            <value>
                <elementReference>Saved_Reason</elementReference>
            </value>
        </inputAssignments>
        <object>Alert__c</object>
    </recordUpdates>
    <screens>
        <name>Update_Saved_Reason</name>
        <label>Update Saved Reason</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Alert</targetReference>
        </connector>
        <fields>
            <name>UpdateSavedReason</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Update when Alert stage needs to be changed to &lt;/strong&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;&quot;SAVED&quot;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Saved_Reason</name>
            <choiceReferences>SavedReason1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Saved Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Approval_process</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Collect approval process ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
