force-app/main/default/flows/Send_P_K_to_the_Merchant.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_in_DE</name>
        <label>Send email in DE</label>
        <locationX>773</locationX>
        <locationY>420</locationY>
        <actionName>Contact.Merchant_P_K_DE</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CreateTask</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_in_EN</name>
        <label>Send email in EN</label>
        <locationX>1112</locationX>
        <locationY>259</locationY>
        <actionName>Contact.Merchant_P_K_EN</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CreateTask</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_in_ES</name>
        <label>Send email in ES</label>
        <locationX>912</locationX>
        <locationY>423</locationY>
        <actionName>Contact.Merchant_P_K_ES</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CreateTask</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_in_FR</name>
        <label>Send email in FR</label>
        <locationX>592</locationX>
        <locationY>413</locationY>
        <actionName>Contact.Merchant_P_K_FR</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CreateTask</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_in_IT</name>
        <label>Send email in IT</label>
        <locationX>1048</locationX>
        <locationY>368</locationY>
        <actionName>Contact.Merchant_P_K_IT</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CreateTask</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Language_of_the_merchant</name>
        <label>Language of the merchant</label>
        <locationX>850</locationX>
        <locationY>226</locationY>
        <defaultConnector>
            <targetReference>Send_email_in_EN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_P_K_to_the_merchant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchant.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-fr</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_in_FR</targetReference>
            </connector>
            <label>FR</label>
        </rules>
        <rules>
            <name>ES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_P_K_to_the_merchant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchant.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>es-es</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_in_ES</targetReference>
            </connector>
            <label>ES</label>
        </rules>
        <rules>
            <name>DE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_P_K_to_the_merchant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchant.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>de-de</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_in_DE</targetReference>
            </connector>
            <label>DE</label>
        </rules>
        <rules>
            <name>IT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_P_K_to_the_merchant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMerchant.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>it-it</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_in_IT</targetReference>
            </connector>
            <label>IT</label>
        </rules>
    </decisions>
    <description>Screen Flow placed on the Contact Lightning record page used to send P.K. number to the merchant.</description>
    <formulas>
        <name>CurrentUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Send P.K. to the Merchant {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Send P.K. to the Merchant</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateTask</name>
        <label>CreateTask</label>
        <locationX>1446</locationX>
        <locationY>177</locationY>
        <connector>
            <targetReference>Footer_end</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CurrentUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Email: Email with P.K. sent to the merchant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>GetMerchant.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get all the field values from the Contact record.</description>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>336</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetMerchant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Save all the fields from the merchant related to the Contact.</description>
        <name>GetMerchant</name>
        <label>GetMerchant</label>
        <locationX>505</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetContact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all the fields from the user that started the flow.</description>
        <name>GetUser</name>
        <label>GetUser</label>
        <locationX>670</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Language_of_the_merchant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Footer_end</name>
        <label>Success_message</label>
        <locationX>1650</locationX>
        <locationY>176</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 176, 64); background-color: rgb(255, 255, 255);&quot;&gt; You successfully sent an email and task is created - it will show up under your Merchant and the Contact.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Selection</name>
        <label>Screen Selection</label>
        <locationX>176</locationX>
        <locationY>224</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
        <fields>
            <name>Send_PK</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Please use this button to send an email with their P.K. to the merchant (in their native language):&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Send_P_K_to_the_merchant</name>
            <dataType>Boolean</dataType>
            <fieldText>Send P.K. to the merchant</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Screen_Selection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
