force-app/main/default/flows/Service_Before_Save_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Stage_is_Changed</name>
        <label>Stage is Changed</label>
        <locationX>264</locationX>
        <locationY>366</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TECH_PK_is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TECH_PK__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Merchant</targetReference>
            </connector>
            <label>TECH PK is blank</label>
        </rules>
        <rules>
            <name>New_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Buyer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Services__c.ManaRecordType__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_New_Service</targetReference>
            </connector>
            <label>New Service - Buyer</label>
        </rules>
        <rules>
            <name>New_Service_Seller</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Seller__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Services__c.ManaRecordType__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_New_Service_Seller</targetReference>
            </connector>
            <label>New Service - Seller</label>
        </rules>
        <rules>
            <name>New_Service_Buyer_and_Seller</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Buyer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Seller__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Services__c.ManaRecordType__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Service_Update_Buyer_and_Seller</targetReference>
            </connector>
            <label>New Service - Buyer and Seller</label>
        </rules>
        <rules>
            <name>Buyer_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mana_Buyer_Onboarding_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Mana_Buyer_Onboarding_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Services__c.ManaRecordType__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Buyer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_Buyer_Status_Change_Date</targetReference>
            </connector>
            <label>Buyer Status Change</label>
        </rules>
        <rules>
            <name>Seller_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mana_Seller_Onboarding_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Mana_Seller_Onboarding_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Services__c.ManaRecordType__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Seller__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_Seller_Status_Change_Date</targetReference>
            </connector>
            <label>Seller Status Change</label>
        </rules>
        <rules>
            <name>Buyer_and_Seller_Status_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mana_Buyer_Onboarding_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Mana_Buyer_Onboarding_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mana_Seller_Onboarding_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Mana_Seller_Onboarding_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Services__c.ManaRecordType__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Buyer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Seller__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Buyer_and_Seller_Last_Status_Change_Date</targetReference>
            </connector>
            <label>Buyer and Seller Status Change</label>
        </rules>
    </decisions>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Service - Before Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service - Before Save Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Merchant</name>
        <label>Get Merchant</label>
        <locationX>50</locationX>
        <locationY>379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Tech_PK</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Business_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>New_Service_Update_Buyer_and_Seller</name>
        <label>New Service - Update Buyer and Seller</label>
        <locationX>839</locationX>
        <locationY>104</locationY>
        <inputAssignments>
            <field>Last_Buyer_Status_Change_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Seller_Status_Change_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Buyer_and_Seller_Last_Status_Change_Date</name>
        <label>Update Buyer and Seller Last Status Change Date</label>
        <locationX>829</locationX>
        <locationY>481</locationY>
        <inputAssignments>
            <field>Last_Buyer_Status_Change_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Seller_Status_Change_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Last_Buyer_Status_Change_Date</name>
        <label>Update Last Buyer Status Change Date</label>
        <locationX>542</locationX>
        <locationY>473</locationY>
        <inputAssignments>
            <field>Last_Buyer_Status_Change_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Last_Seller_Status_Change_Date</name>
        <label>Update Last Seller Status Change Date</label>
        <locationX>681</locationX>
        <locationY>477</locationY>
        <inputAssignments>
            <field>Last_Seller_Status_Change_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Service</name>
        <label>Update New Service Buyer</label>
        <locationX>561</locationX>
        <locationY>104</locationY>
        <inputAssignments>
            <field>Last_Buyer_Status_Change_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Service_Seller</name>
        <label>Update New Service - Seller</label>
        <locationX>700</locationX>
        <locationY>103</locationY>
        <inputAssignments>
            <field>Last_Seller_Status_Change_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tech_PK</name>
        <label>Update Tech PK</label>
        <locationX>87</locationX>
        <locationY>545</locationY>
        <connector>
            <targetReference>Stage_is_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>TECH_PK__c</field>
            <value>
                <elementReference>Get_Merchant.TECH_P_K__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>173</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Stage_is_Changed</targetReference>
        </connector>
        <object>Service__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
