force-app/main/default/flows/Service_After_Save_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_BackCare_Austria</name>
        <label>Assign BackCare Austria</label>
        <locationX>2780</locationX>
        <locationY>835</locationY>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackCare_Loop_Through_TCs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Back_Care__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Austria__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TC_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BackCare_Belgium</name>
        <label>Assign BackCare Belgium</label>
        <locationX>2686</locationX>
        <locationY>837</locationY>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackCare_Loop_Through_TCs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Back_Care__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Belgium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TC_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BackCare_Canada</name>
        <label>Assign BackCare Canada</label>
        <locationX>2597</locationX>
        <locationY>834</locationY>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackCare_Loop_Through_TCs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Back_Care__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Canada__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TC_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BackCare_Finland</name>
        <label>Assign BackCare Finland</label>
        <locationX>2502</locationX>
        <locationY>834</locationY>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackCare_Loop_Through_TCs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Back_Care__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Finland__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TC_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BackCare_France_0_0_0</name>
        <label>Assign BackCare France</label>
        <locationX>2414</locationX>
        <locationY>832</locationY>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackCare_Loop_Through_TCs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Back_Care__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.France__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TC_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BackCare_Germany</name>
        <label>Assign BackCare Germany</label>
        <locationX>2323</locationX>
        <locationY>833</locationY>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackCare_Loop_Through_TCs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Back_Care__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Germany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TC_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BackCare_Greece</name>
        <label>Assign BackCare Greece</label>
        <locationX>2240</locationX>
        <locationY>835</locationY>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackCare_Loop_Through_TCs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Back_Care__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Greece__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TC_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BackCare_Ireland</name>
        <label>Assign BackCare Ireland</label>
        <locationX>2140</locationX>
        <locationY>830</locationY>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackCare_Loop_Through_TCs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Back_Care__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Ireland__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TC_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BackCare_Italy</name>
        <label>Assign BackCare Italy</label>
        <locationX>2763</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackCare_Loop_Through_TCs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Back_Care__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Italy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TC_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BackCare_Netherlands</name>
        <label>Assign BackCare Netherlands</label>
        <locationX>2671</locationX>
        <locationY>972</locationY>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackCare_Loop_Through_TCs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Back_Care__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Netherlands__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TC_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BackCare_Portugal</name>
        <label>Assign BackCare Portugal</label>
        <locationX>2576</locationX>
        <locationY>977</locationY>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackCare_Loop_Through_TCs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Back_Care__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Portugal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TC_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BackCare_Slovakia</name>
        <label>Assign BackCare Slovakia</label>
        <locationX>2484</locationX>
        <locationY>980</locationY>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackCare_Loop_Through_TCs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Back_Care__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Slovakia__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TC_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BackCare_Spain</name>
        <label>Assign BackCare Spain</label>
        <locationX>2397</locationX>
        <locationY>975</locationY>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackCare_Loop_Through_TCs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Back_Care__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Spain__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TC_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BackCare_Sweden</name>
        <label>Assign BackCare Sweden</label>
        <locationX>2316</locationX>
        <locationY>977</locationY>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackCare_Loop_Through_TCs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Back_Care__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sweden__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TC_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BackCare_UK</name>
        <label>Assign BackCare UK</label>
        <locationX>2222</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackCare_Loop_Through_TCs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Back_Care__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.United_Kingdom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TC_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BackCare_US</name>
        <label>Assign BackCare US</label>
        <locationX>2133</locationX>
        <locationY>972</locationY>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackCare_Loop_Through_TCs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Back_Care__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.United_States__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TC_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BackShip_Austria</name>
        <label>Assign BackShip Austria</label>
        <locationX>987</locationX>
        <locationY>945</locationY>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackShip_Loop_Through_TCs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Carrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Carrier_Austria__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TC_to_list_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BackShip_Belgium</name>
        <label>Assign BackShip Belgium</label>
        <locationX>893</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackShip_Loop_Through_TCs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Carrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Carrier_Belgium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TC_to_list_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BackShip_Canada</name>
        <label>Assign BackShip Canada</label>
        <locationX>804</locationX>
        <locationY>944</locationY>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackShip_Loop_Through_TCs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Carrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Carrier_Canada__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TC_to_list_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BackShip_Finland</name>
        <label>Assign BackShip Finland</label>
        <locationX>709</locationX>
        <locationY>944</locationY>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackShip_Loop_Through_TCs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Carrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Carrier_Finland__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TC_to_list_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BackShip_France</name>
        <label>Assign BackShip France</label>
        <locationX>621</locationX>
        <locationY>942</locationY>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackShip_Loop_Through_TCs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Carrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Carrier_France__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TC_to_list_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BackShip_Germany</name>
        <label>Assign BackShip Germany</label>
        <locationX>530</locationX>
        <locationY>943</locationY>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackShip_Loop_Through_TCs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Carrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Carrier_Germany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TC_to_list_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BackShip_Greece</name>
        <label>Assign BackShip Greece</label>
        <locationX>447</locationX>
        <locationY>945</locationY>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackShip_Loop_Through_TCs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Carrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Carrier_Greece__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TC_to_list_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BackShip_Ireland</name>
        <label>Assign BackShip Ireland</label>
        <locationX>352</locationX>
        <locationY>940</locationY>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackShip_Loop_Through_TCs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Carrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Carrier_Ireland__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TC_to_list_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BackShip_Italy</name>
        <label>Assign BackShip Italy</label>
        <locationX>970</locationX>
        <locationY>1081</locationY>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackShip_Loop_Through_TCs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Carrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Carrier_Italy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TC_to_list_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BackShip_Netherlands</name>
        <label>Assign BackShip Netherlands</label>
        <locationX>878</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackShip_Loop_Through_TCs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Carrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Carrier_Netherlands__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TC_to_list_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BackShip_Portugal</name>
        <label>Assign BackShip Portugal</label>
        <locationX>783</locationX>
        <locationY>1087</locationY>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackShip_Loop_Through_TCs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Carrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Carrier_Portugal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TC_to_list_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BackShip_Slovakia</name>
        <label>Assign BackShip Slovakia</label>
        <locationX>691</locationX>
        <locationY>1090</locationY>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackShip_Loop_Through_TCs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Carrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Carrier_Slovakia__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TC_to_list_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BackShip_Spain</name>
        <label>Assign BackShip Spain</label>
        <locationX>604</locationX>
        <locationY>1085</locationY>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackShip_Loop_Through_TCs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Carrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Carrier_Spain__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TC_to_list_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BackShip_Sweden</name>
        <label>Assign BackShip Sweden</label>
        <locationX>523</locationX>
        <locationY>1087</locationY>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackShip_Loop_Through_TCs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Carrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Carrier_Sweden__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TC_to_list_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BackShip_UK</name>
        <label>Assign BackShip UK</label>
        <locationX>429</locationX>
        <locationY>1084</locationY>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackShip_Loop_Through_TCs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Carrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Carrier_United_Kingdom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TC_to_list_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BackShip_US</name>
        <label>Assign BackShip US</label>
        <locationX>340</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackShip_Loop_Through_TCs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Carrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Carrier_United_States__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_TC_to_Update.Tech_TC_NoTrigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_TC_to_list_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BC_Austria</name>
        <label>Assign BC Austria</label>
        <locationX>2852</locationX>
        <locationY>488</locationY>
        <assignmentItems>
            <assignToReference>BackCareAustria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BC_Loop_Through_TCs.Back_Care__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BC_Loop_Through_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BC_Belgium</name>
        <label>Assign BC Belgium</label>
        <locationX>2754</locationX>
        <locationY>489</locationY>
        <assignmentItems>
            <assignToReference>BackCareBelgium</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BC_Loop_Through_TCs.Back_Care__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BC_Loop_Through_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BC_Canada</name>
        <label>Assign BC Canada</label>
        <locationX>2659</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>BackCareCanada</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BC_Loop_Through_TCs.Back_Care__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BC_Loop_Through_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BC_Finland</name>
        <label>Assign BC Finland</label>
        <locationX>2568</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>BackCareFinland</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BC_Loop_Through_TCs.Back_Care__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BC_Loop_Through_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BC_France</name>
        <label>Assign BC France</label>
        <locationX>2457</locationX>
        <locationY>497</locationY>
        <assignmentItems>
            <assignToReference>BackCareFrance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BC_Loop_Through_TCs.Back_Care__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BC_Loop_Through_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BC_Greece</name>
        <label>Assign BC Greece</label>
        <locationX>2276</locationX>
        <locationY>501</locationY>
        <assignmentItems>
            <assignToReference>BackCareGreece</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BC_Loop_Through_TCs.Back_Care__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BC_Loop_Through_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BC_Ireland</name>
        <label>Assign BC Ireland</label>
        <locationX>2188</locationX>
        <locationY>496</locationY>
        <assignmentItems>
            <assignToReference>BackCareIreland</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BC_Loop_Through_TCs.Back_Care__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BC_Loop_Through_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BC_Italy</name>
        <label>Assign BC Italy</label>
        <locationX>2852</locationX>
        <locationY>619</locationY>
        <assignmentItems>
            <assignToReference>BackCareItaly</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BC_Loop_Through_TCs.Back_Care__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BC_Loop_Through_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BC_Netherlands</name>
        <label>Assign BC Netherlands</label>
        <locationX>2749</locationX>
        <locationY>616</locationY>
        <assignmentItems>
            <assignToReference>BackCareNetherlands</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BC_Loop_Through_TCs.Back_Care__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BC_Loop_Through_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BC_Portugal</name>
        <label>Assign BC Portugal</label>
        <locationX>2654</locationX>
        <locationY>619</locationY>
        <assignmentItems>
            <assignToReference>BackCarePortugal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BC_Loop_Through_TCs.Back_Care__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BC_Loop_Through_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BC_Slovakia</name>
        <label>Assign BC Slovakia</label>
        <locationX>2558</locationX>
        <locationY>619</locationY>
        <assignmentItems>
            <assignToReference>BackCareSlovakia</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BC_Loop_Through_TCs.Back_Care__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BC_Loop_Through_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BC_Spain</name>
        <label>Assign BC Spain</label>
        <locationX>2463</locationX>
        <locationY>619</locationY>
        <assignmentItems>
            <assignToReference>BackCareSpain</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BC_Loop_Through_TCs.Back_Care__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BC_Loop_Through_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BC_Sweden</name>
        <label>Assign BC Sweden</label>
        <locationX>2363</locationX>
        <locationY>618</locationY>
        <assignmentItems>
            <assignToReference>BackCareSweden</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BC_Loop_Through_TCs.Back_Care__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BC_Loop_Through_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BC_UK</name>
        <label>Assign BC UK</label>
        <locationX>2275</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>BackCareUK</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BC_Loop_Through_TCs.Back_Care__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BC_Loop_Through_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BC_US</name>
        <label>Assign BC US</label>
        <locationX>2190</locationX>
        <locationY>621</locationY>
        <assignmentItems>
            <assignToReference>BackCareUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BC_Loop_Through_TCs.Back_Care__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BC_Loop_Through_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Carrier_Austria</name>
        <label>Assign Carrier Austria</label>
        <locationX>960</locationX>
        <locationY>577</locationY>
        <assignmentItems>
            <assignToReference>CarrierAustria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BS_Loop_Through_TCs.Carrier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BS_Loop_Through_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Carrier_Belgium</name>
        <label>Assign Carrier Belgium</label>
        <locationX>862</locationX>
        <locationY>578</locationY>
        <assignmentItems>
            <assignToReference>CarrierBelgium</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BS_Loop_Through_TCs.Carrier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BS_Loop_Through_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Carrier_Canada</name>
        <label>Assign Carrier Canada</label>
        <locationX>767</locationX>
        <locationY>580</locationY>
        <assignmentItems>
            <assignToReference>CarrierCanada</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BS_Loop_Through_TCs.Carrier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BS_Loop_Through_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Carrier_ermany_0</name>
        <label>Assign BC Germany</label>
        <locationX>2360</locationX>
        <locationY>497</locationY>
        <assignmentItems>
            <assignToReference>BackCareGermany</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BC_Loop_Through_TCs.Back_Care__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BC_Loop_Through_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Carrier_Finland</name>
        <label>Assign Carrier Finland</label>
        <locationX>676</locationX>
        <locationY>580</locationY>
        <assignmentItems>
            <assignToReference>CarrierFinland</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BS_Loop_Through_TCs.Carrier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BS_Loop_Through_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Carrier_France</name>
        <label>Assign Carrier France</label>
        <locationX>565</locationX>
        <locationY>586</locationY>
        <assignmentItems>
            <assignToReference>CarrierFrance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BS_Loop_Through_TCs.Carrier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BS_Loop_Through_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Carrier_Germany</name>
        <label>Assign Carrier Germany</label>
        <locationX>457</locationX>
        <locationY>582</locationY>
        <assignmentItems>
            <assignToReference>CarrierGermany</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BS_Loop_Through_TCs.Carrier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BS_Loop_Through_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Carrier_Greece</name>
        <label>Assign Carrier Greece</label>
        <locationX>384</locationX>
        <locationY>590</locationY>
        <assignmentItems>
            <assignToReference>CarrierGreece</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BS_Loop_Through_TCs.Carrier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BS_Loop_Through_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Carrier_Ireland</name>
        <label>Assign Carrier Ireland</label>
        <locationX>297</locationX>
        <locationY>585</locationY>
        <assignmentItems>
            <assignToReference>CarrierIreland</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BS_Loop_Through_TCs.Carrier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BS_Loop_Through_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Carrier_Italy</name>
        <label>Assign Carrier Italy</label>
        <locationX>960</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>CarrierItaly</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BS_Loop_Through_TCs.Carrier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BS_Loop_Through_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Carrier_Netherlands</name>
        <label>Assign Carrier Netherlands</label>
        <locationX>857</locationX>
        <locationY>705</locationY>
        <assignmentItems>
            <assignToReference>CarrierNetherlands</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BS_Loop_Through_TCs.Carrier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BS_Loop_Through_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Carrier_Portugal</name>
        <label>Assign Carrier Portugal</label>
        <locationX>762</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>CarrierPortugal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BS_Loop_Through_TCs.Carrier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BS_Loop_Through_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Carrier_Slovakia</name>
        <label>Assign Carrier Slovakia</label>
        <locationX>666</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>CarrierSlovakia</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BS_Loop_Through_TCs.Carrier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BS_Loop_Through_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Carrier_Spain</name>
        <label>Assign Carrier Spain</label>
        <locationX>571</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>CarrierSpain</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BS_Loop_Through_TCs.Carrier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BS_Loop_Through_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Carrier_Sweden</name>
        <label>Assign Carrier Sweden</label>
        <locationX>471</locationX>
        <locationY>707</locationY>
        <assignmentItems>
            <assignToReference>CarrierSweden</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BS_Loop_Through_TCs.Carrier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BS_Loop_Through_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Carrier_UK</name>
        <label>Assign Carrier UK</label>
        <locationX>384</locationX>
        <locationY>713</locationY>
        <assignmentItems>
            <assignToReference>CarrierUK</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BS_Loop_Through_TCs.Carrier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BS_Loop_Through_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Carrier_US</name>
        <label>Assign Carrier US</label>
        <locationX>298</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>CarrierUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BS_Loop_Through_TCs.Carrier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BS_Loop_Through_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TC_to_list</name>
        <label>Assign TC to list</label>
        <locationX>2926</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>TCtoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Temp_TC_to_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BackCare_Loop_Through_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TC_to_list_0</name>
        <label>Assign TC to list</label>
        <locationX>50</locationX>
        <locationY>1024</locationY>
        <assignmentItems>
            <assignToReference>TCtoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Temp_TC_to_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BackShip_Loop_Through_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Back_Care_Done</name>
        <label>Back Care Done</label>
        <locationX>1663</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>BackCareDone</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Other_Updates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Back_Ship_Done</name>
        <label>Back Ship Done</label>
        <locationX>2358</locationX>
        <locationY>1314</locationY>
        <assignmentItems>
            <assignToReference>StageUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Other_Updates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Back_Ship_Done1</name>
        <label>Back Ship Done</label>
        <locationX>1367</locationX>
        <locationY>496</locationY>
        <assignmentItems>
            <assignToReference>BackShipDone</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Other_Updates</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bypass</name>
        <label>Bypass</label>
        <locationX>1533</locationX>
        <locationY>367</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_isn_t_activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ByPassFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Service</targetReference>
            </connector>
            <label>Bypass isn&apos;t activated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Updates</name>
        <label>Other Updates</label>
        <locationX>1537</locationX>
        <locationY>1327</locationY>
        <defaultConnector>
            <targetReference>Service_Date_of_Activation_Deactivation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Back_Care_Status_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back Care</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BackCareState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Back_Care_to_Active</targetReference>
            </connector>
            <label>Back Care - Status Active</label>
        </rules>
        <rules>
            <name>Back_Care_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackCareState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back Care</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Back_Care_to_Inactive</targetReference>
            </connector>
            <label>Back Care - Inactive</label>
        </rules>
        <rules>
            <name>Back_Ship_Status_Active</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16) AND 17</conditionLogic>
            <conditions>
                <leftValueReference>BackShipState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back Ship</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_Austria__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_Belgium__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_Finland__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_France__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_Germany__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_Greece__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_Ireland__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_Italy__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_Netherlands__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_Portugal__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_Spain__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_United_Kingdom__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_United_States__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Back_Ship_Active</targetReference>
            </connector>
            <label>Back Ship - Status Active</label>
        </rules>
        <rules>
            <name>Back_Ship_Inactive</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16) AND 17</conditionLogic>
            <conditions>
                <leftValueReference>BackShipState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back Ship</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_Austria__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_Belgium__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_Finland__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_France__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_Germany__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_Greece__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_Ireland__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_Italy__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_Netherlands__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_Portugal__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_Spain__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_United_Kingdom__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_United_States__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StageUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Back_Ship_Inactive</targetReference>
            </connector>
            <label>Back Ship - Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Date_of_Activation_Deactivation</name>
        <label>Service Date of Activation/Deactivation</label>
        <locationX>1537</locationX>
        <locationY>1575</locationY>
        <defaultConnector>
            <targetReference>Update_TECH_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_of_Activation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_of_Activation</targetReference>
            </connector>
            <label>Active</label>
        </rules>
        <rules>
            <name>Deactivated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_of_Deactivation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_of_Deactivation</targetReference>
            </connector>
            <label>Deactivated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Targeted_Country</name>
        <label>Targeted Country</label>
        <locationX>1096</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>BS_Loop_Through_TCs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Carrier_Austria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BS_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Austria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Carrier_Austria</targetReference>
            </connector>
            <label>Carrier Austria</label>
        </rules>
        <rules>
            <name>Carrier_Belgium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BS_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Belgium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Carrier_Belgium</targetReference>
            </connector>
            <label>Carrier Belgium</label>
        </rules>
        <rules>
            <name>Carrier_Canada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BS_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Carrier_Canada</targetReference>
            </connector>
            <label>Carrier Canada</label>
        </rules>
        <rules>
            <name>Carrier_Finland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BS_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Carrier_Finland</targetReference>
            </connector>
            <label>Carrier Finland</label>
        </rules>
        <rules>
            <name>Carrier_France</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BS_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>France</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Carrier_France</targetReference>
            </connector>
            <label>Carrier France</label>
        </rules>
        <rules>
            <name>Carrier_Germany</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BS_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Carrier_Germany</targetReference>
            </connector>
            <label>Carrier Germany</label>
        </rules>
        <rules>
            <name>Carrier_Greece</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BS_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Greece</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Carrier_Greece</targetReference>
            </connector>
            <label>Carrier Greece</label>
        </rules>
        <rules>
            <name>Carrier_Ireland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BS_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ireland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Carrier_Ireland</targetReference>
            </connector>
            <label>Carrier Ireland</label>
        </rules>
        <rules>
            <name>Carrier_Italy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BS_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Italy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Carrier_Italy</targetReference>
            </connector>
            <label>Carrier Italy</label>
        </rules>
        <rules>
            <name>Carrier_Netherlands</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BS_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Netherlands</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Carrier_Netherlands</targetReference>
            </connector>
            <label>Carrier Netherlands</label>
        </rules>
        <rules>
            <name>Carrier_Portugal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BS_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portugal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Carrier_Portugal</targetReference>
            </connector>
            <label>Carrier Portugal</label>
        </rules>
        <rules>
            <name>Carrier_Slovakia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BS_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Slovakia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Carrier_Slovakia</targetReference>
            </connector>
            <label>Carrier Slovakia</label>
        </rules>
        <rules>
            <name>Carrier_Spain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BS_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spain</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Carrier_Spain</targetReference>
            </connector>
            <label>Carrier Spain</label>
        </rules>
        <rules>
            <name>Carrier_Sweden</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BS_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sweden</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Carrier_Sweden</targetReference>
            </connector>
            <label>Carrier Sweden</label>
        </rules>
        <rules>
            <name>Carrier_UK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BS_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Kingdom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Carrier_UK</targetReference>
            </connector>
            <label>Carrier UK</label>
        </rules>
        <rules>
            <name>Carrier_US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BS_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Carrier_US</targetReference>
            </connector>
            <label>Carrier US</label>
        </rules>
    </decisions>
    <decisions>
        <name>Targeted_Country_0</name>
        <label>Targeted Country</label>
        <locationX>2000</locationX>
        <locationY>554</locationY>
        <defaultConnector>
            <targetReference>BC_Loop_Through_TCs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Austria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BC_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Austria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BC_Austria</targetReference>
            </connector>
            <label>Austria</label>
        </rules>
        <rules>
            <name>Belgium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BC_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Belgium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BC_Belgium</targetReference>
            </connector>
            <label>Belgium</label>
        </rules>
        <rules>
            <name>Canada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BC_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BC_Canada</targetReference>
            </connector>
            <label>Canada</label>
        </rules>
        <rules>
            <name>Finland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BC_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BC_Finland</targetReference>
            </connector>
            <label>Finland</label>
        </rules>
        <rules>
            <name>France</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BC_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>France</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BC_France</targetReference>
            </connector>
            <label>France</label>
        </rules>
        <rules>
            <name>Germany</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BC_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Carrier_ermany_0</targetReference>
            </connector>
            <label>Germany</label>
        </rules>
        <rules>
            <name>Greece</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BC_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Greece</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BC_Greece</targetReference>
            </connector>
            <label>Greece</label>
        </rules>
        <rules>
            <name>Ireland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BC_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ireland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BC_Ireland</targetReference>
            </connector>
            <label>Ireland</label>
        </rules>
        <rules>
            <name>Italy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BC_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Italy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BC_Italy</targetReference>
            </connector>
            <label>Italy</label>
        </rules>
        <rules>
            <name>Netherlands</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BC_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Netherlands</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BC_Netherlands</targetReference>
            </connector>
            <label>Netherlands</label>
        </rules>
        <rules>
            <name>Portugal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BC_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portugal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BC_Portugal</targetReference>
            </connector>
            <label>Portugal</label>
        </rules>
        <rules>
            <name>Slovakia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BC_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Slovakia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BC_Slovakia</targetReference>
            </connector>
            <label>Slovakia</label>
        </rules>
        <rules>
            <name>Spain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BC_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spain</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BC_Spain</targetReference>
            </connector>
            <label>Spain</label>
        </rules>
        <rules>
            <name>Sweden</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BC_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sweden</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BC_Sweden</targetReference>
            </connector>
            <label>Sweden</label>
        </rules>
        <rules>
            <name>UK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BC_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Kingdom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BC_UK</targetReference>
            </connector>
            <label>UK</label>
        </rules>
        <rules>
            <name>US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BC_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BC_US</targetReference>
            </connector>
            <label>US</label>
        </rules>
    </decisions>
    <decisions>
        <name>Targeted_Country_0_0</name>
        <label>Targeted Country</label>
        <locationX>1990</locationX>
        <locationY>860</locationY>
        <defaultConnector>
            <targetReference>BackCare_Loop_Through_TCs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Austria_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackCare_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Austria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BackCare_Austria</targetReference>
            </connector>
            <label>Austria</label>
        </rules>
        <rules>
            <name>Belgium_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackCare_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Belgium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BackCare_Belgium</targetReference>
            </connector>
            <label>Belgium</label>
        </rules>
        <rules>
            <name>Canada_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackCare_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BackCare_Canada</targetReference>
            </connector>
            <label>Canada</label>
        </rules>
        <rules>
            <name>Finland_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackCare_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BackCare_Finland</targetReference>
            </connector>
            <label>Finland</label>
        </rules>
        <rules>
            <name>France_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackCare_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>France</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BackCare_France_0_0_0</targetReference>
            </connector>
            <label>France</label>
        </rules>
        <rules>
            <name>Germany_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackCare_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BackCare_Germany</targetReference>
            </connector>
            <label>Germany</label>
        </rules>
        <rules>
            <name>Greece_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackCare_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Greece</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BackCare_Greece</targetReference>
            </connector>
            <label>Greece</label>
        </rules>
        <rules>
            <name>Ireland_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackCare_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ireland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BackCare_Ireland</targetReference>
            </connector>
            <label>Ireland</label>
        </rules>
        <rules>
            <name>Italy_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackCare_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Italy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BackCare_Italy</targetReference>
            </connector>
            <label>Italy</label>
        </rules>
        <rules>
            <name>Netherlands_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackCare_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Netherlands</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BackCare_Netherlands</targetReference>
            </connector>
            <label>Netherlands</label>
        </rules>
        <rules>
            <name>Portugal_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackCare_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portugal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BackCare_Portugal</targetReference>
            </connector>
            <label>Portugal</label>
        </rules>
        <rules>
            <name>Slovakia_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackCare_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Slovakia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BackCare_Slovakia</targetReference>
            </connector>
            <label>Slovakia</label>
        </rules>
        <rules>
            <name>Spain_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackCare_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spain</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BackCare_Spain</targetReference>
            </connector>
            <label>Spain</label>
        </rules>
        <rules>
            <name>Sweden_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackCare_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sweden</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BackCare_Sweden</targetReference>
            </connector>
            <label>Sweden</label>
        </rules>
        <rules>
            <name>UK_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackCare_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Kingdom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BackCare_UK</targetReference>
            </connector>
            <label>UK</label>
        </rules>
        <rules>
            <name>US_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackCare_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BackCare_US</targetReference>
            </connector>
            <label>US</label>
        </rules>
    </decisions>
    <decisions>
        <name>Targeted_Country_0_0_0</name>
        <label>Targeted Country</label>
        <locationX>1104</locationX>
        <locationY>1019</locationY>
        <defaultConnector>
            <targetReference>BackShip_Loop_Through_TCs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Austria_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackShip_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Austria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BackShip_Austria</targetReference>
            </connector>
            <label>Austria</label>
        </rules>
        <rules>
            <name>Belgium_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackShip_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Belgium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BackShip_Belgium</targetReference>
            </connector>
            <label>Belgium</label>
        </rules>
        <rules>
            <name>Canada_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackShip_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BackShip_Canada</targetReference>
            </connector>
            <label>Canada</label>
        </rules>
        <rules>
            <name>Finland_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackCare_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BackShip_Finland</targetReference>
            </connector>
            <label>Finland</label>
        </rules>
        <rules>
            <name>France_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackShip_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>France</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BackShip_France</targetReference>
            </connector>
            <label>France</label>
        </rules>
        <rules>
            <name>Germany_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackShip_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BackShip_Germany</targetReference>
            </connector>
            <label>Germany</label>
        </rules>
        <rules>
            <name>Greece_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackShip_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Greece</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BackShip_Greece</targetReference>
            </connector>
            <label>Greece</label>
        </rules>
        <rules>
            <name>Ireland_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackShip_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ireland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BackShip_Ireland</targetReference>
            </connector>
            <label>Ireland</label>
        </rules>
        <rules>
            <name>Italy_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackShip_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Italy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BackShip_Italy</targetReference>
            </connector>
            <label>Italy</label>
        </rules>
        <rules>
            <name>Netherlands_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackShip_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Netherlands</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BackShip_Netherlands</targetReference>
            </connector>
            <label>Netherlands</label>
        </rules>
        <rules>
            <name>Portugal_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackShip_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Portugal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BackShip_Portugal</targetReference>
            </connector>
            <label>Portugal</label>
        </rules>
        <rules>
            <name>Slovakia_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackShip_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Slovakia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BackShip_Slovakia</targetReference>
            </connector>
            <label>Slovakia</label>
        </rules>
        <rules>
            <name>Spain_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackShip_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spain</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BackShip_Spain</targetReference>
            </connector>
            <label>Spain</label>
        </rules>
        <rules>
            <name>Sweden_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackShip_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sweden</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BackShip_Sweden</targetReference>
            </connector>
            <label>Sweden</label>
        </rules>
        <rules>
            <name>UK_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackShip_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Kingdom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BackShip_UK</targetReference>
            </connector>
            <label>UK</label>
        </rules>
        <rules>
            <name>US_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BackShip_Loop_Through_TCs.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BackShip_US</targetReference>
            </connector>
            <label>US</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Service</name>
        <label>Which Service?</label>
        <locationX>1535</locationX>
        <locationY>569</locationY>
        <defaultConnector>
            <targetReference>Other_Updates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Back_Care_Tech_field_is_False</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17 OR 18)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TECH_Trigger_Back_Care_Update__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back Care</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ireland__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Ireland__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Greece__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Greece__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Germany__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Germany__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.France__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.France__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Finland__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Finland__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Canada__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Canada__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Belgium__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Belgium__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Austria__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Austria__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.United_States__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.United_States__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.United_Kingdom__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.United_Kingdom__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sweden__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sweden__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Spain__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Spain__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Slovakia__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Slovakia__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Portugal__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Portugal__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Netherlands__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Netherlands__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Italy__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Italy__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BackCare_Get_TCs_for_the_Merchant</targetReference>
            </connector>
            <label>Back Care Tech field is False</label>
        </rules>
        <rules>
            <name>Back_Care</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back Care</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BackCareDone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TECH_Trigger_Back_Care_Update__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BC_Get_TCs_for_the_Merchant</targetReference>
            </connector>
            <label>Back Care</label>
        </rules>
        <rules>
            <name>Back_Ship_Tech_field_is_False</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17 OR 18)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TECH_Trigger_Back_Ship_Update__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back Ship</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_Ireland__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Carrier_Ireland__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_Greece__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Carrier_Greece__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_Germany__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Carrier_Germany__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_France__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Carrier_France__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_Finland__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Carrier_Finland__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_Canada__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Carrier_Canada__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_Belgium__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Carrier_Belgium__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_Austria__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Carrier_Austria__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_United_States__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Carrier_United_States__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_United_Kingdom__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Carrier_United_Kingdom__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_Sweden__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Carrier_Sweden__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_Spain__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Carrier_Spain__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_Slovakia__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Carrier_Slovakia__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_Portugal__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Carrier_Portugal__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_Netherlands__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Carrier_Netherlands__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier_Italy__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Carrier_Italy__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BackShip_Get_TCs_for_the_Merchant</targetReference>
            </connector>
            <label>Back Ship Tech field is False</label>
        </rules>
        <rules>
            <name>Back_Ship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TECH_Trigger_Back_Ship_Update__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back Ship</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BackShipDone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BS_Get_TCs_for_the_Merchant</targetReference>
            </connector>
            <label>Back Ship</label>
        </rules>
    </decisions>
    <description>TECH - BackShip Update and BackCare Update - Back Ship Active Fix</description>
    <formulas>
        <name>BackCareState</name>
        <dataType>String</dataType>
        <expression>IF(
AND(
{!$Record.Austria__c}=FALSE,
{!$Record.Belgium__c}=FALSE,
{!$Record.Finland__c}=FALSE,
{!$Record.France__c}=FALSE,
{!$Record.Germany__c}=FALSE,
{!$Record.Greece__c}=FALSE,
{!$Record.Greece__c}=FALSE,
{!$Record.Ireland__c}=FALSE,
{!$Record.Italy__c}=FALSE,
{!$Record.Netherlands__c}=FALSE,
{!$Record.Portugal__c}=FALSE,
{!$Record.Spain__c}=FALSE,
{!$Record.United_Kingdom__c}=FALSE,
{!$Record.United_States__c}=FALSE),&quot;Not Active&quot;,&quot;Active&quot;)</expression>
    </formulas>
    <formulas>
        <name>BackShipState</name>
        <dataType>String</dataType>
        <expression>IF(
OR(
INCLUDES({!$Record.Carrier_Austria__c},&quot;86&quot;),
INCLUDES({!$Record.Carrier_Austria__c},&quot;97&quot;),
INCLUDES({!$Record.Carrier_Austria__c},&quot;75&quot;),
INCLUDES({!$Record.Carrier_Austria__c},&quot;89&quot;),
INCLUDES({!$Record.Carrier_Austria__c},&quot;106&quot;),

INCLUDES({!$Record.Carrier_Belgium__c},&quot;86&quot;),
INCLUDES({!$Record.Carrier_Belgium__c},&quot;97&quot;),
INCLUDES({!$Record.Carrier_Belgium__c},&quot;75&quot;),
INCLUDES({!$Record.Carrier_Belgium__c},&quot;89&quot;),
INCLUDES({!$Record.Carrier_Belgium__c},&quot;106&quot;),

INCLUDES({!$Record.Carrier_Finland__c},&quot;86&quot;),
INCLUDES({!$Record.Carrier_Finland__c},&quot;97&quot;),
INCLUDES({!$Record.Carrier_Finland__c},&quot;75&quot;),
INCLUDES({!$Record.Carrier_Finland__c},&quot;89&quot;),
INCLUDES({!$Record.Carrier_Finland__c},&quot;106&quot;),

INCLUDES({!$Record.Carrier_France__c},&quot;86&quot;),
INCLUDES({!$Record.Carrier_France__c},&quot;97&quot;),
INCLUDES({!$Record.Carrier_France__c},&quot;75&quot;),
INCLUDES({!$Record.Carrier_France__c},&quot;89&quot;),
INCLUDES({!$Record.Carrier_France__c},&quot;106&quot;),

INCLUDES({!$Record.Carrier_Germany__c},&quot;86&quot;),
INCLUDES({!$Record.Carrier_Germany__c},&quot;97&quot;),
INCLUDES({!$Record.Carrier_Germany__c},&quot;75&quot;),
INCLUDES({!$Record.Carrier_Germany__c},&quot;89&quot;),
INCLUDES({!$Record.Carrier_Germany__c},&quot;106&quot;),

INCLUDES({!$Record.Carrier_Greece__c},&quot;86&quot;),
INCLUDES({!$Record.Carrier_Greece__c},&quot;97&quot;),
INCLUDES({!$Record.Carrier_Greece__c},&quot;75&quot;),
INCLUDES({!$Record.Carrier_Greece__c},&quot;89&quot;),
INCLUDES({!$Record.Carrier_Greece__c},&quot;106&quot;),

INCLUDES({!$Record.Carrier_Ireland__c},&quot;86&quot;),
INCLUDES({!$Record.Carrier_Ireland__c},&quot;97&quot;),
INCLUDES({!$Record.Carrier_Ireland__c},&quot;75&quot;),
INCLUDES({!$Record.Carrier_Ireland__c},&quot;89&quot;),
INCLUDES({!$Record.Carrier_Ireland__c},&quot;106&quot;),

INCLUDES({!$Record.Carrier_Italy__c},&quot;86&quot;),
INCLUDES({!$Record.Carrier_Italy__c},&quot;97&quot;),
INCLUDES({!$Record.Carrier_Italy__c},&quot;75&quot;),
INCLUDES({!$Record.Carrier_Italy__c},&quot;89&quot;),
INCLUDES({!$Record.Carrier_Italy__c},&quot;106&quot;),

INCLUDES({!$Record.Carrier_Netherlands__c},&quot;86&quot;),
INCLUDES({!$Record.Carrier_Netherlands__c},&quot;97&quot;),
INCLUDES({!$Record.Carrier_Netherlands__c},&quot;75&quot;),
INCLUDES({!$Record.Carrier_Netherlands__c},&quot;89&quot;),
INCLUDES({!$Record.Carrier_Netherlands__c},&quot;106&quot;),

INCLUDES({!$Record.Carrier_Portugal__c},&quot;86&quot;),
INCLUDES({!$Record.Carrier_Portugal__c},&quot;97&quot;),
INCLUDES({!$Record.Carrier_Portugal__c},&quot;75&quot;),
INCLUDES({!$Record.Carrier_Portugal__c},&quot;89&quot;),
INCLUDES({!$Record.Carrier_Portugal__c},&quot;106&quot;),

INCLUDES({!$Record.Carrier_Spain__c},&quot;86&quot;),
INCLUDES({!$Record.Carrier_Spain__c},&quot;97&quot;),
INCLUDES({!$Record.Carrier_Spain__c},&quot;75&quot;),
INCLUDES({!$Record.Carrier_Spain__c},&quot;89&quot;),
INCLUDES({!$Record.Carrier_Spain__c},&quot;106&quot;),

INCLUDES({!$Record.Carrier_United_Kingdom__c},&quot;86&quot;),
INCLUDES({!$Record.Carrier_United_Kingdom__c},&quot;97&quot;),
INCLUDES({!$Record.Carrier_United_Kingdom__c},&quot;75&quot;),
INCLUDES({!$Record.Carrier_United_Kingdom__c},&quot;89&quot;),
INCLUDES({!$Record.Carrier_United_Kingdom__c},&quot;106&quot;),

INCLUDES({!$Record.Carrier_United_States__c},&quot;86&quot;),
INCLUDES({!$Record.Carrier_United_States__c},&quot;97&quot;),
INCLUDES({!$Record.Carrier_United_States__c},&quot;75&quot;),
INCLUDES({!$Record.Carrier_United_States__c},&quot;89&quot;),
INCLUDES({!$Record.Carrier_United_States__c},&quot;106&quot;)),
&quot;Active&quot;,&quot;Not Active&quot;)</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Service - After Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service - After Save Flow</label>
    <loops>
        <name>BackCare_Loop_Through_TCs</name>
        <label>BackCare - Loop Through TCs</label>
        <locationX>1839</locationX>
        <locationY>771</locationY>
        <collectionReference>BackCare_Get_TCs_for_the_Merchant</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Targeted_Country_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Back_Care_Targeted_Country</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>BackShip_Loop_Through_TCs</name>
        <label>BackShip- Loop Through TCs</label>
        <locationX>1234</locationX>
        <locationY>779</locationY>
        <collectionReference>BackShip_Get_TCs_for_the_Merchant</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Targeted_Country_0_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Back_Ship_Targeted_Country</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>BC_Loop_Through_TCs</name>
        <label>BC - Loop Through TCs</label>
        <locationX>2007</locationX>
        <locationY>311</locationY>
        <collectionReference>BC_Get_TCs_for_the_Merchant</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Targeted_Country_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Back_Care_Service</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>BS_Loop_Through_TCs</name>
        <label>BS - Loop Through TCs</label>
        <locationX>1103</locationX>
        <locationY>405</locationY>
        <collectionReference>BS_Get_TCs_for_the_Merchant</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Targeted_Country</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Back_Ship_Service</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>BackCare_Get_TCs_for_the_Merchant</name>
        <label>BackCare - Get TCs for the Merchant</label>
        <locationX>1695</locationX>
        <locationY>855</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BackCare_Loop_Through_TCs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Merchant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Business_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Targeted_Country__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>BackShip_Get_TCs_for_the_Merchant</name>
        <label>BackShip - Get TCs for the Merchant</label>
        <locationX>1361</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BackShip_Loop_Through_TCs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Merchant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Business_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Targeted_Country__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>BC_Get_TCs_for_the_Merchant</name>
        <label>BC - Get TCs for the Merchant</label>
        <locationX>1815</locationX>
        <locationY>567</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BC_Loop_Through_TCs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Merchant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Business_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Targeted_Country__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>BS_Get_TCs_for_the_Merchant</name>
        <label>BS - Get TCs for the Merchant</label>
        <locationX>1216</locationX>
        <locationY>570</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BS_Loop_Through_TCs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Merchant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Business_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Targeted_Country__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Back_Care_Service</name>
        <label>Update Back Care Service</label>
        <locationX>1861</locationX>
        <locationY>333</locationY>
        <connector>
            <targetReference>Back_Care_Done</targetReference>
        </connector>
        <inputAssignments>
            <field>Austria__c</field>
            <value>
                <elementReference>BackCareAustria</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Belgium__c</field>
            <value>
                <elementReference>BackCareBelgium</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canada__c</field>
            <value>
                <elementReference>BackCareCanada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Finland__c</field>
            <value>
                <elementReference>BackCareFinland</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>France__c</field>
            <value>
                <elementReference>BackCareFrance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Germany__c</field>
            <value>
                <elementReference>BackCareGermany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Greece__c</field>
            <value>
                <elementReference>BackCareGreece</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ireland__c</field>
            <value>
                <elementReference>BackCareIreland</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Italy__c</field>
            <value>
                <elementReference>BackCareItaly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Netherlands__c</field>
            <value>
                <elementReference>BackCareNetherlands</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portugal__c</field>
            <value>
                <elementReference>BackCarePortugal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Slovakia__c</field>
            <value>
                <elementReference>BackCareSlovakia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spain__c</field>
            <value>
                <elementReference>BackCareSpain</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sweden__c</field>
            <value>
                <elementReference>BackCareSweden</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>United_Kingdom__c</field>
            <value>
                <elementReference>BackCareUK</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>United_States__c</field>
            <value>
                <elementReference>BackCareUS</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Back_Care_Targeted_Country</name>
        <label>Update Back Care Targeted Country</label>
        <locationX>1843</locationX>
        <locationY>966</locationY>
        <connector>
            <targetReference>Other_Updates</targetReference>
        </connector>
        <inputReference>TCtoUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Back_Care_to_Active</name>
        <label>Update Back Care to Active</label>
        <locationX>1696</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Back_Ship_Done</targetReference>
        </connector>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Back_Care_to_Inactive</name>
        <label>Update Back Care to Inactive</label>
        <locationX>2050</locationX>
        <locationY>1189</locationY>
        <connector>
            <targetReference>Back_Ship_Done</targetReference>
        </connector>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Back_Ship_Active</name>
        <label>Update Back Ship - Active</label>
        <locationX>1946</locationX>
        <locationY>1450</locationY>
        <connector>
            <targetReference>Back_Ship_Done</targetReference>
        </connector>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Back_Ship_Inactive</name>
        <label>Update Back Ship - Inactive</label>
        <locationX>2042</locationX>
        <locationY>1357</locationY>
        <connector>
            <targetReference>Back_Ship_Done</targetReference>
        </connector>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Back_Ship_Service</name>
        <label>Update Back Ship Service</label>
        <locationX>1246</locationX>
        <locationY>365</locationY>
        <connector>
            <targetReference>Back_Ship_Done1</targetReference>
        </connector>
        <inputAssignments>
            <field>Carrier_Austria__c</field>
            <value>
                <elementReference>CarrierAustria</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carrier_Belgium__c</field>
            <value>
                <elementReference>CarrierBelgium</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carrier_Canada__c</field>
            <value>
                <elementReference>CarrierCanada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carrier_Finland__c</field>
            <value>
                <elementReference>CarrierFinland</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carrier_France__c</field>
            <value>
                <elementReference>CarrierFrance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carrier_Germany__c</field>
            <value>
                <elementReference>CarrierGermany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carrier_Greece__c</field>
            <value>
                <elementReference>CarrierGreece</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carrier_Ireland__c</field>
            <value>
                <elementReference>CarrierIreland</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carrier_Italy__c</field>
            <value>
                <elementReference>CarrierItaly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carrier_Netherlands__c</field>
            <value>
                <elementReference>CarrierNetherlands</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carrier_Portugal__c</field>
            <value>
                <elementReference>CarrierPortugal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carrier_Slovakia__c</field>
            <value>
                <elementReference>CarrierSlovakia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carrier_Spain__c</field>
            <value>
                <elementReference>CarrierSpain</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carrier_Sweden__c</field>
            <value>
                <elementReference>CarrierSweden</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carrier_United_Kingdom__c</field>
            <value>
                <elementReference>CarrierUK</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carrier_United_States__c</field>
            <value>
                <elementReference>CarrierUS</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Back_Ship_Targeted_Country</name>
        <label>Update Back Ship Targeted Country</label>
        <locationX>1239</locationX>
        <locationY>1061</locationY>
        <connector>
            <targetReference>Other_Updates</targetReference>
        </connector>
        <inputReference>TCtoUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Date_of_Activation</name>
        <label>Update Date of Activation</label>
        <locationX>1839</locationX>
        <locationY>1526</locationY>
        <connector>
            <targetReference>Service_Date_of_Activation_Deactivation</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_of_Activation__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Date_of_Deactivation</name>
        <label>Update Date of Deactivation</label>
        <locationX>1843</locationX>
        <locationY>1649</locationY>
        <connector>
            <targetReference>Service_Date_of_Activation_Deactivation</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_of_Deactivation__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TECH_Field</name>
        <label>Update TECH Field</label>
        <locationX>1548</locationX>
        <locationY>1892</locationY>
        <inputAssignments>
            <field>TECH_Trigger_Back_Care_Update__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_Trigger_Back_Ship_Update__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1413</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Bypass</targetReference>
        </connector>
        <object>Service__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AustriaEdited</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BackCareAustria</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BackCareBelgium</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BackCareCanada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BackCareDone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BackCareFinland</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BackCareFrance</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BackCareGermany</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BackCareGreece</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BackCareIreland</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BackCareItaly</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BackCareNetherlands</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BackCarePortugal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BackCareSlovakia</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BackCareSpain</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BackCareSweden</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BackCareUK</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BackCareUS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BackShipDone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BelgiumEdited</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CanadaEdited</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CarrierAustria</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CarrierBelgium</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CarrierCanada</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CarrierFinland</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CarrierFrance</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CarrierGermany</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CarrierGreece</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CarrierIreland</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CarrierItaly</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CarrierNetherlands</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CarrierPortugal</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CarrierSlovakia</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CarrierSpain</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CarrierSweden</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CarrierUK</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CarrierUS</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinlandEdited</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FranceEdited</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>GermanyEdited</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>GreeceEdited</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IrelandEdited</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ItalyEdited</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NetherlandsEdited</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PortugalEdited</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SlovakiaEdited</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SpainEdited</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>StageUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SwedenEdited</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TCtoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Targeted_Country__c</objectType>
    </variables>
    <variables>
        <name>TEMP_Back_Ship_Service</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>Temp_TC_to_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Targeted_Country__c</objectType>
    </variables>
    <variables>
        <name>TEMPBackShipService</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>UKEdited</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>USEdited</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
