force-app/main/default/flows/Targeted_Country_After_save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Alert_Bizdev_Language_test_DE</name>
        <label>Email Alert - Bizdev - Language test - DE</label>
        <locationX>1358</locationX>
        <locationY>240</locationY>
        <actionName>Account.Bizdev_Language_test_DE</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_merchant_and_TC_test_sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_merchant.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Bizdev_Language_test_EN</name>
        <label>Email Alert - Bizdev - Language test - EN</label>
        <locationX>1224</locationX>
        <locationY>230</locationY>
        <actionName>Account.Bizdev_Language_test_EN</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_merchant_and_TC_test_sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_merchant.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Bizdev_Language_test_ES</name>
        <label>Email Alert - Bizdev - Language test - ES</label>
        <locationX>1484</locationX>
        <locationY>242</locationY>
        <actionName>Account.Bizdev_Language_test_ES</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_merchant_and_TC_test_sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_merchant.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Bizdev_Language_test_FR</name>
        <label>Email Alert - Bizdev - Language test - FR</label>
        <locationX>1360</locationX>
        <locationY>407</locationY>
        <actionName>Account.Bizdev_Language_test_FR</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_merchant_and_TC_test_sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_merchant.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Bizdev_Language_test_IT</name>
        <label>Email Alert - Bizdev - Language test - IT</label>
        <locationX>1481</locationX>
        <locationY>411</locationY>
        <actionName>Account.Bizdev_Language_test_IT</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_merchant_and_TC_test_sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_merchant.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_alert_Language_test_DE</name>
        <label>Email alert - Language test - DE</label>
        <locationX>1359</locationX>
        <locationY>549</locationY>
        <actionName>Contact.Contact_Language_test_DE</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_merchant_and_TC_test_sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Contact_For_Email_Language_test.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_alert_Language_test_EN</name>
        <label>Email alert - Language test - EN</label>
        <locationX>1230</locationX>
        <locationY>844</locationY>
        <actionName>Contact.Contact_Language_test_EN</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_merchant_and_TC_test_sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Contact_For_Email_Language_test.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_alert_Language_test_ES</name>
        <label>Email alert - Language test - ES</label>
        <locationX>1360</locationX>
        <locationY>692</locationY>
        <actionName>Contact.Contact_Language_test_ES</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_merchant_and_TC_test_sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Contact_For_Email_Language_test.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_alert_Language_test_FR</name>
        <label>Email alert - Language test - FR</label>
        <locationX>1483</locationX>
        <locationY>553</locationY>
        <actionName>Contact.Contact_Language_test_FR</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_merchant_and_TC_test_sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Contact_For_Email_Language_test.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_alert_Language_test_IT</name>
        <label>Email alert - Language test - IT</label>
        <locationX>1481</locationX>
        <locationY>689</locationY>
        <actionName>Contact.Contact_Language_test_IT</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_merchant_and_TC_test_sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Contact_For_Email_Language_test.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_TEMP_Variable</name>
        <label>Assign TEMP Variable</label>
        <locationX>1569</locationX>
        <locationY>1046</locationY>
        <assignmentItems>
            <assignToReference>TEMP_Service_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BS_Service_for_the_merchant.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Service_Update.TECH_Trigger_Back_Ship_Update__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_To_Lists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TEMP_Variable_0</name>
        <label>Assign TEMP Variable</label>
        <locationX>1564</locationX>
        <locationY>1601</locationY>
        <assignmentItems>
            <assignToReference>TEMP_Service_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BC_Service_for_the_merchant.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEMP_Service_Update.TECH_Trigger_Back_Care_Update__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_To_Lists_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Lists</name>
        <label>Assign To Lists</label>
        <locationX>1354</locationX>
        <locationY>1146</locationY>
        <assignmentItems>
            <assignToReference>ServicesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TEMP_Service_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MerchantsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_BS_TCs.Merchant__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BackShipDone</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_BS_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Lists_0</name>
        <label>Assign To Lists</label>
        <locationX>1349</locationX>
        <locationY>1701</locationY>
        <assignmentItems>
            <assignToReference>ServicesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TEMP_Service_Update</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MerchantsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_BC_TCs.Merchant__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BackCareDone</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_BC_TCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_lists</name>
        <label>Empty lists</label>
        <locationX>1240</locationX>
        <locationY>1303</locationY>
        <assignmentItems>
            <assignToReference>MerchantsToUpdate</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>MerchantsToUpdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServicesToUpdate</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>ServicesToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Main</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_merchant_and_TC_test_sent</name>
        <label>Update merchant and TC - test sent</label>
        <locationX>1692</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>Get_merchant.TECH_Test_sent_on__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_TC_Unset_test_sent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_TC_Unset_test_sent</name>
        <label>Update TC - Unset test sent</label>
        <locationX>1823</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>$Record.TECH_Send_test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Language_proficiency_test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Merchant_Language_test_sent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Contact_business_for_language_test</name>
        <label>Decision Contact business for language test</label>
        <locationX>980</locationX>
        <locationY>411</locationY>
        <defaultConnector>
            <targetReference>Decision_Zone_for_language_test_email_bizdev</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>contact_business_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_For_Email_Language_test</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Zone_for_language_test_email_contact</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Contact_quality_for_language_test</name>
        <label>Decision Contact quality for language test</label>
        <locationX>981</locationX>
        <locationY>697</locationY>
        <defaultConnector>
            <targetReference>GEt_contact_Business_for_language_test</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>contact_quality_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_For_Email_Language_test</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Zone_for_language_test_email_contact</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Main</name>
        <label>Decision Main</label>
        <locationX>663</locationX>
        <locationY>715</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>On_TECH_Send_test_c_checking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TECH_Send_test__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GEt_contact_quality_for_language_test</targetReference>
            </connector>
            <label>On TECH_Send_test__c checking</label>
        </rules>
        <rules>
            <name>UK_TC_Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Kingdom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Online_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Online_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Online_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TC_Requested_KYB_Adyen</targetReference>
            </connector>
            <label>UK TC Ready</label>
        </rules>
        <rules>
            <name>UK_TC_KYB_Adyen_Accepted_in_LP_or_Run</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Kingdom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.KYBs_Adyen__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.KYBs_Adyen__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.KYBs_Adyen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Run</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Merchant__r.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N.M.O.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TC_Push_Live</targetReference>
            </connector>
            <label>UK TC KYB Adyen Accepted in LP or Run</label>
        </rules>
        <rules>
            <name>UK_TC_KYB_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Kingdom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.KYBs_Adyen__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.KYBs_Adyen__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.KYBs_Adyen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TC_Change_to_Candidate</targetReference>
            </connector>
            <label>UK TC KYB Rejected</label>
        </rules>
        <rules>
            <name>UK_TC_pushed_Offline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Kingdom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Online_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Online_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Online_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offline</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TC_TC_offline_KYB_Adyen</targetReference>
            </connector>
            <label>UK TC pushed Offline</label>
        </rules>
        <rules>
            <name>BackShip_Carrier_is_Edited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Carrier__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BackShipDone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BS_TCs</targetReference>
            </connector>
            <label>BackShip Carrier is Edited</label>
        </rules>
        <rules>
            <name>BackCare_is_Edited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Back_Care__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Back_Care__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BackCareDone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BC_TCs</targetReference>
            </connector>
            <label>BackCare is Edited</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_on_user_bypass</name>
        <label>decision on user bypass</label>
        <locationX>447</locationX>
        <locationY>379</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>user_dont_bypass_flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ByPassFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Tech_Fields</targetReference>
            </connector>
            <label>user dont bypass flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Tech_Fields</name>
        <label>Decision Tech Fields</label>
        <locationX>448</locationX>
        <locationY>569</locationY>
        <defaultConnector>
            <targetReference>Get_merchant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TechFields_are_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tech_TC_NoTrigger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Tech_fields</targetReference>
            </connector>
            <label>TechFields are True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Zone_for_language_test_email_bizdev</name>
        <label>Decision Zone for language test email - bizdev</label>
        <locationX>1225</locationX>
        <locationY>410</locationY>
        <defaultConnector>
            <targetReference>Email_Alert_Bizdev_Language_test_EN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome - EN</defaultConnectorLabel>
        <rules>
            <name>Test_already_sent_today_bizdev</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_merchant.TECH_Test_sent_on__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TC_Unset_test_sent</targetReference>
            </connector>
            <label>Test already sent today - bizdev</label>
        </rules>
        <rules>
            <name>Zone_for_language_test_FR_bizdev</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_merchant.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-fr</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_merchant.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-be</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_Bizdev_Language_test_FR</targetReference>
            </connector>
            <label>Zone for language test  = FR - bizdev</label>
        </rules>
        <rules>
            <name>Zone_for_language_test_ES_bizdev</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_merchant.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>es-es</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_Bizdev_Language_test_ES</targetReference>
            </connector>
            <label>Zone for language test  = ES - bizdev</label>
        </rules>
        <rules>
            <name>Zone_for_language_test_IT_bizdev</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_merchant.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>it-it</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_Bizdev_Language_test_IT</targetReference>
            </connector>
            <label>Zone for language test  = IT - bizdev</label>
        </rules>
        <rules>
            <name>Zone_for_language_test_DE_bizdev</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_merchant.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>de-de</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_merchant.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>de-at</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_Bizdev_Language_test_DE</targetReference>
            </connector>
            <label>Zone for language test  = DE - bizdev</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Zone_for_language_test_email_contact</name>
        <label>Decision Zone for language test email - contact</label>
        <locationX>1227</locationX>
        <locationY>691</locationY>
        <defaultConnector>
            <targetReference>Email_alert_Language_test_EN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome - EN</defaultConnectorLabel>
        <rules>
            <name>Test_already_sent_today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_merchant.TECH_Test_sent_on__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TC_Unset_test_sent</targetReference>
            </connector>
            <label>Test already sent today</label>
        </rules>
        <rules>
            <name>Zone_for_language_test_FR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_merchant.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-fr</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_merchant.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-be</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_alert_Language_test_FR</targetReference>
            </connector>
            <label>Zone for language test  = FR</label>
        </rules>
        <rules>
            <name>Zone_for_language_test_ES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_merchant.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>es-es</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_alert_Language_test_ES</targetReference>
            </connector>
            <label>Zone for language test  = ES</label>
        </rules>
        <rules>
            <name>Zone_for_language_test_IT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_merchant.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>it-it</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_alert_Language_test_IT</targetReference>
            </connector>
            <label>Zone for language test  = IT</label>
        </rules>
        <rules>
            <name>Zone_for_language_test_DE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_merchant.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>de-de</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_merchant.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>de-at</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_alert_Language_test_DE</targetReference>
            </connector>
            <label>Zone for language test  = DE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_list_contain_the_merchant_in_question</name>
        <label>Does the list contain the merchant in question?</label>
        <locationX>1107</locationX>
        <locationY>987</locationY>
        <defaultConnector>
            <targetReference>Get_BS_Service_for_the_merchant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MerchantsToUpdate</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_BS_TCs.Merchant__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_BS_TCs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_list_contain_the_merchant_in_question_0</name>
        <label>Does the list contain the merchant in question?</label>
        <locationX>1102</locationX>
        <locationY>1542</locationY>
        <defaultConnector>
            <targetReference>Get_BC_Service_for_the_merchant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MerchantsToUpdate</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_BC_TCs.Merchant__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_BC_TCs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Dorotea&amp;Lea Update</description>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>NOWMinus1</name>
        <dataType>DateTime</dataType>
        <expression>now()-1/14400</expression>
    </formulas>
    <interviewLabel>Targeted Country - After save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Targeted Country - After save</label>
    <loops>
        <name>Loop_Through_BC_TCs</name>
        <label>Loop Through BC TCs</label>
        <locationX>880</locationX>
        <locationY>1673</locationY>
        <collectionReference>Get_BC_TCs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_the_list_contain_the_merchant_in_question_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Back_Care_Service</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_BS_TCs</name>
        <label>Loop Through BS TCs</label>
        <locationX>885</locationX>
        <locationY>1118</locationY>
        <collectionReference>Get_BS_TCs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_the_list_contain_the_merchant_in_question</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Back_Ship_Service</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_task_for_Financial_Team</name>
        <label>Create task for Financial Team</label>
        <locationX>229</locationX>
        <locationY>762</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Setup.UserID__c.Risk_Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>KYC Adyen to verify</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <stringValue>KYC Adyen to verify</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Merchant__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_BC_Service_for_the_merchant</name>
        <label>Get BC Service for the merchant</label>
        <locationX>1338</locationX>
        <locationY>1549</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_TEMP_Variable_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Back Care</stringValue>
            </value>
        </filters>
        <filters>
            <field>Business_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Merchant__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BC_TCs</name>
        <label>Get BC TCs</label>
        <locationX>883</locationX>
        <locationY>1510</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_BC_TCs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Back_Care__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Back_Care__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Merchant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Merchant__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Targeted_Country__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BS_Service_for_the_merchant</name>
        <label>Get BS Service for the merchant</label>
        <locationX>1343</locationX>
        <locationY>994</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_TEMP_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Back Ship</stringValue>
            </value>
        </filters>
        <filters>
            <field>Business_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Merchant__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BS_TCs</name>
        <label>Get BS TCs</label>
        <locationX>885</locationX>
        <locationY>879</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_BS_TCs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Carrier__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Carrier__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Merchant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Merchant__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Targeted_Country__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GEt_contact_Business_for_language_test</name>
        <label>Get contact Business for language test</label>
        <locationX>988</locationX>
        <locationY>540</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Contact_business_for_language_test</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_merchant.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_Role_contain_quality_business__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Business</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HasOptedOutOfEmail</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact_For_Email_Language_test</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GEt_contact_quality_for_language_test</name>
        <label>GEt contact quality for language test</label>
        <locationX>857</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Contact_quality_for_language_test</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_merchant.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_Role_contain_quality_business__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Quality</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HasOptedOutOfEmail</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact_For_Email_Language_test</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_merchant</name>
        <label>Get merchant</label>
        <locationX>671</locationX>
        <locationY>561</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Main</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Merchant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Back_Care_Service</name>
        <label>Update Back Care Service</label>
        <locationX>1098</locationX>
        <locationY>1857</locationY>
        <inputReference>ServicesToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Back_Ship_Service</name>
        <label>Update Back Ship Service</label>
        <locationX>1103</locationX>
        <locationY>1302</locationY>
        <connector>
            <targetReference>Empty_lists</targetReference>
        </connector>
        <inputReference>ServicesToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Merchant_Language_test_sent</name>
        <label>Update Merchant - Language test sent</label>
        <locationX>1943</locationX>
        <locationY>676</locationY>
        <connector>
            <targetReference>Update_TC_Language_test_sent</targetReference>
        </connector>
        <inputReference>Get_merchant</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TC_Change_to_Candidate</name>
        <label>Update TC - Change to Candidate</label>
        <locationX>656</locationX>
        <locationY>995</locationY>
        <inputAssignments>
            <field>Online_Status__c</field>
            <value>
                <stringValue>Candidate</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TC_Language_test_sent</name>
        <label>Update TC - Language test sent</label>
        <locationX>2075</locationX>
        <locationY>676</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TC_Push_Live</name>
        <label>Update TC - Push Live</label>
        <locationX>592</locationX>
        <locationY>853</locationY>
        <inputAssignments>
            <field>Online_Status__c</field>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TC_Requested_KYB_Adyen</name>
        <label>Update TC - Requested KYB Adyen</label>
        <locationX>403</locationX>
        <locationY>762</locationY>
        <connector>
            <targetReference>Create_task_for_Financial_Team</targetReference>
        </connector>
        <inputAssignments>
            <field>KYBs_Adyen__c</field>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TC_TC_offline_KYB_Adyen</name>
        <label>Update TC - TC offline KYB Adyen</label>
        <locationX>718</locationX>
        <locationY>931</locationY>
        <inputAssignments>
            <field>KYBs_Adyen__c</field>
            <value>
                <stringValue>TC pushed offline</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tech_fields</name>
        <label>Update Tech fields</label>
        <locationX>190</locationX>
        <locationY>568</locationY>
        <inputAssignments>
            <field>Tech_TC_NoTrigger__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>327</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>decision_on_user_bypass</targetReference>
        </connector>
        <object>Targeted_Country__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BackCareDone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BackShipDone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Contact_For_Email_Language_test</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Contact_to_use</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CreateServices</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>FinalServicesUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>MerchantsToUpdate</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Null</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServicesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service__c</objectType>
    </variables>
    <variables>
        <name>TEMP_Service_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service__c</objectType>
    </variables>
</Flow>
