force-app/main/default/flows/Targeted_Country_After_Save_Set_compliance_on_accounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_error_update</name>
        <label>Log error update</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>targeted-country-compliance-updated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Targeted Country - After Save - Set compliance on accounts</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Log_successful_update</name>
        <label>Log successful update</label>
        <locationX>578</locationX>
        <locationY>1175</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>targeted-country-compliance-updated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Targeted Country - After Save - Set compliance on accounts</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Accounts updated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>SUCCESS</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Log_successful_update_0</name>
        <label>Log successful update</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision_on_country</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>targeted-country-compliance-updated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Targeted Country - After Save - Set compliance on accounts</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Process started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Decision_on_country</name>
        <label>Decision on country</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Log_successful_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>France</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>France</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_related_account</targetReference>
            </connector>
            <label>France</label>
        </rules>
        <rules>
            <name>Germany</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_related_account_0</targetReference>
            </connector>
            <label>Germany</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_user_bypass_flow</name>
        <label>decision user bypass flow</label>
        <locationX>930</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>user_dont_bypass_flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ByPassFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_successful_update_0</targetReference>
            </connector>
            <label>User dont bypass flow</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Targeted Country - After Save - Set compliance on accounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Targeted Country - After Save - Set compliance on accounts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_related_account</name>
        <label>Update related account</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Log_successful_update</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_error_update</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Merchant__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EPR_FR_Compliant__c</field>
            <value>
                <elementReference>$Record.EPR_FR_Compliant__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_related_account_0</name>
        <label>Update related account</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Log_successful_update</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_error_update</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Merchant__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EPR_DE_Compliant__c</field>
            <value>
                <elementReference>$Record.EPR_DE_Compliant__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>804</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decision_user_bypass_flow</targetReference>
        </connector>
        <filterFormula>OR(
     AND(ISNEW(), OR(ISPICKVAL({!$Record.Country__c}, &apos;Germany&apos;), ISPICKVAL({!$Record.Country__c}, &apos;France&apos;))),
     AND(ISCHANGED({!$Record.EPR_DE_Compliant__c}), ISPICKVAL({!$Record.Country__c}, &apos;Germany&apos;)),
     AND(ISCHANGED({!$Record.EPR_FR_Compliant__c}), ISPICKVAL({!$Record.Country__c}, &apos;France&apos;))
)</filterFormula>
        <object>Targeted_Country__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
