force-app/main/default/flows/Targeted_country_Before_Save_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_merchant_country_key_email_recipients</name>
        <label>Assign merchant country key &amp; email recipients</label>
        <locationX>841</locationX>
        <locationY>543</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account_Country_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Merchant_Country_Key</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Recipient_email_sales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Recipient_email_sales__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Recipient_email_buyback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Merchant__r.Recipient_email_buyback__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Pass_status_to_ready_when_language_validated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_update_date_entry_in_selected</name>
        <label>Assign update date entry in selected</label>
        <locationX>849</locationX>
        <locationY>897</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_Entry_in_stage_Selected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Buyback_Live_Status_Changes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_update_date_live_on</name>
        <label>Assign update date live on</label>
        <locationX>1005</locationX>
        <locationY>895</locationY>
        <assignmentItems>
            <assignToReference>$Record.Live_on__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Buyback_Live_Status_Changes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Buyback_BO_Status_False</name>
        <label>Update Buyback BO Status = False</label>
        <locationX>1281</locationX>
        <locationY>1252</locationY>
        <assignmentItems>
            <assignToReference>$Record.Buyback_BO_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Buyback_BO_Status_True</name>
        <label>Update Buyback BO Status = True</label>
        <locationX>1149</locationX>
        <locationY>1249</locationY>
        <assignmentItems>
            <assignToReference>$Record.Buyback_BO_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Buyback_Live_Status_Live</name>
        <label>Update Buyback Live Status = Live</label>
        <locationX>853</locationX>
        <locationY>1246</locationY>
        <assignmentItems>
            <assignToReference>$Record.Buyback_Live_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Buyback_Live_Status_Offline</name>
        <label>Update Buyback Live Status = Offline</label>
        <locationX>993</locationX>
        <locationY>1246</locationY>
        <assignmentItems>
            <assignToReference>$Record.Buyback_Live_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Offline</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_status_to_ready</name>
        <label>Update status to ready</label>
        <locationX>844</locationX>
        <locationY>715</locationY>
        <assignmentItems>
            <assignToReference>$Record.Online_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_when_updating_stage</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Buyback_Live_Status_Changes</name>
        <label>Buyback Live Status Changes</label>
        <locationX>633</locationX>
        <locationY>1257</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Buyback_BO_Status_Live</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPrioValue.Buyback_BO_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Buyback_BO_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Buyback_BO_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Buyback_Live_Status_Live</targetReference>
            </connector>
            <label>Buyback BO Status = Live</label>
        </rules>
        <rules>
            <name>Buyback_BO_Status_Offline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPrioValue.Buyback_BO_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Buyback_BO_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Buyback_BO_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Buyback_Live_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Buyback_Live_Status_Offline</targetReference>
            </connector>
            <label>Buyback BO Status - = Offline</label>
        </rules>
        <rules>
            <name>Buyback_Live_Status_Live</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPrioValue.Buyback_Live_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Buyback_Live_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Buyback_Live_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Buyback_BO_Status_True</targetReference>
            </connector>
            <label>Buyback Live Status = Live</label>
        </rules>
        <rules>
            <name>Buyback_Live_Status_Offline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPrioValue.Buyback_Live_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Buyback_Live_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Buyback_Live_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offline</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Buyback_BO_Status_False</targetReference>
            </connector>
            <label>Buyback Live Status = Offline</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_all_creation</name>
        <label>Decision on all creation</label>
        <locationX>624</locationX>
        <locationY>552</locationY>
        <defaultConnector>
            <targetReference>Decision_Pass_status_to_ready_when_language_validated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>On_creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_merchant_country_key_email_recipients</targetReference>
            </connector>
            <label>On creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Pass_status_to_ready_when_language_validated</name>
        <label>Decision Pass status to ready when language validated</label>
        <locationX>622</locationX>
        <locationY>714</locationY>
        <defaultConnector>
            <targetReference>Decision_when_updating_stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pass_status_to_ready</name>
            <conditionLogic>(1 OR 2 OR 3) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Language_proficiency_test__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Back_Care__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Native_Speaker__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Online_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Candidate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Online_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Selected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_status_to_ready</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Pass status to ready</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_user_bypass_flow</name>
        <label>decision user bypass flow</label>
        <locationX>623</locationX>
        <locationY>274</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>user_dont_bypass_flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ByPassFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPrioValue</targetReference>
            </connector>
            <label>user dont bypass flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_when_updating_stage</name>
        <label>Decision when updating stage</label>
        <locationX>622</locationX>
        <locationY>897</locationY>
        <defaultConnector>
            <targetReference>Buyback_Live_Status_Changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Passing_from_candidate_to_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Online_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Selected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPrioValue.Online_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Candidate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_update_date_entry_in_selected</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Passing from candidate to selected</label>
        </rules>
        <rules>
            <name>Passing_to_live</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Online_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_update_date_live_on</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Passing to live</label>
        </rules>
    </decisions>
    <description>Remove Country of origin</description>
    <formulas>
        <name>Merchant_Country_Key</name>
        <dataType>String</dataType>
        <expression>{!$Record.Merchant__r.Id} &amp; &quot;_&quot; &amp; TEXT({!$Record.Country__c})</expression>
    </formulas>
    <interviewLabel>Targeted country Before Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Targeted country Before Save Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetPrioValue</name>
        <label>GetPrioValue</label>
        <locationX>628</locationX>
        <locationY>407</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_on_all_creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Targeted_Country__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>502</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>decision_user_bypass_flow</targetReference>
        </connector>
        <object>Targeted_Country__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
