force-app/main/default/flows/Task_After_Save_Flow_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>KYC_Approved_Email</name>
        <label>KYC Approved - Email</label>
        <locationX>825</locationX>
        <locationY>795</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Task_Type_Subject</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body_KYCApproved</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>BizDevEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>legal-sellers@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_KYCApproved</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_New_task_created</name>
        <label>Send Email - New task created</label>
        <locationX>138</locationX>
        <locationY>466</locationY>
        <actionName>Task.New_task_created</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_SeatBelt_email_EN</name>
        <label>Send SeatBelt email - EN</label>
        <locationX>2048</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Tech_Field</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Template_SeatBelt_Body_EN</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Contactsforemail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Template_SeatBelt_Subject_EN</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_SeatBelt_email_FR</name>
        <label>Send SeatBelt email - FR</label>
        <locationX>1933</locationX>
        <locationY>630</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Tech_Field</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Template_SeatBelt_Body_FR</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Contactsforemail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>merchant.no-reply@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Template_SeatBelt_Subject_FR</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Email</name>
        <label>Assign Email</label>
        <locationX>997</locationX>
        <locationY>794</locationY>
        <assignmentItems>
            <assignToReference>BizDevEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Merchant.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tech_KYCApproved</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>KYC_Approved_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_email_to_variable</name>
        <label>Assign email to variable</label>
        <locationX>1767</locationX>
        <locationY>281</locationY>
        <assignmentItems>
            <assignToReference>Contactsforemail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_contacts.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tech_Count_NumberOfContacts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Contactsforemail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Number_of_contact_in_collection_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Merchant_Owner_email_to_variable</name>
        <label>Assign Merchant Owner email to variable</label>
        <locationX>1908</locationX>
        <locationY>432</locationY>
        <assignmentItems>
            <assignToReference>Contactsforemail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Account.Recipient_email_sales__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Language</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tech_Task</name>
        <label>Assign Tech_Task</label>
        <locationX>12</locationX>
        <locationY>594</locationY>
        <assignmentItems>
            <assignToReference>Tech_Task</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Type_Subject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Tech_Field</name>
        <label>Update Tech Field</label>
        <locationX>1011</locationX>
        <locationY>469</locationY>
        <assignmentItems>
            <assignToReference>TECH_SeatBelt</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Type_Subject</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Language</name>
        <label>Decision - Language</label>
        <locationX>2011</locationX>
        <locationY>435</locationY>
        <defaultConnector>
            <targetReference>Send_SeatBelt_email_EN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FR_or_BE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-fr</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Zone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr-be</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_SeatBelt_email_FR</targetReference>
            </connector>
            <label>FR or BE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Number_of_contact_in_collection_variable</name>
        <label>Decision - Number of contact in collection variable</label>
        <locationX>1756</locationX>
        <locationY>443</locationY>
        <defaultConnector>
            <targetReference>Assign_Merchant_Owner_email_to_variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_yet_equal_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tech_Count_NumberOfContacts</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_contacts</targetReference>
            </connector>
            <label>Not yet equal 4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_actual_limitation</name>
        <label>Decision on actual limitation</label>
        <locationX>1251</locationX>
        <locationY>327</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Limitation_less_or_equal_to_25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Sales_limitation__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>25.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Merchant_Sales_Limitation_0</targetReference>
            </connector>
            <label>Limitation less or equal to 25</label>
        </rules>
        <rules>
            <name>Limitation_at_50</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Sales_limitation__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Merchant_Sales_Limitation</targetReference>
            </connector>
            <label>Limitation at 50</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_user_bypass_or_B2BMA</name>
        <label>Decision on user bypass or B2BMA</label>
        <locationX>475</locationX>
        <locationY>282</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>user_dont_bypass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ByPassFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>b2bmaintegration@00d1t000000xuvoea2.ext</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Type_Subject</targetReference>
            </connector>
            <label>user dont bypass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Type_Subject</name>
        <label>Task Type (Subject)</label>
        <locationX>485</locationX>
        <locationY>482</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Merchant_Cluster</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Check Merchant Cluster</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Check Merchant Cluster</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Cluster__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Go Live Check</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cluster_on_the_Merchant</targetReference>
            </connector>
            <label>Check Merchant Cluster</label>
        </rules>
        <rules>
            <name>Task_for_Financial_Team_or_Legal</name>
            <conditionLogic>(1 OR 4 OR 5) AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KYCs to approve</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KYC Adyen to verify</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Exit approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_New_task_created</targetReference>
            </connector>
            <label>Task for Financial Team or Legal</label>
        </rules>
        <rules>
            <name>KYC_Approved</name>
            <conditionLogic>(1 OR 5) AND 2 AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KYCs to approve</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tech_KYCApproved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KYC Adyen to verify</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Merchant</targetReference>
            </connector>
            <label>KYC Approved</label>
        </rules>
        <rules>
            <name>Seat_Belt_Process_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SeatBelt</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SeatBelt Removal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SeatBelt_removal_action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OK - Merchant can be unlimited</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TECH_SeatBelt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_on_actual_limitation</targetReference>
            </connector>
            <label>Seat Belt Process - OK</label>
        </rules>
        <rules>
            <name>Seat_Belt_process_KO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SeatBelt</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SeatBelt Removal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SeatBelt_removal_action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KO - Apply another limitation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TECH_SeatBelt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Merchant_Sales_Reason</targetReference>
            </connector>
            <label>Seat Belt process - KO</label>
        </rules>
        <rules>
            <name>SeatBelt_Task_Owner_BW_EU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SeatBelt Removal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Owner.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SSM Back Watch E.U.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_owner_to_Backwatch_EU</targetReference>
            </connector>
            <label>SeatBelt Task - Owner BW EU</label>
        </rules>
        <rules>
            <name>SeatBelt_Task_Owner_BW_US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SeatBelt Removal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Owner.Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SSM Back Watch U.S.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_owner_to_Backwatch_US</targetReference>
            </connector>
            <label>SeatBelt Task - Owner BW US</label>
        </rules>
        <rules>
            <name>Performance_Check_Buyback</name>
            <conditionLogic>(1 OR 5) AND 2 AND 3 AND 4 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Check buyback performance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tech_Task</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Check buyback performance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TodayPlus7</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>CreatedDatePlus42</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recreate_Buyback_task</targetReference>
            </connector>
            <label>Performance Check Buyback</label>
        </rules>
        <rules>
            <name>Buyback_SeatBelt_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyback SeatBelt Removal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SeatBelt_removal_action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OK - Merchant can be unlimited</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TECH_SeatBelt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Merchant_Buyback_limitation</targetReference>
            </connector>
            <label>Buyback SeatBelt OK</label>
        </rules>
        <rules>
            <name>Other_Status_Changed_to_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Go Live Check</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Invoice Audit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_Breath</targetReference>
            </connector>
            <label>Other - Status Changed to Completed</label>
        </rules>
    </decisions>
    <description>SFS-474 - Wrong address in cc for Seatbelt automatic update emails</description>
    <environments>Default</environments>
    <formulas>
        <name>CreatedDatePlus42</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Account.Date_Entry_in_BuyBack_Run__c}+42</expression>
    </formulas>
    <formulas>
        <name>Double_BuybackLimitation</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Account.Buyback_limitation__c}*2</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>TemplateEN_Limitation</name>
        <dataType>String</dataType>
        <expression>if({!$Record.Account.Sales_limitation__c}=50,&quot;increased to 50 sales/day&quot;,&quot;removed&quot;)</expression>
    </formulas>
    <formulas>
        <name>TemplateFR_Limitation</name>
        <dataType>String</dataType>
        <expression>if({!$Record.Account.Sales_limitation__c}=50,&quot;augmentée à 50 ventes/jour&quot;,&quot;supprimée&quot;)</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <formulas>
        <name>TodayPlus7</name>
        <dataType>Date</dataType>
        <expression>TODAY()+7</expression>
    </formulas>
    <interviewLabel>Task - After Save Flow (Update) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task - After Save Flow (Create and Update)</label>
    <loops>
        <name>Loop_on_contacts</name>
        <label>Loop on contacts</label>
        <locationX>1668</locationX>
        <locationY>370</locationY>
        <collectionReference>Get_merchant_contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_email_to_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Merchant_Owner_email_to_variable</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Recreate_Buyback_task</name>
        <label>Recreate Buyback task</label>
        <locationX>12</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Assign_Tech_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayPlus7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Check buyback performance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <stringValue>Check buyback performance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Merchant</name>
        <label>Get Merchant</label>
        <locationX>903</locationX>
        <locationY>646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_merchant_contacts</name>
        <label>Get merchant contacts</label>
        <locationX>1561</locationX>
        <locationY>362</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>HasOptedOutOfEmail</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cluster_on_the_Merchant</name>
        <label>Update Cluster on the Merchant</label>
        <locationX>386</locationX>
        <locationY>787</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_cluster__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Product_Cluster__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Product_cluster__c</field>
            <value>
                <elementReference>$Record.Product_Cluster__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Last_Breath</name>
        <label>Update Last Breath</label>
        <locationX>656</locationX>
        <locationY>283</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Breath_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Breath_Type__c</field>
            <value>
                <stringValue>Task Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Merchant_Buyback_limitation</name>
        <label>Update Merchant Buyback limitation</label>
        <locationX>780</locationX>
        <locationY>178</locationY>
        <connector>
            <targetReference>Update_Tech_Field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Buyback_limitation__c</field>
            <value>
                <elementReference>Double_BuybackLimitation</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Merchant_Sales_Limitation</name>
        <label>Update Merchant Sales Limitation</label>
        <locationX>1419</locationX>
        <locationY>258</locationY>
        <connector>
            <targetReference>Get_merchant_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason_for_last_Sales_limitation__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_limitation__c</field>
            <value>
                <elementReference>EmptyNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Merchant_Sales_Limitation_0</name>
        <label>Update Merchant Sales Limitation</label>
        <locationX>1418</locationX>
        <locationY>424</locationY>
        <connector>
            <targetReference>Get_merchant_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason_for_last_Sales_limitation__c</field>
            <value>
                <stringValue>SELLER_LIFE_CYCLE_SEATBELT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_limitation__c</field>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Merchant_Sales_Reason</name>
        <label>Update Merchant Sales Reason</label>
        <locationX>1115</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>Update_Tech_Field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason_for_last_Sales_limitation__c</field>
            <value>
                <stringValue>BUSINESS_REASON_OTHER</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_owner_to_Backwatch_EU</name>
        <label>Update Task owner to Backwatch EU</label>
        <locationX>521</locationX>
        <locationY>787</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Setup.UserID__c.BackWatch_EU__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_owner_to_Backwatch_US</name>
        <label>Update Task owner to Backwatch US</label>
        <locationX>650</locationX>
        <locationY>786</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Setup.UserID__c.BackWatch_US__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>104</locationX>
        <locationY>220</locationY>
        <connector>
            <targetReference>Decision_on_user_bypass_or_B2BMA</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Body_KYCApproved</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi,
The task &quot;{!$Record.Subject}&quot; has been completed by Risk Team for the merchant {!$Record.Account.Name}.
You can now proceed with the next steps of the Onboarding and push your merchant live.</text>
    </textTemplates>
    <textTemplates>
        <name>Subject_KYCApproved</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>KYC Approved - {!$Record.Account.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>Template_SeatBelt_Body_EN</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!$Record.Account.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Congratulations, your sales have increased in recent days and you have successfully maintained the expected quality performance on our three quality pillars - Delivery, Product and After-sales!&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;It is therefore with pleasure that we announce that your sales limitation will be {!TemplateEN_Limitation} and that you will be able to sell more stock.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We are pleased with the increase and are counting on you to continue to increase your sales with a great quality.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your Back Market point of contact is available to answer any remaining questions you may have.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Great work!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sincerely,&lt;/p&gt;&lt;p&gt;Your Back Market team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Template_SeatBelt_Body_FR</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Bonjour {!$Record.Account.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Félicitations, vos ventes ont augmenté ces derniers jours et vous avez maintenu les performances qualité attendues sur nos trois piliers de qualité - Livraison, Produit et Après-vente !&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;C&apos;est donc avec plaisir que nous vous annonçons que votre limitation de vente sera {!TemplateFR_Limitation} et que vous pourrez vendre plus de stock.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Nous sommes heureux de cette augmentation et nous comptons sur vous pour continuer à augmenter vos ventes avec une grande qualité.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Votre point de contact Back Market est disponible pour répondre à toutes les questions que vous pourriez avoir.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Bravo !&lt;/p&gt;&lt;p&gt;Sincèrement,&amp;nbsp;&lt;/p&gt;&lt;p&gt;Votre équipe Back Market&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Template_SeatBelt_Subject_EN</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Increase of your sales level.</text>
    </textTemplates>
    <textTemplates>
        <name>Template_SeatBelt_Subject_FR</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Augmentation de votre niveau de vente.</text>
    </textTemplates>
    <variables>
        <name>BizDevEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contactsforemail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmptyNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Tech_Count_NumberOfContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Tech_KYCApproved</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TECH_SeatBelt</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Tech_Task</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
