force-app/main/default/flows/Topic_Deleted_Before_Save_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Deleted_Topic</name>
        <label>Deleted Topic</label>
        <locationX>638</locationX>
        <locationY>1031</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_the_Name_of_each_topic_to_FinalTechFieldVar</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Update - Case - Tech_Hashtag</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Topic - After Save flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Current loop topic is deleted and not to be added to the topic list for tech_hashtag field updated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>No_User_byPass</name>
        <label>No User byPass</label>
        <locationX>550</locationX>
        <locationY>431</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_All_Topic_Assignments_related_to_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Update - Case - Tech_Hashtag</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Topic - After Save flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>User does not byPass flows</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Retrieved_all_Case_Hashtags</name>
        <label>Retrieved all Case Hashtags</label>
        <locationX>550</locationX>
        <locationY>671</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_the_Name_of_each_topic_to_FinalTechFieldVar</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Update - Case - Tech_Hashtag</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Topic - After Save flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>All Hashtags related to the Case of the newly created hashtag have been retrieved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Topic_not_deleted</name>
        <label>Topic not deleted</label>
        <locationX>1034</locationX>
        <locationY>1031</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_1_to_Count_Var</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Update - Case - Tech_Hashtag</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Topic - After Save flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Topic is not deleted and added to the variable for update of the following code Tech_Hashtag field</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Updated_Case_Tech_Hasthag</name>
        <label>Updated Case Tech_Hasthag</label>
        <locationX>550</locationX>
        <locationY>2039</locationY>
        <actionName>LogService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>process</name>
            <value>
                <stringValue>Update - Case - Tech_Hashtag</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>component</name>
            <value>
                <stringValue>Topic - After Save flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Updated the Case Tech_Hasthag field with the value of all current Hashtags related to the Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_1_to_Count_Var</name>
        <label>Add 1 to Count Var</label>
        <locationX>1034</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>TopicNamesCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Comma_to_List</name>
        <label>Add Comma to List</label>
        <locationX>902</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>TopicNamesList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Current_Topic_Name_to_FinalTechFieldVar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Current_Topic_Name_to_FinalTechFieldVar</name>
        <label>Add Current Topic Name to FinalTechFieldVar</label>
        <locationX>1034</locationX>
        <locationY>1607</locationY>
        <assignmentItems>
            <assignToReference>TopicNamesList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_the_Name_of_each_topic_to_FinalTechFieldVar.Topic.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_the_Name_of_each_topic_to_FinalTechFieldVar</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Count_1</name>
        <label>Count &gt; 1?</label>
        <locationX>1034</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Add_Current_Topic_Name_to_FinalTechFieldVar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count_is_greater_than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TopicNamesCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Comma_to_List</targetReference>
            </connector>
            <label>Count is greater than 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Deleted</name>
        <label>Is Deleted?</label>
        <locationX>836</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Topic_not_deleted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Topic_is_deleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_the_Name_of_each_topic_to_FinalTechFieldVar.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deleted_Topic</targetReference>
            </connector>
            <label>Topic is deleted</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_ByPass</name>
        <label>User ByPass?</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>No_User_byPass</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_should_bypass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ByPassFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>User should bypass</label>
        </rules>
    </decisions>
    <description>Updates the Hashtag tech field after a topic is deleted + Logs added</description>
    <interviewLabel>Topic Deleted - Before Save flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Topic Deleted - Before Save flow</label>
    <loops>
        <name>Add_the_Name_of_each_topic_to_FinalTechFieldVar</name>
        <label>Add the Name of each topic to FinalTechFieldVar</label>
        <locationX>550</locationX>
        <locationY>791</locationY>
        <collectionReference>Get_All_Topic_Assignments_related_to_Case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Deleted</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Case_Hashtags</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Topic_Assignments_related_to_Case</name>
        <label>Get All Topic Assignments related to Case</label>
        <locationX>550</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieved_all_Case_Hashtags</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.EntityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TopicAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Hashtags</name>
        <label>Update Case Hashtags</label>
        <locationX>550</locationX>
        <locationY>1919</locationY>
        <connector>
            <targetReference>Updated_Case_Tech_Hasthag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.EntityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tech_Hashtag__c</field>
            <value>
                <elementReference>TopicNamesList</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_ByPass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>5</stringValue>
            </value>
        </filters>
        <object>TopicAssignment</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Case_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TopicNamesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TopicNamesList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
