force-app/main/default/flows/User_After_save_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Activation_Email</name>
        <label>Send Activation Email</label>
        <locationX>534</locationX>
        <locationY>1224</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>UserActivationEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>dorotea.lalovic@backmarket.com,lea.preuilh@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce-team@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>UserCreatedSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Deactivation_Email</name>
        <label>Send Deactivation Email</label>
        <locationX>754</locationX>
        <locationY>528</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>UserDeactivatedEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>dorotea.lalovic@backmarket.com,lea.preuilh@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce-team@backmarket.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>UserDeactivatedSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>decision_on_user_bypass</name>
        <label>decision on user bypass</label>
        <locationX>908</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>user_dont_bypass_flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ByPassFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_User</targetReference>
            </connector>
            <label>user dont bypass flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_User</name>
        <label>Decision -User</label>
        <locationX>534</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Created_SSC_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.ProfileId__c.Customer_Community_User__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.UserID__c.API_BM_SF__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Permission_Set</targetReference>
            </connector>
            <label>Is Created - SSC User</label>
        </rules>
        <rules>
            <name>SSC_Agent_User_is_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.ProfileId__c.Seller_Support_Agent__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Seller_Support_Agent_Nickname</targetReference>
            </connector>
            <label>SSC Agent User is Created</label>
        </rules>
        <rules>
            <name>Is_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ProfileId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.ProfileId__c.Customer_Community_User__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Activation_Email</targetReference>
            </connector>
            <label>Is Created</label>
        </rules>
        <rules>
            <name>Is_Deactivated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ProfileId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.ProfileId__c.Customer_Community_User__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Deactivation_Email</targetReference>
            </connector>
            <label>Is Deactivated</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_SSC_User_Created</name>
        <label>New SSC User Created</label>
        <locationX>1315</locationX>
        <locationY>1679</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_SSC_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.ProfileId__c.Customer_Community_User__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Contact.SSC_login_enabled__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SSC_Contact_Checkbox</targetReference>
            </connector>
            <label>Update SSC Contact</label>
        </rules>
    </decisions>
    <description>SFT-415 - User manager changed - Removing manager update</description>
    <environments>Default</environments>
    <formulas>
        <name>CustomerNickname</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Contact.FirstName} + {!$Record.Contact.LastName} + TEXT( {!$Record.Account.Back_Office_PK__c} ), 40)</expression>
    </formulas>
    <formulas>
        <name>LanguageOfTheUser</name>
        <dataType>String</dataType>
        <expression>IF(
OR( ISPICKVAL({!Get_Contacts_Merchant.Country__c},&quot;France&quot;),
ISPICKVAL({!Get_Contacts_Merchant.Country__c},&quot;Luxembourg&quot;),
ISPICKVAL({!Get_Contacts_Merchant.Country__c},&quot;Belgium&quot;),
ISPICKVAL({!Get_Contacts_Merchant.Country__c},&quot;Switzerland&quot;)),&quot;fr&quot;,
IF({!Get_Contacts_Merchant.RecordType.Id}={!$Setup.Special_Process_Record_Types_Ids__c.Merchant_US__c},&quot;en_US&quot;,
&quot;en_GB&quot;))</expression>
    </formulas>
    <formulas>
        <description>Assign US locale = English (united states)
UK = English (Great Britain) 
FR = French (France)</description>
        <name>Localsidekey</name>
        <dataType>String</dataType>
        <expression>IF(
OR( ISPICKVAL({!Get_Contacts_Merchant.Country__c},&quot;France&quot;),
ISPICKVAL({!Get_Contacts_Merchant.Country__c},&quot;Luxembourg&quot;),
ISPICKVAL({!Get_Contacts_Merchant.Country__c},&quot;Belgium&quot;),
ISPICKVAL({!Get_Contacts_Merchant.Country__c},&quot;Switzerland&quot;)),&quot;fr_FR&quot;,
IF({!Get_Contacts_Merchant.RecordType.Id}={!$Setup.Special_Process_Record_Types_Ids__c.Merchant_US__c},&quot;en_US&quot;,
&quot;en_GB&quot;))</expression>
    </formulas>
    <formulas>
        <name>UserNickname</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName}</expression>
    </formulas>
    <interviewLabel>User - After save flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User - After save flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Assign_Permission_Set</name>
        <label>Assign Permission Set</label>
        <locationX>50</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Get_Contacts_Merchant</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_Permission_Set.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contacts_Merchant</name>
        <label>Get Contacts Merchant</label>
        <locationX>50</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Language_of_the_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set</name>
        <label>Get Permission Set</label>
        <locationX>50</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Permission_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.PermissionSets__c.Customer_Community_User_Additional_Right__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Language_of_the_User</name>
        <label>Update Language of the User</label>
        <locationX>50</locationX>
        <locationY>888</locationY>
        <inputAssignments>
            <field>CommunityNickname</field>
            <value>
                <elementReference>CustomerNickname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <elementReference>LanguageOfTheUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <elementReference>Localsidekey</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Seller_Support_Agent_Nickname</name>
        <label>Update Seller Support Agent Nickname</label>
        <locationX>314</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Send_Activation_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>CommunityNickname</field>
            <value>
                <elementReference>UserNickname</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SSC_Contact_Checkbox</name>
        <label>Update SSC Contact Checkbox</label>
        <locationX>1183</locationX>
        <locationY>1799</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SSC_login_enabled__c</field>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>1189</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decision_on_user_bypass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Title</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Candidate</stringValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Update_Related_SSC_Contact_on_Creation</name>
            <connector>
                <targetReference>New_SSC_User_Created</targetReference>
            </connector>
            <label>Update Related SSC Contact on Creation</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Update_Related_SSC_Contact_on_Update</name>
            <connector>
                <targetReference>New_SSC_User_Created</targetReference>
            </connector>
            <label>Update Related SSC Contact on Update</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>UserActivationEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi Admin,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;There is a new user created in Salesforce: &lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.FirstName} {!$Record.LastName}&lt;/span&gt;.&lt;/p&gt;&lt;p&gt;Please check that the user is assigned with the necessary permissions.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks!&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>UserCreatedSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Salesforce user created - {!$Record.FirstName} {!$Record.LastName}</text>
    </textTemplates>
    <textTemplates>
        <name>UserDeactivatedEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi Admin,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Salesforce user {!$Record.FirstName} {!$Record.LastName} is deactivated.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Please check if there are records that should be reassigned to another user.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks!&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>UserDeactivatedSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Salesforce user {!$Record.FirstName} {!$Record.LastName} is deactivated</text>
    </textTemplates>
    <variables>
        <name>Accounts_to_update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Alerts_to_update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>EmailRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>record_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TEMP_manager_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
